﻿@model StarterProjectV2.ViewModels.DividendViewModel


@{
    ViewBag.Title = "Adding Dividends By Excel";
}



@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.0.2/jquery.min.js"></script>
}
@section FOOTERJS{

    <script src="~/Content/vendors/js/coreui.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
}
@section PAGETITLE{
    Adding Dividends By Excel
}
<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
<div class="card">
    <div class="alert alert-danger alert-dismissible fade show" id="alert-box" style="display: none" role="alert">
        <strong>Please, fill up all the information correctly ,or select a valid file.</strong> Click the cross button to dismiss the message.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <div class="jumbotron" style="background:cadetblue">

            @using (Html.BeginForm("UploadXlsx", "Dividend", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="mb-3 form-group row mb-3">
                    @* <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">From Month</label> *@
                    @* <div class="col-sm-3 col-lg-2 col-md-3"> *@
                    @Html.HiddenFor(m => m.fromMonth, new { @id = "from-month" })
                    @* <input class="form-control" type="month" name="acc-date" id="acc-date-from"> *@
                    @* </div> *@
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Financial Year</label>
                    @Html.DropDownListFor(m => m.selectFinancialId, @Model.FinancialIdandParent.Select(m => new SelectListItem()
                    {
                        Text = m.Year,
                        Value = m.FinId
                    }), new { @class = "form-control form -control-lg col-2", id = "sel1" })
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Dividend Maturity Month</label>
                    <div class="col-sm-3 col-lg-2 col-md-3">
                        @Html.TextBoxFor(m => m.toMonth, new { @class = "form-control", placeholder = "Month", id = "dividend-mat-month", name = "text-input", type = "month", @onchange = "checkingFinancialYear();" })
                        @* <input class="form-control" type="month" name="acc-date" id="acc-date-to"> *@
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Dividend Amount of Given Time Period</label>
                    <div class="col-sm-3 col-lg-2 col-md-3">
                        @Html.TextBoxFor(m => m.divAmount, new { @class = "form-control", placeholder = "Amount", id = "div-amnt", name = "text-input", type = "number" })
                        @* <input class="form-control" type="number" value="" id="div-amnt"> *@
                    </div>
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Per Sq Feet Dividend Amount</label>
                    <div class="col-sm-3 col-lg-2 col-md-3">
                        @Html.TextBoxFor(m => m.divAmountPerSq, new { @class = "form-control", placeholder = "Per Sq Feet Dividend Amount", id = "div-amnt-per-sq-ft", name = "text-input", type = "number", @readonly = "f" })
                        @* <input class="form-control" type="number" readonly="f" value="" id="div-amnt-per-sq-ft"> *@
                    </div>
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Deduction Rate for Staying</label>
                    <div class="col-sm-3 col-lg-2 col-md-3">
                        @Html.TextBoxFor(m => m.DeductionRateforStaying, new { @class = "form-control", placeholder = "Deduction Rate for Staying", id = "div-amnt-per-sq-ft", name = "text-input", type = "number" })
                        @* <input class="form-control" type="number" readonly="f" value="" id="div-amnt-per-sq-ft"> *@
                    </div>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        @Html.TextBoxFor(m => m.file, new { @class = "custom-file-input", placeholder = "Month", id = "upload-file", name = "text-input", type = "file" })
                        @* <input type="file" class="custom-file-input" id="upload-file" name="file" id="file"> *@
                        <label class="custom-file-label" for="upload-file" id="upload-file-label">Choose file</label>
                    </div>
                </div>
                <button type="submit" value="Upload" class="btn btn-danger ">Submit</button>


            }
        </div>
    </div>

</div>
<script>
    $('#sel1').change(function () {
        document.getElementById("dividend-mat-month").value = '';
        document.getElementById("from-month").value = '';
    });
</script>
<script>
    function checkingFinancialYear() {

        var myModel = {
            finId: $('#sel1').val(),
            dividendMaturityMonth: $('#dividend-mat-month').val()
        };
        $.ajax({
            context: this,
            type: 'post',
            url: '/Dividend/checkingDividendMaturityMonth/',
            data: myModel,
            success: function (result) {
                var monthArray = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                if (result.isAlreadyExists === 'y' && result.FixedToMonth != '') {
                    var dividendMaturityMonthDate = new Date(result.FixedToMonth);
                    //alert(dividendMaturityMonthDate);
                    var dd = String(dividendMaturityMonthDate.getDate()).padStart(2, '0');
                    var mm = String(dividendMaturityMonthDate.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = dividendMaturityMonthDate.getFullYear();
                    var dividendMaturityMonthDateJs = yyyy + "-" + mm;
                    //alert(dividendMaturityMonthDateJs);
                    var fromMonthDate = new Date(result.FixedFromMonth);
                    //alert(dividendMaturityMonthDate);
                    var dd = String(fromMonthDate.getDate()).padStart(2, '0');
                    var mm = String(fromMonthDate.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = fromMonthDate.getFullYear();
                    var fromMonthDateJs = yyyy + "-" + mm;
                    document.getElementById("dividend-mat-month").value = dividendMaturityMonthDateJs;
                    document.getElementById("from-month").value = fromMonthDateJs;
                    document.getElementById("dividend-mat-month").style.borderColor = "#FF0000";

                    var fromMonth = monthArray[fromMonthDate.getMonth()] + "-" + yyyy;
                    var toMonthDate = monthArray[dividendMaturityMonthDate.getMonth()] + "-" + yyyy;

                    toastr.error('Your selected month does not match the given financial year range. So, the dividend maturity month has been changed to comply with the available dividend start month. As a result, the starting dividend month is ' + fromMonth + ' and the dividend maturity month has been changed to ' + toMonthDate + '. Please, select any month including and after the given dividend maturity month. Also, click the cross button to close the message.', 'Error!!!!', {
                        closeButton: true,
                        extendedTimeOut: 0,
                        timeOut: 0,
                    });
                } else if (result.isAlreadyExists === 'y' && result.FixedToMonth === '') {
                    document.getElementById("dividend-mat-month").value = '';
                    document.getElementById("from-month").value = '';
                    document.getElementById("dividend-mat-month").style.borderColor = "#FF0000";
                    toastr.error('You cannot upload any data in the selected financial year as all the year\'s data has been uploaded. Please, select a different financial year. Also, click the cross button to close the message.', 'Error!!!!', {
                        closeButton: true,
                        extendedTimeOut: 0,
                        timeOut: 0,
                    });
                } else if (result.isAlreadyExists === 'n') {
                    var fromMonthDate = new Date(result.FixedFromMonth);
                    //alert(dividendMaturityMonthDate);
                    var dd = String(fromMonthDate.getDate()).padStart(2, '0');
                    var mm = String(fromMonthDate.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = fromMonthDate.getFullYear();
                    var fromMonthDateJs = yyyy + "-" + mm;
                    document.getElementById("dividend-mat-month").style.borderColor = "#008000";
                    document.getElementById("from-month").value = fromMonthDateJs;
                    var fromMonth = monthArray[fromMonthDate.getMonth()] + "-" + yyyy;
                    //alert(fromMonthDate + ' ' + fromMonth);
                    var toMonthDate = new Date(result.FixedToMonth);
                    var mm = String(toMonthDate.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = toMonthDate.getFullYear();
                    var toMonthDateJs = yyyy + "-" + mm;
                    var toMonthDate = monthArray[toMonthDate.getMonth()] + "-" + yyyy;

                    toastr.success('The available dividend start month for the selected financial year is ' + fromMonth + ' and the selected dividend maturity month is ' + toMonthDate + '. Also, click the cross button to close the message.', 'Success!!!!', {
                        closeButton: true,
                        extendedTimeOut: 0,
                        timeOut: 0,
                    });
                }
            },
            error: function () {
            },
        });
        //alert('ff')
    }
</script>

<script>
    var flg = "@Model.flg";
    if (flg.length == 4) {
        document.getElementById("alert-box").style.display = "block";
    }
</script>

<script>
    var sq_feet = @Model.totalSqFeet;
    $("#div-amnt").keyup(function () {
        var div_amount = parseInt($("#div-amnt").val());
        $("#div-amnt-per-sq-ft").val(div_amount / sq_feet);
    });
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    $(document).ready(function () {



        $('#upload-file').change(function (e) {

            var filename = $('#upload-file')[0].files[0].name;
            var filetype = $("#upload-file")[0].files[0].type;
            var filesize = $("#upload-file")[0].files[0].size;
            $("#upload-file-label").text(filename);
        });


        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();


        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });

        $("#dashboardItem").click(function () {
        });


        $("#approve-all").click(function () {
            $("#approve-all-confirmation").modal('toggle');
        });

    });


</script>

<script src="~/Content/vendors/js/jquery.min.js"></script>
<script src="~/Content/vendors/js/popper.min.js"></script>
<script src="~/Content/vendors/js/bootstrap.min.js"></script>
<script src="~/Content/vendors/js/pace.min.js"></script>
<script src="~/Content/vendors/js/toastr.min.js"></script>
<script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
<script src="~/Content/vendors/js/coreui.min.js"></script>