﻿@model StarterProjectV2.ViewModels.DividendViewModel

@{
    ViewBag.Title = "Approved Dividends";
}

<h1></h1>


@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}
@section FOOTERJS{

    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Approved Dividends
}
<body style="background-color: oldlace">
<div class="card card-body">
    <h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
    <form class="form-inline mb-3 ml-3">
        <input id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search" onkeyup="search()">
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
        </div>
    </form>
    <div class="table-responsive-lg" style="display:block" id="table">
        <table id="mainTable" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
            <thead style="color: white; background-color:#315152">

            <tr>
                <th scope="col">Dividend Id</th>
                <th scope="col">Slot Id</th>
                <th scope="col">Owner's Name</th>
                <th scope="col">Owner's Mobile No</th>
                <th scope="col">Dividend Start Date</th>
                <th scope="col">Dividend End Date</th>
                <th scope="col">Dividend Amount</th>
                <th scope="col">Email Notification</th>
                <th scope="col">SMS Notification</th>
                <th scope="col">Archive</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var dividend in Model.dividends)
            {
                <tr>
                    <td>@dividend.DividendId</td>
                    <td>@dividend.SlotId</td>
                    <td>@dividend.OwnerName</td>
                    <td>@dividend.MobileNumber</td>
                    <td>@dividend.FromMonth.ToString("dd-MM-yyyy")</td>
                    <td>@dividend.ToMonth.ToString("dd-MM-yyyy")</td>
                    <td>@dividend.DividendAmount</td>
                    <td>
                        @using (Html.BeginForm("EmailNotificationSingle", "Dividend", new { dividendid = dividend.DividendId }, FormMethod.Post))
                        {
                            <button type="submit"
                                    class="btn btn-green"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Send Email Notification">
                                <i class="fa fa-envelope">
                                </i>
                            </button>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("SMSNotificationSingle", "Dividend", new { dividendid = dividend.DividendId }, FormMethod.Post))
                        {
                            <button type="submit"
                                    class="btn  btn-green"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Send SMS Notification">
                                <i class="fa fa-mobile-phone">
                                </i>
                            </button>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("ArchiveSingle", "Dividend", new { dividendid = dividend.DividendId }, FormMethod.Post))
                        {
                            <button type="submit"
                                    class="btn  btn-green"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Archive This Entry">
                                <i class="fa fa-history">
                                </i>
                            </button>
                        }
                    </td>
                </tr>
            }

            </tbody>
        </table>
    </div>
    </body>
    @{
        int noOfDividends = Model.noOfPage;
    }
    @*<h3>@noOfOwnr</h3>*@
    @if (noOfDividends != 0)
    {

        <div class="pager" style="padding-top: 20px; direction:ltr; display:block;" align="center" id="pagination">

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center flex-wrap">
                    @{
                        int prev_idx = Model.index - 1;
                    }
                    <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(1)">« First</a></li>
                    <li class="page-item previous"><a class="page-link" href="#" onclick="previous(@prev_idx, @Model.noOfPage)">« Previous</a></li>
                    @{
                        int idx = Model.index;
                        int next_idx = Model.index + 1;
                        int noOfDividend = Model.noOfPage;
                        if (noOfDividends < 10)
                        {
                            for (int i = 1; i <= noOfDividends; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }
                        }
                        else
                        {
                            if (idx <= 5)
                            {
                                if (noOfDividends < 10)
                                {
                                    for (int i = 1; i <= noOfDividends; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }
                                }
                                else
                                {
                                    for (int i = 1; i <= 10; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }
                                }
                            }
                            else if (idx > 5 && idx <= (noOfDividend - 5))
                            {
                                for (int i = idx - 4; i <= idx + 5; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }
                            }
                            else
                            {
                                for (int i = noOfDividend - 9; i <= noOfDividend; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }

                            }
                        }
                    }
                    <li class="page-item next"><a class="page-link" href="#" onclick="next(@next_idx, @noOfDividends)">Next »</a></li>
                    <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(@Model.noOfPage)">Last »</a></li>
                </ul>
            </nav>

        </div>

    }

    <div class="table-responsive-lg" id="js-table">
        <table id="dtBasicExample" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0"></table>
    </div>
    <div class="text-center" id="message">

    </div>
    <div class=" card-footer clearfix">


        <div class="btn-group float-right" role="group" aria-label="Basic example">
            @using (Html.BeginForm("EmailNotificationAll", "Dividend", new { }, FormMethod.Post))
            {

                <button type="submit" class="btn btn-warning  m-auto" id="notify-email"><i class="fa fa-envelope"></i> Email All</button>
            }
            @using (Html.BeginForm("SMSNotificationAll", "Dividend", new { }, FormMethod.Post))
            {

                <button type="submit" class="btn btn-warning m-auto" id="notify-sms"><i class="fa fa-mobile-phone"></i> SMS All</button>
            }
            @using (Html.BeginForm("EmailAndSMSNotificationAll", "Dividend", new { }, FormMethod.Post))
            {

                <button type="submit" class="btn btn-warning m-auto" id="notify-sms"><i class="fa fa-envelope mr-1"></i><i class="fa fa-mobile-phone"></i> Email and SMS All</button>
            }
        </div>
        <div class="btn-group float-left" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info  m-auto" onclick="location.href = '@Url.Action("PendingView", "Dividend", new {})'"><i class="fa fa-mail-reply"></i> Pending View</button>

            <button type="button" class="btn btn-success m-auto" onclick="location.href = '@Url.Action("ArchivedView", "Dividend", new {})'"><i class="fa fa-history"></i> Show Archived</button>
            @using (Html.BeginForm("ArchiveAll", "Dividend", new { }, FormMethod.Post))
            {

                <button type="submit" class="btn btn-danger m-auto"><i class="fa fa-file-archive-o"></i> Archive All</button>
            }
        </div>
        @*<div style="text-align:center;">
                <button type="button" class="btn btn-success col-sm-3 col-md-3 col-lg-3" id="show-approved" onclick="location.href = '@Url.Action("OwnerPaymentManagement", "Dividend", new {})'">Manage Payment</button>
            </div>*@
    </div>
</div>


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script>
    $("#" + @Model.index).addClass("active");
</script>
<script>
    function previous(i, n) {
        if (i >= 1) {
            window.location.href = "ApprovedViewPagination?index=" + i;
        }
    }
</script>
<script>
    function next(i, n) {
        if (i <= n) {
            window.location.href = "ApprovedViewPagination?index=" + i;
        }
    }
</script>
<script>
    function paginationPureJS(i) {

        window.location.href = "ApprovedViewPagination?index=" + i;
    }
</script>

<script>
    function search() {
        var s = $("#searchfield").val();
        //alert(s);
        var myModel = {
            searchfield: s,
        };
        if (s.length != 0) {
            $.ajax({
                context: this,
                type: 'post',
                url: '../Dividend/gettingSearchResultForApprovedView/',
                data: myModel,
                success: function (result) {
                    var len = result.length;
                    //alert(len);
                    document.getElementById('table').style.display = 'none';
                    document.getElementById('pagination').style.display = 'none';
                    document.getElementById('js-table').style.display = 'block';
                    //alert("OOOO");
                    //var a = 1, b = 2;
                    addMultipleRow(len, result);
                },
                error: function () {
                    //error();
                }
            });
        } else {
            //var index = "Model.index";
            //window.location.href = "PendingViewPagination?index=" + index;
            document.getElementById('table').style.display = 'block';
            document.getElementById('pagination').style.display = 'block';
            document.getElementById('js-table').style.display = 'none';
            $('#message').html("");
        }


    }

</script>

<script>
    function addMultipleRow(x, result) {
        //var taskRoles = "Model.TaskRoles";
        //var isAllclicked = document.getElementById('all-owner').checked;
        var str = "";
        if (x >= 1) {
            $('#message').html("");
            str += "<thead class='bg-blue' style='color:white'>";
            str += "<tr>";
            str += "<th scope='col'>Dividend Id</th>";
            str += "<th scope='col'>Slot Id</th>";
            str += "<th scope='col'>Owner's Name</th>";
            str += "<th scope='col'>Owner's Mobile No</th>";
            str += "<th scope='col'>Dividend Start Date</th>";
            str += "<th scope='col'>Dividend End Date</th>";
            str += "<th scope='col'>Dividend Amount</th>";
            str += "<th scope='col'>Email Notification</th>";
            str += "<th scope='col'>SMS Notification</th>";
            str += "<th scope='col'>Archive</th>";
            str += "</tr>";
            str += "</thead>";
        } else {
            $('#message').html("<br><h3 style='color:brown'>No Result Found</h3>");
        }
        for (var i = 0; i < x; i++) {
            str += "<tr>";
            str += "<td>" + result[i].DividendId + "</td>";
            str += "<td>" + result[i].SlotId + "</td>";
            str += "<td>" + result[i].OwnerName + "</td>";
            str += "<td>" + result[i].MobileNumber + "</td>";
            str += "<td>" + result[i].FromMonth + "</td>";
            str += "<td>" + result[i].ToMonth + "</td>";
            str += "<td>" + result[i].DividendAmount + "</td>";
            str += "<td>";
            str += "<button type='submit'";
            str += "class='btn btn-green'";
            str += "data-toggle='tooltip'";
            str += "data-placement='bottom'";
            str += "title='Send Email Notification'";
            str += 'onclick="sendemailfunction(\'' + result[i].DividendId + '\')">';
            str += "<i class='fa fa-envelope'>";
            str += "</i>";
            str += "</button>";
            str += "</td>";
            str += "<td>";
            str += "<button type='submit'";
            str += "class='btn  btn-green'";
            str += "data-toggle='tooltip'";
            str += "data-placement='bottom'";
            str += "title='Send SMS Notification'";
            str += 'onclick="sendsmsfunction(\'' + result[i].DividendId + '\')">';
            str += "<i class='fa fa-mobile-phone'>";
            str += "</i>";
            str += "</button>";
            str += "</td>";
            str += "<td>";
            str += "<button type='submit'";
            str += "class='btn  btn-green'";
            str += "data-toggle='tooltip'";
            str += "data-placement='bottom'";
            str += "title='Archive This Entry'";
            str += 'onclick="archievefunction(\'' + result[i].DividendId + '\')">';
            str += "<i class='fa fa-history'>";
            str += "</i>";
            str += "</button>";
            str += "</td>";
            str += "</tr>";
        }
        $('#dtBasicExample').html(str);
    }
</script>

<script>
    function sendemailfunction(dividend_id) {
        var myModel = {
            dividendid: dividend_id,
        };
        $.ajax({
            context: this,
            type: 'post',
            url: '../Dividend/EmailNotificationSingle/',
            data: myModel,
            success: function (result) {
                window.location.href = "/Dividend/ApprovedView";
            },
            error: function () {
                //error();
            }
        });
    }
</script>

<script>
    function sendsmsfunction(dividend_id) {
        var myModel = {
            dividendid: dividend_id,
        };
        $.ajax({
            context: this,
            type: 'post',
            url: '../Dividend/SMSNotificationSingle/',
            data: myModel,
            success: function (result) {
                window.location.href = "/Dividend/ApprovedView";
            },
            error: function () {
                //error();
            }
        });
    }
</script>


<script>
    function archievefunction(dividend_id) {
        var myModel = {
            dividendid: dividend_id,
        };
        $.ajax({
            context: this,
            type: 'post',
            url: '../Dividend/ArchiveSingle/',
            data: myModel,
            success: function (result) {
                window.location.href = "/Dividend/ApprovedView";
            },
            error: function () {
                //error();
            }
        });
    }
</script>

<script>
    $(document).ready(function () {

        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();


        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });

        $("#dashboardItem").click(function () {

            @*$("#dashboardItem").click(function() {
                document.location = '@Url.Action("SendTestMail", "Dividend")';
            });*@

        });

    });


</script>
