﻿@model StarterProjectV2.ViewModels.DividendViewModel

@{
    ViewBag.Title = "Archived Dividends";
}

<h1></h1>


@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}
@section FOOTERJS{

    <script src="~/Content/vendors/js/coreui.min.js"></script>
}

@section PAGETITLE{
    Archived Dividends
}
<body style="background-color: oldlace">
<div class="card">
    <div class="card-body">
        <h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
        <form class="form-inline mb-3 ml-3">
            <input id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search" onkeyup="search()">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>
        </form>
        <div class="table-responsive-lg" style="display:block" id="table">

            <table id="mainTable" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
                <thead style="color: white; background-color:#315152">

                    <tr>
                        <th scope="col">Dividend Id</th>
                        <th scope="col">Slot Id</th>
                        <th scope="col">Owner's Name</th>
                        <th scope="col">Owner's Mobile No</th>
                        <th scope="col">Dividend Start Date</th>
                        <th scope="col">Dividend End Date</th>
                        <th scope="col">Dividend Amount</th>
                        <th scope="col">Restore To Approved</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int noOfdata = Model.dividends.Count();
                    }
                    @if (noOfdata != 0)
                    {
                        foreach (var dividend in Model.dividends)
                        {
                            <tr>
                                <td>@dividend.DividendId</td>
                                <td>@dividend.SlotId</td>
                                <td>@dividend.OwnerName</td>
                                <td>@dividend.MobileNumber</td>
                                <td>@dividend.FromMonth.ToString("dd-MMM-yyyy")</td>
                                <td>@dividend.ToMonth.ToString("dd-MMM-yyyy")</td>
                                <td>@dividend.DividendAmount</td>
                                <td>
                                    @using (Html.BeginForm("RestoreToApproved", "Dividend", new { dividendid = dividend.DividendId }, FormMethod.Post))
                                    {
                                        <button type="submit"
                                                class="btn btn-outline-green"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="Restore To Approved">
                                            <i class="fa fa-retweet">
                                            </i>
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
            @{
                int noOfDividends = Model.noOfPage;
            }
            @*<h3>@noOfOwnr</h3>*@
            @if (noOfDividends != 0)
            {

                <div class="pager" style="padding-top: 20px; direction:ltr; display:block;" align="center" id="pagination">

                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center flex-wrap">
                            @{
                                int prev_idx = Model.index - 1;
                            }
                            <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(1)">« First</a></li>
                            <li class="page-item previous"><a class="page-link" href="#" onclick="previous(@prev_idx, @Model.noOfPage)">« Previous</a></li>
                            @{
                                int idx = Model.index;
                                int next_idx = Model.index + 1;
                                int noOfDividend = Model.noOfPage;
                                if (noOfDividends < 10)
                                {
                                    for (int i = 1; i <= noOfDividends; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }
                                }
                                else
                                {
                                    if (idx <= 5)
                                    {
                                        if (noOfDividends < 10)
                                        {
                                            for (int i = 1; i <= noOfDividends; i++)
                                            {
                                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                            }
                                        }
                                        else
                                        {
                                            for (int i = 1; i <= 10; i++)
                                            {
                                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                            }
                                        }
                                    }
                                    else if (idx > 5 && idx <= (noOfDividend - 5))
                                    {
                                        for (int i = idx - 4; i <= idx + 5; i++)
                                        {
                                            <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                        }
                                    }
                                    else
                                    {
                                        for (int i = noOfDividend - 9; i <= noOfDividend; i++)
                                        {
                                            <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                        }

                                    }
                                }
                            }
                            <li class="page-item next"><a class="page-link" href="#" onclick="next(@next_idx, @noOfDividends)">Next »</a></li>
                            <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(@Model.noOfPage)">Last »</a></li>
                        </ul>
                    </nav>

                </div>

            }
        </div>
        <div class="table-responsive-lg" id="js-table">
            <table id="dtBasicExample" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0"></table>
        </div>
        <div class="text-center" id="message">

        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            @*//col-md-3 col-lg-3 col-sm-3"*@
            <button type="button" class="btn btn-outline-success float-left col-sm-1 col-md-3 col-lg-3" id="show-approved" onclick="location.href = '@Url.Action("ApprovedView", "Dividend", new {})'">Show Approved</button>

            <button type="button" class="btn btn-outline-info float-right col-sm-1 col-md-3 col-lg-3" id="show-approved" onclick="location.href = '@Url.Action("PendingView", "Dividend", new {})'">Show Pending</button>

        </div>
    </div>

</div>
    </body>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script>
    $("#" + @Model.index).addClass("active");
</script>
<script>
    function previous(i, n) {
        if (i >= 1) {
            window.location.href = "ArchivedViewPagination?index=" + i;
        }
    }
</script>
<script>
    function next(i, n) {
        if (i <= n) {
            window.location.href = "ArchivedViewPagination?index=" + i;
        }
    }
</script>
<script>
    function paginationPureJS(i) {

        window.location.href = "ArchivedViewPagination?index=" + i;
    }
</script>

<script>
    function search() {
        var s = $("#searchfield").val();
        //alert(s);
        var myModel = {
            searchfield: s,
        };
        if (s.length != 0) {
            $.ajax({
                context: this,
                type: 'post',
                url: '../Dividend/gettingSearchResultForArchivedView/',
                data: myModel,
                success: function (result) {
                    var len = result.length;
                    document.getElementById('table').style.display = 'none';
                    document.getElementById('pagination').style.display = 'none';
                    document.getElementById('js-table').style.display = 'block';
                    //alert("OOOO");
                    //var a = 1, b = 2;
                    addMultipleRow(len, result);
                },
                error: function () {
                    //error();
                }
            });
        } else {
            //var index = "Model.index";
            //window.location.href = "PendingViewPagination?index=" + index;
            document.getElementById('table').style.display = 'block';
            document.getElementById('pagination').style.display = 'block';
            document.getElementById('js-table').style.display = 'none';
            $('#message').html("");
        }


    }

</script>

<script>
    function addMultipleRow(x, result) {
        //var taskRoles = "Model.TaskRoles";
        //var isAllclicked = document.getElementById('all-owner').checked;
        var str = "";
        if (x >= 1) {
            $('#message').html("");
            str += "<thead class='bg-blue' style='color:white'>";
            str += "<tr>";
            str += "<th scope='col'>Dividend Id</th>";
            str += "<th scope='col'>Slot Id</th>";
            str += "<th scope='col'>Owner's Name</th>";
            str += "<th scope='col'>Owner's Mobile No</th>";
            str += "<th scope='col'>Dividend Start Date</th>";
            str += "<th scope='col'>Dividend End Date</th>";
            str += "<th scope='col'>Dividend Amount</th>";
            str += "<th scope='col'>Restore To Approved</th>";
            str += "</tr>";
            str += "</thead>";
        } else {
            $('#message').html("<br><h3 style='color:brown'>No Result Found</h3>");
        }
        for (var i = 0; i < x; i++) {
            str += "<tr>";
            str += "<td>" + result[i].DividendId + "</td>";
            str += "<td>" + result[i].SlotId + "</td>";
            str += "<td>" + result[i].OwnerName + "</td>";
            str += "<td>" + result[i].MobileNumber + "</td>";
            str += "<td>" + result[i].FromMonth + "</td>";
            str += "<td>" + result[i].ToMonth + "</td>";
            str += "<td>" + result[i].DividendAmount + "</td>";
            str += "<td>";
            str += "<button type='submit'";
            str += "class='btn btn-outline-green'";
            str += "data-toggle='tooltip'";
            str += "data-placement='bottom'";
            str += "title='Restore To Approved'";
            str += 'onclick="restorefunction(\'' + result[i].DividendId + '\')">';
            str += "<i class='fa fa-retweet'>";
            str += "</i>";
            str += "</button>";
            str += "</td>";
            str += "</tr>";
        }
        $('#dtBasicExample').html(str);
    }
</script>


<script>
    function restorefunction(dividend_id) {
        var myModel = {
            dividendid: dividend_id,
        };
        $.ajax({
            context: this,
            type: 'post',
            url: '../Dividend/RestoreToApproved/',
            data: myModel,
            success: function (result) {
                window.location.href = "/Dividend/ArchivedView";
            },
            error: function () {
                //error();
            }
        });
    }
</script>

<script>
    $(document).ready(function () {

        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();


        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });

        $("#dashboardItem").click(function () {

        });

    });


</script>
