﻿@model StarterProjectV2.ViewModels.DividendViewModelForSearch
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.0.2/jquery.min.js"></script>
}
@section FOOTERJS{

    <script src="~/Content/vendors/js/coreui.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
}
@section PAGETITLE{
   Dividend Info Edit
}
<h1></h1>
<body style="background-color: oldlace">
<div class="row justify-content-center ">
    <div class="card col-12">

        @using (Html.BeginForm("DividendInfoEdit", "Dividend", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

        {
            <div class="card-body">
                <h1 class="text-center" style="color:indianred">Dividend Information for single user</h1>
                <p class="text-muted text-center">Here you edit see the dividend details for an owner.</p>

                <div class="input-group mb-3">
                    @Html.LabelFor(m => m.DividendId, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                    @Html.TextBoxFor(m => m.DividendId, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Dividend Id", type = "text", @readonly = "readonly" })

                    @Html.LabelFor(m => m.SlotId, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                    @Html.TextBoxFor(m => m.SlotId,
                        new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Owner's Slot Id", type = "text", @readonly = "readonly" })
                </div>
                <div class="input-group mb-3">
                    @Html.LabelFor(m => m.OwnerName, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                    @Html.TextBoxFor(m => m.OwnerName, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Owner's Name", type = "text", @readonly = "readonly" })

                    @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                    @Html.TextBoxFor(m => m.DateOfBirth,
                        new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Date Of Birth", type = "text", @readonly = "readonly" })
                </div>
                <div class="input-group mb-3">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Dividend From Month</label>
                    @Html.TextBoxFor(m => m.FromMonth,
                        new { @class = "form-control col-sm-3 col-lg-3 col-md-3", type = "text", @readonly = "readonly" })
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Dividend Maturity Month</label>
                    @Html.TextBoxFor(m => m.ToMonth,
                        new { @class = "form-control col-sm-3 col-lg-3 col-md-3", type = "text", @readonly = "readonly" })
                </div>
                <div class="input-group mb-3">
                    @Html.LabelFor(m => m.OwnerId, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                    @Html.TextBoxFor(m => m.OwnerId,
                        new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Owner's Id", type = "text", @readonly = "readonly" })
                    @Html.LabelFor(m => m.MobileNumber, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                    @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Mobile Number", type = "text", @readonly = "readonly" })

                </div>

                <div class="input-group mb-3">
                    @Html.LabelFor(m => m.DividendAmount, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                    @Html.TextBoxFor(m => m.DividendAmount, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Dividend Amount", type = "number", id = "DividendAmount", step = "0.01", @readonly = "readonly" })
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Deduction Rate for Staying</label>
                    @Html.TextBoxFor(m => m.DeductionRateforStaying,
                        new { @class = "form-control col-sm-3 col-lg-3 col-md-3", @required = 'd', id = "DeductionRateforStaying", placeholder = "deduction rate for staying", type = "number", onkeyup = "calculateDividend()" })
                </div>
                <div class="input-group mb-3">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">No of Nights Spent</label>
                    @Html.TextBoxFor(m => m.NoofDaysHasStayed,
                        new { @class = "form-control col-sm-3 col-lg-3 col-md-3", id = "NoofDaysHasStayed", placeholder = "deduction rate for staying", type = "number", @readonly = "readonly" })
                    @Html.LabelFor(m => m.status, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                    @Html.TextBoxFor(m => m.status,
                        new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Status", type = "text", @readonly = "readonly" })
                </div>
                <div class="row">
                    <button type="button" class="btn btn-outline-info col-sm-2 col-lg-2 col-md-2 m-auto" onclick="location.href = '@Url.Action("PendingView", "Dividend", new {})'">Go Back</button>
                    <button type="submit" class="btn btn-outline-danger col-sm-2 col-lg-2 col-md-2 m-auto">Save Changes</button>
                </div>
            </div>
        }
    </div>

</div>
</body>
<script>
    var TotalAmount = 0;
    var NoofDaysHasStayed = parseInt($("#NoofDaysHasStayed").val());
    var DividendAmount = parseFloat($("#DividendAmount").val());
    var DeductionRateforStaying = parseInt($("#DeductionRateforStaying").val());

    TotalAmount = DividendAmount + DeductionRateforStaying * NoofDaysHasStayed;
    //    alert(TotalAmount);
</script>
<script>
    function calculateDividend() {
        //        alert(TotalAmount);
        var DeductionRateforStaying = parseInt($("#DeductionRateforStaying").val());
        if (Number.isNaN(DeductionRateforStaying) == true) {
            $("#DeductionRateforStaying").val(0);
            $("#DividendAmount").val(TotalAmount);
        } else {
            //            alert("in sdas");
            var ChangedDividendAmount = parseFloat(TotalAmount * 1.0 - DeductionRateforStaying * NoofDaysHasStayed * 1.00);
            //            alert(parseFloat(ChangedDividendAmount * 1.00));
            $("#DividendAmount").val(ChangedDividendAmount.toFixed(2));
        }
    }
</script>

