﻿@model StarterProjectV2.Models.Dividend
<h1></h1>
@section PAGETITLE{
   Dividend Info View
}
<div class="row justify-content-center ">
    <div class="card col-12">
        <div class="card-body">
            <h1 class="text-center" style="color:indianred">Dividend Information for single user</h1>
            <p class="text-muted text-center">Here you can see the dividend details for an owner.</p>

            <div class="input-group mb-3">
                @Html.LabelFor(m => m.DividendId, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                @Html.TextBoxFor(m => m.DividendId, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Owner's Name", type = "text", @readonly = "readonly" })

                @Html.LabelFor(m => m.OwnerId, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.OwnerId,
                    new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Owner's Id", type = "text", @readonly = "readonly" })
            </div>
            <div class="input-group mb-3">
                @Html.LabelFor(m => m.OwnerName, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                @Html.TextBoxFor(m => m.OwnerName, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Owner's Name", type = "text", @readonly = "readonly" })

                @Html.LabelFor(m => m.DateOfBirth, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.DateOfBirth,
                    new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Date Of Birth", type = "text", @readonly = "readonly" })
            </div>
            <div class="input-group mb-3">
                @Html.LabelFor(m => m.DividendAmount, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                @Html.TextBoxFor(m => m.DividendAmount, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Dividend Amount", type = "number", @readonly = "readonly" })

                @Html.LabelFor(m => m.status, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.status,
                    new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Status", type = "text", @readonly = "readonly" })
            </div>
            <div class="input-group mb-3">
                @Html.LabelFor(m => m.MobileNumber, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Mobile Number", type = "text", @readonly = "readonly" })

                @Html.LabelFor(m => m.notification, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.notification,
                    new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "notification count", type = "number", @readonly = "readonly" })
            </div>
            <div class="row">
                <button type="button" class="btn btn-outline-info col-sm-2 col-lg-2 col-md-2 m-auto" onclick="location.href = '@Url.Action("PendingView", "Dividend", new {})'">Go Back</button>
            </div>
        </div>
    </div>

</div>
