﻿@using StarterProjectV2.ViewModels
@model StarterProjectV2.ViewModels.DividendFailedGroupManagementView

@{
    ViewData["Title"] = "Dividend Failed Groups Management";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>

    <style>
        div.pager {
            /*text-align: right;*/
            /*width: 60em;*/
            /*margin: 1em auto;*/
        }
    </style>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Dividend Failed Groups Management
}
<body style="background-color: oldlace">
<div class="card">
    <div class="card-body" style="margin-bottom: 0">
        <h2 class="text-center mt-3" style="color: indianred">@ViewData["Title"]</h2>
        @*<form class="form-inline mb-3 ml-3">
                <input id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search" onkeyup="search()">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
            </form>*@
        <div class="table-responsive-lg" style="display:block" id="table">
            @if (Model.DividendFailedGroupList.Count != 0)
            {
                <table id="mainTable" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
                    <thead style="color: white; background-color:#315152">

                        <tr>
                            <th scope="col">View</th>
                            @*<th scope="col">Edit</th>
                                <th scope="col">Delete</th>*@
                            @*<th scope="col">DividendFailedGroups Id</th>*@
                            <th scope="col">From Month</th>
                            <th scope="col">To Month</th>
                            <th scope="col">No of Failed Dividends</th>
                            <th scope="col">Failed Slot Ids</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @{
                            var idx1 = 0;
                        }
                        @foreach (var dividendFailedGroup in Model.DividendFailedGroupList)
                        {
                            <tr>
                                <td>
                                    <button type="button"
                                            class="btn btn-light"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="View"
                                            onclick="location.href = '@Url.Action("DividendFailedGroupView", "Dividend", new { dividendFailedGroupId = dividendFailedGroup.DividendFailedGroupId })'">

                                    <i class="icon-eye">
                                    </i>
                                </button>
                            </td>
                            @*<td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Click To View & Approve"
                                        @* onclick="location.href = '@Url.Action("PostView", "OwnersInfo", new {postId = post.PostId})'">
                                    <i class="icon-eye">
                                    </i>
                                </button>
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Click To View & Approve"
                                        @* onclick="location.href = '@Url.Action("PostView", "OwnersInfo", new {postId = post.PostId})'">
                                    <i class="icon-eye">
                                    </i>
                                </button>
                            </td>*@
                            @*<td>@audit.AuditId</td>*@
                            @*<td>@dividendFailedGroup.DividendFailedGroupId</td>*@
                            <td>@dividendFailedGroup.FromMonth.ToString("dd-MM-yyyy")</td>
                            <td>@dividendFailedGroup.ToMonth.ToString("dd-MM-yyyy")</td>
                            <td>@dividendFailedGroup.NoOfFailedDividendRows</td>

                            @{var div = dividendFailedGroup.SlotIds;
                                if (div.Length >= 25)

                                {
                                    <td>@div.Substring(0, 25) .....</td>
}
                                else
                                {
                                    <td>@div .....</td>
}
                            }
                        </tr>
                    }

                </tbody>
            </table>
        }
    </div>
        <div class="table-responsive-lg" id="js-table">
            <table id="dtBasicExample" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0"></table>
        </div>
        <div class="text-center" id="message">

        </div>

    </div>
</div>
</body>
@*<script>
        $(document).ready(function() {
            var taskRoles = "@Model.TaskRoles";
            if (taskRoles[0] == '0') {
                $('table tr').find('td:eq(0),th:eq(0)').remove();
                if (taskRoles[3] == '0') {
                    $('table tr').find('td:eq(0),th:eq(0)').remove();
                    if (taskRoles[4] == '0') {
                        $('table tr').find('td:eq(0),th:eq(0)').remove();
                    }
                } else {
                    if (taskRoles[4] == '0') {
                        $('table tr').find('td:eq(1),th:eq(1)').remove();
                    }
                }
            } else {
                if (taskRoles[3] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                    if (taskRoles[4] == '0') {
                        $('table tr').find('td:eq(1),th:eq(1)').remove();
                    }
                } else {
                    if (taskRoles[4] == '0') {
                        $('table tr').find('td:eq(2),th:eq(2)').remove();
                    }
                }
            }
            if (taskRoles[1] == '0') {
                $("#newItem").remove();
            }
        });
    </script>*@

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });
    $(document).ready(function () {
        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });
        $('#reloadItem').click(function () {
            location.reload();
        });
        $("#dashboardItem").remove();
        $("#reportItem").remove();
    });
</script>




