﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Math
@using StarterProjectV2.ViewModels
@model StarterProjectV2.ViewModels.OwnersPaymentList

@{
    ViewData["Title"] = "Owner Payment Management";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <style>
        div.pager {
            /*text-align: right;*/
            /*width: 60em;*/
            /*margin: 1em auto;*/
        }
    </style>
}


@section FOOTERJS{

    <script src="~/Content/vendors/js/coreui.min.js"></script>

}
@section PAGETITLE{
  Payment Management
}

<body style="background-color: oldlace">
<div class="card" style="margin-bottom: 0">
    <h2 class="text-center mt-3" style="color: indianred">@ViewData["Title"]</h2>

    <form class="form-inline mb-3 ml-3 d-flex justify-content-center">
        <input value="@Model.SearchField" id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="button" onclick="search()">Search</button>
     
    </form>

 

    <div class="p-2" style="display:block" id="table">
        <table id="mainTable1" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
            <thead style="color: white; background-color:#315152">
                <tr>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Payment ID</th>
                    <th scope="col">Slot Id</th>
                    <th scope="col">Receiver Name</th>
                    <th scope="col">Receiving Bank</th>
                    <th scope="col">Amount</th>
                    <th scope="col">From Month</th>
                    <th scope="col">To Month</th>
                    <th scope="col">Payment Date</th>
                </tr>
            </thead>
            <tbody id="myTable">
                @{
                    var idx1 = 0;
                }
                @{
                    int noOfdata = Model.OwnerPayments.Count();
                }
                @if (noOfdata != 0)
                {
                    foreach (var ownerPayment in Model.OwnerPayments)
                    {
                        <tr>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="View"
                                        onclick="location.href = '@Url.Action("OwnerPaymentView", "Dividend", new { paymentId = ownerPayment.PaymentID })'">
                                    <i class="icon-eye">
                                    </i>
                                </button>
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Edit"
                                        onclick="location.href = '@Url.Action("OwnerPaymentEdit", "Dividend", new { paymentId = ownerPayment.PaymentID })'">
                                    <i class="icon-notebook">
                                    </i>
                                </button>
                            </td>
                            <td>
                                <button type="submit"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Delete" onclick="return confirm('Are you sure?')">
                                    <i class="icon-trash">
                                    </i>
                                </button>
                            </td>

                            <td>@ownerPayment.PaymentID</td>
                            <td>@ownerPayment.SlotId</td>
                            <td>@ownerPayment.ReceiverName</td>
                            @if (ownerPayment.ReceivingBank == "" || String.IsNullOrEmpty(ownerPayment.ReceivingBank) == true)
                            {
                                <td>No Bank Data Available</td>
                            }
                            else
                            {
                                <td>@ownerPayment.ReceivingBank</td>
                            }
                            <td>@ownerPayment.Amount</td>
                            <td>@ownerPayment.FromMonth.ToString("dd-MM-yyyy")</td>
                            <td>@ownerPayment.ToMonth.ToString("dd-MM-yyyy")</td>
                            @if (ownerPayment.PaymentDate == Convert.ToDateTime("1900-01-01 00:00:00.000"))
                            {
                                <td>No Payment Date Available</td>
                            }
                            else
                            {
                                <td>@ownerPayment.PaymentDate.ToString("dd-MM-yyyy")</td>
                            }
                        </tr>
                        idx1++;
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="table-responsive-lg" id="js-table">
        <table id="dtBasicExample" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0"></table>
    </div>
    <div class="text-center" id="message">

    </div>
    @{
        int noOfOwnerPayments = Model.NoOfOwnerPayments;
    }
    @*<h3>@noOfOwnr</h3>*@
    @if (noOfOwnerPayments != 0)
    {

        <div class="pager" style="padding-top: 20px; direction:ltr; display:block;" align="center" id="pagination">

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center flex-wrap">
                    @{
                        int prev_idx = Model.index - 1;
                    }
                    <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(1)">« First</a></li>
                    <li class="page-item previous"><a class="page-link" href="#" onclick="previous(@prev_idx, @Model.NoOfOwnerPayments)">« Previous</a></li>
                    @{
                        int idx = Model.index;
                        int next_idx = Model.index + 1;
                        int noOfOwnerPayment = Model.NoOfOwnerPayments;
                        if (noOfOwnerPayments < 10)
                        {
                            for (int i = 1; i <= noOfOwnerPayments; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }
                        }
                        else
                        {
                            if (idx <= 5)
                            {
                                if (noOfOwnerPayments < 10)
                                {
                                    for (int i = 1; i <= noOfOwnerPayments; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }
                                }
                                else
                                {
                                    for (int i = 1; i <= 10; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }
                                }
                            }
                            else if (idx > 5 && idx <= (noOfOwnerPayment - 5))
                            {
                                for (int i = idx - 4; i <= idx + 5; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }
                            }
                            else
                            {
                                for (int i = noOfOwnerPayment - 9; i <= noOfOwnerPayment; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }

                            }
                        }
                    }
                    <li class="page-item next"><a class="page-link" href="#" onclick="next(@next_idx, @noOfOwnerPayments)">Next »</a></li>
                    <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(@Model.NoOfOwnerPayments)">Last »</a></li>
                </ul>
            </nav>

        </div>

    }

</div>
</body>

<script>
    function editfunction(payment_id) {
        //alert(acc_id);
        window.location.href = "/Dividend/OwnerPaymentEdit?paymentId=" + payment_id;
    }
</script>

<script>
    function viewfunction(payment_id) {
        //alert(acc_id);
        window.location.href = "/Dividend/OwnerPaymentView?paymentId=" + payment_id;
    }
</script>
<script>
    $("#" + @Model.index).addClass("active");
    var s2 = $("#searchfield").val();
    function search() {
        //alert("gdjsgajgd");
        var s = $("#searchfield").val();
        //alert(s);
        window.location.href = '../Dividend/OwnerPaymentManagement?searchfield=' + s + '&index=1';
    }
    function previous(i, n) {
        if (i >= 1) {
            window.location.href = "../Dividend/OwnerPaymentManagement?searchfield=" + s2 + "&index=" + i;
        }
    }
    function next(i, n) {
        if (i <= n) {
            window.location.href = "../Dividend/OwnerPaymentManagement?searchfield=" + s2 + "&index=" + i;
        }
    }
    function paginationPureJS(i) {
        window.location.href = "../Dividend/OwnerPaymentManagement?searchfield=" + s2 + "&index=" + i;
    }
</script>
<script>
    $("#" + @Model.index).addClass("active");
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script>
    $(document).ready(function() {
        var taskRoles = "@Model.TaskRoles";
        if (taskRoles[0] == '0') {
            $('table tr').find('td:eq(0),th:eq(0)').remove();
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(0),th:eq(0)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(0),th:eq(0)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            }
        } else {
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(1),th:eq(1)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(2),th:eq(2)').remove();
                }
            }
        }


        if (taskRoles[1] == '0') {
            $("#newItem").remove();
        }
    });
</script>

<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });



    $(document).ready(function() {
        $("#newItem").click(function() {
            document.location = '@Url.Action("OwnersInfoCreate", "OwnersInfo")';
        });
        $("#reportItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            //alert("sakdfhaif");
            window.print();
        });

        $('#reloadItem').click(function() {
            location.reload();
        });

        $("#dashboardItem").click(function() {
            document.location = '@Url.Action("ExportExcel", "OwnersInfo")';
        });
        $("#reportItem").click(function () {
             var data = $("#reportGenerateParameter").val();

            @*alert(data);*@
            window.location = "/Dividend/Download_PDF?slotId=" + data;

        });

    });


</script>

