﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="HAMS Project 1.0">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content=",">
    <link rel="shortcut icon" href="~/content/img/favicon.png">
    <title>SecureProperty - @RenderSection("PAGETITLE", required: false)</title>

    <!-- Icons -->
    <link href="~/Content/vendors/css/flag-icon.min.css" rel="stylesheet">
    @* <link href="~/Content/vendors/css/font-awesome.min.css" rel="stylesheet"> *@
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/simple-line-icons.min.css" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/submenu.css" rel="stylesheet" />
    <!-- Styles required by this views -->
    <link href="~/Content/vendors/css/daterangepicker.min.css" rel="stylesheet">
    <link href="~/Content/vendors/css/gauge.min.css" rel="stylesheet">
    <link href="~/Content/vendors/css/toastr.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    @RenderSection("HEADERJS", required: false)
    @RenderSection("HEADERCSS", required: false)

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

    <!-- Bootstrap and necessary plugins -->
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/jquery-ui.min.js"></script>
    <!-- CoreUI Pro main scripts -->

    <script src="~/Content/js/app.js"></script>

    <!-- Plugins and scripts required by this views -->
    <script src="~/Content/vendors/js/gauge.min.js"></script>
    <script src="~/Content/vendors/js/moment.min.js"></script>
    <script src="~/Content/vendors/js/daterangepicker.min.js"></script>
    <script src="~/Content/vendors/js/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <!-- Custom scripts required by this view -->
    @* <script src="~/Content/js/views/main.js"></script>  *@

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>

    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>

    <style>
        body {
            font-family: 'Raleway', sans-serif;
        }

        .nav-item .active {
            border-bottom: 1px solid #ccc;
        }

        .nav-link {
            color: black !important;
        }

        .sub-dropdown-menu {
            background-color: #2b5468;
        }

            .sub-dropdown-menu > ul > li > a {
                color: white;
            }

                .sub-dropdown-menu > ul > li > a:hover {
                    background-color: #01254c;
                }

        .nav-menus {
            padding: 0px;
            margin: 0px;
            border: 0px;
            background-color: #2b5468;
        }

            .nav-menus > ul > li > a:hover {
                background-color: #01254c;
            }

            .nav-menus > ul > li > a {
                color: white;
            }

        .sub-dropdown {
            padding: 0px;
            margin: 0px;
            border: 0px;
        }

            .sub-dropdown > li > a :hover {
                background-color: #01254c;
            }

        .profile-bar:hover {
            background-color: #396a72;
        }

        .hams-class {
            margin-bottom: 200px;
        }

        footer {
            bottom: 0;
        }

        /* OUTER CONTAINER */
        .tcontainer {
            width: 100%;
            overflow: hidden; /* Hide scroll bar */
        }

        /* MIDDLE CONTAINER */
        .ticker-wrap {
            width: 100%;
            padding-left: 100%; /* Push contents to right side of screen */
            background-color: #eee;
        }

        /* INNER CONTAINER */
        @@keyframes ticker {
            0% {
                transform: translate3d(0, 0, 0);
            }

            100% {
                transform: translate3d(-200%, 0, 0);
            }
        }

        .ticker-move {
            /* Basically move items from right side of screen to left in infinite loop */
            display: inline-block;
            white-space: nowrap;
            padding-right: 100%;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-name: ticker;
            animation-duration: 70s;
        }

            .ticker-move:hover {
                animation-play-state: paused; /* Pause scroll on mouse hover */
            }

        /* ITEMS */
        .ticker-item {
            display: inline-block; /* Lay items in a horizontal line */
            padding: 0.25rem 2rem;
            font: bolder;
        }

        .fixed {
            position: -webkit-sticky;
            position: sticky;
            bottom: 0;
            text-align: center;
        }

        @@media only screen and (max-width: 768px) {
            .ticker-move {
                animation-duration: 20s;
            }
        }

        .abc:hover {
            text-decoration-color:;
        }
    </style>

    <style>
        input[required] {
            border: 1px solid red;
        }
    </style>

    <script>

        function showToastr(status, message) {

            var title = 'Welcome to HAMS Project 1.0';

            var type = (typeof status === 'undefined' || status === '') ? 'info' : status.toLowerCase();

            if (status == "Fail") type = 'error';

            toastr[type](message, title, { closeButton: true, progressBar: true, });
        }


    </script>

</head>
@*footer-fixed*@
<body class="app bg-white">
    <nav class="navbar navbar-expand-lg navbar-light bg-white" style="box-shadow: 1px 1px 8px 5px #ccc;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @{
            var noOfNotification = Session[SessionKeys.NO_OF_NOTIFICATION];
        }
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            @*<a class="navbar-brand" href="#">Hidden brand</a>*@
            @*<a class="navbar-brand" href="#" onclick="location.href = '@Url.Action("OwnerHomePage", "Owner")'">Owner Information</a>*@
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class=" nav-item abc" @*onMouseOver="this.style.color = '#31b1e0'" onMouseOut="this.style.color = 'black'"*@>

                    <a class="nav-link" href="#" onclick="location.href = '@Url.Action("OwnerHomePage", "Owner")'">
                        <i class="icon-home" style='font-size:17px'>
                        </i>
                    </a>

                </li>
                <li class="nav-item abc" id="edit" @*onMouseOver="this.style.backgroundColor = '#20A8D8'" onMouseOut="this.style.backgroundColor='white'"*@>
                    <a class="nav-link" href="#" onclick="location.href = '@Url.Action("OwnersInfoIncomeViewOrEditAfterLogin", "Owner")'" id="link-edit">Edit Informations <span class="sr-only">(current)</span></a>
                </li>
                @*<li class="nav-item" id="view">
           <a class="nav-link" href="#" onclick="location.href = '@Url.Action("OwnerRoomSlotInfoView", "Owner")'" id="link-slot-info">View Income & Expenses</a>
        </li>*@
                <li class="nav-item" id="view" @*onMouseOver="this.style.backgroundColor='#20A8D8'" onMouseOut="this.style.backgroundColor='white'"*@>
                    <a class="nav-link" href="#" onclick="location.href = '@Url.Action("OwnerTransactionHistory", "Owner")'" id="link-trns-info">Owner's History</a>
                </li>
                <li class="nav-item" id="view" @*onMouseOver="this.style.backgroundColor='#20A8D8'" onMouseOut="this.style.backgroundColor='white'"*@>
                    <a class="nav-link" href="#" onclick="location.href = '@Url.Action("OwnerPaymentHistory", "Owner")'" id="link-pymnt-info">Payment Received History</a>
                </li>
                <li class="nav-item" id="view" @*onMouseOver="this.style.backgroundColor='#20A8D8'" onMouseOut="this.style.backgroundColor='white'"*@>
                    <a class="nav-link" href="#" onclick="location.href = '@Url.Action("BookingManagement", "Booking")'" id="link-book-info">Booking</a>
                </li>
                <li class="nav-item" id="view" @*onMouseOver="this.style.backgroundColor='#20A8D8'" onMouseOut="this.style.backgroundColor='white'"*@>
                    <a class="nav-link" href="#" onclick="location.href = '@Url.Action("ReferralBookingManagement", "Booking")'" id="link-Referral-info">Referral Booking</a>
                </li>

           
                <li class="nav-item" id="view" @*onMouseOver="this.style.backgroundColor='#20A8D8'" onMouseOut="this.style.backgroundColor='white'"*@>
                    <a class="nav-link" href="#" onclick="location.href = '@Url.Action("Ledger", "Owner")'" id="link-Ledger-page">Ledger</a>
                </li>

                <li class="nav-item" id="view" @*onMouseOver="this.style.backgroundColor='#20A8D8'" onMouseOut="this.style.backgroundColor='white'"*@>
                    <a class="nav-link" href="#" onclick="location.href = '@Url.Action("WallPage", "Chatting")'" id="link-wall-page">Wall Page</a>
                </li>
                <li class="nav-item" id="view" @*onMouseOver="this.style.backgroundColor='#20A8D8'" onMouseOut="this.style.backgroundColor='white'"*@>
                    <a class="nav-link" href="#" onclick="location.href = '@Url.Action("ChatWithAdmin", "AdminChat")'" id="link-wall-page">Messaging</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-5">
                <li class="nav-item dropdown">
                    <div class="nav-link mr-1" href="#" id="navigation-bell">
                        <i class="icon-bell" style='font-size:17px'>
                            <span class="badge badge-pill badge-danger" id="count" style="font-size: 11px;position: absolute; margin-top: -0.5%; margin-left: -0.4%">@noOfNotification</span>
                        </i>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg" id="notification-list" style="height: 85vh; overflow-y: auto; ">
                        <div class="dropdown-header text-center" id="notification-count">
                            <strong>You have @noOfNotification new notifications</strong>
                        </div>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                @*<span class="mr-0">
                        <a class="btn m-1" onclick="location.href = '@Url.Action("WallPage", "Chatting")'" data-toggle="tooltip" data-placement="bottom" title="Wall Page">
                             <i class="icon-globe" style="color: black"></i>
                            <i class="fas fa-globe-asia" style='font-size:19px'></i>
                        </a>
                    </span>*@
                <span class="navbar-text  ml-3" style="font-size:15px; color:black">@Session[SessionKeys.OWNERNAME]</span>
                <button class="btn my-2 my-sm-0 ml-2 " style="border:1px solid black" type="button" onclick="location.href = '@Url.Action("Logout", "Home")'" onMouseOver="this.style.backgroundColor='indianred'" onMouseOut="this.style.backgroundColor='white'">Logout</button>
            </form>
        </div>
    </nav>

    <div class="container body-content bg-white px-1 mt-4" style="min-height:100vh;">
        @RenderBody()
    </div>


    <footer class="app-footer">
        <span><a href="#">HAMS</a> © 2019</span>
        <span class="ml-auto">Powered by <a href="#">eSecureSoft Technologies Ltd.</a></span>
    </footer>

    <div id="gridUsers" class="fixed tcontainer"></div>
    <script>
        $(document).ready(function () {
            getUsers();
            function getUsers() {
                $.ajax({
                    url: '@Url.Action("_GetTickers", "Home")',
                    datatype: 'html',
                    method: 'GET',
                    data: { searchText: $('#txtSearch').val() },
                    success: function (res) {
                        $('#gridUsers').html('').html(res);
                        //window.location.href = "../Home/_GetTickers";
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
        })
    </script>


    <script type="text/javascript">
        $(function () {
            // Click on notification icon for show notification
            $('#navigation-bell').hover(function (e) {
                //alert('dds');
                e.stopPropagation();
                //                $('.noti-content').show();
                var count = 0;
                count = parseInt($('#count').html()) || 0;
                //only load notification if not already loaded
                //                if (count > 0) {
                updateNotification();
                //                }
                //$('#count', this).html('&nbsp;');
            })
            // hide notifications
            //            $('html').click(function () {
            //                $('.noti-content').hide();
            //            })
            // update notification
            function updateNotification() {
                //$('#notiContent').empty();
                //$('#notiContent').append($('<li>Loading...</li>'));
                $.ajax({
                    type: 'post',
                    url: '/home/GetNotifications',
                    success: function (response) {
                        //                        $('#notiContent').empty();
                        //                        alert('jjj');
                        $('#notification-count').html('<strong>You have ' + response.length + ' notifications</strong>');
                        var str = "";
                        str += '<div class="dropdown-header text-center"><strong>You have ' + parseInt($('#count').html()) + ' new notifications</strong>';
                        str +=
                            '<a href="#" onclick="allNotificationView()" style="padding: 0px;color: #03a0a0; text-align: center; text-decoration: underline">Show All</a></div>';
                        if (response.length == 0) {
                            //alert("no data available");
                        } else {
                            //                            alert('hey');
                            for (var i = 0; i < response.length; i++) {
                                var class_text = "icon-user-follow";
                                if (response[i].NotificationHeader == 'D') {
                                    class_text = '<i class="fa fa-calculator text-success"></i><i class="fa fa-plus text-success"></i>';
                                } else if (response[i].NotificationHeader == 'N') {
                                    class_text = '<i class="fa fa-file-alt text-success"></i><i class="fa fa-plus text-success"></i>';
                                }
                                str += ('<a class="dropdown-item" onclick="clickedWithDelete(\'' + response[i].NotificationHeader + '\', \'' + response[i].NotificationId + '\')" style="white-space:normal;" href=' + response[i].NotificationLink + '>' + class_text + response[i].NotificationText + '</a>');
                            }
                            //$('#notification-list').html(str);
                            //alert(response.length());
                        }
                        $('#notification-list').html(str);
                    },
                    error: function (error) {
                        //console.log(error);
                        //                        alert('jjj');
                    }
                })
            }
        })
    </script>
    <script>
        function allNotificationView() {
            //            alert(post_Id);
            window.open('/Owner/NotificationView', '_blank');
        }
    </script>
    <script>
        function clickedWithDelete(x, y) {
            // alert(x);
            //        alert(y);
            var myModel = {
                notificationId: y,
            };
            //if (x === "PD" || x === "CD" || x ==="B" || x === "BD" || x === "OE") {
            $.ajax({
                context: this,
                type: 'post',
                url: '../home/UpdateNotification/',
                data: myModel,
                success: function (result) {
                    //alert(myModel.PartialUserDetailsViewModels);
                    //window.location = '../Home/About';
                },
                error: function () {
                    //error();
                }
            });
            //}
        }
    </script>
    <script>
        var isActiveNew = true;

        $(document).ready(function () {
            //EITHER USE A GLOBAL VAR OR PLACE VAR IN HIDDEN FIELD
            //IF FOR WHATEVER REASON YOU WANT TO STOP POLLING
            pollServerForOwnerSite();
        });
        var cnt = 0;
        function pollServerForOwnerSite() {
            if (isActiveNew) {
                window.setTimeout(function () {
                    $.ajax({
                        url: "../Notification/NotificationSending",
                        type: "POST",
                        success: function (result) {
                            //                            toastr.info('New notification(s) have occured', 'Info', {
                            //                                closeButton: true,
                            //                                timeOut: 1500,
                            //                                progressBar: true,
                            //                            });
                            //alert(parseInt($('#count').html()));
                            //SUCCESS LOGIC
                            //alert(parseInt($('#count').html()));
                            //                            alert("hhhh");
                            //alert(result);
                            if (parseInt(result) > parseInt($('#count').html())) {
                                toastr.info('New notification(s) have occured', 'Info', {
                                    closeButton: true,
                                    timeOut: 1500,
                                    progressBar: true,
                                });
                            }
                            $('#count').html(result);
                            cnt++;
                            pollServerForOwnerSite();
                        },
                        error: function () {
                            //ERROR HANDLING
                            pollServerForOwnerSite();
                        }
                    });
                }, 2500);
            }
        }
    </script>
    <script>
        //$(function () {
        //    $('[data-toggle="tooltip"]').tooltip();
        //})
    </script>
    <script>
    $(document).ready(function() {
        var curr = "@ViewBag.Current";
        if (curr == "OwnersInfoIncomeViewOrEditAfterLogin") {
            $("#link-edit").addClass('active');
        }
        else if (curr == "OwnerRoomSlotInfoView"){
            $("#link-slot-info").addClass('active');
        }
        else if (curr == "OwnerTransactionHistory") {
            $("#link-trns-info").addClass('active');
        }
        else if (curr == "Referral") {
            $("#link-Referral-info").addClass('active');
        }
        //else if (curr == "Calendar") {
        //    $("#link-Calendar-info").addClass('active');
        //}
        else if (curr == "Booking") {
            $("#link-book-info").addClass('active');
        }
        else if (curr == "OwnerPaymentHistory") {
            $("#link-pymnt-info").addClass('active');
        }
        else if (curr == "Ledger") {
            $("#link-Ledger-page").addClass('active');
        }
        else if (curr == "WallPage") {
            $("#link-wall-page").addClass('active');
        }

    });
    </script>




    @RenderSection("FOOTERJS", required: false)


</body>


</html>

