﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Math
@model StarterProjectV2.ViewModels.ReferrelRoomBookingManagementView
@{
    ViewBag.Title = "OwnersInfo";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>

}
@section PAGETITLE{
    Owner's Info
}

<style>
    @@media only screen and (min-width: 800px) {
        .card-body {
            padding: 60px;
            padding-left: 10rem
        }
    }
</style>

<div class="row justify-content-center ">

    <div class="card col-12 mt-4">
        <div class="card-body">
            <h1 class="text-center pb-4" style="color:cadetblue; margin-bottom:10px">Referral Point Approval Form</h1>
            <p class="text-muted"></p>

            @using (Html.BeginForm("ReferralBookingApprove", "Reservation", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

            {
        <form>

            <div class="form-group row mb-3">
                @Html.LabelFor(m => m.ReferralPoint, new { @class = "col-md-2  col-form-label" })
                <div class="col-md-3 ">
                    @Html.TextBoxFor(m => m.ReferralPoint, new { @class = "form-control", type = "text", @id = "ReferralPoint" })
                </div>
                @Html.LabelFor(m => m.IsReferralPointApproved, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.IsReferralPointApproved, new SelectList(new List<string> { "No", "Yes" }), new { @id = "IsReferralPointApproved", @class = "form-control" })
                @*@Html.TextBoxFor(m => m.IsReferralPointApproved, new { @class = "form-control", type = "text" })*@
                @*<input type="hidden" name="name" id="ReferralBookingId" value="@ownerRoomBooking.ReferralBookingId" />*@
            </div>
            </div>

            @Html.HiddenFor(m => m.ReferralBookingId, new { @id = "ReferralBookingId" })
        </form>
                <button type="submit" class="btn btn-primary" id="ConfirmForm" onclick="bookingTokenSubmit()">Submit</button>



                <div class="row d-flex justify-content-end">
                    <div>
                        <button type="submit" class="btn btn-primary m-1" onclick="bookingTokenSubmit()">Submit</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger m-1">Reset</button>
                    </div>

                </div>
            }
        </div>
    </div>
</div>

<script>
    function bookingTokenSubmit() {
        var referralBookingId = $('#ReferralBookingId').val();
        console.log(referralBookingId);
        var isReferralPointApproved = $("#IsReferralPointApproved").val();
        var referralPoint = $("#ReferralPoint").val();
        var myModel = {
            ReferralBookingId: referralBookingId,
            IsReferralPointApproved: isReferralPointApproved,
            ReferralPoint: referralPoint
        };
        alert("ID: = " + referralBookingId + "Booking Token: " + isReferralPointApproved);
        $.ajax({
            context: this,
            type: 'post',
            url: '../Reservation/ReferralBookingApprove/',
            data: myModel,
            success: function (result) {
             
                window.location.href = "/Reservation/ReferralBookingManagement";
            },
            error: function () {
              
            }
        });
    }
</script>

<script>
    function f() {
        var myModel = {
            ReferralBookingId: value,
        };
        $.ajax({
            context: this,
            type: 'post',
            url: '../Reservation/ReferralBookingApprove/',
            data: myModel,
            success: function (result) {
                
            },
            error: function () {
                //error();
            }
        });
    }
</script>






<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });


    $(document).ready(function() {
        $("#newItem").remove();
        $("#dashboardItem").remove();
        $("#reportItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function(){
            window.print();
        });

        $('#reloadItem').click(function() {
            location.reload();
        });

    });
</script>
