﻿@model StarterProjectV2.ViewModels.AccommodationmanagementTableViewModel

@{
    ViewData["Title"] = "Income and Expense Management";
    int boolIdx = 0;
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{

    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
   Accommodation Management
}

<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
<body style="background-color: oldlace">
<div class="card" style="margin-bottom: 0; @*background-color: #F8CC6B*@">

    <div class="table-responsive-lg">
        <table id="mainTable1" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
            <thead style="color: white; background-color:#315152">

            <tr>

                <th scope="col">Entry Month</th>
                <th scope="col">Monthly Income</th>
                <th scope="col">Monthly Expense</th>
                <th scope="col">Monthly Profit</th>
                <th scope="col">Monthly Per Square Feet Rate</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col"> Delete</th>
            </tr>
            </thead>
            <tbody>
            @{
                int noOfdata = Model.AccommodationInfos.Count();
            }
            @if (noOfdata != 0)
            {
                foreach (var md in Model.AccommodationInfos)
                {
                    <tr>
                            
                        @{
                            var AccDate = Convert.ToDateTime(md.AccommodationDate);
                            var val = AccDate.ToString("MMM-yyyy");
                            <td>@val</td>
                        }
                        <td>@md.MonthlyIncome</td>
                        <td>@md.MonthlyExpense</td>
                        @{
                            var val1 = md.MonthlyIncome - md.MonthlyExpense;
                            <td>@val1</td>
                        }
                        @{
                            var monthlyPerSquareFeetRate = Math.Round(md.MonthlyPerSquareFeetRate, 2, MidpointRounding.ToEven);
                            <td>@monthlyPerSquareFeetRate</td>
                        }
                        <td>
                            <button type="button"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="View"
                                    onclick="location.href = '@Url.Action("AccommodationView", "Accommodation", new { AccommodationInfoId = md.AccommodationInfoId })'">
                                <i class="icon-eye">
                                </i>
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Edit"
                                    onclick="location.href = '@Url.Action("AccommodationEdit", "Accommodation", new { AccommodationInfoId = md.AccommodationInfoId })'">
                                <i class="icon-notebook">
                                </i>
                            </button>
                        </td>
                        <td>
                            @using (Html.BeginForm("", "Accommodation", new { AccommodationInfoId = md.AccommodationInfoId }, FormMethod.Post))
                            {
                                <button type="submit"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Delete" onclick="return confirm('Are you sure?')">
                                    <i class="icon-trash">
                                    </i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    function pagination() {
        $('table.paginated1').each(function () {
            var $table = $(this);
            var itemsPerPage = 10;
            var currentPage = 0;
            var pages = Math.ceil($table.find("tr:not(:has(th))").length / itemsPerPage);
            $table.bind('repaginate', function () {
                if (pages > 1) {
                    var pager;
                    if ($table.next().hasClass("pager"))
                        pager = $table.next().empty(); else
                        pager = $('<div class="pager" id="pager1" style="padding-top: 20px; direction:ltr; display:block;" align="center"></div>');

                    $('<button class="btn btn-primary"></button>').text(' « First ').bind('click', function () {
                        currentPage = 0;
                        $table.trigger('repaginate');
                    }).appendTo(pager);

                    $('<button class="btn btn-primary"> « Prev </button>').bind('click', function () {
                        if (currentPage > 0)
                            currentPage--;
                        $table.trigger('repaginate');
                    }).appendTo(pager);

                    var startPager = currentPage > 2 ? currentPage - 2 : 0;
                    var endPager = startPager > 0 ? currentPage + 3 : 5;
                    if (endPager > pages) {
                        endPager = pages;
                        startPager = pages - 5; if (startPager < 0)
                            startPager = 0;
                    }

                    for (var page = startPager; page < endPager; page++) {
                        $('<button id="pg' + page + '" class="btn btn-primary ' + (page == currentPage ? 'active' : '') + '"></button>').text(page + 1).bind('click', {
                            newPage: page
                        }, function (event) {
                            currentPage = event.data['newPage'];
                            $table.trigger('repaginate');
                        }).appendTo(pager);
                    }

                    $('<button class="btn btn-primary "> Next » </button>').bind('click', function () {
                        if (currentPage < pages - 1)
                            currentPage++;
                        $table.trigger('repaginate');
                    }).appendTo(pager);
                    $('<button class="btn btn-primary "> Last » </button>').bind('click', function () {
                        currentPage = pages - 1;
                        $table.trigger('repaginate');
                    }).appendTo(pager);

                    if (!$table.next().hasClass("pager"))
                        pager.insertAfter($table);
                    //pager.insertBefore($table);

                }// end $table.bind('repaginate', function () { ...

                $table.find(
                    'tbody tr:not(:has(th))').hide().slice(currentPage * itemsPerPage, (currentPage + 1) * itemsPerPage).show();
            });

            $table.trigger('repaginate');
        });
    }
</script>
<script>
    pagination()
</script>
<script>
    @*$(document).ready(function() {
        var taskRoles = "@Model.TaskRoles";
        if (taskRoles[0] == '0') {
            $('table tr').find('td:eq(0),th:eq(0)').remove();
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(0),th:eq(0)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(0),th:eq(0)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            }
        } else {
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(1),th:eq(1)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(2),th:eq(2)').remove();
                }
            }
        }


        if (taskRoles[1] == '0') {
            $("#newItem").remove();
        }
    });*@
</script>

<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });


    $(document).ready(function() {
        $("#newItem").remove();

        $("#editItem").click(function() {
            document.location = '@Url.Action("AccommodationManagement", "Accommodation")';
        });
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function(){
            window.print();
        });

        $('#reloadItem').click(function() {
            location.reload();
        });

        $("#reportItem").click(function() {
        });

        $("#dashboardItem").click(function() {

        });
    });
</script>