﻿@model StarterProjectV2.Models.AccommodationInfo

@{
    ViewData["Title"] = "Income and Expense";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Accommodation Edit
}

    <body style="background-color: oldlace">
        <h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>

        <div class="card">


            <div class="card-header">
                <strong>Please fill up the following information</strong>
            </div>
            @using (Html.BeginForm("AccommodationEdit", "Accommodation", FormMethod.Post))
            {<div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label mr-3" for="text-input">Accommodation Month</label>
                        @{
                            var AccDate = Convert.ToDateTime(Model.AccommodationDate);
                            var val = AccDate.ToString("MMM-yyyy");
                        }
                        <div class="form-control col-md-2" type="text" readonly>
                            @val
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Monthly Income</label>
                        <div class="col-md-3" type="text" readonly>
                            @Html.TextBoxFor(m => m.MonthlyIncome, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "number" })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="text-input">Monthly Expense</label>
                        <div class="col-md-3" type="text" readonly>
                            @Html.TextBoxFor(m => m.MonthlyExpense, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "number" })

                        </div>
                    </div>

                    @Html.HiddenFor(m => m.AccommodationInfoId)
                </div>
                <div class="card-footer">
                    <button type="submit" class="submit btn btn-sm btn-primary">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>


                    <button type="reset" class="reset btn btn-sm btn-danger">
                        <i class="fa fa-ban"></i> Reset
                    </button>


                </div>
            }
        </div>
        </body>
        <script>
            $(document).ready(function () {
                $("#newItem").remove();

                $("#editItem").remove();
                $("#saveItem").remove();
                $("#deleteItem").remove();
                $('#printItem').click(function () {
                    window.print();
                });

                $('#reloadItem').click(function () {
                    location.reload();
                });
                $("#reportItem").remove();
                $("#dashboardItem").click(function () {
                    //document.location = 'Url.Action("ExportExcel", "OwnersInfo")';
                });
            });
        </script>
