﻿@model StarterProjectV2.Models.Module

@{
    ViewData["Title"] = "Module";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Module View
}

<body style="background-color: oldlace">
<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>

<div class="card">
    <div class="card-header">
        <strong>Please fill up the following information</strong>
    </div>

    <div class="card-body">

        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Module Id</label>
            @*<div class="col-md-1">
                @Html.TextBoxFor(m => m.ModuleId, new { @class = "form-control", placeholder = "Module Id", id = "number-input", name = "number-input", type = "text", @readonly = "readonly" })

            </div*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.ModuleId)
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Module Name</label>
            @*<div class="col-md-4">
               @Html.TextBoxFor(m => m.ModuleName, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text", @readonly = "readonly" })
            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.ModuleName)
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Module Order</label>
            @*<div class="col-md-1">
                @Html.TextBoxFor(m => m.ModuleOrder, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "number", @readonly = "readonly" })

            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.ModuleOrder)
                </p>
            </div>

        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });
        $('#reloadItem').click(function () {
            location.reload();
        });
        $("#reportItem").remove();
        $("#dashboardItem").click(function () {

        });
    });
</script>

