﻿@model StarterProjectV2.Models.Module

@{
    ViewData["Title"] = "Module";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Module Create
}

<body style="background-color: oldlace">
<h2 class="text-center mt-4" style="color:indianred">@ViewData["Title"]</h2>

<div class="card">
    <div class="card-header">
        <strong>Please fill up the following information</strong>
    </div>
    @using (Html.BeginForm("ModuleCreate", "Module", FormMethod.Post))
    {

        <div class="card-body">
            <div class="form-group row">
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Module Name</label>
                <div class="col-lg-4 col-md-4 col-sm-4">

                    @Html.TextBoxFor(m => m.ModuleName, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text", @required = 'd' })


                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Module Order</label>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    @Html.TextBoxFor(m => m.ModuleOrder, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "number", @required = 'd' })

                </div>
            </div>
            @*<div class="form-group row">
                    <label class="col-md-1 col-form-label" for="text-input">Module Order</label>
                    <div class="col-md-1">
                        @Html.TextBoxFor(m => m.ModuleOrder, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "number" })

                    </div>
                </div>*@
            @Html.HiddenFor(m => m.ModuleId)

        </div>
        <div class="card-footer d-flex justify-content-end">
            <button type="submit" class="submit btn btn-sm btn-primary px-3 py-2 m-1">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>


            <button type="reset" class="reset btn btn-sm btn-danger px-3 py-2 m-1">
                <i class="fa fa-ban"></i> Reset
            </button>


        </div>
    }

</div>
    </body>

<script>
    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });

        $("#dashboardItem").click(function () {
            //document.location = 'Url.Action("ExportExcel", "OwnersInfo")';
        });
    });
</script>
