﻿@model StarterProjectV2.ViewModels.ModuleList

@{
    ViewData["Title"] = "Module Management";
    int boolIdx = 0;
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{

    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Module Management
}


<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
<body style="background-color: oldlace">
<div class="card" style="margin-bottom: 0">

    <div class="table-responsive-lg">
        
        <table id="dtBasicExample" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
            <thead style="color: white; background-color:#315152">

                <tr>

                    <th scope="col">Order</th>
                    <th scope="col">Code</th>
                    <th scope="col">Module Name</th>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col"> Delete</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int noOfdata = Model.modules.Count();
                }
                @if (noOfdata != 0)
                {
                    foreach (var md in Model.modules)
                    {
                        <tr>
                            <td>@md.ModuleOrder</td>
                            <td>@md.ModuleId</td>
                            <td>@md.ModuleName</td>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="View"
                                        onclick="location.href = '@Url.Action("ModuleView", "Module", new { moduleId = md.ModuleId })'">
                                    <i class="icon-eye">
                                    </i>
                                </button>
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Edit"
                                        onclick="location.href = '@Url.Action("ModuleEdit", "Module", new { moduleId = md.ModuleId })'">
                                    <i class="icon-notebook">
                                    </i>
                                </button>
                            </td>
                            <td>
                                @using (Html.BeginForm("ModuleDelete", "Module", new { moduleId = md.ModuleId }, FormMethod.Post))
                                {
                                    <button type="submit"
                                            class="btn btn-light"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            disabled="ff"
                                            title="Delete" onclick="return confirm('Are you sure?')">
                                        <i class="icon-trash">
                                        </i>
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
    </body>

<script>
    $(document).ready(function() {
        var taskRoles = "@Model.TaskRoles";
        if (taskRoles[0] == '0') {
            $('table tr').find('td:eq(0),th:eq(0)').remove();
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(0),th:eq(0)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(0),th:eq(0)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            }
        } else {
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(1),th:eq(1)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(2),th:eq(2)').remove();
                }
            }
        }


        if (taskRoles[1] == '0') {
            $("#newItem").remove();
        }
    });
</script>


<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });


    $(document).ready(function() {
        $("#newItem").click(function() {
            document.location = '@Url.Action("ModuleCreate", "Module")';
        });

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $("#reportItem").remove();
        $("#dashboardItem").remove();
        $('#printItem').click(function(){
            window.print();
        });

        $('#reloadItem').click(function() {
            location.reload();
        });

        @*$("#reportItem").click(function() {
            document.location = '@Url.Action("ModuleReport", "Module")';
        });

        $("#dashboardItem").click(function() {

        });*@
    });
</script>



