﻿@model StarterProjectV2.ViewModels.OwnerRoomSlotManagementView


<div class="table-responsive-lg" style="display:block" id="table">

    <table id="mainTable" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0">
        <thead class="bg-blue" style="color:white">
            <tr>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">
                    Delete
                </th>
                <th scope="col">OwnerRoomSlotAssignmentId</th>
                <th scope="col">OwnersInfoId</th>
                <th scope="col">RoomSlotAssignmentId</th>
                @*<th scope="col">Rate</th>*@

            </tr>
        </thead>
        <tbody>

            @foreach (var ownerroomslot in Model.OwnerRoomSlotList)
            {
                <tr>
                    <td>
                        <button type="button"
                                class="btn btn-light"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="View"
                                onclick="location.href = '@Url.Action("", "RoomSlotAssignment")'">
                            <i class="icon-eye">
                            </i>
                        </button>
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-light"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Edit"
                                onclick="location.href='@Url.Action("", "RoomSlotAssignment")'">
                            <i class="icon-notebook">
                            </i>
                        </button>
                    </td>
                    <td>
                        @using (Html.BeginForm("OwnerRoomSlotDelete", "OwnerRoomSlotAssignment", new { ownerroomslotId = ownerroomslot.OwnerRoomSlotAssignmentId }, FormMethod.Post))
                        {
                            <button type="submit"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Delete" onclick="return confirm('Are you sure?')" >
                                <i class="icon-trash">
                                </i>
                            </button>
                        }
                    </td>
                    <td>@ownerroomslot.OwnerRoomSlotAssignmentId</td>
                    <td>@ownerroomslot.OwnersInfoId</td>
                    <td>@ownerroomslot.RoomSlotAssigmentId</td>
                    <td>@ownerroomslot.Rate</td>
                </tr>
            }

        </tbody>
    </table>
</div>

