﻿@model StarterProjectV2.Models.FinancialYear
@{
    ViewBag.Title = "Financial Year";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Adding Financial Year
}

<body style="background-color: oldlace">
<div class="row justify-content-center mt-4">
    <div class="card col-12">
        @using (Html.BeginForm("AddingAFinancialYear", "UserDetails", FormMethod.Post))
        {
            <div class="card-body">
                <h1 class="text-center" style="color:cadetblue">Financial Year Form</h1>
                <p class="text-muted"></p>
                <div class="input-group mb-3">
                    @Html.LabelFor(m => m.Year, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                    @Html.TextBoxFor(m => m.Year, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Financial Year", type = "text", @required = 'd', @id = "year" })
                </div>

                <div class="input-group mb-3">
                    @Html.LabelFor(m => m.FromMonth, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                    @Html.TextBoxFor(m => m.FromMonth,
                        new { @class = "form-control col-sm-3 col-lg-3 col-md-3", type = "date" })
                    @Html.LabelFor(m => m.ToMonth, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                    @*@Html.TextBoxFor(m => m.MarriageDate, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Marriage Date", type = "text" })*@
                    @Html.TextBoxFor(m => m.ToMonth,
                        new { @class = "form-control col-sm-3 col-lg-3 col-md-3", type = "date" })
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <button type="submit" class="submit btn btn-sm btn-primary px-3 py-2 m-1" onclick="FullSubmit()">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="reset btn btn-sm btn-danger px-3 py-2 m-1">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>

        }
    </div>
</div>
    </body>
<script>
    $(document).ready(function () {

        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $("#reportItem").remove();
        $("#dashboardItem").remove();
        $('#printItem').click(function () {
            window.print();
        });
        $('#reloadItem').click(function () {
            location.reload();
        });

    });

</script>

<script src="~/Content/vendors/js/toastr.min.js"></script>

<script>
    setTimeout(function () { $('#year').focus(); }, 200);
</script>
