﻿@model StarterProjectV2.Models.FinancialYear
@{
    ViewBag.Title = "Financial Year";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
  Financial Year View
}
    <body style="background-color: oldlace">
        <div class="row justify-content-center ">
            <div class="card col-12">
                @using (Html.BeginForm("AddingAFinancialYear", "UserDetails", FormMethod.Post))
                {
                    <div class="card-body">
                        <h1 class="text-center" style="color:indianred">Financial Year Form</h1>
                        <p class="text-muted"></p>
                        <div class="input-group mb-3">
                            @Html.LabelFor(m => m.Year, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                            @*@Html.TextBoxFor(m => m.Year, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Financial Year", type = "text", @readonly = "readonly" })*@
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                                    @Html.DisplayFor(m => m.Year)
                                </p>
                            </div>

                        </div>

                        <div class="input-group mb-3">
                            @Html.LabelFor(m => m.FromMonth, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                            @Html.TextBoxFor(m => m.FromMonth,
                                new { @class = "form-control col-sm-3 col-lg-3 col-md-3", type = "date", @readonly = "readonly", @Value = Model.FromMonth.ToString("yyyy-MM-dd") })
                            @*<div class="col-lg-4 col-md-4 col-sm-4">*@
                            @*<p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px; ">
                                @Html.DisplayFor(m => m.FromMonth,
                                new { @class = "form-control col-sm-3 col-lg-3 col-md-3", type = "date", @readonly = "readonly", @Value = Model.FromMonth.ToString("yyyy-MM-dd") })
                            </p>*@
                        </div>
                        <div class="input-group mb-3">
                            @Html.LabelFor(m => m.ToMonth, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })

                            @Html.TextBoxFor(m => m.ToMonth,
                                new { @class = "form-control col-sm-3 col-lg-3 col-md-3", type = "date", @readonly = "readonly", @Value = Model.ToMonth.ToString("yyyy-MM-dd") })
                            @*<div class="col-lg-4 col-md-4 col-sm-4">
                                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                                    @Html.DisplayFor(m => m.ToMonth,
                                            new { @class = "form-control col-sm-3 col-lg-3 col-md-3", type = "date", @readonly = "readonly", @Value = Model.ToMonth.ToString("yyyy-MM-dd") })
                                </p>
                            </div>*@

                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="submit btn btn-sm btn-primary" onclick="FullSubmit()">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                        <button type="reset" class="reset btn btn-sm btn-danger">
                            <i class="fa fa-ban"></i> Reset
                        </button>
                    </div>

                }
            </div>
        </div>

        </body>