﻿@model StarterProjectV2.ViewModels.UserDetailsView

@{
    ViewData["Title"] = "Edit User Details";
    var myList = Model.GetAllModuleListWithTasks;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        .container {
            position: relative;
            text-align: center;
            color: white;
            width: 128px;
            height: 128px;
        }

        .centered {
            position: absolute;
            top: 90%;
            left: 60%;
            transform: translate(-50%, -50%);
            background-color: gray;
            color: darkblue;
        }
    </style>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
   User Details Edit
}
<body style=" background-color: oldlace">
<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>

<div class="card">
    <div class="card-header">
        <strong>Please fill up the following information</strong>
    </div>
    @using (Html.BeginForm("UserDetailsEdit", "UserDetails", FormMethod.Post))
    {

        <div class="card-body">

            <div class="form-group row">
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">User Name</label>
                <div class="col-lg-3 col-md-4 col-sm-4 mr-0">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text"})
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">User Password</label>
                <div class="col-lg-3 col-md-4 col-sm-4 mr-3">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "password" })
                </div>
                @* <label class="col-sm-2 col-lg-2 col-md-2 col-form-label mr-3">User Profile Picture</label> *@
                @* <div class="col-lg-3 col-md-4 col-sm-4"> *@
                @*     @Html.TextBoxFor(m => m.UserProfilePicture, new { @class = "custom-file-input", id = "upload-file-picture", name = "file", type = "file" }) *@
                @*     $1$ <input type="file" class="custom-file-input" id="upload-file-picture" name="file" /> #1# *@
                @*     <label class="custom-file-label" for="upload-file-picture" id="upload-file-picture-label">Choose file</label> *@
                @* </div> *@
                <div class="container">
                    @* <img src="~/Content/images/avatars/choton.jpg" /> *@
                    @{
                        var time = "?" + DateTime.Now.ToString("h:mm:ss tt");
                    }
                    <img id="profile-pic" src="@Url.Content(Model.UserPicturePath+time)" alt="HTML5 Icon" width="128" height="128">
                    <input id="file" type="file" accept="image/png,image/jpeg" />
                </div>
            </div>

            <div class="form-group row mb-5">
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">User Display Name</label>
                <div class="col-lg-3 col-md-4 col-sm-4 mr-0">
                    @Html.TextBoxFor(m => m.UserDisplayName, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text" })
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">User Email</label>
                <div class="col-lg-3 col-md-4 col-sm-4 mr-0">
                    @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text" })
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">User Mobile No</label>
                <div class="col-lg-3 col-md-4 col-sm-4 mr-3">
                    @Html.TextBoxFor(m => m.UserMobileNumber, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text" })
                </div>
            </div>

            @*             @{ *@
            @*                 var myList = Model.GetAllModuleListWithTasks; *@
            @*             } *@
            @* <hr style=" border-top: 1px solid black;" /> *@

        </div>
        <div class="card-footer">
            <button type="submit" class="submit btn btn-sm btn-primary" onclick="FullSubmit()">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>


            <button type="reset" class="reset btn btn-sm btn-danger">
                <i class="fa fa-ban"></i> Reset
            </button>


        </div>

    }
    @* <input id="file" type="file"/> *@
    @* <br><img id="myImg" src="#" alt="your image" height=200 width=100> *@
</div>
    </body>
<script>
    window.addEventListener('load', function () {
        document.querySelector('input[type="file"]').addEventListener('change', function () {
            if (this.files && this.files[0]) {
                var img = $('#profile-pic')[0];  // $('img')[0]
                img.src = URL.createObjectURL(this.files[0]); // set src to file url
                img.onload = imageIsLoaded; // optional onload event listener
            }
        });
    });

    //function imageIsLoaded(e) { alert(e); }


</script>

<script type="text/javascript">
    function function_edit_picture() {
        var UserName = '@Model.UserName';
        //alert(UserName);
        //document.getElementById('uploader').onsubmit = function() {
        var formdata = new FormData(); //FormData object
        var fileInput = $('#file')[0];
        //Iterating through each files selected in fileInput
        //alert(fileInput.files[0].name);

        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i], UserName+".jpg");
        }
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '../UserDetails/Upload_Edit/');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //alert(xhr.responseText);
            }
        }
        return false;
    }
</script>

<script type="text/javascript">
    function function1()
    {
//        if ($('#user-role-view').is(':checked')) {
//
//        }
//        toastr.info('Yo!!!', 'FU', {
//            closeButton: true,
//            progressBar: true,
//        });

        var checkedViews = $('#user-role-view:checked').map(function() {
            return this.value;
        }).get();

        var checkedAdds = $('#user-role-add:checked').map(function () {
            return this.value;
        }).get();
        var checkedSaves = $('#user-role-save:checked').map(function () {
            return this.value;
        }).get();

        var checkedEdits = $('#user-role-edit:checked').map(function () {
            return this.value;
        }).get();

        var checkedDeletes = $('#user-role-delete:checked').map(function() {
            return this.value;
        }).get();

        var checkedPrints = $('#user-role-print:checked').map(function () {
            return this.value;
        }).get();

        var checkedCancels = $('#user-role-cancel:checked').map(function () {
            return this.value;
        }).get();

        var checkedResets = $('#user-role-reset:checked').map(function () {
            return this.value;
        }).get();

        var checkedFinds = $('#user-role-find:checked').map(function () {
            return this.value;
        }).get();


        @{
            List<Tuple<string,List<Tuple<string,string> >>> ModuleWithTask = new List<Tuple<string, List<Tuple<string, string>>>>();
        }
        var moduleList = [];
        @foreach (var module in myList)
        {
            <text>
                var taskList = [];
            </text>
            foreach (var task in module.Item2)
            {
                <text>
                    var prefixId = "@module.Item1.ModuleId" + "-" + "@task.TaskId";
                    var event = "";
                    if (checkedViews.includes(prefixId)) {
                        event += '1';
                    } else {
                        event += '0';
                    }
                    if (checkedAdds.includes(prefixId)) {
                        event += '1';
                    } else {
                        event += '0';
                    }
                    if (checkedSaves.includes(prefixId)) {
                        event += '1';
                    } else {
                        event += '0';
                    }
                    if (checkedEdits.includes(prefixId)) {
                        event += '1';
                    } else {
                        event += '0';
                    }
                    if (checkedDeletes.includes(prefixId)) {
                        event += '1';
                    } else {
                        event += '0';
                    }
                    if (checkedPrints.includes(prefixId)) {
                        event += '1';
                    } else {
                        event += '0';
                    }
                    if (checkedCancels.includes(prefixId)) {
                        event += '1';
                    } else {
                        event += '0';
                    }
                    if (checkedResets.includes(prefixId)) {
                        event += '1';
                    } else {
                        event += '0';
                    }
                    if (checkedFinds.includes(prefixId)) {
                        event += '1';
                    } else {
                        event += '0';
                    }
                    if (event != '000000000') {
                        var taskId = "@task.TaskId";
                        //alert(taskId);
                        taskList.push([taskId,event]);
                        //alert("csEvent");
                    }
                </text>
            }
            <text>
                var moduleId = "@module.Item1.ModuleId";
                if(taskList.length!=0)moduleList.push([moduleId, taskList]);
            </text>
        }
//        alert(JSON.stringify(moduleList));
        //moduleList = JSON.stringify(moduleList);

        var PartialUserDetailsViewModels = [];

        for (var i = 0; i < moduleList.length; i++) {
            var moduleWithTask = moduleList[i];
            var moduleId = moduleWithTask[0];
            var tskIdList = [];
            var tskEventList = [];
            for (var j = 0; j < moduleWithTask[1].length; j++) {
                var taskIdwithEvent = moduleWithTask[1][j];

                var taskId = taskIdwithEvent[0];
                var taskEvent = taskIdwithEvent[1];

                tskIdList.push(taskId);
                tskEventList.push(taskEvent);
                //alert(moduleId + " " + taskId + " " + taskEvent);
            }
            var tskListObj = { ModuleId: moduleId, TaskIdList:tskIdList, TaskEventList:tskEventList  };
//            tskListObj["TaskList"] = tskList;
            //alert(tskListObj);
            PartialUserDetailsViewModels.push(tskListObj);

        }


        var myModel = {
            UserName: $('#text-input').val(),
            Password: "",
            GetAllModuleListWithTasks:[],
            PartialUserDetailsViewModels: PartialUserDetailsViewModels,
            TaskWithRoles: [],
        };
        var flg = "true";
        if (PartialUserDetailsViewModels.length == 0) {
            flg = "false";
        }
        $.ajax({
            context: this,
            type: 'post',
            url: '../UserDetails/gettingUserDetailsModelForEdit/',
            data: myModel,
            success: function (result) {
                //alert(myModel.PartialUserDetailsViewModels);
                window.location = '../UserDetails/UserDetailsManagement?flg='+flg;
            },
            error: function () {
                window.location = '../UserDetails/UserDetailsManagement?flg=' + flg;
                //error();
            }
        });
//        $.ajax({
//            type: "POST",
//            data: JSON.stringify(model),
//            url: url,
//            contentType: "application/json"
//        }).done(function (res) {
//            $("#SomeDivToShowTheResult").html(res);
//        });
//        alert("module.Item1.ModuleId" + " " + "task.TaskId"+ " " + $('#text-input').val() + " " + "" + " " + event);
    }
</script>


<script>
    $('.checkbox-parent').change(function () {
        // Traverse the DOM to get associated child checkbox
        var $child = $(this).closest('tr').find('.checkbox-child');

        // Update child state based on checked status
        $child.prop('disabled', !this.checked);
    });
</script>


<script>
    $("#sel1").change(function () {
        $.getJSON("../Task/gettingTaskList", { moduleId: $("#sel1 option:selected").val() },
            function (data) {

                var select = $("#sel2");
                select.empty();


                select.append($('<option/>', {
                    value: 0,
                    text: "--"
                }));


                $.each(data, function (index, itemData) {

                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));

                });
            });
    });
</script>


<script type="text/javascript">
    $(function () {

        $(".dropdown-item").click(
            function () {

                var a = $("#dropdownMenu:first-child").text($(this).text());
                var b = $("#dropdownMenu:first-child").val($(this).text());

                var c = $('#dropDownMenu :selected').text();
                console.log(c);
            }
        );

    });

    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });
        $("#reportItem").remove();
        $("#dashboardItem").click(function () {
            //document.location = 'Url.Action("ExportExcel", "OwnersInfo")';
        });
    });

</script>

<script type="text/javascript">
    function FullSubmit() {
        function1();
        function_edit_picture();
    }
</script>

<script src="~/Content/vendors/js/jquery.min.js"></script>
<script src="~/Content/vendors/js/popper.min.js"></script>
<script src="~/Content/vendors/js/bootstrap.min.js"></script>
<script src="~/Content/vendors/js/pace.min.js"></script>
<script src="~/Content/vendors/js/toastr.min.js"></script>
<script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
<script src="~/Content/vendors/js/coreui.min.js"></script>
