﻿@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.0.2/jquery.min.js"></script>
    <style>
        .card-body {
            padding: 60px;
            background-image: url('../../Content/img/unnamed.jpg');
            background-size: cover;
        }
      
    </style>
}
@section FOOTERJS{

    <script src="~/Content/vendors/js/coreui.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
}
@section PAGETITLE{
    Home Page
}
@model OwnerSite.ViewModels.LoginViewModel

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>HAMS - Login</title>
    <!-- Icons-->
    <link href="~/Content/vendors/css/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/simple-line-icons.min.css" rel="stylesheet" />
    <!-- Main styles for this application-->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/pace.min.css" rel="stylesheet" />


    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
</head>

<body class="app flex-row align-items-center" style='background: url("../Content/img/Lobby.jpg") no-repeat center; background-size: cover;'>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group">
                    <div class="card " style=" box-shadow:0 5px 5px 0 pink, 0 5px 5px 0 pink">
                        <div class="card-body">
                            <div class="row">
                                <div class="col" align="left">
                                    <img src="~/Content/img/bestwestern-logo.png" alt="Heritage Hotel" style="width:65%;" />
                                </div>
                                <div class="col" align="center"></div>
                                <div class="col ml-sm-3" align="center">
                                    <img src="~/Content/img/Coral-Reef-Logo.png" alt="Coral Reef Properties" style="width:100%;" />
                                </div>
                            </div>
                            @* <img src="pic_trulli.jpg" alt="Italian Trulli"> *@
                            <h2 align="center" style="color: #008cba ;font:x-large; ">Welcome Owner</h2>
                            <h4 align="center" style="color: darkblue; font:x-large; margin-bottom: 30px ">Enter Your ID and Password</h4>
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group" align="center">
                                    @* @Html.LabelFor(m => m.OwnerSmartId, new { @class = "col-md-4 control-label"}) *@
                                    @* <label class="col-lg-4 col-md-4 col-sm-4 col-form-label" for="text-input">Owner ID</label> *@
                                    <div class="col-md-10">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" style="color: white; background-color: black">
                                                    <i class="icon-user"></i>
                                                </span>
                                            </div>
                                            @Html.TextBoxFor(m => m.OwnerSmartId, new { @class = "form-control", placeholder = "Slot ID / Smart ID", @required = 'd', @id = "login" })
                                            @Html.ValidationMessageFor(m => m.OwnerSmartId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                        <div class="col-md-10 mt-sm-3">


                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" style="color: white; background-color: black">
                                                        <i class="icon-lock"></i>
                                                    </span>
                                                </div>
                                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control password", placeholder = "Password", type = "password", @required = 'd' })
                                            </div>
                                        </div>

                                </div>
                                <div class="form-group" align="center">
                                    <div class="col-5">
                                        <button type="submit" id="Next" class="btn btn-primary px-4" style="background-color: #008CBA; color: white; border: #008cba 10rem " onMouseOver="this.style.color = 'black';this.style.backgroundColor='#008CBA'" onMouseOut="this.style.color = 'white';">LOGIN</button>
                                    </div>


                                    </div>
                                }
                                @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group" align="center">
                                    <div class="col-5  mt-3">
                                        <button type="submit" id="Next" class="btn btn-primary px-4" style="background-color: #008CBA; color: white; border: #008cba 10rem " onMouseOver="this.style.color = 'black';this.style.backgroundColor='#008CBA'" onMouseOut="this.style.color = 'white';">FORGET PASSWORD</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    var ErrorFlag = "@Model.ErrorFlag";
    if (ErrorFlag == "True") {
        toastr.error('Your provided information is not matching; Please, contact office.', 'Error!!!!', {
            closeButton: true,
            progressBar: true,
        });
    }
    </script>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
    <script>
        setTimeout(function () { $('#login').focus(); }, 200);
    </script>


</body>
</html>