﻿@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "";
}

@model OwnerSite.ViewModels.LoginViewModel

@* @foreach (var name in Model.OwnersName) *@
@* { *@
@*     <h1>@name</h1> *@
@* } *@
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>HAMS - Login</title>
    <!-- Icons-->
    <link href="~/Content/vendors/css/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/simple-line-icons.min.css" rel="stylesheet" />
    <!-- Main styles for this application-->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/pace.min.css" rel="stylesheet" />


    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
</head>

<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group">
                    <div class="card p-1">
                        <div class="card-body">
                            <div class="row">
                                <div class="col" align="left">
                                    <img src="~/Content/img/Best-Western-Logo.png" alt="Heritage Hotel" style="width:60%;" />
                                </div>
                                <div class="col" align="center"></div>
                                <div class="col ml-sm-3" align="center">
                                    <img src="~/Content/img/Coral-Reef-Logo.png" alt="Coral Reef Properties" style="width:100%;" />
                                </div>
                            </div>
                            <h5 align="center">Enter Your Owner ID</h5>
                            
                            @using (Html.BeginForm("SendingOTPViaSMS", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group" align="center">
                                    @* @Html.LabelFor(m => m.OwnerSmartId, new { @class = "col-md-4 control-label"}) *@
                                    @* <label class="col-lg-4 col-md-4 col-sm-4 col-form-label" for="text-input">Owner ID</label> *@
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.OwnerSmartId, new { @class = "form-control", @id = "OwnerSmartID", placeholder = "Owner ID", @required = 'd' })
                                        @Html.ValidationMessageFor(m => m.OwnerSmartId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            }

                            <h5 align="center">Enter Your Choice</h5>

                            <div align="center">Do you want to get your login code via Email or through SMS?</div>
                            <div class="row mt-3">
                                <div class="col-12 col-md-5 col-lg-5 col-xl-5" style="text-align: center;margin-bottom: 10px;">
                                    <button type="submit" id="Email" class="btn btn-primary px-4" onclick="sendOTPViaEmail()">
                                        <i class="fa fa-envelope">
                                        </i> Via Email
                                    </button>
                                </div>
                                <div class="col-12 col-md-7 col-lg-76 col-xl-7" style="text-align: center;margin-bottom: 10px;">
                                    <button type="submit" id="SMS" class="btn btn-primary px-4" onclick="sendOTPViaSMS()">
                                        <i class="fa fa-mobile-phone">
                                        </i> Via SMS
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function sendOTPViaSMS(){
            var data = $("#OwnerSmartID").val();
            @*alert(data);*@
            if (data !="") {
                window.location = "/Home/SendingOTPViaSMS?OwnerSmartId=" + data;
            }
            else {
                alert("Please fill up your Slot ID / Smart ID.")
            }
        }
        function sendOTPViaEmail() {
            var data = $("#OwnerSmartID").val();
            @*alert(data);*@
            if (data != "") {
                window.location = "/Home/SendingOTPViaEmail?OwnerSmartId=" + data;
            }
            else {
                alert("Please fill up your Slot ID / Smart ID.")
            }
        }
    </script>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>

</body>
</html>