﻿﻿@model StarterProjectV2.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Welcome to Hotel Owners' Management System (SecureProperty)";
}
@section PAGETITLE{
    About
}
<style>
    .small_card_div {
        word-wrap: break-word;
        background-color: #fff;
        padding: 6px;
        box-shadow: 0px 1px 2px 0px rgba(72, 72, 72, 0.21);
        border-radius: .5rem;
    }

    .big_card_div {
        padding: 10px;
        border-radius: 3px;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
    }

    canvas {
        border: 1px dotted gray;
    }

    .b-shadow {
        border: none;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
    }

    .lebels {
        font: 10px;
        text-decoration-color: aqua;
    }
</style>

<body style="background-color: oldlace">
    <div class="card text-cyan py-5" style="width:100%; height: 100%">
        <div class="card-body text-center">
            <div>
                <h2 class="mb-4">@ViewBag.Title</h2>

                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white b-shadow" style="background-color: #2699fb;">
                            <div class="card-body pb-2" style="height: 110px; text-align: center;">
                                <div style="font-size: 26px; color: #ffff82;">@Model.TodayArrival</div>
                                <div>Today Arrival</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white b-shadow" style="background-color: #a7312b;">
                            <div class="card-body pb-2" style="height: 110px; text-align: center;">
                                <div style="font-size: 26px;">@Model.TodayCheckOut </div>
                                <div>Today CheckOut</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white b-shadow" style="background-color: #00a576;">
                            <div class="card-body pb-2" style="height: 110px; text-align: center;">
                                <div style="font-size: 26px;">@Model.TodayStayOver </div>
                                <div>Today Stay Over</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white b-shadow" style="background-color: #65a900;">
                            <div class="card-body pb-2" style="height: 110px; text-align: center;">
                                <div style="font-size: 26px; color: #ffff82;">@Model.RoomsOccupiedLastNight</div>
                                <div>Rooms Occupied Last Night</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white b-shadow" style="background-color: #0027a9;">
                            <div class="card-body pb-2" style="height: 110px; text-align: center;">
                                <div style="font-size: 26px;">@Model.RoomsOccupiedThisMonth </div>
                                <div>Rooms Occupied This Month</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white b-shadow" style="background-color: #7f3da9;">
                            <div class="card-body pb-2" style="height: 110px; text-align: center;">
                                <div style="font-size: 26px;">@Model.RoomsOccupiedThisYear </div>
                                <div>Rooms Occupied This Year</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white b-shadow" style="background-color: #a90063;">
                            <div class="card-body pb-2" style="height: 110px; text-align: center;">
                                <div style="font-size: 26px; color: #ffff82;">@Model.NoOfFutureBookingThisMonth</div>
                                <div>No Of Future Booking This Month</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <div class="card text-white b-shadow" style="background-color: #FF6600">
                            <div class="card-body pb-2" style="height: 110px; text-align: center;">
                                <div style="font-size: 26px; color: #ffff82;">@Model.NoOfFutureBookingThisYear</div>
                                <div>No Of Future Booking This Year</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="row my-1">

                        <div class="col-sm-6 col-lg-4">
                            <div class="small_card_div" style="border: 1px solid #16c51687;">
                                🏨<strong>Total Rooms: @Model.InventoryCount</strong>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="small_card_div" style="border: 1px solid #2dd0eaa3;">
                                🛏️<strong>Occupied Rooms Today: @Model.OccupiedRoomsToday </strong>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-4">
                            <div class="small_card_div" style="border: 1px solid #2d4dea87;">
                                🛏️<strong>Available Rooms Today: @Model.AvailableRoomsToday </strong>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="row my-1">
                        @if (Model.LinkPermissions[0] == true)
                        {
                            <div class="col-sm-6 col-lg-3 mt-1">
                                <div class="big_card_div" style="border: 1px solid #16c51687; background-color:darkorange; color:black" id="1">
                                    ℹ️
                                    <a href="@Url.Action("SinglePageOwnersInfoManagement", "OwnersInfo")" style="color:black">
                                        <strong>
                                            Owner's Info In Single Page
                                        </strong>
                                    </a>
                                </div>
                            </div>
                        }

                        @if (Model.LinkPermissions[2] == true)
                        {

                            <div class="col-sm-6 col-lg-3 mt-1">
                                <div class="big_card_div" style="border: 1px solid #2d4dea87;background-color:crimson; color:black" id="3">
                                    📝
                                    <a href="@Url.Action("OwnerManagement", "OwnersInfo")" style="color:black">
                                        <strong>
                                            Owner Management
                                        </strong>
                                    </a>
                                </div>
                            </div>
                        }
                        @if (Model.LinkPermissions[1] == true)
                        {
                            <div class="col-sm-6 col-lg-3 mt-1">
                                <div class="big_card_div" style="border: 1px solid #2dd0eaa3;background-color:limegreen; color:black" id="2">
                                    📅
                                    <a href="@Url.Action("CalendarView", "OwnersInfo")" style="color:black">
                                        <strong>
                                            Calendar View
                                        </strong>
                                    </a>
                                </div>
                            </div>
                        }
                        @if (Model.LinkPermissions[6] == true)
                        {
                            <div class="col-sm-6 col-lg-3 mt-1">
                                <div class="big_card_div" style="border: 1px solid #16c51687; background-color:royalblue; color:black" id="7">
                                    💸
                                    <a href="@Url.Action("PendingView", "Dividend")" style="color:black">
                                        <strong>
                                            Owner's Dividend Management
                                        </strong>
                                    </a>
                                </div>
                            </div>
                        }
                        @*</div>*@
                        @*</div>*@
                        @*<div class="d-flex justify-content-center">*@
                        @*<div class="row my-1">*@
                        @if (Model.LinkPermissions[3] == true)
                        {
                            <div class="col-sm-6 col-lg-3 mt-1">
                                <div class="big_card_div" style="border: 1px solid #2d4dea87;background-color:sandybrown; color:black" id="4">
                                    📝
                                    <a href="@Url.Action("UserdetailsManagement", "Userdetails")" style="color:black">
                                        <strong>
                                            User Management
                                        </strong>
                                    </a>
                                </div>
                            </div>
                        }

                        @if (Model.LinkPermissions[4] == true)
                        {
                            <div class="col-sm-6 col-lg-3 mt-1">
                                <div class="big_card_div" style="border: 1px solid #2dd0eaa3;background-color:mediumvioletred; color:black" id="5">
                                    📅
                                    <a href="@Url.Action("DayCloseManagement", "OwnersInfo")" style="color:black">
                                        <strong>
                                            Day Close
                                        </strong>
                                    </a>
                                </div>
                            </div>
                        }
                        @if (Model.LinkPermissions[5] == true)
                        {
                            <div class="col-sm-6 col-lg-3 mt-1">
                                <div class="big_card_div" style="border: 1px solid #2dd0eaa3;background-color:lawngreen; color:black" id="6">
                                    🌐
                                    <a href="@Url.Action("OwnerPostManagement", "OwnersInfo")" style="color:black">
                                        <strong>
                                            Owner Post Management
                                        </strong>
                                    </a>
                                </div>
                            </div>
                        }
                        @if (Model.LinkPermissions[7] == true)
                        {
                            <div class="col-sm-6 col-lg-3 mt-1">
                                <div class="big_card_div" style="border: 1px solid #16c51687; background-color:deepskyblue; color:black" id="8">
                                    🛌
                                    <a href="@Url.Action("OwnerRoomBookingManagement", "Booking")" style="color:black">
                                        <strong>
                                            Owner's Room Booking Management
                                        </strong>
                                    </a>
                                </div>
                            </div>
                        }
                        @*</div>*@

                    </div>
                </div>

                @*<div class="d-flex justify-content-center">
                        <div class="chart-container ml-2" style="text-align: center;width: 70%; min-height: 350px">
                            <canvas id="myChart"></canvas>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var temp = parseInt("@Model.RoomsOccupiedLastNight", 10);
        var temp5 = parseInt("@Model.TodayArrival", 10);
        var temp6 = parseInt("@Model.TodayCheckOut", 10);
        var temp7 = parseInt("@Model.TodayStayOver", 10);
        var temp1 = parseInt("@Model.RoomsOccupiedThisMonth", 10);
        var temp2 = parseInt("@Model.RoomsOccupiedThisYear", 10);
        var temp3 = parseInt("@Model.NoOfFutureBookingThisMonth", 10);
        var temp4 = parseInt("@Model.NoOfFutureBookingThisYear", 10);//10 is the base
        //alert(temp);

        if (false) {

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ['Rooms occupied last night', 'Rooms occupied this month', 'Rooms occupied this year', 'No. of future booking this month', 'No. of future booking this year', 'Today arrival', 'Today check out', 'Today stay over'],
                datasets: [{
                    label: 'Stats',
                    data: [temp, temp1, temp2, temp3, temp4, temp5,temp6,temp7],
                    barThickness: 1,
                    maxBarThickness: 2,
                    minBarLength: 2,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    display: false,
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "#cc65fe",
                            fontSize: 20,

                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        }

    </script>

    @*<script type="text/javascript">
            $("#1").click(function () {
                window.location = '@Url.Action("SinglePageOwnersInfoManagement", "OwnersInfo")' ;

                });
        </script>
        <script type="text/javascript">
            $("#2").click(function () {
                window.location = '@Url.Action("CalendarView", "OwnersInfo")' ;

                });
        </script>

        <script type="text/javascript">
            $("#3").click(function () {
                window.location = '@Url.Action("OwnerManagement", "OwnersInfo")' ;

                });
        </script>
        <script type="text/javascript">
            $("#4").click(function () {
                window.location = '@Url.Action("UserdetailsManagement", "Userdetails")' ;

                });
        </script>
        <script type="text/javascript">
            $("#5").click(function () {
                window.location = '@Url.Action("DayCloseManagement", "OwnersInfo")' ;

                });
        </script>

        <script type="text/javascript">
            $("#6").click(function () {
                window.location = '@Url.Action("OwnerPostManagement", "OwnersInfo")' ;

                });
        </script>
        <script type="text/javascript">
            $("#7").click(function () {
                window.location = '@Url.Action("PendingView", "Dividend")' ;

                });
        </script>
        <script type="text/javascript">
            $("#8").click(function () {
                window.location = '@Url.Action("OwnerRoomBookingManagement", "OwnersInfo")' ;

                });
        </script>*@

    <script>
        $("#breadcrumb_nav").remove();

        $(document).ready(function () {
            $("#newItem").remove();

            $("#editItem").remove();
            $("#saveItem").remove();
            $("#deleteItem").remove();
            $('#printItem').remove();

            $('#reloadItem').remove();

            $("#dashboardItem").remove();
        });

    </script>

    <script>
    $(function () {

        if ('@TempData["Message"]') {

            showToastr('@TempData["Status"]', '@TempData["Message"]')
        }
    });
    </script>

</body>
