﻿@{
    ViewBag.Title = "Home Page";
}
<head>

    <!-- Icons -->
    <link href="~/Content/vendors/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/Content/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/vendors/css/simple-line-icons.min.css" rel="stylesheet">

    @* <!-- Main styles for this application --> *@
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/css/submenu.css" rel="stylesheet" />
    <!-- Styles required by this views -->
    @* <link href="~/Content/vendors/css/daterangepicker.min.css" rel="stylesheet"> *@
    <link href="~/Content/vendors/css/gauge.min.css" rel="stylesheet">
    <link href="~/Content/vendors/css/toastr.min.css" rel="stylesheet">

    @* <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"> *@
    @section HEADERCSS{
        <style>
      
        .background1 { background-image: url('https://ik.imagekit.io/tvlk/apr-asset/TzEv3ZUmG4-4Dz22hvmO9NUDzw1DGCIdWl4oPtKumOg=/hotels/24000000/23710000/23709100/23709030/3a45fa43_z.jpg?tr=q-40,c-at_max,w-740,h-500&_src=imagekit'); background-size: cover; }

          
        /*.button2:hover{
            background-color: #008CBA;
            color:white;
        }*/
        </style>
    }
</head>
@section PAGETITLE{
    Home
} 
<div class="container w-50 mt-2 " style="display: flex;justify-content: center;">
<div style="margin-top: 5rem; margin-bottom: auto">
    <div class="card-body text-center" style="margin-top:60px">
        <h1 class="m-auto" style="color:#008cba">HAMS</h1>
        <h3 class="m-auto " style="color: whitesmoke; font: message-box; font-size:27px; margin-top: 50px ">A Complete Hotel Owners' Management System </h3>
        <button type="button" class="btn mt-5 p-2 button2" style="color: #008cba;border:#008CBA red 10rem; width:100px " onMouseOver="this.style.color = 'white';this.style.backgroundColor='#008CBA'" onMouseOut="this.style.color = '#008cba';this.style.backgroundColor='white'" onclick="location.href='@Url.Action("Login", "Accounts", new {})'">LOGIN</button>
    </div>
</div>
</div>