﻿@model StarterProjectV2.ViewModels.NotificationViewModel

@{
    ViewData["Title"] = "Notification View";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{

    <script src="~/Content/vendors/js/coreui.min.js"></script>
    <style>
        div.pager {
            /*text-align: right;*/
            /*width: 60em;*/
            /*margin: 1em auto;*/
        }
    </style>
}
@section PAGETITLE{
    Notification
}


<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
<form class="form-inline mb-3 ml-3 d-flex justify-content-center">
    @*<input value="@Model.searchfield" id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search">*@
    @*@Html.DropDownListFor(m => m.NotificationHeaders, new SelectList(Model.NotificationHeaders), "-----", new { @class = "form-control", id = "searchfield" })*@
    <select id="searchfield" name="searchfield" class="form-control">
        @foreach (string option in Model.NotificationHeaders)
        {
            <option value="@option" @(option == Model.searchfield ? "selected='selected'" : "")>@option</option>

        }
    </select>
    <button class="btn btn-primary" type="button" onclick="search()">Search</button>
</form>

<div style="padding-left: 10%; padding-right: 10%;">
    <div class="table-responsive-lg">
        <table id="mainTable1" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
            <thead style="color: white; background-color:#315152">

                <tr>
                    <th scope="col">List of Notifications</th>
                </tr>
            </thead>
            <tbody id="appended-row">
                <div id="ten-original-list" style="display: block">
                    @foreach (var notification in Model.NotificationList)
                    {
                        string class_text1 = "", class_text2 = "";
                        if (notification.NotificationHeader == "Post")
                        {
                            class_text1 = "fa fa-file text-success mr-1";
                            class_text2 = "fa fa-plus text-success mr-3";
                        }
                        else if (notification.NotificationHeader == "EditedPost")
                        {
                            class_text1 = "fa fa-file text-warning mr-1";
                            class_text2 = "fa fa-edit text-warning mr-3";
                        }
                        else if (notification.NotificationHeader == "Comment")
                        {
                            class_text1 = "fa fa-comment text-success mr-1";
                            class_text2 = "fa fa-plus text-success mr-3";
                        }
                        else if (notification.NotificationHeader == "EditedComment")
                        {
                            class_text1 = "fa fa-comment text-warning mr-1";
                            class_text2 = "fa fa-edit text-warning mr-3";
                        }
                        else if (notification.NotificationHeader == "DeletedPost")
                        {
                            class_text1 = "fa fa-file text-danger mr-1";
                            class_text2 = "fa fa-trash text-danger mr-3";
                        }
                        else if (notification.NotificationHeader == "DeletedComment")
                        {
                            class_text1 = "fa fa-comment text-danger mr-1";
                            class_text2 = "fa fa-trash text-danger mr-3";
                        }
                        else if (notification.NotificationHeader == "Booking")
                        {
                            class_text1 = "fa fa-bed text-success mr-1";
                            class_text2 = "fa fa-plus text-success mr-3";
                        }
                        else if (notification.NotificationHeader == "CancelledBooking")
                        {
                            class_text1 = "fa fa-bed text-danger mr-1";
                            class_text2 = "fa fa-trash text-danger mr-3";
                        }
                        else if (notification.NotificationHeader == "EditInfo")
                        {
                            class_text1 = "fa fa-user text-warning mr-1";
                            class_text2 = "fa fa-edit text-warning mr-3";
                        }
                        var text = (notification.isSeen == false) ? " (not seen yet)" : " (seen already)";
                        if (notification.isSeen == true)
                        {
                            <tr class="d-md-table-row" style="background-color: rgba(255, 255, 255, 0.075);">
                                <td><i class="@class_text1"></i> <i class="@class_text2"></i><a href="@notification.NotificationLink" style="padding: 0px; color: black; text-align: center; text-decoration: none"> @notification.NotificationText</a> </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="d-md-table-row">
                                <td><i class="@class_text1"></i> <i class="@class_text2"></i><a href="@notification.NotificationLink" onclick="clickedForSeen('@notification.NotificationId')" style="padding: 0px; color: black; text-align: center; text-decoration: none"> @notification.NotificationText</a></td>
                            </tr>
                        }
                    }
                </div>
            </tbody>
        </table>
    </div>
</div>
@{
    int noOfNotification = Model.NoOfNotification;
}
@*<h3>@noOfOwnr</h3>*@
                                                                                                                                                                                                                                                                                                                                                                                
@if (noOfNotification != 0)
{
    @*     @noOfNotification *@
    <div class="pager" style="padding-top: 0px; padding-bottom:35px; direction:ltr; display:block;" align="center" id="pagination">

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center flex-wrap">
                @{
                    int prev_idx = Model.index - 1;
                }
                <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(1)">« First</a></li>
                <li class="page-item previous"><a class="page-link" href="#" onclick="previous(@prev_idx, @Model.NoOfNotification)">« Previous</a></li>
                @{
                    int idx = Model.index;
                    int next_idx = Model.index + 1;
                    int noOfNotifications = Model.NoOfNotification;
                    if (noOfNotifications < 10)
                    {
                        for (int i = 1; i <= noOfNotifications; i++)
                        {
                            <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                        }
                    }
                    else
                    {
                        if (idx <= 5)
                        {
                            if (noOfNotifications < 10)
                            {
                                for (int i = 1; i <= noOfNotifications; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }
                            }
                            else
                            {
                                for (int i = 1; i <= 10; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }
                            }
                        }
                        else if (idx > 5 && idx <= (noOfNotifications - 5))
                        {
                            for (int i = idx - 4; i <= idx + 5; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }
                        }
                        else
                        {
                            for (int i = noOfNotifications - 9; i <= noOfNotifications; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }

                        }
                    }
                }
                <li class="page-item next"><a class="page-link" href="#" onclick="next(@next_idx, @noOfNotifications)">Next »</a></li>
                <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(@Model.NoOfNotification)">Last »</a></li>
            </ul>
        </nav>

    </div>

}
@* </div> *@



<script>
    function clickedForSeen(notificationId) {
        var myModel = {
            notificationId: notificationId,
        };
        //if (x === "PD" || x === "CD" || x ==="B" || x === "BD" || x === "OE") {
        $.ajax({
            context: this,
            type: 'post',
            url: '../home/UpdateNotification/',
            data: myModel,
            success: function (result) {
                //alert(myModel.PartialUserDetailsViewModels);
                //window.location = '../Home/About';
            },
            error: function () {
                //error();
            }
        });
        //}
    }
</script>


<script>
    var isActiveNew = true;
    var index = @Model.index;
    $(document).ready(function () {
        //EITHER USE A GLOBAL VAR OR PLACE VAR IN HIDDEN FIELD
        //IF FOR WHATEVER REASON YOU WANT TO STOP POLLING
        pollServerForOwnerSiteNotification();
    });
    var cnt = 0;
    function pollServerForOwnerSiteNotification() {
        if (isActiveNew) {
            window.setTimeout(function () {
                $.ajax({
                    context: this,
                    url: "../Notification/GettingNotificationList",
                    type: "POST",
                    success: function (result) {
//                        $('#count').html(result);
//                        if (result.length == 0) {
//                            alert("No new notification yet");
//                        } else {
//                            alert("New notification");
//                        }
                        if (result.length != 0 && index === 1) {
                            document.getElementById('ten-original-list').style.display = 'none';
                            addNewRowUpTop(result);
                        }
                        pollServerForOwnerSiteNotification();
                    },
                    error: function () {
                        //ERROR HANDLING
                        pollServerForOwnerSiteNotification();
                    }
                });
            }, 2500);
        }
    }
</script>
<script>
    $("#" + @Model.index).addClass("active");
</script>
<script>
    var s2 = $("#searchfield").val();
    function search() {
        //alert("gdjsgajgd");
        var s = $("#searchfield").val();
        //alert(s);
        window.location.href = '../home/NotificationView?searchfield=' + s + '&index=1';
    }

</script>
<script>
    function previous(i, n) {
        if (i >= 1) {
            window.location.href = "../home/NotificationView?searchfield=" + s2 + "&index=" + i;
        }
    }
</script>
<script>
    function next(i, n) {
        if (i <= n) {
            window.location.href = "../home/NotificationView?searchfield=" + s2 + "&index=" + i;
        }
    }
</script>
<script>
    function paginationPureJS(i) {

        window.location.href = "../home/NotificationView?searchfield=" + s2 + "&index=" + i;
    }
</script>
<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });


    $(document).ready(function() {
        $("#newItem").click(function() {
            document.location = '@Url.Action("ModuleCreate", "Module")';
        });

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function(){
            window.print();
        });

        $('#reloadItem').click(function() {
            location.reload();
        });

        $("#reportItem").click(function() {
            document.location = '@Url.Action("ModuleReport", "Module")';
        });

        $("#dashboardItem").click(function() {

        });
    });
</script>


<script src="~/Content/vendors/js/jquery.signalR-2.4.1.min.js"></script>
<script src="/signalr/hubs"></script>
