﻿@section PAGETITLE{
    Task Management
}
@{
    /**/

    ViewData["Title"] = "Task Management";
}
<h2>@ViewData["Title"]</h2>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>HAMS - Login</title>
    <!-- Icons-->
    <link href="~/Content/vendors/css/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/simple-line-icons.min.css" rel="stylesheet" />
    <!-- Main styles for this application-->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/pace.min.css" rel="stylesheet" />

    <link href="~/Content/css/submenu.css" rel="stylesheet" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
</head>
<body>
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">
                        <button type="button" class="btn btn-danger" id="Delete">Delete</button>
                    </th>
                    <th scope="col">Code</th>
                    <th scope="col">Module Name</th>
                    <th scope="col">Task Name</th>
                    <th scope="col">View</th>
                    <th scope="col">Add</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Save</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Cancel</th>
                    <th scope="col">Reset</th>
                    <th scope="col">Print</th>
                    <th scope="col">Find</th>
                    <th scope="col">Report</th>
                </tr>
            </thead>
            <tbody>
                <script language="javascript" type="text/javascript">
                    for (var a = 0; a < 10; a++) {
                        document.write("<tr>");
                        document.write("<td>");
                        document.write(['<button type="button" class="btn btn - secondary" data-toggle="tooltip" data-placement="bottom" title="View">']);
                        document.write(['<i class="icon-eye"></i>']);
                        document.write("</button>");
                        document.write("</td>");
                        document.write("<td>");
                        document.write(['<button type="button" class="btn btn - secondary" data-toggle="tooltip" data-placement="bottom" title="Edit">']);
                        document.write(['<i class="icon-notebook"></i>']);
                        document.write("</button>");
                        document.write("</td>");
                        document.write("<td>");
                        document.write(['<div class="form-check">']);
                        document.write(['<input class="form-check-input" type = "checkbox" value = "" id = "defaultCheck1" >']);
                        document.write(['</div>']);
                        document.write("</td>");
                        document.write("<td>Dummy</td>");
                        document.write("<td>Dummy</td>");
                        document.write("<td>Dummy</td>");
                        document.write("<td>");
                        document.write(['<div class="form-check">']);
                        document.write(['<input class="form-check-input" type = "checkbox" value = "" id = "defaultCheck1" >']);
                        document.write(['</div>']);
                        document.write("</td>");
                        document.write("<td>");
                        document.write(['<div class="form-check">']);
                        document.write(['<input class="form-check-input" type = "checkbox" value = "" id = "defaultCheck1" >']);
                        document.write(['</div>']);
                        document.write("</td>");
                        document.write("<td>");
                        document.write(['<div class="form-check">']);
                        document.write(['<input class="form-check-input" type = "checkbox" value = "" id = "defaultCheck1" >']);
                        document.write(['</div>']);
                        document.write("</td>");
                        document.write("<td>");
                        document.write(['<div class="form-check">']);
                        document.write(['<input class="form-check-input" type = "checkbox" value = "" id = "defaultCheck1" >']);
                        document.write(['</div>']);
                        document.write("</td>");
                        document.write("<td>");
                        document.write(['<div class="form-check">']);
                        document.write(['<input class="form-check-input" type = "checkbox" value = "" id = "defaultCheck1" >']);
                        document.write(['</div>']);
                        document.write("</td>");
                        document.write("<td>");
                        document.write(['<div class="form-check">']);
                        document.write(['<input class="form-check-input" type = "checkbox" value = "" id = "defaultCheck1" >']);
                        document.write(['</div>']);
                        document.write("</td>");
                        document.write("<td>");
                        document.write(['<div class="form-check">']);
                        document.write(['<input class="form-check-input" type = "checkbox" value = "" id = "defaultCheck1" >']);
                        document.write(['</div>']);
                        document.write("</td>");
                        document.write("<td>");
                        document.write(['<div class="form-check">']);
                        document.write(['<input class="form-check-input" type = "checkbox" value = "" id = "defaultCheck1" >']);
                        document.write(['</div>']);
                        document.write("</td>");
                        document.write("<td>");
                        document.write(['<div class="form-check">']);
                        document.write(['<input class="form-check-input" type = "checkbox" value = "" id = "defaultCheck1" >']);
                        document.write(['</div>']);
                        document.write("</td>");
                        document.write("<td>");
                        document.write(['<div class="form-check">']);
                        document.write(['<input class="form-check-input" type = "checkbox" value = "" id = "defaultCheck1" >']);
                        document.write(['</div>']);
                        document.write("</td>");
                        document.write("</tr>");
                    }
                </script>
            </tbody>
        </table>
    </div>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        var clicked = false;
        $("#Select").on("click", function () {
            $(".form-check-input").prop("checked", !clicked);
            clicked = !clicked;
        });
    </script>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
</body>