﻿@section PAGETITLE{
   Task Create
}
<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @@version v2.0.0
* @@link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>HAMS - Login</title>
    <!-- Icons-->
    <link href="~/Content/vendors/css/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/simple-line-icons.min.css" rel="stylesheet" />
    <!-- Main styles for this application-->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/pace.min.css" rel="stylesheet" />

    <link href="~/Content/css/submenu.css" rel="stylesheet" />

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

</head>



<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    <div class="container-fluid">
        <div class="animated fadeIn">

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Basic Form</strong>
                            Base for Other Forms
                        </div>
                        <div class="card-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Task ID</label>
                                    <div class="col-md-9">
                                        <p class="form-control-static">Dummy</p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="select1">Module Name</label>
                                    <div class="col-md-9" style="height: 100% !important ">
                                        <select id="select1" name="select1" class="form-control">
                                            <option value="0">Please select</option>
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="select1">Parent Name</label>
                                    <div class="col-md-9" style="height: 100% !important ">
                                        <select id="select1" name="select1" class="form-control">
                                            <option value="0">Please select</option>
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="text-input">Task Order</label>
                                    <div class="col-md-9">
                                        <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                                        <span class="help-block">This is a help text</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Task Events</label>
                                    <div class="col-md-9 col-form-label">
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="check1">
                                            <label class="form-check-label" for="inline-checkbox1">View</label>
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="check2">
                                            <label class="form-check-label" for="inline-checkbox2">Add</label>
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="check3">
                                            <label class="form-check-label" for="inline-checkbox3">Save</label>
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="check1">
                                            <label class="form-check-label" for="inline-checkbox1">Edit</label>
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="check2">
                                            <label class="form-check-label" for="inline-checkbox2">Delete</label>
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="check3">
                                            <label class="form-check-label" for="inline-checkbox3">Print</label>
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" type="checkbox" id="inline-checkbox1" value="check1">
                                                <label class="form-check-label" for="inline-checkbox1">Cancel</label>
                                            </div>
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" type="checkbox" id="inline-checkbox2" value="check2">
                                                <label class="form-check-label" for="inline-checkbox2">Reset</label>
                                            </div>
                                            <div class="form-check form-check-inline mr-1">
                                                <input class="form-check-input" type="checkbox" id="inline-checkbox3" value="check3">
                                                <label class="form-check-label" for="inline-checkbox3">Find</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="text-input">Task Path</label>
                                    <div class="col-md-9">
                                        <input type="text" id="text-input" name="text-input" class="form-control" placeholder="Text">
                                        <span class="help-block">This is a help text</span>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <script src="~/js/toastr.min.js"></script>
                        <div class="card-footer">
                            <button type="submit" class="submit btn btn-sm btn-primary">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                            <button type="reset" class="reset btn btn-sm btn-danger">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>
                    </div>




                    <script type="text/javascript">
                        toastr.options = {
                            "preventDuplicates": true,
                            "preventOpenDuplicates": true
                        };

                        $(".submit").click(function () {
                            if (document.getElementById("inputError2").value) {
                                toastr.success('Ok!!', 'Success', { timeOut: 5000 })
                            }
                            else {
                                toastr.error('You Got Error', 'Inconceivable!', { timeOut: 5000 })
                            }
                        });

                        $(".reset").click(function () {
                            document.location.reload(true)
                        });

                    </script>



                    <!-- Bootstrap and necessary plugins-->
                    <script src="~/Content/vendors/js/jquery.min.js"></script>
                    <script src="~/Content/vendors/js/popper.min.js"></script>
                    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
                    <script src="~/Content/vendors/js/pace.min.js"></script>
                    <script src="~/Content/vendors/js/toastr.min.js"></script>
                    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
                    <script src="~/Content/vendors/js/coreui.min.js"></script>
</body>
</html>












