﻿
@{
    ViewData["Title"] = "Import Transaction History";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">


    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}



@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Import Transaction History
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Import Transaction History</title>
</head>
<body>
    
</body>
</html>

<div class="card" style="margin-bottom: 0">
    <h2 class="text-center mt-3" style="color:indianred">@ViewData["Title"]</h2>
    @*<input id="reportGenerateParameter" type="text">*@
    @*<button id="CalenderGenerateButton" style="color:black; font-size:larger" class="btn btn-success float-left col-sm-3 col-md-3 col-lg-3 mt-4" target="blank">Generate Calender View</button>*@
    @*@Html.ActionLink("Download_PDF", "OwnersInfo", new { param = })*@
    @*<a href="OwnersInfo/Download_PDF" target="_blank" class="btn btn-primary" style="margin-top:20px;">Download_PDF</a>*@
<div class="card-body">
    <h3>Please make sure the followings:</h3>
    <ul class="font-xl">
        <li>Fields need to be in predefined order</li>
        <li>Number fields cannot contain hyphen (-) or any other unusual characters.</li>
        <li>Number fields must be filled with numbers.</li>
        <li>Date fields must contain date.</li>
    </ul>

    @using (Html.BeginForm("Importexcel", "TransactionHistory", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div style="display: flex;">
            <input style="margin: auto; border: 2px solid black; margin-top: 10px; margin-bottom: 10px;" type="file" name="postedFile" required class="font-xl" />
        </div>
        <div class="row" style="justify-content: center; font-size:20px;">
            <div>
                <button type="submit" class="btn btn-primary m-1">Import</button>
            </div>
            <div>
                <button type="reset" class="btn btn-danger m-1">Cancel</button>
            </div>
            <div>
                <button type="button" class="btn btn-primary m-1" onclick="javascript:window.history.back();">
                    <i class="fa fa-angle-left"></i> Back
                </button>
            </div>
        </div>
    }



    <div class="card-footer">


    </div>
</div>

</div>
<script>
    $(document).ready(function() {
        @*$("#newItem").click(function() {
            document.location = '@Url.Action("BookingCreate", "Booking")';
        });*@
        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $("#reportItem").remove();
        $('#dashboardItem').remove();
        $('#printItem').remove();
        $('#reloadItem').click(function() {
            location.reload();
        });
        displayToastr();

    });
</script>
<script>
    function displayToastr() {
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "positionClass": "toast-top-center",
            "onclick": null,
            "showDuration": "200",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "800",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        //toastr.success('uccessfully', 'Success!');
        if('@ViewBag.Status' == 'Error')
        {
            toastr.error('Error occured in line ' + '@ViewBag.ErrorLine', 'Error!')
        }
        else if('@ViewBag.Status' == 'OK')
        {
            toastr.success('File has been imported successfully', 'Success!' )
        }
        
    }
</script>