﻿@model StarterProjectV2.ViewModels.OwnerRoomBookingManagementView
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@section PAGETITLE{
    Booking Management
}
<!DOCTYPE html>
<div class="card" style="margin-bottom: 0">

    <div>
        <ol class="breadcrumb mb-5" id="breadcrumb_nav">

            <div class="btn-group m-auto" role="group" aria-label="Button group">

                <a class="btn" href="#" id="newItem">
                    <i class="icon-docs"></i> New
                </a>
                @*<a class="btn" href="#" id="editItem">
                        <i class="icon-notebook"></i> Edit
                    </a>
                    <a class="btn" href="#" id="saveItem">
                        <i class="icon-drawer"></i> Save
                    </a>*@
                <a class="btn" href="#" id="reloadItem">
                    <i class="icon-refresh"></i> Reload
                </a>
                @*<a class="btn" href="#" id="deleteItem">
                        <i class="icon-trash"></i> Delete
                    </a>*@
                <a class="btn" href="#" id="printItem">
                    <i class="icon-printer"></i> Print
                </a>
                @*<a class="btn" href="#" id="reportItem">
                        <i class="icon-doc"></i> Report
                    </a>
                    <a class="btn" href="#" id="dashboardItem">
                        <i class="icon-graph"></i>  Dashboard
                    </a>*@
            </div>
        </ol>
        <h3 align="center" style="color:indianred">Current and Future Room Bookings</h3>
        <form class="form-inline mb-3 ml-3 d-flex justify-content-center">
            @*<input value="@Model.SearchField" id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-primary" type="button" onclick="search()">Search</button>*@
            @*<div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>*@
        </form>
        @{
            int noOfbooking = Model.OwnerRoomBookingListCurrent.Count();
        }
        @if (noOfbooking != 0)
        {
            <div class="p-3">
                <table id="mainTable m-1" data-pagination="true" class="table table-hover table-light" style="margin-bottom: 0">
                    <thead style="color: white; background-color:#315152">
                        <tr>
                            @*<th scope="col">Edit</th>*@
                            @*<th scope="col">Id</th>*@
                            <th scope="col">Booking No.</th>
                            <th scope="col">Main Guest Name</th>
                            <th scope="col">Main Guest Mobile</th>
                            @*<th scope="col">Main Guest Email</th>*@
                            <th scope="col">No of Adult</th>
                            <th scope="col">No of Child</th>
                            <th scope="col">No of Room</th>
                            <th scope="col">Arrival Date</th>
                            <th scope="col">Departure Date</th>
                            <th scope="col">Booking Status</th>
                            <th scope="col">Checked In</th>
                            <th scope="col">
                                Cancel
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var ownerRoomBooking in Model.OwnerRoomBookingListCurrent)
                        {
                            <tr>
                                @*<td>
                                        <button type="button"
                                                class="btn btn-light"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="Edit"
                                                onclick="location.href = '@Url.Action("BookingAddorEdit", "Booking", new {ownerRoomBookngId = ownerRoomBooking.OwnerRoomBookngId})'">
                                            <i class="icon-notebook">
                                            </i>
                                        </button>
                                    </td>*@
                                @*<td>@ownerRoomBooking.OwnerRoomBookngId</td>*@
                                @if (ownerRoomBooking.BookingToken == "" || ownerRoomBooking.BookingToken == null)
                                {
                                    <td>Not Assigned</td>
                                }
                                else
                                {
                                    <td>@ownerRoomBooking.BookingToken</td>
                                }
                                <td>@ownerRoomBooking.GuestNameMain</td>
                                <td>@ownerRoomBooking.GuestMobile</td>
                                @*<td>@ownerRoomBooking.Email</td>*@
                                <td>@ownerRoomBooking.NoOfAdult</td>
                                <td>@ownerRoomBooking.NoOfChild</td>
                                <td>@ownerRoomBooking.NoOfRoomRequested</td>
                                @{
                                    var Startdate = Convert.ToDateTime(ownerRoomBooking.Startdate);
                                    var val1 = Startdate.ToString("dd-MMM-yyyy");
                                    <td>@val1</td>
                                }
                                @{
                                    var Enddate = Convert.ToDateTime(ownerRoomBooking.Enddate);
                                    var val2 = Enddate.ToString("dd-MMM-yyyy");
                                    <td>@val2</td>
                                }

                                @if (ownerRoomBooking.IsBookingCompleted == "No")
                                {
                                    <td>Pending</td>
                                }
                                else if (ownerRoomBooking.IsBookingCompleted == "Yes" && ownerRoomBooking.BookingToken != "" || ownerRoomBooking.BookingToken != null)
                                {
                                    if (!string.IsNullOrWhiteSpace(ownerRoomBooking.BookingToken))
                                    {
                                        <td>Approved<i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
                                    }
                                    else
                                    {
                                        <td>Requested<i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
                                    }
                                }
                                else if (ownerRoomBooking.IsBookingCompleted == "Cancelled")
                                {
                                    <td>Cancelled<i class="fa fa-close" aria-hidden="true"></i></td>
                                }
                                else
                                {
                                    @ownerRoomBooking.IsBookingCompleted
                                }
                                <td>@ownerRoomBooking.HasStayedOrNot</td>
                                <td>
                                    @if (ownerRoomBooking.IsBookingCompleted != "Cancelled")
                                    {
                                        using (Html.BeginForm("BookingDelete", "Booking", new { ownerRoomBookingId = ownerRoomBooking.OwnerRoomBookngId }, FormMethod.Post))
                                        {
                                            <button type="submit"
                                                    class="btn btn-light"
                                                    data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="Cancel"
                                                    onclick="functionforSMS()">
                                                <i class="icon-trash">
                                                </i>
                                            </button>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        }
        else
        {
            <h3 align="center">No Upcoming (Current and Future) Room Bookings</h3>
        }
        <div style="text-align : center">
            <button class="btn btn-lg m-3" align="center"
                    style="background:cadetblue;color:white"
                    onclick="location.href = '@Url.Action("CalendarView", "Booking")'">
                Calendar View
            </button>
        </div>
        <div style="text-align : center">
            <button class="btn btn-lg m-3" align="center"
                    style="background:cadetblue;color:white"
                    onclick="location.href = '@Url.Action("BookingManagementHistory", "Booking")'">
                See Booking History
            </button>
        </div>
    </div>
</div>

<script>
    $(function () {

        if ('@ViewBag.Message') {

            showToastr('@ViewBag.Status', '@ViewBag.Message')
        }
    });
</script>

@*Send Notification to Room Admin that The Owner Has Cancelled his room booking for vacation*@
<script>
    function functionforSMS() {
        var checkedOwner = $('#selected-owner:checked').map(function () {
            return this.value;
        }).get();
        //alert($("#mytextarea1").val());

        var myModel = {
            OwnerIdList: checkedOwner,
            SMSText: $("#mytextarea1").val()
        };

        $.ajax({
            context: this,
            type: 'post',
            url: '../OwnersInfo/gettingOwnersInfoForSendingSMS/',
            data: myModel,
            success: function (result) {
            },
            error: function () {
                //error();
            }
        });

    }
</script>

<script>
    $(function () {
        /* $('[data-toggle="tooltip"]').tooltip()*/
    })
    var s2 = $("#SearchField").val();
    function search() {
        //alert("gdjsgajgd");
        var s = $("#SearchField").val();
        //alert(s);
        window.location.href = '../Booking/BookingManagement?SearchField=' + s + '&index=1';
    }
    function previous(i, n) {
        if (i >= 1) {
            window.location.href = "../Booking/BookingManagement?SearchField=" + s2 + "&index=" + i;
        }
    }
    function next(i, n) {
        if (i <= n) {
            window.location.href = "../Booking/BookingManagement?SearchField=" + s2 + "&index=" + i;
        }
    }
    function paginationPureJS(i) {

        window.location.href = "../Booking/BookingManagement?SearchField=" + s2 + "&index=" + i;
    }
</script>

<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });



    $(document).ready(function() {
        $("#newItem").click(function() {
            document.location = '@Url.Action("BookingCreate", "Booking")';
        });

        $("#editItem").remove();
        $("#saveItem").remove();
        //$("#deleteItem").remove();

        $('#printItem').click(function(){
            window.print();
        });

        $('#reloadItem').click(function() {
            location.reload();
        });

        @*$("#dashboardItem").click(function() {
            document.location = '@Url.Action("ExportExcel", "OwnersInfo")';
        });*@
        $("#reportItem").remove();

    });


</script>



