﻿@model StarterProjectV2.ViewModels.CalendarViewModel
@{
    ViewBag.Title = "Calendar View - Owner Bookings";
}

@section HEADERJS{

    <style>
        div.pager {
            /*text-align: right;*/
            /*width: 60em;*/
            /*margin: 1em auto;*/
        }

        .C9999 {
            background: LightPink;
        }

        .table {
            font-size: 13px;
        }

        table.table {
            empty-cells: show;
        }

        table th, td {
            font-size: 11px;
            padding: 5px !important;
            width: 60px;
            max-width: 65px !important;
            overflow-wrap: break-word;
            word-break: break-all;
        }
    </style>
}

@section PAGETITLE{
    Calender View
}
<body style="background-color: oldlace">
    <div class="card" style="margin-bottom: 0">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-4">
                    <p class="page-item " style="width:40%;">
                        <a class="page-link" href="#" style="text-align: center;color:black" onclick="previous(@Model.Offset)">« Previous</a>
                    </p>
                </div>
                <div class="col-4">
                    <h2 class="text-center" style="color:red">@ViewData["Title"]</h2>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <p class="page-item " style="width:40%;">
                        <a class="page-link" href="#" style="text-align: center;color:black" onclick="next(@Model.Offset)">Next »</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid">

            <table class="table table-bordered m-2" style="border:2px solid #ccc;">
                <thead>
                    <tr>
                        @{
                            var date1 = DateTime.Today.AddDays(15 * Model.Offset);
                            var date2 = date1.AddDays(15);

                            <th scope="col" style="background: red;font-size: 12px;">@date1.Date.ToString("dd-MM-yyyy")</th>

                            for (; date1.Date < date2.Date; date1 = date1.AddDays(1))
                            {
                                <th style="font-size: 12px;" scope="col">@date1.Date.ToString("dd-MM-yyyy")</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (int roww = 1; roww <= 36; roww++)
                        {
                            <tr id="@roww">
                                @{ for (int col = 0; col <= 15; col++)
                                    {
                                        if (Model.Offset == 0)
                                        {
                                            if (col == 0)
                                            {
                                                <td id="@roww-@col" style="width: 10%; font-size: 12px;background-color: @Model.calendarMatrixColor[roww, col]">
                                                    @Model.calendarMatrix[roww, col]
                                                </td>
                                            }
                                            else if (col == 1)
                                            {
                                                <td id="@roww-@col" style="width: 10%; font-size: 12px;background-color: @Model.calendarMatrixColor[roww, col]">
                                                    @Model.calendarMatrix[roww, col]
                                                </td>
                                            }
                                            else
                                            {
                                                <td id="@roww-@col" style="width: 5%; font-size: 12px; background-color: @Model.calendarMatrixColor[roww, col]">@Model.calendarMatrix[roww, col]</td>
                                            }
                                        }
                                        else if (Model.Offset < 0)
                                        {
                                            <td id="@roww-@col" style="font-size: 12px;background-color: @Model.calendarMatrixColor[roww, col]">
                                                @Model.calendarMatrix[roww, col]
                                            </td>
                                        }
                                        else
                                        {
                                            <td id="@roww-@col" style="font-size: 12px; justify-content: center; background-color: @Model.calendarMatrixColor[roww, col]">@Model.calendarMatrix[roww, col]</td>
                                        }
                                    }
                                }
                            </tr>
                        }
                        int row = 37;
                        {
                            <tr id="@row">
                                <td style="font-size: 12px;" id="@row-0">Inventory Count</td>
                                @{ for (int col = 1; col <= 15; col++)
                                    {
                                        <td style="font-size: 12px;" id="@row-@col">@Model.calendarMatrix[row, col]</td>

                                    }
                                }
                            </tr>

                        }
                        row = 38;
                        {
                            <tr id="@row">
                                <td id="@row-0">Rooms Reserved</td>
                                @{ for (int col = 1; col <= 15; col++)
                                    {
                                        <td style="font-size: 12px;" id="@row-@col">@Model.calendarMatrix[row, col]</td>

                                    }
                                }
                            </tr>
                        }
                        row = 39;
                        {
                            <tr id="@row">
                                <td style="font-size: 12px;" id="@row-0">Rooms Available</td>
                                @{ for (int col = 1; col <= 15; col++)
                                    {
                                        <td style="font-size: 12px;" id="@row-@col">@Model.calendarMatrix[row, col]</td>

                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="table-responsive-lg" id="js-table">
                <table id="dtBasicExample" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0"></table>
            </div>

        </div>
    </div>
</body>

<script>
    function next(i) {
        window.location.href = "../Booking/CalendarView?offset=" + (i + 1);
    };
    function previous(i) {
        window.location.href = "../Booking/CalendarView?offset=" + (i - 1);
    };

    $(document).ready(function () {
        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').remove();
        $('#reloadItem').remove();
        $("#reportItem").remove();
        $("#dashboardItem").remove();
    });
</script>
