﻿@model StarterProjectV2.ViewModels.ReferralRoomBookingManagementView
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@{
    ViewData["Title"] = "Previous Referral Room Booking Management";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">


    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
<!DOCTYPE html>

<div class="card" style="margin-bottom: 0">

    <div>
        <ol class="breadcrumb mb-5" id="breadcrumb_nav">

            <div class="btn-group m-auto" role="group" aria-label="Button group">

                @*<a class="btn" href="#" id="newItem">
                    <i class="icon-docs"></i> New
                </a>*@
                @*<a class="btn" href="#" id="editItem">
                        <i class="icon-notebook"></i> Edit
                    </a>
                    <a class="btn" href="#" id="saveItem">
                        <i class="icon-drawer"></i> Save
                    </a>*@
                <a class="btn" href="#" id="reloadItem">
                    <i class="icon-refresh"></i> Reload
                </a>
                @*<a class="btn" href="#" id="deleteItem">
                        <i class="icon-trash"></i> Delete
                    </a>*@
                <a class="btn" href="#" id="printItem">
                    <i class="icon-printer"></i> Print
                </a>
                @*<a class="btn" href="#" id="reportItem">
                        <i class="icon-doc"></i> Report
                    </a>
                    <a class="btn" href="#" id="dashboardItem">
                        <i class="icon-graph"></i>  Dashboard
                    </a>*@
            </div>
        </ol>
        <h3 class="text-center" style="color:indianred">@ViewData["Title"]</h3>
        <form class="form-inline mb-3 ml-3 d-flex justify-content-center">
            <input value="@Model.SearchField" id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="button" onclick="search()">Search</button>
            @*<div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>*@
        </form>
        @{
            int noOfbooking = Model.ReferralBookingListHistory.Count();
        }
        @if (noOfbooking != 0)
        {
    <div class="p-3">
        <table id="mainTable1" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
            <thead style="color: white; background-color:#315152">

                <tr>
                    @*<th scope="col">Edit</th>*@
                    @*<th scope="col">Id</th>*@
                    <th scope="col">Booking Token</th>
                    <th scope="col">Main Guest Name</th>
                    <th scope="col">Main Guest Mobile</th>
                    @*<th scope="col">Main Guest Email</th>*@
                    <th scope="col">No of Adult</th>
                    <th scope="col">No of Child</th>
                    <th scope="col">No of Room</th>
                    <th scope="col">Arrival Date</th>
                    <th scope="col">Departure Date</th>
                    <th scope="col">Booking Status</th>
                    <th scope="col">Checked In</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var referralBooking in Model.ReferralBookingListHistory)
                {
                    <tr>
                        @*<td>
                            <button type="button"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Edit"
                                    onclick="location.href = '@Url.Action("BookingAddorEdit", "Booking", new {ownerRoomBookngId = ownerRoomBooking.OwnerRoomBookngId})'">
                                <i class="icon-notebook">
                                </i>
                            </button>
                        </td>*@
                        @*<td>@ownerRoomBooking.OwnerRoomBookngId</td>*@
                        @if (referralBooking.BookingToken == "" || referralBooking.BookingToken == null)
                        {
                            <td>Not Assigned</td>
                        }
                        else
                        {
                            <td>@referralBooking.BookingToken</td>
                        }
                        <td>@referralBooking.MainGuestName</td>
                        <td>@referralBooking.GuestMobile</td>
                        @*<td>@ownerRoomBooking.Email</td>*@
                        <td>@referralBooking.NoOfAdult</td>
                        <td>@referralBooking.NoOfChild</td>
                        <td>@referralBooking.NoOfRoomRequested</td>
                        @{
                            var Startdate = Convert.ToDateTime(referralBooking.RequestedStartDate);
                            var val1 = Startdate.ToString("dd-MMM-yyyy");
                            <td>@val1</td>
                        }
                        @{
                            var Enddate = Convert.ToDateTime(referralBooking.RequestedEndDate);
                            var val2 = Enddate.ToString("dd-MMM-yyyy");
                            <td>@val2</td>
                        }

                        @if (referralBooking.IsBookingCompleted == "No")
                        {
                            <td>Pending</td>
                        }
                        else if (referralBooking.IsBookingCompleted == "Yes")
                        {
                            <td>Approved<i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
                        }
                        else if (referralBooking.IsBookingCompleted == "Cancelled")
                        {
                            <td>Cancelled<i class="fa fa-close" aria-hidden="true"></i></td>
                        }
                        else
                        {
                            @referralBooking.IsBookingCompleted
                        }
                        <td>@referralBooking.HasStayedOrNot</td>

                    </tr>

                }

            </tbody>

        </table>
    </div>

        }
        else
        {
            <h3 align="center">No Previous Referral Room Bookings</h3>
        }

    </div>
</div>

@*Send Notification to Room Admin that The Owner Has Cancelled his room booking for vacation*@
<script>
    function functionforSMS() {
        var checkedOwner = $('#selected-owner:checked').map(function () {
            return this.value;
        }).get();
        //alert($("#mytextarea1").val());

        var myModel = {
            OwnerIdList: checkedOwner,
            SMSText: $("#mytextarea1").val()
        };

        $.ajax({
            context: this,
            type: 'post',
            url: '../OwnersInfo/gettingOwnersInfoForSendingSMS/',
            data: myModel,
            success: function (result) {
            },
            error: function () {
                //error();
            }
        });

    }
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    function viewfunction(booking_id) {
        //alert(acc_id);
        window.location.href = "/Booking/ReferralBookingView?Id=" + booking_id;
    }
</script>
<script>
    var s2 = $("#searchfield").val();
    function search() {
        //alert("gdjsgajgd");
        var s = $("#searchfield").val();
        //alert(s);
        window.location.href = '../Booking/ReferralBookingManagementHistory?searchfield=' + s + '&index=1';
    }
    function previous(i, n) {
        if (i >= 1) {
            window.location.href = "../Booking/ReferralBookingManagementHistory?searchfield=" + s2 + "&index=" + i;
        }
    }
    function next(i, n) {
        if (i <= n) {
            window.location.href = "../Booking/ReferralBookingManagementHistory?searchfield=" + s2 + "&index=" + i;
        }
    }
    function paginationPureJS(i) {

        window.location.href = "../Booking/ReferralBookingManagementHistory?searchfield=" + s2 + "&index=" + i;
    }
</script>

<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });

    $(document).ready(function() {
        $("#newItem").click(function() {
            document.location = '@Url.Action("ReferralBookingCreate", "Booking")';
        });

        $("#editItem").remove();
        $("#saveItem").remove();
        //$("#deleteItem").remove();

        $('#printItem').click(function(){
            window.print();
        });

        $('#reloadItem').click(function() {
            location.reload();
        });

        @*$("#dashboardItem").click(function() {
            document.location = '@Url.Action("ExportExcel", "OwnersInfo")';
        });*@
        $("#reportItem").remove();

    });
</script>