﻿@model StarterProjectV2.ViewModels.AllotmentManagementView
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@{
    ViewBag.Title = "Allotment Management";
}
@section PAGETITLE{
    Allotment Management
}


<body style="background-color: oldlace">
    <h2 class="text-center mt-4" style="color: indianred">@ViewData["Title"]</h2>
    <form class="form-inline mb-3 ml-3 d-flex justify-content-center" id="searchForm">

        @Html.DropDownListFor(m => m.searchfield, Enumerable.Empty<SelectListItem>(), new {@Id= "searchfield", @class = "form-control", placeholder = "Search", @autofocus = "autofocus", style="width:200px" })
        <button class="btn btn-primary" type="button"  onclick="search()">Search</button>
    </form>
    <div class="card" style="margin-bottom: 0">
        <div class="table-responsive-lg" id="table">

            <table id="mainTable" data-pagination="true" class="table table-hover table-light" style="margin-bottom: 0">
                <thead style="background-color:#315152;color:white">
                    <tr>
                        <th scope="col">SlotId</th>
                        <th scope="col">No of Slot</th>
                        <th scope="col">Monthly Allotment</th>
                        <th scope="col">Yearly Allotment</th>
                        <th scope="col">Created At</th>
                        <th scope="col">View</th>
                        <th scope="col">Edit</th>
                        <th scope="col">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Allotment in @Model.AllotmentList)
                    {
                    <tr>
                        <td>@Allotment.SlotId</td>
                        <td>@Allotment.NoOfSlot</td>
                        <td>@Allotment.MonthlyAllotment</td>
                        <td>@Allotment.YearlyAllotment</td>
                        <td>@Allotment.CreatedAt</td> @*var time = "?" + DateTime.Now.ToString("h:mm:ss tt");*@
                        <td>
                            <button type="submit"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="View"
                                    disabled="hh"
                                    onclick="location.href = '@Url.Action("AllotmentView", "Configuration", new { ConfAllotmentID = Allotment.ConfAllotmentID })'">
                                <i class="icon-eye">
                                </i>
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Edit"
                                    onclick="location.href='@Url.Action("AllotmentEdit", "Configuration", new { ConfAllotmentID = Allotment.ConfAllotmentID })'">
                                <i class="icon-notebook">
                                </i>
                            </button>
                        </td>
                        <td>
                            @using (Html.BeginForm("AllotmentDelete", "Configuration", new { ConfAllotmentID = Allotment.ConfAllotmentID }, FormMethod.Post))
                            {
                                <button type="submit"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Delete" onclick="return confirm('Are you sure?')"
                                        disabled="hh">
                                    <i class="icon-trash">
                                    </i>
                                </button>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</body>
@{
    int NoOfPage = Model.noOfPage;
}
@if (NoOfPage != 0)
{

    <div class="pager" style="padding-top: 20px; direction:ltr; display:block;" align="center" id="pagination">

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center flex-wrap">
                @{
                    int prev_idx = Model.index - 1;
                }
                <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(1)">« First</a></li>
                <li class="page-item previous"><a class="page-link" href="#" onclick="previous(@prev_idx, @Model.noOfPage)">« Previous</a></li>
                @{
                    int idx = Model.index;
                    int next_idx = Model.index + 1;
                    int noOfPage = Model.noOfPage;
                    if (noOfPage < 10)
                    {
                        for (int i = 1; i <= noOfPage; i++)
                        {
                            <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                        }
                    }
                    else
                    {
                        if (idx <= 5)
                        {
                            if (noOfPage < 10)
                            {
                                for (int i = 1; i <= noOfPage; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }
                            }
                            else
                            {
                                for (int i = 1; i <= 10; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }
                            }
                        }
                        else if (idx > 5 && idx <= (noOfPage - 5))
                        {
                            for (int i = idx - 4; i <= idx + 5; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }
                        }
                        else
                        {
                            for (int i = noOfPage - 9; i <= noOfPage; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }

                        }
                    }
                }
                <li class="page-item next"><a class="page-link" href="#" onclick="next(@next_idx, @noOfPage)">Next »</a></li>
                <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(@Model.noOfPage)">Last »</a></li>
            </ul>
        </nav>

    </div>

}

<script>
    $(function () {

        LoadSelect2("#searchfield", "/OwnersInfo/GetSlotIdList");

    });

</script>

<script>
    var s2 = $("#searchfield").val();
    function search() {
        var s = $("#searchfield").val();
        window.location.href = '../Configuration/AllotmentManagement?searchfield=' + s + '&index=1';
    }

</script>

<script>
    $("#" + @Model.index).addClass("active");
</script>

<script>
    function previous(i, n) {
        if (i >= 1) {
            window.location.href = "../Configuration/AllotmentManagement?searchfield=" + s2 + "&index=" + i;
        }
    }
</script>

<script>
    function next(i, n) {
        if (i <= n) {
            window.location.href = "../Configuration/AllotmentManagement?searchfield=" + s2 + "&index=" + i;
        }
    }
</script>

<script>
    function paginationPureJS(i) {

        window.location.href = "../Configuration/AllotmentManagement?searchfield=" + s2 + "&index=" + i;
    }
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });
    $(document).ready(function() {
        $("#newItem").click(function() {
            document.location = '@Url.Action("AllotmentCreate", "Configuration")';
        });

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function(){
            window.print();
        });

        $('#reloadItem').click(function() {
            location.reload();
        });
        $("#reportItem").remove();

        @*$("#reportItem").click(function() {
            document.location = '@Url.Action("RoomReport", "OwnersInfo")';
        });*@
        $("#dashboardItem").click(function() {
        });
    });
</script>
