﻿@model StarterProjectV2.ViewModels.AllotmentView

@{
    ViewData["Title"] = "Allotment Edit";
}
@section PAGETITLE{
    Allotment Edit
}
<body style=" background-color: oldlace">
    <h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
    <div class="card">


        <div class="card-header">
            <strong>Please Edit information</strong>
        </div>
        @using (Html.BeginForm("AllotmentEdit", "Configuration", FormMethod.Post))
        {<div class="card-body">

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Slot Id</label>
                    <div class="col-md-3" type="text" readonly>
                        @Html.TextBoxFor(m => m.SlotId, new { @class = "form-control", @required = "required", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">No Of Slot</label>
                    <div class="col-md-3" type="text" readonly>
                        @Html.TextBoxFor(m => m.NoOfSlot, new { @class = "form-control" })

                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Monthly Allotment</label>
                    <div class="col-md-3" type="text" readonly>
                        @Html.TextBoxFor(m => m.MonthlyAllotment, new { @class = "form-control", @required = "required" })

                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="text-input">Yearly Allotment</label>
                    <div class="col-md-3" type="text" readonly>
                        @Html.TextBoxFor(m => m.YearlyAllotment, new { @class = "form-control", @required = "required" })

                    </div>
                </div>

                @Html.HiddenFor(m => m.ConfAllotmentID)
            </div>
            <div class="card-footer">
                <button type="submit" class="submit btn btn-sm btn-primary">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>


                <button type="reset" class="reset btn btn-sm btn-danger">
                    <i class="fa fa-ban"></i> Reset
                </button>


            </div>
        }
    </div>
</body>

<script>
    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });
        $("#reportItem").remove();
        $("#dashboardItem").click(function () {
            //document.location = 'Url.Action("ExportExcel", "OwnersInfo")';
        });
    });
</script>

