﻿@model StarterProjectV2.ViewModels.AllotmentView
@{
    ViewBag.Title = "Allotment View";
}
@section PAGETITLE{
  Allotment Create
}

<body style=" background-color:oldlace">
<div class="row justify-content-center mt-4">
    @* Hello*@
    <div class="card col-12">
        <div class="card-body">
            <h1 class="text-center mb-4" style="color:cadetblue">Allotment Create Form</h1>
            <p class="text-muted"></p>
            <div>
                @using (Html.BeginForm("AllotmentAddorEdit", "Configuration", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {

                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Slot Id</label>
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.DropDownListFor(m => m.SlotId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">No Of Slot</label>
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.TextBoxFor(m => m.NoOfSlot, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Monthly Allotment</label>
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.TextBoxFor(m => m.MonthlyAllotment, new { @class = "form-control", @required = "req" })
                        </div>

                    </div>
                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Yearly Allotment</label>
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.TextBoxFor(m => m.YearlyAllotment, new { @class = "form-control", @required = "req" })
                        </div>

                    </div>

                    <hr />

                    <div class="row" style="justify-content: center">
                        <div>
                            <button type="submit" class="btn btn-primary m-1" onclick="full_submit()">Submit</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-danger m-1">Cancel</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary m-1" onclick="javascript:window.history.back();">
                                <i class="fa fa-angle-left"></i> Back
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {

        LoadSelect2("#SlotId", "/OwnersInfo/GetSlotIdList");

    });

</script>
<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });
    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });
        $('#reportItem').remove();
        $('#dashboardItem').remove();

    });
</script>
