﻿@model StarterProjectV2.ViewModels.ConfPostCommentApprovalView

@{
    ViewData["Title"] = "Post & Comment Auto Approval Edit";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}

<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
<div class="card">


    <div class="card-header">
        <strong>Please Edit information</strong>
    </div>
    @using (Html.BeginForm("BlogPageAutoApprovalEdit", "Configuration", FormMethod.Post))
    {
    <div class="card-body">
    <div class="form-check">
        @Html.CheckBoxFor(m => m.PostApproval, new { @class = "form-check-input", id = "flexCheckDefault", name = "post", type = "checkbox" })
        <label class="form-check-label" for="flexCheckDefault">
            Auto Post Approval Enabled?
        </label>
    </div>
    <div class="form-check">
        @Html.CheckBoxFor(m => m.CommentApproval, new { @class = "form-check-input", id = "flexCheckDefault", name = "comment", type = "checkbox" })
        <label class="form-check-label" for="flexCheckDefault">
            Auto Comment Approval Enabled?
        </label>
    </div>
    <div class="card-footer">
        <button type="submit" class="submit btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o"></i> Submit
        </button>
        <button type="reset" class="reset btn btn-sm btn-danger">
            <i class="fa fa-ban"></i> Reset
        </button>
    </div>
</div>
    }
<script>
    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });
        $("#reportItem").remove();
        $("#dashboardItem").click(function () {
            //document.location = 'Url.Action("ExportExcel", "OwnersInfo")';
        });
    });
</script>

