﻿@model StarterProjectV2.ViewModels.InventoryView

@{
    ViewData["Title"] = "Inventory Room Edit";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Inventory Room Edit
}
<body style="background-color: oldlace">
<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
<div class="card">


    <div class="card-header">
        <strong>Please Edit information</strong>
    </div>
    @using (Html.BeginForm("InventoryRoomEdit", "Configuration", FormMethod.Post))
    {<div class="card-body">

         <div class="form-group row">
             <label class="col-md-3 col-form-label" for="text-input">Inventory Count</label>
             <div class="col-md-3" type="text" readonly>
                 @Html.TextBoxFor(m => m.InventoryCount, new { @class = "form-control", placeholder = @Model.InventoryCount, id = "number-input", name = "number-input", type = "number", @required = "req" })

             </div>
         </div>

         <div class="form-group row">
             <label class="col-md-3 col-form-label" for="text-input">From Date</label>
             <div class="col-md-3" type="text" readonly>
                 @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", placeholder = @Model.FromDate, id = "number-input", name = "number-input", type = "date", @required = "req" })

             </div>
         </div>
         <div class="form-group row">
             <label class="col-md-3 col-form-label" for="text-input">To Date</label>
             <div class="col-md-3" type="text" readonly>
                 @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", placeholder = @Model.ToDate, id = "number-input", name = "number-input", type = "date", @required = "req" })

             </div>
         </div>

         @*<div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">Created At</label>
                <div class="col-md-3" type="text" readonly>
                    @Html.TextBoxFor(m => m.CreatedAt, new { @class = "form-control", placeholder = "Date", id = "number-input", name = "number-input", type = "date", @required = "req" })

                </div>
            </div>*@



         @Html.HiddenFor(m => m.ConfInventoryRoomID)
     </div>
        <div class="card-footer">
            <button type="submit" class="submit btn btn-sm btn-primary">
                <i class="fa fa-dot-circle-o"></i> Submit
            </button>


            <button type="reset" class="reset btn btn-sm btn-danger">
                <i class="fa fa-ban"></i> Reset
            </button>


        </div>
    }
</div>
</body>
<script>
    $(document).ready(function () {
        $("#newItem").remove();
        $("#dashboardItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });
        $("#reportItem").remove();
        //$("#dashboardItem").click(function () {
        
        //});
    });
</script>

