﻿@model StarterProjectV2.ViewModels.OwnersContributionView
@{
    ViewBag.Title = "Owner's Contribution Create";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>

}
@section PAGETITLE{
    Owner's Contribution Create
}
    <body style="background-color: oldlace">
        <div class="row justify-content-center mt-4">
            @* Hello*@
            <div class="card col-12">
                <div class="card-body">
                    <h1 class="text-center mb-5" style="color:cadetblue">Owners Contribution Create Form</h1>
                    <p class="text-muted"></p>
                    <div>
                        @using (Html.BeginForm("OwnersContributionAddorEdit", "Configuration", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {

                            <div class="form-group row mb-3" style="display: flex; justify-content: center">
                                <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Amount</label>
                                <div class="col-sm-3 col-lg-3 col-md-3">
                                    @Html.TextBoxFor(m => m.Amount, new { @class = "form-control", name = "AverageRoomRate", type = "number", id = "Title", @required = "req" })
                                </div>

                            </div>


                            <div class="form-group row mb-3" style="display: flex; justify-content: center">
                                <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Start Date</label>
                                <div class="col-sm-3 col-lg-3 col-md-3">
                                    @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", name = "Title", type = "date", id = "Title", @required = "req" })
                                </div>
                            </div>

                            <div class="form-group row mb-3" style="display: flex; justify-content: center">
                                <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">End Date</label>
                                <div class="col-sm-3 col-lg-3 col-md-3">
                                    @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", name = "Title", type = "date", id = "Title", @required = "req" })
                                </div>
                            </div>

                            @*<div class="form-group row mb-3" style="display: flex; justify-content: center">
                                <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Created At</label>
                                <div class="col-sm-3 col-lg-3 col-md-3">
                                    @Html.TextBoxFor(m => m.CreatedAt, new { @class = "form-control", name = "Title", type = "date", id = "Title", @required = "req" })
                                </div>
                            </div>*@


                            <hr />


                            @Html.HiddenFor(m => m.ConfOwnersContributionID, new { @id = "ConfOwnersContributionID" })
                            <div class="row" style="justify-content: center">
                                <div>
                                    <button type="submit" class="btn btn-primary m-1" onclick="full_submit()">Submit</button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-danger m-1">Cancel</button>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-primary m-1" onclick="javascript:window.history.back();">
                                        <i class="fa fa-angle-left"></i> Back
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        </body>
        <script>
            var clicked = false;
            $("#Select").on("click", function () {
                $(".form-check-input").prop("checked", !clicked);
                clicked = !clicked;
            });
            $(document).ready(function () {
                $("#newItem").remove();

                $("#editItem").remove();
                $("#saveItem").remove();
                $("#deleteItem").remove();
                $('#printItem').click(function () {
                    window.print();
                });

                $('#reloadItem').click(function () {
                    location.reload();
                });
                $('#reportItem').remove();
                $('#dashboardItem').remove();

            });
        </script>

