﻿@model StarterProjectV2.ViewModels.OwnerAvgRoomRateManagementView
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@{
    ViewBag.Title = "Owner AvgRoomRate Management";
}

@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Owner Avg Room Rate Management
}
    <body style="background-color: oldlace">
        <h2 class="text-center mt-4" style="color: indianred">@ViewData["Title"]</h2>
        <form class="form-inline mb-3 ml-3 d-flex justify-content-center">
            <input value="@Model.searchfield" id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="button" onclick="search()">Search</button>
        </form>
        <div class="card" style="margin-bottom: 0">
            @*<form class="form-inline mb-3 ml-3">
                <input id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search" onkeyup="search()">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>
            </form>*@
            <div class="table-responsive-lg" id="table">

                <table id="mainTable" data-pagination="true" class="table table-hover table-light" style="margin-bottom: 0">
                    <thead style="background-color:#315152;color:white">
                        <tr>
                            <th scope="col">Average Room Rate</th>
                            <th scope="col">Applicable Date</th>
                            <th scope="col">View</th>
                            <th scope="col">Edit</th>
                            @*<th scope="col">
                                Delete
                            </th>*@

                            @*<th scope="col">ConfAllotment ID</th>*@


                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int noOfdata = Model.OwnerAvgRoomRateList.Count();
                        }
                        @if (noOfdata != 0)
                        {
                            foreach (var RoomRate in Model.OwnerAvgRoomRateList)
                            {
                                <tr>
                                    <td>@RoomRate.AverageRoomRate</td>
                                    <td>@RoomRate.ApplicableDate.ToString("dd-MMM-yyyy")</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-light"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="View"
                                                disabled="hh"
                                                onclick="location.href = '@Url.Action("OwnerAvgRoomRateView", "Configuration", new { ConfOwnerAvgRoomRateID = RoomRate.ConfOwnerAvgRoomRateID })'">
                                            <i class="icon-eye">
                                            </i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-light"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="Edit"
                                                onclick="location.href='@Url.Action("OwnerAvgRoomRateEdit", "Configuration", new { ConfOwnerAvgRoomRateID = RoomRate.ConfOwnerAvgRoomRateID })'">
                                            <i class="icon-notebook">
                                            </i>
                                        </button>
                                    </td>
                                    @*<td>
                                        @using (Html.BeginForm("OwnerAvgRoomRateDelete", "Configuration", new { ConfOwnerAvgRoomRateID = RoomRate.ConfOwnerAvgRoomRateID }, FormMethod.Post))
                                        {
                                            <button type="submit"
                                                    class="btn btn-light"
                                                    data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="Delete" onclick="return confirm('Are you sure?')">
                                                <i class="icon-trash">
                                                </i>
                                            </button>
                                        }
                                    </td>*@



                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-responsive-lg" id="js-table">
            <table id="dtBasicExample" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0"></table>
        </div>
        <div class="text-center" id="message">

        </div>
        </body>
        @{
            int NoOfPage = Model.noOfPage;
        }
        @if (NoOfPage != 0)
        {

            <div class="pager" style="padding-top: 20px; direction:ltr; display:block;" align="center" id="pagination">

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center flex-wrap">
                        @{
                            int prev_idx = Model.index - 1;
                        }
                        <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(1)">« First</a></li>
                        <li class="page-item previous"><a class="page-link" href="#" onclick="previous(@prev_idx, @Model.noOfPage)">« Previous</a></li>
                        @{
                            int idx = Model.index;
                            int next_idx = Model.index + 1;
                            int noOfPage = Model.noOfPage;
                            if (noOfPage < 10)
                            {
                                for (int i = 1; i <= noOfPage; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }
                            }
                            else
                            {
                                if (idx <= 5)
                                {
                                    if (noOfPage < 10)
                                    {
                                        for (int i = 1; i <= noOfPage; i++)
                                        {
                                            <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                        }
                                    }
                                    else
                                    {
                                        for (int i = 1; i <= 10; i++)
                                        {
                                            <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                        }
                                    }
                                }
                                else if (idx > 5 && idx <= (noOfPage - 5))
                                {
                                    for (int i = idx - 4; i <= idx + 5; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }
                                }
                                else
                                {
                                    for (int i = noOfPage - 9; i <= noOfPage; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }

                                }
                            }
                        }
                        <li class="page-item next"><a class="page-link" href="#" onclick="next(@next_idx, @noOfPage)">Next »</a></li>
                        <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(@Model.noOfPage)">Last »</a></li>
                    </ul>
                </nav>

            </div>

        }

        <script>
            var s2 = $("#searchfield").val();
            function search() {

                var s = $("#searchfield").val();

                window.location.href = '../Configuration/OwnerAvgRoomRateManagement?searchfield=' + s + '&index=1';
            }

        </script>
        <script>
    $("#" + @Model.index).addClass("active");
        </script>
        <script>
            function previous(i, n) {
                if (i >= 1) {
                    window.location.href = "../Configuration/OwnerAvgRoomRateManagement?searchfield=" + s2 + "&index=" + i;
                }
            }
        </script>
        <script>
            function next(i, n) {
                if (i <= n) {
                    window.location.href = "/Configuration/OwnerAvgRoomRateManagement?searchfield=" + s2 + "&index=" + i;
                }
            }
        </script>
        <script>
            function paginationPureJS(i) {

                window.location.href = "../Configuration/OwnerAvgRoomRateManagement?searchfield=" + s2 + "&index=" + i;
            }
        </script>
        <script>
    $(document).ready(function() {
        var taskRoles = "@Model.TaskRoles";
        if (taskRoles[0] == '0') {
            $('table tr').find('td:eq(0),th:eq(0)').remove();
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(0),th:eq(0)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(0),th:eq(0)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            }
        } else {
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(1),th:eq(1)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(2),th:eq(2)').remove();
                }
            }
        }
        if (taskRoles[1] == '0') {
            $("#newItem").remove();
        }
    });
        </script>
        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>
        <script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });
    $(document).ready(function() {
        $("#newItem").click(function() {
            document.location = '@Url.Action("OwnerAvgRoomRateCreate", "Configuration")';
        });

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function(){
            window.print();
        });

        $('#reloadItem').click(function() {
            location.reload();
        });
        $("#reportItem").remove();

        @*$("#reportItem").click(function() {
            document.location = '@Url.Action("RoomReport", "OwnersInfo")';
        });*@
        $("#dashboardItem").click(function() {
        });
    });
        </script>
