﻿@model StarterProjectV2.ViewModels.OwnerBookingHistoryReportListView
@section PAGETITLE{
    Booking History Report Preview
}
<body style="background-color: oldlace">
<h2 class="text-center" style="color:cadetblue">@ViewData["Title"]</h2>
<div class="card" style="margin-bottom: 0">
    <div class="table-responsive-lg p-2" id="table">
        @*@using (Html.BeginForm("OwnerBookingHistoryReportPDF", "OwnersInfo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {*@
        <table id="mainTable" data-pagination="true" class="table  table-light  paginated" style="margin-bottom: 0;">
            <thead>
            <tr>
                <th scope="col">SlotId</th>
                <th scope="col">Guest Name</th>
                <th scope="col">No of Room</th>
                <th scope="col">Check In Date</th>
                <th scope="col">Check Out Date</th>
                <th scope="col">Stay Day</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.OwnerBookingHistoryReportList != null)
            {

                foreach (var historyReport in @Model.OwnerBookingHistoryReportList)
                {
                    <tr>
                        <td>@historyReport.SlotId</td>
                        <td>@historyReport.GuestNameMain</td>
                        <td>@historyReport.NoOfRoomAllotted</td>
                        <td>@historyReport.CheckInDate</td>
                        <td>@historyReport.CheckOutDate</td>
                        <td>@historyReport.NoOfDaySpent</td>


                    </tr>
                }
            }
            @*@Html.HiddenFor(m => m.OwnerBookingHistoryReportList.SlotId, new { @Id = "SlotId" });*@
            </tbody>
        </table>

        @*<input type="hidden" name="SlotId" id="SlotId" value="@Model.OwnerBookingHistoryReportList.ElementAt(0).SlotId" />*@
        <div class="d-flex justify-content-center m-1">
            <button type="button" id="OwnerBookingHistoryButton" class="btn btn-primary m-1" align="center"
                    style="background:cadetblue;color:white" target="blank">
                Generate Owner Booking History PDF
            </button>

            <button id="OwnerBookingHistoryExcelButton" class="btn btn-primary m-1" align="center"
                    style="background:cadetblue;color:white" target="blank">
                Generate Owner Booking History EXCEL
            </button>
        </div>
        @*}*@
    </div>
</div>
</body>
<script src="~/Content/vendors/js/jquery.min.js"></script>
<script src="~/Content/vendors/js/jquery.min.js"></script>
<script src="~/Content/vendors/js/popper.min.js"></script>
<script src="~/Content/vendors/js/bootstrap.min.js"></script>
<script src="~/Content/vendors/js/pace.min.js"></script>
<script src="~/Content/vendors/js/toastr.min.js"></script>
<script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
<script src="~/Content/vendors/js/coreui.min.js"></script>

<script type="text/javascript">
    var data = "@Model.SlotId" != null ? "@Model.SlotId": "";
    $("#OwnerBookingHistoryButton").click(function () {
        //alert("Ïn PDF");

        window.location = "../Report/OwnerBookingHistoryReportPDF?slotId=" + data;


    });

    $("#OwnerBookingHistoryExcelButton").click(function () {
      

            //alert(data);

        window.location = "../Report/ExportToExcel?slotId=" + data;
        //alert("Downloading Excel for Slot:" + data);
        });
</script>
<script>
    $(document).ready(function () {

        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $("#reportItem").remove();
        $("#dashboardItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });



    });

</script>









