﻿@model StarterProjectV2.ViewModels.OwnerBankAdviseReportListView
@section PAGETITLE{
    Bank Advise Report Preview
}
<body style="background-color: oldlace">
    <h2 class="text-center" style="color:cadetblue">@ViewData["Title"]</h2>
<div class="card" style="margin-bottom: 0">
    <div class="table-responsive-lg p-2" id="table">

        <table id="mainTable" data-pagination="true" class="table  table-light  paginated" style="margin-bottom: 0;">
            <thead>
            <tr>
                <th scope="col">SlotId</th>
                <th scope="col">Receiver Name</th>
                <th scope="col">Receiving A/C</th>
                <th scope="col">Receiving Bank</th>
                <th scope="col">Amount</th>
                @*<th scope="col">Stay Day</th>*@
            </tr>
            </thead>
            <tbody>
            @if (Model.OwnerBankAdviseReportList != null)
            {

                foreach (var bankAdviseReport in @Model.OwnerBankAdviseReportList)
                {
                    <tr>
                        <td>@bankAdviseReport.SlotId</td>
                        <td>@bankAdviseReport.ReceiverName</td>
                        <td>@bankAdviseReport.AccountNo</td>
                        <td>@bankAdviseReport.ReceivingBank</td>
                        <td>@bankAdviseReport.Amount</td>
                        @*<td>@bankAdviseReport.NoOfDaySpent</td>*@
                    </tr>
                }
            }

            </tbody>
        </table>
        <div class="d-flex justify-content-center m-1">
            <button type="button" id="OwnerBankAdviseButton" class="btn btn-primary m-1" align="center"
                    style="background:cadetblue;color:white" target="blank">
                Generate Owner Bank Advise PDF
            </button>

            <button id="OwnerBankAdviseExcelButton" class="btn btn-primary m-1" align="center"
                    style="background:cadetblue;color:white" target="blank">
                Generate Owner Bank Advise EXCEL
            </button>
        </div>
        @*}*@
    </div>
</div>
</body>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>

    <script type="text/javascript">

        $("#OwnerBankAdviseButton").click(function () {

            window.location = "../Report/OwnerBankAdviseReportPDF?";


        });

        $("#OwnerBankAdviseExcelButton").click(function () {

            window.location = "../Report/ExportToExcelBankAdvise?";
            //alert("Downloading Excel for Slot:" + data);
        });
    </script>
    <script>
        $(document).ready(function () {

            $("#newItem").remove();
            $("#editItem").remove();
            $("#saveItem").remove();
            $("#deleteItem").remove();
            $("#reportItem").remove();
            $("#dashboardItem").remove();
            $('#printItem').click(function () {
                window.print();
            });

            $('#reloadItem').click(function () {
                location.reload();
            });



        });

    </script>











