﻿@model StarterProjectV2.ViewModels.OwnerDepartureReportListView
@section PAGETITLE{
    Occupancy Status Report Preview
}
<body style="background-color: oldlace">
    <h2 class="text-center" style="color:cadetblue">@ViewData["Title"]</h2>
<div class="card" style="margin-bottom: 0">
    <div class="table-responsive-lg p-2" id="table">

        <table id="mainTable" data-pagination="true" class="table  table-light  paginated" style="margin-bottom: 0;">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                <th scope="col">Mobile No</th>
                <th scope="col">Email</th>
                <th scope="col">Total</th>

            </tr>
            </thead>
            <tbody>
            @if (Model.OwnerDepartureReportList != null)
            {

                foreach (var departureReport in @Model.OwnerDepartureReportList)
                {
                    <tr>

                        <td>@departureReport.SlotId</td>
                        <td>@departureReport.GuestNameMain</td>
                        <td>@departureReport.GuestMobile</td>
                        <td>@departureReport.Email</td>
                        <td>@departureReport.NoOfDaySpent</td>


                    </tr>
                }
            }

            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <button id="OwnerOccupancyReportPDFButton" class="btn btn-primary m-1" align="center"
                    style="background:cadetblue;color:white" target="blank">
                Generate Owner Occupancy Status PDF
            </button>
            <button id="OwnerOccupancyReportExcelButton" class="btn btn-primary m-1" align="center"
                    style="background:cadetblue;color:white" target="blank">
                Generate Owner Occupancy Status EXCEL
            </button>
        </div>
        @*}*@
    </div>
</div>
</body>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>

    <script type="text/javascript">
    $("#OwnerOccupancyReportPDFButton").click(function () {
        var data = "@Model.CheckInDate" != null ? "@Model.CheckInDate" : "";
             var data1 = "@Model.CheckOutDate" != null ? "@Model.CheckOutDate": "";
    @*var data = "@Model.OwnerDepartureReportList.ElementAt(0).CheckInDate";
            var data1 = "@Model.OwnerDepartureReportList.ElementAt(0).CheckOutDate";*@

        window.location = "../Report/OwnerOccupancyStatusReportPDF?checkindate=" + data + "&checkoutdate=" + data1;
    });

    </script>


    <script type="text/javascript">
    $("#OwnerOccupancyReportExcelButton").click(function () {

           var data = "@Model.CheckInDate" != null ? "@Model.CheckInDate" : "";
             var data1 = "@Model.CheckOutDate" != null ? "@Model.CheckOutDate": "";
        window.location = "../Report/ExportToExcelOccupancy?checkindate=" + data + "&checkoutdate=" + data1;
    });
    </script>
    <script>
        $(document).ready(function () {

            $("#newItem").remove();
            $("#editItem").remove();
            $("#saveItem").remove();
            $("#deleteItem").remove();
            $("#reportItem").remove();
            $("#dashboardItem").remove();
            $('#printItem').click(function () {
                window.print();
            });

            $('#reloadItem').click(function () {
                location.reload();
            });



        });

    </script>











