﻿@model StarterProjectV2.ViewModels.OwnerDepartureReportListView
@section PAGETITLE{
    Departure Report Preview
}
<body style="background-color: oldlace">
    <h2 class="text-center" style="color:cadetblue">@ViewData["Title"]</h2>
<div class="card" style="margin-bottom: 0">
    <div class="table-responsive-lg p-2" id="table">

        <table id="mainTable" data-pagination="true" class="table  table-light  paginated" style="margin-bottom: 0;">
            <thead>
            <tr>
                <th scope="col">Reservation No</th>
                <th scope="col">Guest Name</th>
                <th scope="col">Owner ID</th>
                <th scope="col">Check In Date</th>
                <th scope="col">Check Out Date</th>
                <th scope="col">Stay Night</th>
                <th scope="col">Adult</th>
                <th scope="col">Child</th>
                <th scope="col">Owner Segment</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.OwnerDepartureReportList != null)
            {

                foreach (var departureReport in @Model.OwnerDepartureReportList)
                {
                    <tr>
                        <td>@departureReport.BookingToken</td>
                        <td>@departureReport.GuestNameMain</td>
                        <td>@departureReport.SlotId</td>
                        <td>@departureReport.CheckInDate</td>
                        <td>@departureReport.CheckOutDate</td>
                        <td>@departureReport.NoOfDaySpent</td>
                        <td>@departureReport.NoOfAdult</td>
                        <td>@departureReport.NoOfChild</td>
                        <td>@departureReport.OwnerSegment</td>

                    </tr>
                }
            }

            </tbody>
        </table>
        <div class="d-flex justify-content-center m-1">
            <button type="button" id="OwnerDepartureButton" class="btn btn-primary m-1" align="center"
                    style="background:cadetblue;color:white" target="blank">
                Generate Owner Departure PDF
            </button>

            <button id="OwnerDepartureExcelButton" class="btn btn-primary m-1" align="center"
                    style="background:cadetblue;color:white" target="blank">
                Generate Owner Departure EXCEL
            </button>
        </div>
        @*}*@
    </div>
</div>
</body>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>

    <script type="text/javascript">

        var data = "@Model.CheckOutDate" != null ? "@Model.CheckOutDate": "";
    $("#OwnerDepartureButton").click(function () {
        //alert("Ïn PDF");

        window.location = "../Report/OwnerDepartureReportPDF?checkoutdate=" + data;


    });

    $("#OwnerDepartureExcelButton").click(function () {

        window.location = "../Report/ExportToExcelDeparture?checkoutdate=" + data;

        });
    </script>
    <script>
        $(document).ready(function () {

            $("#newItem").remove();
            $("#editItem").remove();
            $("#saveItem").remove();
            $("#deleteItem").remove();
            $("#reportItem").remove();
            $("#dashboardItem").remove();
            $('#printItem').click(function () {
                window.print();
            });

            $('#reloadItem').click(function () {
                location.reload();
            });



        });

    </script>









