﻿@model StarterProjectV2.ViewModels.OwnerBookingHistoryReport
@{
    ViewBag.Title = "Owner's Booking History Report";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Booking History Report
}
<body style=" background-color: oldlace">
<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
@*@Html.BeginForm()*@
@*<label class="col-sm-3 col-lg-2 col-md-3  col-form-label" style="font:message-box"></label>*@
<div class="d-flex justify-content-center mt-3">
    <label style="font:message-box">Slot ID</label>
</div>
    <div class="d-flex justify-content-center m-1">
        <input id="OwnerBookingHistoryParameter" type="text" required>
    </div>
   
    <div class="d-flex justify-content-center m-2">
        <button id="report-preview" class="btn btn-primary m-2" align="center">
            Preview
        </button>
    </div>
    </body>
    <script type="text/javascript">
        $("#report-preview").click(function () {
            var data = $("#OwnerBookingHistoryParameter").val();
            //alert(data);
            window.location = "../Report/OwnerBookingHistoryReportPreview?slotId=" + data;
       
        });
    </script>

    <script>
        $(document).ready(function () {

            $("#newItem").remove();
            $("#editItem").remove();
            $("#saveItem").remove();
            $("#deleteItem").remove();
            $("#reportItem").remove();
            $("#dashboardItem").remove();
            $('#printItem').click(function () {
                window.print();
            });

            $('#reloadItem').click(function () {
                location.reload();
            });



        });

    </script>
    @if (@TempData["toastrData"] == "No Data Available" || @TempData["toastrDataExcel"] == "No Data Available")
    {
        <script>
            $(function () {
                'use strict';

                toastr.error('No Data Available in Expected Report', '.', {
                    closeButton: true,
                    progressBar: true,
                });


            });
        </script>
    }
    <script src="~/Content/vendors/js/toastr.min.js"></script>
