﻿@model StarterProjectV2.ViewModels.OwnersAttachmentView

<div class="row justify-content-center ">
    @*<div class="card col-12">*@
    <div class="card-body">
        <h1 class="text-center" style="color: indianred">Owner's Attachments Form</h1>
        <p class="text-muted"></p>

        @using (Html.BeginForm("OwnerAttachmentAddOrEdit", "OwnersInfo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {

            <div class="form-group row mb-5">
                <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">NID</label>
                <div class="container1">
                    <div>
                        @{
                            var requiredNID = string.IsNullOrWhiteSpace(Model.OwnerTIN) ? "required" : "";
                        }
                        <input id="upload-file-attachment-NID" name="NIDFile" type="file" @requiredNID />
                        @if (!string.IsNullOrWhiteSpace(Model.OwnerNID))
                        {
                            <a id="NID-file-link" href="@Href(Model.OwnerNID)" target="_blank">@Model.SlotId</a>
                        }

                    </div>
                </div>
            </div>
            <div class="form-group row mb-5">
                <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">TIN</label>
                <div class="container1">
                    <div>
                        @{
                            var requiredTIN = string.IsNullOrWhiteSpace(Model.OwnerTIN) ? "required" : "";
                        }
                        <input id="upload-file-attachment-TIN" name="TINFile" type="file" @requiredTIN />
                        @if (!string.IsNullOrWhiteSpace(@Model.OwnerTIN))
                        {
                            <a id="TIN-file-link" href="@Href(@Model.OwnerTIN)" target="_blank">@Model.SlotId</a>
                        }

                    </div>
                </div>
            </div>
            <div class="form-group row mb-5">
                <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Passport</label>
                <div class="container1">
                    <div>
                        <input id="upload-file-attachment-Passport" name="PassportFile" type="file" />
                        @if (!string.IsNullOrWhiteSpace(@Model.OwnerPassport))
                        {
                            <a id="Passport-file-link" href="@Href(@Model.OwnerPassport)" target="_blank">@Model.SlotId</a>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group row mb-5">
                <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Driving License</label>
                <div class="container1">
                    <div>
                        <input id="upload-file-attachment-DrivingLicense" name="DrivingLicenseFile" type="file" />
                        @if (!string.IsNullOrWhiteSpace(@Model.OwnerDrivingLicense))
                        {
                            <a id="DrivingLicense-file-link" href="@Href(@Model.OwnerDrivingLicense)" target="_blank">@Model.SlotId</a>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group row mb-5">
                <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Utility Bill</label>
                <div class="container1">
                    <div>
                        <input id="upload-file-attachment-Utility" name="UtilityBillFile" type="file" />
                        @if (!string.IsNullOrWhiteSpace(@Model.OwnerUtilityBill))
                        {
                            <a id="DrivingLicense-file-link" href="@Href(@Model.OwnerUtilityBill)" target="_blank">@Model.SlotId</a>
                        }
                    </div>
                </div>
            </div>
            @Html.HiddenFor(m => m.AttachmentId)
            @Html.HiddenFor(m => m.OwnerId)

            <div class="row">
                <div>
                    <button type="submit" class="btn btn-primary m-1 submit">Submit</button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger m-1">Reset</button>
                </div>
            </div>
        }
    </div>
</div>
