﻿@model StarterProjectV2.Models.OwnerRoomBooking
<div class="modal fade" tabindex="-1" id="ConfirmModal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                @*<div class="form-group">
            <label for="inputUserName">Booking Token</label>
            <input class="form-control" placeholder="1234" type="text" id="inputUserName" />
        </div>*@

                @using (Html.BeginForm("BookingTokenAdd", "OwnersInfo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Booking No.</label>
                    <div class="col-sm-3 col-lg-1 col-md-3">
                        @Html.TextBoxFor(m => m.BookingToken, new { @class = "form-control", placeholder = "10", type = "number", @id = "BookingToken" })
                    </div>
                    @Html.HiddenFor(m => m.OwnerRoomBookngId, new { @Id = "OwnerRoomBookngId" });
                }
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="ConfirmForm">Submit</button>
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>