﻿@model StarterProjectV2.ViewModels.OwnersInfoFamilyNomineeAttFilesView
@{
    Random rnd = new Random();
    var defaultPicture = "~/Content/nominees/base.jpg";
    var spousePicture = defaultPicture;
    if (Model.OwnersFamily != null && !string.IsNullOrWhiteSpace(Model.OwnersFamily.SpousePicture))
    {
        spousePicture = Model.OwnersFamily.SpousePicture;
    }
}

<div class="row justify-content-center ">
    <div class="card-body" id="class-body-family">
        <h1 class="text-center" style="color: indianred">Owner's Family Information Form</h1>
        <p class="text-muted"></p>

        @using (Html.BeginForm("FamilyAddorEdit", "OwnersInfo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <div class="form-group row mb-3">
                @Html.LabelFor(m => m.OwnersFamily.SpouseName, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                @Html.TextBoxFor(m => m.OwnersFamily.SpouseName, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Owner's Spouse Name", type = "text", id = "spouseName" })

                @Html.LabelFor(m => m.OwnersFamily.SpouseDOB, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.OwnersFamily.SpouseDOB, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Spouse's Date Of Birth", type = "date", id = "spouseDOB" })
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(m => m.OwnersFamily.SpouseMobile, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.OwnersFamily.SpouseMobile, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "+880xxxxxxxxxx", type = "text", id = "spouseMobile" })

                @Html.LabelFor(m => m.OwnersFamily.SpouseEmail, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.OwnersFamily.SpouseEmail, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "example@gmail.com", type = "text", id = "spouseEmail" })
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Spouse NID</label>
                @Html.TextBoxFor(m => m.OwnersFamily.SpouseNID, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Owner's Spouse NID", id = "spouseNID" })


                <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Spouse's NID File</label>
                @Html.TextBoxFor(m => m.OwnersFamily.SpouseNIDPictureFile, new { type = "file" })

                @if (Model.OwnersFamily != null && !string.IsNullOrWhiteSpace(Model.OwnersFamily.SpouseNIDPath))
                {
                    <a id="NID-file-link" href="@Href(Model.OwnersFamily.SpouseNIDPath)" target="_blank">@Model.SlotId</a>
                }
            </div>

            <div class="form-group row mb-3">
                <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Picture of Spouse</label>
                <div class="container1">
                    @{
                        var time10 = "?" + rnd.Next(1, 1000);
                    }

                    <img id="SpousePicture" class="" src="@Href(spousePicture+time10)" alt="HTML5 Icon" width="128" height="128">
                    @*<input type="file" class="" id="upload-file-picture" name="file" />*@
                    @Html.TextBoxFor(m => m.OwnersFamily.SpousePictureFile, new { type = "file" })
                </div>
            </div>

            <button type="button" class="btn btn-success m-1 but">Add Child</button>
            <div class="children">
                @for (var i = 0; i < Model.OwnersFamilyList.Count; i++)
                {
                    var time = "?" + +rnd.Next(1, 1000);

                    var childPicture = defaultPicture;
                    if (!string.IsNullOrWhiteSpace(Model.OwnersFamilyList[i].ChildPicture))
                    {
                        childPicture = Model.OwnersFamilyList[i].ChildPicture;
                    }

                    <div class="row mb-5">
                        <div class="col">
                            <label for="ChildName">Child Name</label>
                            @Html.TextBoxFor(m => m.OwnersFamilyList[i].ChildName, new { @class = "form-control", placeholder = "Child Name", type = "text", name = "ChildName", @id = "ChildName", required= "required" })
                        </div>
                        <div class="col">
                            <label for="ChildDOB">Date of Birth</label>
                            @Html.TextBoxFor(m => m.OwnersFamilyList[i].ChildDOB, new { @class = "form-control", type = "date", name = "ChildDOB", @id = "ChildDOB" })
                        </div>

                        <div class="container1">
                            @{
                                <img id="child-pic_@i" class="" src="@Url.Content(childPicture+time)" alt="HTML5 Icon" width="128" height="128">
                            }
                            @Html.TextBoxFor(m => m.OwnersFamilyList[i].ChildPictureFile, new { type = "file" })

                        </div>
                    </div>
                }
            </div>


            @Html.HiddenFor(m => m.OwnersFamily.OwnerId, new { Value = Model.OwenerId })

            <div class="row">
                <div>
                    <button type="submit" class="btn btn-primary m-1">Submit</button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger m-1">Reset</button>
                </div>
            </div>
        }
    </div>
</div>
