﻿@model List<StarterProjectV2.Models.OwnerRoomBooking>
<div class="container-fluid" style="margin-bottom: 0">
    <h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>

    <div class="table-responsive-lg ">
        <table id="dtBasicExample" data-pagination="true" class="table table-hover table-light" style="margin: 20px auto">
            <thead style="background-color:#315152;color:white">
                <tr>


                    <th scope="col">Reservation No</th>
                    <th scope="col">Guest Name</th>
                    <th scope="col">CheckIn Date</th>
                    <th scope="col">CheckOut Date</th>
                    <th scope="col">Folio Detail</th>
                    @*<th>Folio Detail</th>*@
                    @*<th scope="col">Slot Other Definitions</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model)
                {
                <tr>

                    <td>@booking.OwnerRoomBookngId</td>
                    <td>@booking.GuestNameMain</td>


                    <td>@booking.CheckInDate</td>

                    <td>@booking.CheckOutDate</td>
                    <td>
                        <button type="button"
                                class="btn btn-light"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="View Folio"
                                onclick="location.href = '@Url.Action("FolioDetail", "Booking", new {OwnerRoomBookngId = booking.OwnerRoomBookngId})'">
                            <i class="icon-eye">
                            </i>
                        </button>
                    </td>
                    @*<td>@slot.SlotOtherDefinitions</td>*@
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

