﻿@model StarterProjectV2.ViewModels.OwnersInfoFamilyNomineeAttFilesView
@using StarterProjectV2.ViewModels

@{
    if (Model.OwnersNomineeList == null || !Model.OwnersNomineeList.Any())
    {
        Model.OwnersNomineeList = new List<OwnerNomineeViewModel>();
        Model.OwnersNomineeList.Add(new OwnerNomineeViewModel());
    }
}

<div class="row justify-content-center ">
    @*<div class="card col-12">*@
    <div class="card-body">
        <h1 class="text-center" style="color: indianred">Nominees Information Form</h1>
        <p class="text-muted"></p>
        @using (Html.BeginForm("NomineeAddOrEdit", "OwnersInfo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <button type="button" class="btn btn-success m-1 but2">Add Nominee</button>
            <div class="children2">
                @for (var i = 0; i < Model.OwnersNomineeList.Count; i++)
                {
                    <div class="identifier0 mb-5">
                        <div class="row mb-2">
                            <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Name</label>
                            <div class="col">
                                @Html.TextBoxFor(m => m.OwnersNomineeList[i].NomineeName, new { @class = "form-control", placeholder = "Nominee Name", required = "required" })
                            </div>
                            <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Date Of Birth</label>
                            <div class="col">
                                @Html.TextBoxFor(m => m.OwnersNomineeList[i].NomineeDOB, new { @class = "form-control", type = "date"})
                            </div>
                        </div>
                        <div class="row mb-2">
                            <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Email</label>
                            <div class="col">
                                @Html.TextBoxFor(m => m.OwnersNomineeList[i].NomineeEmail, new { @class = "form-control", placeholder = "Nominee Email" })
                            </div>
                            <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Mobile No</label>
                            <div class="col">
                                @Html.TextBoxFor(m => m.OwnersNomineeList[i].NomineeMobile, new { @class = "form-control", required = "required" })
                            </div>
                        </div>

                        <div class="row mb-2">
                            <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Permanent Address</label>
                            <div class="col">
                                @Html.TextBoxFor(m => m.OwnersNomineeList[i].NomineePermanentAddress, new { @class = "form-control", placeholder = "Nominee Permanent Address" })
                            </div>
                            <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Present Address</label>
                            <div class="col">
                                @Html.TextBoxFor(m => m.OwnersNomineeList[i].NomineePresentAddress, new { @class = "form-control", placeholder = "Nominee Present Address" })
                            </div>
                        </div>


                        <div class="row mb-2">
                            <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee NID</label>
                            <div class="col-sm-3 col-lg-4 col-md-3 col-form">
                                @Html.TextBoxFor(m => m.OwnersNomineeList[i].NomineeNID, new { @class = "form-control", placeholder = "Nominee NID" })
                            </div>
                        </div>

                        <div class="form-group row mb-2">
                            <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Picture</label>
                            <div class="col">
                                <div class="container1">
                                    @{
                                        var requiredNomineePicture = "required";
                                        var picturePath = "~/Content/nominees/base.jpg";
                                        if (!string.IsNullOrWhiteSpace(Model.OwnersNomineeList[i].NomineePicture))
                                        {
                                            picturePath = Model.OwnersNomineeList[i].NomineePicture;
                                            requiredNomineePicture = "";
                                        }
                                    }

                                    <img id="nominee-pic_@i" class="" src="@Url.Content(picturePath)" alt="HTML5 Icon" width="128" height="128" />
                                    @Html.TextBoxFor(m => m.OwnersNomineeList[i].PictureFile, new { type = "file", @requiredNomineePicture })
                                </div>
                            </div>

                            <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee NID Picture</label>
                            <div class="col">
                                <div class="container1">
                                    @{
                                        var requiredNIDPicture = "required";
                                        var nidPicturePath = "~/Content/nominees/base.jpg";
                                        if (!string.IsNullOrWhiteSpace(Model.OwnersNomineeList[i].NomineeNIDPath))
                                        {
                                            nidPicturePath = Model.OwnersNomineeList[i].NomineeNIDPath;
                                            requiredNIDPicture = "";
                                        }
                                    }

                                    <img id="nominee-nid-pic_@i" class="" src="@Url.Content(nidPicturePath)" alt="HTML5 Icon" width="128" height="128" />
                                    @Html.TextBoxFor(m => m.OwnersNomineeList[i].NIDPictureFile, new { type = "file", @requiredNIDPicture })
                                </div>
                            </div>
                        </div>
                        @*<button type="button" class="btn btn-danger deleteNominee" onclick="deleteNominee(0)" value="identifier0">Delete Nominee</button>*@
                    </div>

                    @Html.HiddenFor(m => m.OwnersNomineeList[i].OwnerId, new { @Value = Model.OwenerId })

                }
            </div>

            <div class="row">
                <button type="submit" class="btn btn-primary m-1">Submit</button>
                <button type="button" class="btn btn-danger m-1">Reset</button>
            </div>
        }
    </div>
</div>
