﻿@model StarterProjectV2.ViewModels.OwnersInfoFamilyNomineeAttFilesView

<div class="row justify-content-center ">
    @*<div class="card col-12">*@
    <div class="card-body" id="class-body-project">
        <h1 class="text-center" style="color: indianred">Owner's Project Information Form</h1>
        <p class="text-muted"></p>

        @using (Html.BeginForm("OwnersProjectInfoAddorEdit", "OwnersInfo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))

        {
            <div class="input-group mb-3">
                @*@Html.LabelFor(m => m.OPProjectName, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })*@
                <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Project Name</label>
                @Html.TextBoxFor(m => m.OPProjectName, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Project Name", type = "text", id = "OPProjectName" })

                @*@Html.LabelFor(m => m.OFSpouseDOB, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                    @Html.TextBoxFor(m => m.OFSpouseDOB,
                        new {@class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Spouse's Date Of Birth", type = "date", id = "spouseDOB"})*@
            </div>

            <div class="input-group mb-3">
                @*@Html.LabelFor(m => m.OPNumberOfRoom, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })*@
                <label for="" class="col-sm-3 col-lg-2 col-md-3  col-form-label">Number of Room</label>
                @Html.TextBoxFor(m => m.OPNumberOfRoom, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "NumberOfRoom", type = "text", id = "OPNumberOfRoom" })
                @*@Html.LabelFor(m => m.OPNumberOfDays, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })*@
                <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Number of Days</label>
                @Html.TextBoxFor(m => m.OPNumberOfDays, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "NumberOfDays", type = "text", id = "OPNumberOfDays" })

            </div>

            <div class="input-group mb-3">
                @*@Html.LabelFor(m => m.OPPurchaseDate, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })*@
                <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Purchase Date</label>
                @Html.TextBoxFor(m => m.OPPurchaseDate,
                    new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "PurchaseDate", type = "date", id = "OPPurchaseDate" })
            </div>

            <div class="input-group mb-3">
                @*@Html.LabelFor(m => m.OPSalesAmount, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })*@
                <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Sales Amount</label>
                @Html.TextBoxFor(m => m.OPSalesAmount, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Sale Amount", type = "text", id = "OPSalesAmount" })
                <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Paid Amount</label>
                @*@Html.LabelFor(m => m.OPPaidAmount, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })*@
                @Html.TextBoxFor(m => m.OPPaidAmount, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = " Paid Amount", type = "text", id = "OPPaidAmount" })

            </div>

            @Html.Hidden("OwnerId", Model.OwenerId)

            <button type="button" class="btn btn-success m-1 but3">Add Installment Information</button>
            <div class="children3">
            </div>

            <div class="row">
                <div>
                    <button type="submit" class="btn btn-primary m-1" onclick="retrieveProjects()">Submit</button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger m-1">Reset</button>
                </div>
                <div>
                    <button type="button" class="btn btn-info m-1 nextbutton" onclick="gotoFamily()">Go To Next</button>
                </div>
            </div>
        }
    </div>
</div>
