﻿@model List<StarterProjectV2.Models.Dividend>
<div class="container-fluid" style="margin-bottom: 0">
    <h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
    <div class="table-responsive-lg ">
        <table id="dtBasicExample" data-pagination="true" class="table table-hover table-light" style="margin: 20px auto">
            <thead style="background-color:#315152;color:white">
                <tr>
                    <th scope="col">Dividend Id</th>
                    <th scope="col">Slot Id</th>
                    <th scope="col">Owner's Name</th>
                    <th scope="col">Owner's Mobile No</th>
                    <th scope="col">Dividend Start Date</th>
                    <th scope="col">Dividend End Date</th>
                    <th scope="col">Dividend Amount</th>
                    <th scope="col">Status</th>
                    @*<th scope="col">Slot Other Definitions</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var dividend in Model)
                {
                    <tr>
                        <td>@dividend.DividendId</td>
                        <td>@dividend.SlotId</td>
                        <td>@dividend.OwnerName</td>
                        <td>@dividend.MobileNumber</td>
                        <td>@dividend.FromMonth</td>
                        <td>@dividend.ToMonth</td>
                        <td>@dividend.DividendAmount</td>

                        <td>@dividend.status</td>
                        @*<td>@slot.status</td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


