﻿@model StarterProjectV2.ViewModels.OwnersInfoFamilyNomineeAttFilesView


<div class="row justify-content-center ">
    <div class="card-body" id="class-body-TransactionHistory">
        <h1 class="text-center" style="color: indianred">Transaction History</h1>
        <p class="text-muted"></p>
        @using (Html.BeginForm("TransactionHistoryAddorEdit", "OwnersInfo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group row mb-3">
                @Html.LabelFor(m => m.TransactionHistory.RegistrationStatus, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                @Html.TextBoxFor(m => m.TransactionHistory.RegistrationStatus, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Registration Status" })

                @Html.LabelFor(m => m.TransactionHistory.RegistrationBatch, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.TransactionHistory.RegistrationBatch, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Registration Batch" })
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(m => m.TransactionHistory.SlotSFT, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                @Html.TextBoxFor(m => m.TransactionHistory.SlotSFT, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Slot SFT" })

                @Html.LabelFor(m => m.TransactionHistory.SFTperPerson, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.TransactionHistory.SFTperPerson, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "SFT per Person" })
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(m => m.TransactionHistory.Floor, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                @Html.TextBoxFor(m => m.TransactionHistory.Floor, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Floor" })

                @Html.LabelFor(m => m.TransactionHistory.Type, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.TransactionHistory.Type, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Type" })
            </div>

            <div class="form-group row mb-3">
                @Html.LabelFor(m => m.TransactionHistory.SaleDate, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                @Html.TextBoxFor(m => m.TransactionHistory.SaleDate, "{0:yyyy-MM-dd}", new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Sale Date", type = "date", required = "required" })

                @Html.LabelFor(m => m.TransactionHistory.NoofSlot, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.TransactionHistory.NoofSlot, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "No of Slot" })
            </div>

            @Html.Hidden("TransactionHistory.SlotID", Model.SlotId)
            @Html.Hidden("OwenerId", Model.OwenerId)
            @Html.Hidden("SlotId", Model.SlotId)


            <div class="row">
                <div>
                    <button type="submit" class="btn btn-primary m-1">Submit</button>
                </div>
                @*<div>
                        <button type="button" class="btn btn-danger m-1">Reset</button>
                    </div>*@
            </div>
        }
    </div>
</div>
