﻿@model List<StarterProjectV2.Models.Audit2>
<div class="container-fluid" style="margin-bottom: 0">
    <h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
    <div class="table-responsive-lg ">
        <table id="dtBasicExample" data-pagination="true" class="table table-hover table-light" style="margin: 20px auto">
            <thead style="background-color:#315152;color:white">
                <tr>
                    <th scope="col">View</th>

                    <th scope="col">Table Name</th>
                    <th scope="col">User Id</th>
                    <th scope="col">Action Type</th>
                    <th scope="col">Updated Date</th>
                    @*<th scope="col">Slot Other Definitions</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var audit in Model)
                {
                    <tr>
                        <td>
                            <button type="button"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="View"
                                    onclick="location.href = '@Url.Action("AuditView", "Audit", new { Id=audit.Id})'">
                                <i class="icon-eye">
                                </i>
                            </button>
                        </td>


                        <td>@audit.TableName</td>
                        <td>@audit.UserId</td>
                        <td>

                            @if (@audit.Actions == "I")
                            {
                                <h6>Insert</h6>;
                            }
                            @if (@audit.Actions == "U")
                            {
                                <h6>Update</h6>;
                            }
                            @if (@audit.Actions == "D")
                            {
                                <h6>Delete</h6>;
                            }



                        </td>
                        <td>@audit.UpdateDate</td>
                        @*<td>@slot.SlotOtherDefinitions</td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

