﻿@model StarterProjectV2.ViewModels.OwnersInfoFamilyNomineeAttFilesView

@section PAGETITLE{
    Additional Management
}
<h2>Please Fill Up the Additional Information</h2>

<div>
    <div class="card">
        <ul class="nav nav-tabs myTabs" id="myTab" role="tablist">

            <li class="nav-item">
                <a class="nav-link active" href="#TransactionHistory" role="tab" data-toggle="tab">Transaction History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#family" role="tab" data-toggle="tab">Family</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#nominees" role="tab" data-toggle="tab">Nominees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#attachments" role="tab" data-toggle="tab">Attachments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#project" role="tab" data-toggle="tab">Project</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="TransactionHistory" class="tab-pane in active">
                @{ Html.RenderPartial("_TransactionHistory", Model); }
            </div>

            <div id="family" class="tab-pane fade">
                @{ Html.RenderPartial("_Family", Model); }
            </div>

            <div id="nominees" class="tab-pane fade">
                @{ Html.RenderPartial("_Nominees", Model); }
            </div>

            <div id="attachments" class="tab-pane fade">
                @{ Html.RenderPartial("_Attachments", Model.AttachmentView); }
            </div>

            <div id="project" class="tab-pane fade">
                @{ Html.RenderPartial("_Project", Model); }
            </div>
        </div>

    </div>
</div>

<script>
    ////https://www.tutorialrepublic.com/faq/how-to-keep-the-current-tab-active-on-page-reload-in-bootstrap.php

    $(document).ready(function () {

        ActiveTabOnPageReload('#myTab');

    });

</script>


<!--Family Tab-->

<script>
    var childNo = @Model.OwnersFamilyList.Count;

    var funChildRow = function () {
        $('.children').append('<div class="child">' +
            '<div class="row">' +
            '<div class="col">' +
            '<input type="text" class="form-control" placeholder="Name" id="ChildName" name="OwnersFamilyList[' + childNo + '].ChildName" required="required">' +
            '</div>' +
            '<div class="col">' +
            '<input type="date" class="form-control" placeholder="DOB" id="ChildDOB">' +
            '</div>' +
            '<div class="col">' +
            '<img id="child-pic_' + childNo + '" class="" src="../Content/families/base.jpg" alt="HTML5 Icon" width="128" height="128">' +
            '<input class="cp_' + childNo + '" id="ChildPicture_' + childNo + '" name="OwnersFamilyList[' + childNo + '].ChildPictureFile" type="file" />' +


            '</div>' +
            '</div>' +
            '</div>');

        $('input[type="file"]').change(function () {
            ImageLoad(this);
        });

        childNo++;
    }

    $('.but').click(funChildRow);

</script>

<script>

    $('input[type="file"]').change(function () {
        ImageLoad(this);
    });

    function ImageLoad(sender) {
        var src = URL.createObjectURL(sender.files[0]);
        var img = $(sender).closest("div").find("img");

        if (img.length >= 0) {
            img.attr("src", src);
        }
    }

</script>

<!--Nominee Tab-->
<script>
    var idx = @Model.OwnersNomineeList.Count;

    var addNominee = function () {

        $('.children2').append('' +
            '<div class="identifier' + idx + ' mb-5">' +
            '<div class="row mb-2">' +
            '<label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Name</label>' +
            '<div class="col">' +
            '<input type="text" class="form-control" placeholder="NomineeName" name="OwnersNomineeList[' + idx +'].NomineeName" id="ONNomineeName"  required>' +
            '</div>' +
            '<label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Date Of Birth</label>' +
            '<div class="col">' +
            '<input type="date" class="form-control" placeholder="Nominee Date of Birth" name="OwnersNomineeList[' + idx +'].NomineeDOB" id="ONNomineeDOB">' +
            '</div>' +
            '</div>' +
            '<div class="row mb-2">' +
            '<label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Email</label>' +
            '<div class="col">' +
            '<input type="text" class="form-control" placeholder="NomineeEmail" name="OwnersNomineeList[' + idx +'].NomineeEmail" id="ONNomineeEmail">' +
            '</div>' +
            '<label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Mobile No</label>' +
            '<div class="col">' +
            '<input type="text" class="form-control" placeholder="NomineeMobile" name="OwnersNomineeList[' + idx +'].NomineeMobile" id="ONNomineeMobile" required>' +
            '</div>' +
            '</div>' +
            '<div class="row mb-2">' +
            '<label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Permanent Address</label>' +
            '<div class="col">' +
            '<input type="text" class="form-control" placeholder="NomineePermanentAddress" name="OwnersNomineeList[' + idx +'].NomineePermanentAddress" id="ONNomineePermanentAddress">' +
            '</div>' +
            '<label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee Present Address</label>' +
            '<div class="col">' +
            '<input type="text" class="form-control" placeholder="NomineePresentAddress" name="OwnersNomineeList[' + idx +'].NomineePresentAddress" id="ONNomineePresentAddress">' +
            '</div>' +
            '</div>' +
            '<div class="row mb-4">' +
            '<label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Nominee NID</label>' +
            '<div class="col-sm-3 col-lg-4 col-md-3 col-form">' +
            '<input type="text" class="form-control" placeholder="NomineeNID" name="OwnersNomineeList[' + idx +'].NomineeNID" id="ONNomineeNID">' +
            '</div>' +
            '</div>' +
            '<div class="col">' +
            '<img id="nominee-pic_' + idx + '" class="" src="../Content/families/base.jpg" alt="HTML5 Icon" width="128" height="128">' +
            '<input class="nom_' + idx + '" id="ONNomineePicture_' + idx + '" name="OwnersNomineeList[' + idx + '].PictureFile" type="file"  required/>' +
            '</div>' +

            '<div class="col">' +
            '<img id="nominee-nid-pic_' + idx + '" class="" src="../Content/families/base.jpg" alt="HTML5 Icon" width="128" height="128">' +
            '<input class="nom_nid_' + idx + '" id="ONNomineeNIDPath_' + idx + '" name="OwnersNomineeList[' + idx + '].NIDPictureFile" type="file"  required/>' +
            '</div>' +

            '<button type="button" class="btn btn-danger deleteNominee" onclick="deleteNominee(' + idx + ')" value="identifier' +
            idx + '">Delete Nominee</button></div>');

        idx = idx + 1;

        $('input[type="file"]').change(function () {
            ImageLoad(this);
        });
    }

    $('.but2').click(addNominee);
</script>

<script>
    function deleteNominee(idx) {
        var divname = 'identifier' + idx;
        $('.' + divname).remove();
    }
</script>


<!--Project Tab-->
<script>
        var fun = function () {
            $('.children3').append('<div><div class="row"><div class="col"><label for="OPPeriod">Time Period</label><input type="text" class="form-control" placeholder="Time Period" name="OPPeriod" id="OPPeriod"></div><div class="col"><label for="OPDate">Date</label><input type="date" class="form-control" placeholder="Date" name="OPDate" id="OPDate"> </div><div class="col"><label for="OPAmount">Amount</label><input type="text" class="form-control " placeholder="Amount" name="OPAmount" id="OPAmount"></div></div></div>');
        }
        $('.but3').click(fun);


        function retrieveProjects() {
            //var values = document.querySelectorAll("#Child-Name");
            var ProjectPeriod = $('input[id="OPPeriod"]').map(function () {
                return this.value;
            }).get();
            //var values = document.getElementById("Child-Name").value;
            //alert(ProjectPeriod);

            var ProjectAmount = $('input[id="OPAmount"]').map(function () {
                return this.value;
            }).get();
            //var values = document.getElementById("Child-Name").value;
            //alert(ProjectAmount);

            var ProjectDate = $('input[id="OPDate"]').map(function () {
                return this.value;
            }).get();
            //var values = document.getElementById("Child-Name").value;
            //alert(ProjectDate);

            var ownerProjectId = '@Model.OPOwnerId';
            //alert(ownerProjectId);
            var myModel = {
                ProjectName: $('#OPProjectName').val(),
                NumberOfRoom: $('#OPNumberOfRoom').val(),
                NumberOfDays: $('#OPNumberOfDays').val(),
                PurchaseDate: $('#OPPurchaseDate').val(),
                SalesAmount: $('#OPSalesAmount').val(),
                PaidAmount: $('#OPPaidAmount').val(),
                OwnerId: ownerProjectId,


                PeriodArray: ProjectPeriod,
                AmountArray: ProjectAmount,
                DateArray: ProjectDate
            };

            //alert(myModel);
            $.ajax({
                context: this,
                type: 'post',
                url: '../OwnersInfo/gettingOwnerProjectInfo/',
                data: myModel,
                success: function (result) {
                    //alert(myModel.ProjectName);
                    //alert(myModel.PartialUserDetailsViewModels);
                },
                error: function () {
                    //error();
                }
            });

        }
        //var values = document.getElementsById("ChildName").value;
        //var values = $('input[name="dum"]').map(function() {
        //    return this.value;
        //}).get();

        // $('.package').append("<p>ok dude, this is really a new item!</p>");
</script>

