﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Math
@using StarterProjectV2.Models
@model StarterProjectV2.ViewModels.CalendarViewModel
@{
    ViewBag.Title = "Calendar View - Referral Bookings";
}

@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>

    <style>
        div.pager {
            /*text-align: right;*/
            /*width: 60em;*/
            /*margin: 1em auto;*/
        }

        .C9999 {
            background: LightPink;
        }

        .table {
            font-size: 13px;
        }

        table.table {
            empty-cells: show;
        }

        table th, td {
            font-size: 11px;
            padding: 5px !important;
            width: 60px;
            max-width: 65px !important;
            overflow-wrap: break-word;
            word-break: break-all;
        }
    </style>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Calender View
}
<body style="background-color: oldlace">
<div class="card" style="margin-bottom: 0">
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-4">
                <p class="page-item " style="width:40%;">
                    <a class="page-link" href="#" style="text-align: center;color:black" onclick="previous(@Model.Offset)">« Previous</a>
                </p>
            </div>
            <div class="col-4">
                <h2 class="text-center" style="color:red">@ViewData["Title"]</h2>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <p class="page-item " style="width:40%;">
                    <a class="page-link" href="#" style="text-align: center;color:black" onclick="next(@Model.Offset)">Next »</a>
                </p>
            </div>
        </div>
    </div>
    @*<script> alert(@Model.calendarMatrix)</script>*@
    <div class="container-fluid">

        <table class="table table-bordered m-2" style="border:1px solid #ccc;">
            <thead>
                <tr>
                    @{
                        var date1 = System.DateTime.Today.AddDays(15 * Model.Offset);
                        var date2 = date1.AddDays(15);

                        <th scope="col" style="background: red">@date1.Date.ToString("dd-MM-yyyy")</th>

                        for (; date1.Date < date2.Date; date1 = date1.AddDays(1))
                        {
                            <th scope="col">@date1.Date.ToString("dd-MM-yyyy")</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    for (int roww = 1; roww <= 36; roww++)
                    {
                        <tr id="@roww">
                            @{ for (int col = 0; col <= 15; col++)
                                {
                                    <td id="@roww-@col" style="background-color: @Model.calendarMatrixColor[roww, col]"><a href="../Booking/FolioDetail?ReferralBookingId=@Model.calendarMatrixBookingId[roww, col]" style="color:#000000" onclick="window.open(this.href, 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes'); return false;">@Model.calendarMatrix[roww, col]</a></td>
                                }
                            }
                        </tr>
                    }
                    int row = 37;
                    {
                        <tr id="@row">
                            <td id="@row-0">Rooms Reserved</td>
                            @{ for (int col = 1; col <= 15; col++)
                                {
                                    <td id="@row-@col">@Model.calendarMatrix[row, col]</td>

                                }
                            }
                        </tr>
                    }
                    row = 38;
                    {
                        <tr id="@row">
                            <td id="@row-0">Rooms Available</td>
                            @{ for (int col = 1; col <= 15; col++)
                                {
                                    <td id="@row-@col">@Model.calendarMatrix[row, col]</td>

                                }
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="table-responsive-lg" id="js-table">
            <table id="dtBasicExample" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0"></table>
        </div>

    </div>
</div>
</body>
<script>
    function next(i) {
        window.location.href = "../OwnersInfo/CalendarViewReferral?offset=" + (i + 1);
    };
    function previous(i) {
        window.location.href = "../OwnersInfo/CalendarViewReferral?offset=" + (i - 1);
    };

    $(document).ready(function () {
        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').remove();
        $('#reloadItem').remove();
        $("#reportItem").remove();
        $("#dashboardItem").remove();
    });
</script>
@*
    <script>
        $(document).ready(function () {
            alert("In script");
            var id = "@Model.OwnerRoomBookingListCurrent.ElementAt(2).SlotId.ToString()";
            var date = "@Model.OwnerRoomBookingListCurrent.ElementAt(5).Startdate.ToString()";
            var day= date.split('/')
            console.log(date)
            console.log(day)
            alert("day: " + day[1]);
            alert("Id: " + id);
                //var hiddenBox = $("#banner-message");
                //$("#button-container button").on("click", function (event) {
                //    hiddenBox.show();
                //});
        });
    </script>
*@
