﻿@model StarterProjectV2.ViewModels.ReferrelRoomBookingManagementView
@{
    ViewData["Title"] = "Referral Reservations - Remaining CheckOut";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}



@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Remaining CheckOut of Owner's Referral Reservations)
}
<!DOCTYPE html>
<div class="card" style="margin-bottom: 0">
    <h2 class="text-center mt-3" style="color:indianred">@ViewData["Title"]</h2>

    <div class="card-body">


        <div class="table-responsive-lg" id="table">
            @{
                int noOfbooking = Model.OwnerRoomBookingListCurrent.Count();
            }
            @if (noOfbooking != 0)
            {
                <table id="mainTable1" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
                    <thead style="color: white; background-color:#315152">

                        <tr>
                            @*<th scope="col">View</th>*@
                            <th scope="col">Confirm</th>
                            @*<th scope="col">
                                    Cancel
                                </th>*@
                            <th scope="col">Booking Application Date</th>
                            <th scope="col">Booking No.</th>
                            <th scope="col">Slot Id</th>
                            @*<th scope="col">Main Guest Name</th>*@
                            <th scope="col">Main Guest Mobile</th>
                            @*<th scope="col">Main Guest Email</th>*@
                            <th scope="col">No of Adult</th>
                            <th scope="col">No of Child</th>
                            <th scope="col">No of Room</th>
                            <th scope="col">Arrival Date</th>
                            <th scope="col">Departure Date</th>

                            <th scope="col">Checked Out or Not</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ownerRoomBooking in Model.OwnerRoomBookingListCurrent)
                        {
                            <tr>
                                <td>
                                    @if (ownerRoomBooking == Model.OwnerRoomBookingListCurrent.ElementAt(0))
                                    {
                                        <button class="btn btn-primary" data-target="#ConfirmModal-@ownerRoomBooking.ReferralBookingId" data-toggle="modal"> Confirm </button>

                                        <div class="modal fade" tabindex="-1" id="ConfirmModal-@ownerRoomBooking.ReferralBookingId" data-keyboard="false" data-backdrop="static">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            &times;
                                                        </button>
                                                        @*<h4 class="modal-title">Confirm</h4>*@
                                                    </div>
                                                    <div class="modal-body">

                                                        <form>
                                                            @*<div class="row">*@

                                                            <label class="col-sm-3 col-lg-3 col-md-3 col-form-label">Owner Has Checked Out or Not</label>
                                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                                @*@Html.TextBoxFor(m => m.HasStayedOrNot, new { @class = "form-control", placeholder = "", type = "text"})*@
                                                                @Html.DropDownListFor(m => m.HasCheckedOutOrNot, new SelectList(new List<string> { "No", "Yes" }), new { @id = "HasCheckedOutOrNot", @class = "form-control" })
                                                                <input type="hidden" name="name" id="ReferralBookingId" value="@ownerRoomBooking.ReferralBookingId" />
                                                            </div>
                                                            @*<div class="w-50">*@
                                                            <label class="col-sm-3 col-lg-3 col-md-3 col-form-label">CheckOut Date</label>
                                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                                @Html.TextBoxFor(m => m.CheckOutDate, new { @class = "form-control", placeholder = "", type = "date", @id = "CheckOutDate" })

                                                            </div>

                                                            <label class="col-sm-3 col-lg-3 col-md-3 col-form-label">Total Room Cost</label>
                                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                                @Html.TextBoxFor(m => m.TotalExpense, new { @class = "form-control", placeholder = "", type = "text", @id = "TotalExpense" })


                                                            </div>
                                                            <label class="col-sm-3 col-lg-3 col-md-3 col-form-label">Extra Charges</label>
                                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                                @Html.TextBoxFor(m => m.ExtraCharges, new { @class = "form-control", placeholder = "", type = "text", @id = "ExtraCharges" })


                                                            </div>

                                                            <label class="col-sm-3 col-lg-3 col-md-3 col-form-label">Referral Point</label>
                                                            <div class="col-sm-6 col-lg-6 col-md-6">
                                                                @Html.TextBoxFor(m => m.ReferralPoint, new { @class = "form-control", placeholder = "", type = "number", @id = "ReferralPoint" })


                                                            </div>

                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary" id="ConfirmForm" onclick="bookingTokenSubmit()">Submit</button>
                                                        <button type="button" class="btn btn-primary"
                                                                data-dismiss="modal">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*}*@
                                    }
                                </td>
                                @*<td>
                                        @using (Html.BeginForm("OwnerRoomBookingDelete", "OwnersInfo", new { ownerRoomBookingId = ownerRoomBooking.OwnerRoomBookngId }, FormMethod.Post))
                                        {
                                            <button type="submit"
                                                    class="btn btn-light"
                                                    data-toggle="tooltip"
                                                    data-placement="bottom"
                                                    title="Cancel"
                                                    onclick="functionforSMS()">
                                                <i class="icon-trash">
                                                </i>
                                            </button>
                                        }
                                    </td>*@
                                <td>@ownerRoomBooking.ApplicationDate.ToString("dd-MMM-yyyy hh:mm tt")</td>
                                @if (ownerRoomBooking.BookingToken == "" || ownerRoomBooking.BookingToken == null)
                                {
                                    <td>Not Assigned</td>
                                }
                                else
                                {
                                    <td>@ownerRoomBooking.BookingToken</td>
                                }
                                <td>@ownerRoomBooking.SlotId</td>
                                @*<td>@ownerRoomBooking.GuestNameMain</td>*@
                                <td>@ownerRoomBooking.GuestMobile</td>
                                @*<td>@ownerRoomBooking.Email</td>*@
                                <td>@ownerRoomBooking.NoOfAdult</td>
                                <td>@ownerRoomBooking.NoOfChild</td>
                                <td>@ownerRoomBooking.NoOfRoomRequested</td>
                                @{
                                    var Startdate = (ownerRoomBooking.CheckInDate);
                                    var val1 = Startdate.ToString("dd-MMM-yyyy");
                                    <td>@val1</td>
                                }
                                @{
                                    var Enddate = Convert.ToDateTime(ownerRoomBooking.CheckOutDate);
                                    var val2 = Enddate.ToString("dd-MMM-yyyy");
                                    <td>@val2</td>
                                }


                                <td>@ownerRoomBooking.HasCheckedOutOrNot</td>

                            </tr>
                        }

                    </tbody>
                </table>
            }
            else
            {
                <h3 align="center">No Current Room Bookings</h3>

            }
        </div>
        <div class="table-responsive-lg" id="js-table">
            <table id="dtBasicExample" data-pagination="true" class="table table-hover table-light" style="margin-bottom: 0"></table>
        </div>
        <div class="text-center" id="message">

        </div>
    

    <div class="card-footer">

        <div class="text-right">
            @if (Model.OwnerRoomBookingListCurrent.Count == 0)
            {

                <button type="submit" class="btn btn-primary" id="Next" onclick="Next()">Finish</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" id="Next" disabled>Finish</button>
            }
        </div>

    </div>
    </div>

</div>

<script>
    function bookingTokenSubmit() {
        var referralBookingId = $('#ReferralBookingId').val();
        var hasCheckedOutOrNot = $("#HasCheckedOutOrNot").val();
        var checkOutDate = $('#CheckOutDate').val();
        var totalExpense = $("#TotalExpense").val();
        var extraCharges = $('#ExtraCharges').val();
        var referralPoint = $('#ReferralPoint').val();

        var myModel = {
            ReferralBookingId: referralBookingId,
            HasCheckedOutOrNot: hasCheckedOutOrNot,
            CheckOutDate: checkOutDate,
            TotalExpense: totalExpense,
            ReferralPoint: referralPoint,
            ExtraCharges: extraCharges

        };
        //alert("ID: = " + ownerRoomBookingId + "has Stayed Or Not: " + hasStayedOrNot);
        $.ajax({
            context: this,
            type: 'post',
            url: '../OwnersInfo/ReferralHasCheckedOutorNot/',
            data: myModel,
            success: function (result) {
                window.location.href = "/OwnersInfo/CheckRemainingReferralCheckOutManagement";
            },
            error: function () {
                //error();
            }
        });
    }
</script>

<script type="text/javascript">
        $("#Next").click(function () {
            window.location = '@Url.Action("About", "Home")' ;

            });
</script>

<script>
    var submitBookingForm = document.getElementById('ConfirmForm'),
        checkbox = document.getElementById('agreeTermsButton'),
        disableSubmit = function (e) {
            submitBookingForm.disabled = !this.checked
        };

    checkbox.addEventListener('change', disableSubmit);
</script>



<script>
    $("#" + @Model.index).addClass("active");
</script>


<script>
    $(document).ready(function() {
   
        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $("#saveItem").remove();
        $("#reportItem").remove();
        $('#printItem').click(function(){
            window.print();
        });
   
        $('#reloadItem').click(function() {
            location.reload();
        });
  

    });


</script>
