﻿@model StarterProjectV2.ViewModels.DashboardNoticeManagementView
@{
    ViewData["Title"] = "Owner's Notice Management";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Dashboard Notice Management
}
<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
<div class="card" style="margin-bottom: 0">
    <form class="form-inline mb-3 ml-3 d-flex justify-content-center">
        <input value="" id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="button" onclick="search()">Search</button>
        @*<div class="input-group-append">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>*@
    </form>
    <div class="table-responsive-lg p-2" id="table">

        <table id="mainTable" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
            <thead style="color: white; background-color:#315152">

                <tr>
                    <th scope="col">View</th>
                    @*<th scope="col">Edit</th>*@
                    <th scope="col">
                        Delete
                    </th>
                    @*<th scope="col">Notice Id</th>*@
                    <th scope="col">Date</th>
                    <th scope="col">Day</th>
                    <th scope="col">Notice Type</th>
                    <th scope="col">File Display Name</th>
                    <th scope="col">PDF File Path</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int noOfdata = Model.DashboardNoticeList.Count();
                }
                @if (@noOfdata != 0)
                {

                    foreach (var notice in @Model.DashboardNoticeList)
                    {
                        <tr>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="View"
                                        onclick="location.href = '@Url.Action("DashboardNoticeView", "OwnersInfo", new { NoticeId=notice.NoticeId})'">
                                    <i class="icon-eye">
                                    </i>
                                </button>
                            </td>
                            @*<td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Edit"
                                        onclick="location.href='@Url.Action("DashboardNoticeEdit", "OwnersInfo", new { NoticeId=notice.NoticeId})'">
                                    <i class="icon-notebook">
                                    </i>
                                </button>
                                </td>*@
                            <td>
                                @using (Html.BeginForm("DashboardNoticeDelete", "OwnersInfo", new { NoticeId = notice.NoticeId }, FormMethod.Post))
                                {
                                    <button type="submit"
                                            class="btn btn-light"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="Delete" onclick="return confirm('Are you sure?')">
                                        <i class="icon-trash">
                                        </i>
                                    </button>
                                }
                            </td>
                            <td>@notice.Date.ToString("dd-MMM-yyyy hh:mm tt")</td>
                            <td>@notice.Day</td>
                            <td>@notice.NoticeType</td>
                            <td>@notice.FileDisplayName</td>
                            <td>
                                @{
                                    var time = "?" + DateTime.Now.ToString("h:mm:ss tt");
                                }
                                @*<a id="TIN-file-link" href="@Href(@md.PDFFilePath + time3)" target="_blank">@md.PDFFilePath.Split('/').Last().ToString()</a>*@
                                @*<a id="TIN-file-link" href="@Href(md.PDFFilePath + time)" target="_blank">@md.PDFFilePath.Split('\\').Last().ToString()</a>*@
                                <a id="TIN-file-link" href="@Url.Content("~/Content/ownersitenotices/" + notice.PDFFilePath + time)" target="_blank">@notice.FileDisplayName.ToString()</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="table-responsive-lg" id="js-table">
    <table id="dtBasicExample" data-pagination="true" class="table table-hover table-light" style="margin-bottom: 0;background-color: gainsboro"></table>
</div>
<div class="text-center" id="message">

</div>
@{
    int NoOfPage = Model.noOfPage;
}
@*<h3>@noOfOwnr</h3>*@
@if (NoOfPage != 0)
{

    <div class="pager" style="padding-top: 20px; direction:ltr; display:block;" align="center" id="pagination">

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center flex-wrap">
                @{
                    int prev_idx = Model.index - 1;
                }
                <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(1)">« First</a></li>
                <li class="page-item previous"><a class="page-link" href="#" onclick="previous(@prev_idx, @Model.noOfPage)">« Previous</a></li>
                @{
                    int idx = Model.index;
                    int next_idx = Model.index + 1;
                    int noOfPage = Model.noOfPage;
                    if (noOfPage < 10)
                    {
                        for (int i = 1; i <= noOfPage; i++)
                        {
                            <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                        }
                    }
                    else
                    {
                        if (idx <= 5)
                        {
                            if (noOfPage < 10)
                            {
                                for (int i = 1; i <= noOfPage; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }
                            }
                            else
                            {
                                for (int i = 1; i <= 10; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }
                            }
                        }
                        else if (idx > 5 && idx <= (noOfPage - 5))
                        {
                            for (int i = idx - 4; i <= idx + 5; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }
                        }
                        else
                        {
                            for (int i = noOfPage - 9; i <= noOfPage; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }

                        }
                    }
                }
                <li class="page-item next"><a class="page-link" href="#" onclick="next(@next_idx, @noOfPage)">Next »</a></li>
                <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(@Model.noOfPage)">Last »</a></li>
            </ul>
        </nav>

    </div>

}

<script>
    function search() {
        var s = $("#searchfield").val();
        //alert(s);
        var myModel = {
            searchfield: s,
        };
        if (s.length != 0) {
            $.ajax({
                context: this,
                type: 'post',
                url: '../OwnersInfo/gettingNoticeSearchResult/',
                data: myModel,
                success: function(result) {
                    //alert(myModel.PartialUserDetailsViewModels);
                    @*var url = '@Html.Raw(Url.Action("OwnerManagement", "OwnersInfo", new OwnerList{}))';
                //window.location = '../Home/About';
                window.location.href = url;*@
                    //alert("OOOO");
                    //alert(1000);
                    var len = result.length;
                    document.getElementById('table').style.display = 'none';
                    document.getElementById('pagination').style.display = 'none';
                    document.getElementById('js-table').style.display = 'block';
                    //alert("OOOO");
                    //var a = 1, b = 2;
                    @*console.log(len);*@
                    //alert("length: " + len);
                    addMultipleRow(len, result);
                },
                error: function () {
                    alert("Ërror");
                    //error();
                }
            });
        } else {
            document.getElementById('table').style.display = 'block';
            document.getElementById('pagination').style.display = 'block';
            document.getElementById('js-table').style.display = 'none';
            $('#message').html("");
        }
    }

</script>
<script>
    $("#" + @Model.index).addClass("active");
</script>
<script>
    function previous(i, n) {
        if (i >= 1) {
            window.location.href = "DashboardNoticePagination?index=" + i;
        }
    }
</script>
<script>
    function next(i, n) {
        if (i <= n) {
            window.location.href = "DashboardNoticePagination?index=" + i;
        }
    }
</script>
<script>
    function paginationPureJS(i) {

        window.location.href = "DashboardNoticePagination?index=" + i;
    }
</script>

<script>
    $(document).ready(function() {
        var taskRoles = "@Model.TaskRoles";
        if (taskRoles[0] == '0') {
            $('table tr').find('td:eq(0),th:eq(0)').remove();
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(0),th:eq(0)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(0),th:eq(0)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            }
        } else {
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(1),th:eq(1)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(2),th:eq(2)').remove();
                }
            }
        }
        if (taskRoles[1] == '0') {
            $("#newItem").remove();
        }
    });
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>




<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });
    $(document).ready(function() {
        $("#newItem").click(function() {
            document.location = '@Url.Action("DashboardNoticeCreate", "OwnersInfo")';
        });

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function(){
            window.print();
        });

        $('#reloadItem').click(function() {
            location.reload();
        });
        $("#reportItem").remove();

        @*$("#reportItem").click(function() {
            document.location = '@Url.Action("RoomReport", "OwnersInfo")';
        });*@
        $("#dashboardItem").click(function() {
        });
    });
</script>

<script src="~/Content/vendors/js/jquery.min.js"></script>
<script src="~/Content/vendors/js/popper.min.js"></script>
<script src="~/Content/vendors/js/bootstrap.min.js"></script>
<script src="~/Content/vendors/js/pace.min.js"></script>
<script src="~/Content/vendors/js/toastr.min.js"></script>
<script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
<script src="~/Content/vendors/js/coreui.min.js"></script>


