﻿@model StarterProjectV2.ViewModels.DashboardNoticeView
@{
    ViewBag.Title = "DashboardNotice";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>

}
@section PAGETITLE{
    Dashboard Notice Create
}
<div class="row justify-content-center mt-4">
    <div class="card col-12">
        <div class="card-body">
            <h1 class="text-center mb-5" style="color:cadetblue">Notice Upload Form</h1>
            <p class="text-muted"></p>
            <div>
                @using (Html.BeginForm("DashboardNoticeAddorEdit", "OwnersInfo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Date</label>
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.TextBoxFor(m => m.Date, new { @class = "form-control", name = "Date", type = "date", id = "dateOfNotice", @required = "req", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Notice Type</label>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            @Html.DropDownListFor(m => m.NoticeType, new SelectList(Model.NoticeTypeList), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">File Display Name</label>
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.TextBoxFor(m => m.FileDisplayName, new { @class = "form-control", name = "FileDisplayName", type = "text", id = "FileDisplayName", @required = "req" })
                        </div>
                    </div>
                    //Notice File Upload
                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-2 col-md-3 col-form-label">Notice File (PDF)</label>
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            <input id="Noticefile" type="file" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt, .pptx,.txt,.pdf" required="req" />
                            @{
                                var time2 = "?" + DateTime.Now.ToString("hh:mm:ss tt");

                            }
                            @{
                                @*<a id="Notice-file-link" href="@Href(Model.NoticeId+time2)" target="_blank">@Model.NoticeId</a>*@
                            }
                        </div>
                    </div>

                    <hr />

                    @Html.HiddenFor(m => m.PDFFilePath, new { @id = "message" })
                    @Html.HiddenFor(m => m.NoticeId, new { @id = "NoticeId" })
                    <div class="row" style="justify-content: center">
                        <div>
                            <button type="submit" class="btn btn-primary m-1" onclick="full_submit()">Submit</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-danger m-1">Cancel</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary m-1" onclick="javascript:window.history.back();">
                                <i class="fa fa-angle-left"></i> Back
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script>
    //To set the date value to todays date
    var field = document.querySelector('#dateOfNotice');
    var date = new Date();
    field.value = date.getFullYear().toString() + '-' + (date.getMonth() + 1).toString().padStart(2, 0) +
        '-' + date.getDate().toString().padStart(2, 0);
</script>

<script>
    window.addEventListener('load',
        function() {
            document.querySelector('input[id="Noticefile"]').addEventListener('change',
                function() {
                    //document.getElementById('unsaved-icon').style.display = 'inline-block';

                    if (this.files && this.files[0]) {
                        var type = this.files[0].type.toString();
                        var size = this.files[0].size / 1024 / 1024;
                        //alert(type);
                        if (size <= 10) {
                            if (type == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ||
                                type == "application/vnd.ms-excel" ||
                                type == "application/vnd.openxmlformats-officedocument.presentationml.presentation" ||
                                type == "application/pdf" ||
                                type == "image/jpeg" ||
                                type == "application/vnd.openxmlformats-officedocument.wordprocessingml.document" ||
                                type == "application/msword" ||
                                type == "text/csv" ||
                                type == "text/plain" ||
                                type == "application/vnd.ms-powerpoint") {
                                flg = true;
                                var img = $('#Notice-file-link')[0]; // $('img')[0]
                                img.href = URL.createObjectURL(this.files[0]);
                                img.text = this.files[0].name;
                                img.onload = imageIsLoaded; // optional onload event listener
                            }
                        } else {
                            toastr.error('Your uploaded Notice file is too large or not supported type, Please upload a file less than 10 MB and of supported file types like pdf, csv, txt, doc, docx, ppt, pptx. click the Close button to close this box',
                                'Error',
                                {
                                    closeButton: true,
                                    //progressBar: true,
                                    extendedTimeOut: 0,
                                    timeOut: 0,
                                });
                            @{
                                var time_Notice = "?" + DateTime.Now.ToString("h:mm:ss tt");
                            }
                            var img = $('#Notice-file-link')[0];
                            img.href = "@Href(Model.PDFFilePath + time_Notice)";
                            img.text = "@Model.NoticeId";
                        }
                    }
                });
        });
</script>



<script type="text/javascript">
    function function_edit_pdf_file() {
        ////var fileName = 'Model.NoticeId';
        //alert(fileName);
        //document.getElementById('uploader').onsubmit = function() {
        var formdata = new FormData(); //FormData object
        var fileInput = $('#Noticefile')[0];
        //Iterating through each files selected in fileInput
        //alert(fileInput.files[0].name);
        $("#message").val(fileInput.files[0].name);


        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i], fileInput.files[i].name);
        }
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '../OwnersInfo/Upload_PDFFile_Edit/');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //alert(xhr.responseText);
            }
        }
        return false;
    }
</script>
<script type="text/javascript">
    function full_submit() {
        var NoticefileInput = $('#Noticefile')[0];
        if (NoticefileInput.files.length != 0) {
            function_edit_pdf_file();
        }
    }
</script>
<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });
    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });
        $('#reportItem').remove();
        $('#dashboardItem').remove();

    });
</script>