﻿@model StarterProjectV2.ViewModels.EmailSMSReportOptionView
@{
    ViewBag.Title = "EmailandSMSReportSearchOption";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    EmailandSMSReportSearchOption
}
<body style="background-color: oldlace">
<div class="row justify-content-center ">
    <div class="card col-12">
        <div class="card-body">
            <h1 class="text-center mb-5" style="color: indianred">Search Notification Delivery Statuses</h1>
            <p class="text-muted"></p>
            <div>
                <div class="form-group row mb-3" style="display: flex; justify-content: center">
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">From Date</label>
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.TextBoxFor(m => m.FirstDate, new { @class = "form-control", name = "firstdate", type = "date", id = "firstDate" })
                    </div>
                </div>
                <div class="form-group row mb-3" style="display: flex; justify-content: center">
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">To Date</label>
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.TextBoxFor(m => m.LastDate, new { @class = "form-control", name = "lastdate", type = "date", id = "lastDate" })
                    </div>
                </div>
                <div class="form-group row mb-3" style="display: flex; justify-content: center">
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Notification Group</label>
                    <div class="col-lg-3 col-md-4 col-sm-4">
                        @Html.DropDownListFor(m => m.Group, new SelectList(Model.GroupList), new { @class = "form-control", id = "group" })
                    </div>
                </div>
                <div class="form-group row mb-3" style="display: flex; justify-content: center">
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Delivery Status</label>
                    <div class="col-lg-3 col-md-4 col-sm-4">
                        @Html.DropDownListFor(m => m.NotificationStatus, new SelectList(Model.NotificationStatusList), new { @class = "form-control", id = "notificationStatus" })
                    </div>
                </div>
                <div class="row" style="justify-content: center">
                    <div>
                        <button type="submit" class="btn btn-primary m-1" onclick="full_submit()">Submit</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary m-1" onclick="location.href = '@Url.Action("EmailandSMSReportManagement", "OwnersInfo", new {})'">Skip</button>
                    </div>
                </div>

            </div>
            <div class="table-responsive-lg" id="js-table">
                <table id="dtBasicExample" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0"></table>
            </div>
            <div class="text-center" id="message">
            </div>
        </div>
    </div>
</div>
    </body>
<script>
    function viewfunction(audit_id) {
        //alert(acc_id);
        window.location.href = "/OwnersInfo/EmailAndSMSReportView?auditId=" + audit_id;
    }
</script>
<script>
    function addMultipleRow(x, result) {
        //        var taskRoles = "//Model.TaskRoles";
        //alert(x);
        var str = "";
        if (x >= 1) {
            $('#message').html("");
            str += "<thead class='bg-blue' style='color:white'>";
            str += "<tr>";

            str += "<th scope='col'>View</th>";

            str += "<th scope='col'>SlotId</th>";
            str += "<th scope='col'>Type</th>";
            str += "<th scope='col'>Email</th>";
            str += "<th scope='col'>Mobile</th>";
            str += "<th scope='col'>Name</th>";
            str += "<th scope='col'>Text</th>";
            str += "<th scope='col'>Time Of Delivery</th>";
            str += "<th scope='col'>Category</th>";
            str += "<th scope='col'>Delivery Status</th>";
            str += "</tr>";
            str += "</thead>";
        } else {
            //str += "<h3 style='background:red'>No Result Found</h3>";
            $('#message').html("<br><h3 style='color:brown'>No Result Found</h3>");
        }
        for (var i = 0; i < x; i++) {
            str += "<tr>";

            str += "<td>";
            str += "<button type='button'";
            str += "class='btn btn-light'";
            str += "data-toggle='tooltip'";
            str += "data-placement='bottom'";
            str += "title='View'"
            str += 'onclick="viewfunction(\'' + result[i].EmailandSMSReportId + '\')">';
            str += "<i class='icon-eye'></i>";
            str += "</button>";
            str += "</td>";

            str += "<td>" + result[i].SlotId + "</td>";
            str += "<td>" + result[i].NotificationType + "</td>";
            str += "<td>" + result[i].Email + "</td>";
            str += "<td>" + result[i].Mobile + "</td>";
            str += "<td>" + result[i].Name + "</td>";
            str += "<td>" + result[i].Text + "</td>";
            str += "<td>" + result[i].TimeOfDelivery + "</td>";
            str += "<td>" + result[i].NotificationSerialNo + "</td>";
            str += "<td>" + result[i].IsSMSSent + "</td>";
            str += "</tr>";
        }
        $('#dtBasicExample').html(str);
    }
</script>

<script>
    function full_submit() {
        var firstDate = $("#firstDate").val();
        var lastDate = $("#lastDate").val();
        var notificationStatus = $("#notificationStatus").val();
        var group = $("#group").val();
        //alert(notificationStatus);

        if (firstDate != null && firstDate != '' && lastDate != null && lastDate != '') {
            var myModel = {
                FirstDate: firstDate,
                LastDate: lastDate,
                Group: group,
                NotificationStatus: notificationStatus,
            };
            $.ajax({
                context: this,
                type: 'post',
                url: '../OwnersInfo/EmailandSMSReportSearch/',
                data: myModel,
                success: function (result) {
                    var len = result.length;
                    //alert(len);
                    //document.getElementById('table').style.display = 'none';
                    //document.getElementById('pagination').style.display = 'none';
                    document.getElementById('js-table').style.display = 'block';
                    addMultipleRow(len, result);
                },
                error: function () {
                    //error();
                }
            });
        } else {
            toastr.error('Please fill up both the date fields', 'Error!!!', {
                closeButton: true,
                timeOut: 1500,
                progressBar: true,
            });
        }
    }
</script>
<script>
    $(document).ready(function () {
        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $("#dashboardItem").remove();
        $('#printItem').click(function () {
            window.print();
        });
        $('#reloadItem').click(function () {
            location.reload();
        });

        $("#reportItem").remove();
    });
</script>
<script src="~/Content/vendors/js/jquery.min.js"></script>
<script src="~/Content/vendors/js/popper.min.js"></script>
<script src="~/Content/vendors/js/bootstrap.min.js"></script>
<script src="~/Content/vendors/js/pace.min.js"></script>
<script src="~/Content/vendors/js/toastr.min.js"></script>
<script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
<script src="~/Content/vendors/js/coreui.min.js"></script>
