﻿@model StarterProjectV2.Models.EmailandSMSReport

@{
    ViewData["Title"] = "Email and SMS Report";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    @*<style>
            .form-control:disabled, .form-control[readonly]{
                background-color: white;
            }
        </style>*@
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Email and SMS Report
}

<body style="background-color: oldlace">
<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>

<div class="card">
    <div class="card-header">
        <strong>View the Detailed Email/SMS Sending Information</strong>
    </div>

    <div class="card-body">
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">User Name / Slot Id</label>
            @*<div class="col-md-4">
                @Html.TextBoxFor(m => m.SlotId, new { @class = "form-control", placeholder = "", id = "text-input", name = "text-input", type = "text", @readonly = "readonly" })
            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.SlotId)
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Notification Type</label>
            @*<div class="col-md-4">
                @Html.TextBoxFor(m => m.NotificationType, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "text", @readonly = "readonly" })

            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.NotificationType)
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Email</label>
            @*<div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "text", @readonly = "readonly" })

            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.Email)
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Mobile</label>
            @*<div class="col-md-4">
                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "text", @readonly = "readonly" })

            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.Mobile)
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Name</label>
            @*<div class="col-md-4">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "text", @readonly = "readonly" })

            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.Name)
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Text</label>
            @*<div class="col-md-4">
                @Html.TextAreaFor(m => m.Text, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "text", @readonly = "readonly" })

            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.Text)
                </p>
            </div>

        </div>

        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Time Of Delivery</label>
            @*<div class="col-md-4">
                @Html.TextBoxFor(m => m.TimeOfDelivery, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "text", @readonly = "readonly" })

            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.TimeOfDelivery)
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Category</label>
            @*<div class="col-md-4">
                @Html.TextBoxFor(m => m.NotificationSerialNo, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "text", @readonly = "readonly" })

            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.NotificationSerialNo)
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Delivery Status</label>
            @*<div class="col-md-4">
                @Html.TextBoxFor(m => m.IsSMSSent, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "text", @readonly = "readonly" })

            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.IsSMSSent)
                </p>
            </div>

        </div>
        @*@if (Model.Mobile != "0")
            {*@
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Mobile</label>
            @*<div class="col-md-4">
                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", id = "number-input", name = "number-input", type = "text", @readonly = "readonly" })

            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.Mobile)
                </p>
            </div>

        </div>
        @* } *@
    </div>

    <div class="card-footer">
        <button type="button" class="btn btn-primary m-1" onclick="javascript:window.history.back();">
            <i class="fa fa-angle-left"></i> Back
        </button>
    </div>
</div>

    </body>

<script>
    $(document).ready(function () {
        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });
        $('#reloadItem').click(function () {
            location.reload();
        });
        $("#dashboardItem").click(function () {
            //document.location = 'Url.Action("ExportExcel", "OwnersInfo")';
        });
        $("#reportItem").remove();
    });
</script>


