﻿<form id="uploader">
    <input id="fileInput" type="file" multiple>
    <input id="fileInput2" type="file" multiple>
    <input type="submit" value="Upload file" onclick="FullSubmit()"/>
</form>


<script>
    function PictureUpload() {
        //document.getElementById('uploader').onsubmit = function() {
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '../OwnersInfo/Upload/');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //alert(xhr.responseText);
            }
        }
        return false;
    }

</script>

<script>
    function NIDUpload() {
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput2');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '../OwnersInfo/Upload/');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //alert(xhr.responseText);
            }
        }
        return false;
    }
</script>
<script>
    function JSONMOdelPass() {
        var myModel = {
            //SpouseName: $('#spouseName').val(),
            a: 'dom',
            b: 'hi'
        };
        
        $.ajax({
            context: this,
            type: 'post',
            url: '../OwnersInfo/JSONDummy/',
            data: myModel,
            //type: this.method,
            //data: $(this).serialize(),
            success: function(result) {
                if (result.success) {
                    //layout.showNotification("Save Successful", "success");
                    //layout.showLoadingScreen(false);
                    //alert("Success");
                } else {
                    //alert("Failed");
                    //layout.showNotification("Error Saving Record", "error");
                    //layout.showLoadingScreen(false);
                }
            }
        });
        //alert("below");
    }
</script>
<script>
    function FullSubmit() {
        PictureUpload();
        NIDUpload();
        JSONMOdelPass();
    }
</script>

@*@{
        ViewBag.Title = "Index";
    }


    <h2>Index</h2>
    <input type="file" id="FileUpload1" />
    <input type="button" id="btnUpload" value="Upload Files" />



    <form id="upload" enctype="multipart/form-data">
        <input type="file" name="fileUpload" id="fileUpload" size="23" />
    </form>

    <script>
        $.ajax({
            url: '<%=Url.Action("JsonSave","Survey")  %>',
            dataType: 'json',
            processData: false,
            contentType: "multipart/mixed",
            data: {
                Id: selectedRow.Id,
                Value: 'some date was added by the user here :))'
            },
            cache: false,
            success: function (data) {}
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#btnUpload').click(function() {

                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {

                    var fileUpload = $("#FileUpload1").get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    // Adding one more key to FormData object
                    //fileData.append('username', ‘Manas’);

                    $.ajax({
                        url: '../OwnersInfo/UploadFiles',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function(result) {
                            alert(result);
                        },
                        error: function(err) {
                            alert(err.statusText);
                        }
                    });
                }
            });

            </script>*@  