﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Math
@using StarterProjectV2.ViewModels
@model StarterProjectV2.ViewModels.CommentList

@{
    /**/

    ViewData["Title"] = "Owner Comment Management";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <style>
        div.pager {
            /*text-align: right;*/
            /*width: 60em;*/
            /*margin: 1em auto;*/
        }
    </style>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Comment Management
}
<body style="background-color: oldlace">
<div class="card" style="margin-bottom: 0">
    <h2 class="text-center mt-3 mb-3" style="color: indianred">@ViewData["Title"]</h2>
    @*<form class="form-inline mb-3 ml-3">
        <input id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search" onkeyup="search()">
        <div class="input-group-append">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
        </div>
    </form>*@
    @{
        var idx1 = 0;
    }
    @{
        int noOfdata = Model.Comments.Count();
    }
    @if (noOfdata != 0)
    {
        <div class="table-responsive-lg p-2" style="display:block" id="table">
            <table id="mainTable" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
                <thead style="color: white; background-color:#315152">

                    <tr>
                        <th scope="col">Commenter's Name</th>
                        <th scope="col">Date Of Comment</th>
                        <th scope="col">Date Of Approval</th>
                        <th scope="col">Approve Status</th>
                        <th scope="col">Approve</th>
                        <th scope="col">Edit</th>
                        <th scope="col">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var comment in Model.Comments)
                    {
                        <tr>
                            <td>@Model.OwnersName.ElementAt(idx1)</td>
                            <td>@comment.CommentTime</td>
                            @if (comment.ApprovalTime == Convert.ToDateTime("1900 - 01 - 01 00:00:00.000"))
                            {
                                <td>Not Approved Yet</td>
                            }
                            else
                            {
                                <td>@comment.ApprovalTime</td>
                            }
                            <td>@comment.Approval</td>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Click To View & Approve"
                                        onclick="location.href = '@Url.Action("CommentView", "OwnersInfo", new { commentId = comment.CommentId })'">
                                    <i class="icon-eye">
                                    </i>
                                </button>
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Edit"
                                        onclick="location.href = '@Url.Action("", "OwnersInfo", new { commentId = comment.CommentId })'">
                                    <i class="icon-notebook">
                                    </i>
                                </button>
                            </td>
                            <td>
                                @using (Html.BeginForm("CommentDelete", "OwnersInfo", new { commentId = comment.CommentId }, FormMethod.Post))
                                {
                                    <button type="submit"
                                            class="btn btn-light"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="Delete" onclick="return confirm('Are you sure?')">
                                        <i class="icon-trash">
                                        </i>
                                    </button>
                                }
                            </td>
                        </tr>
                        idx1++;
                    }

                </tbody>
            </table>
        </div>
    }
    <div class="text-center" id="message">

    </div>
    @{
        int noOfComments = Model.NoOfComments;
    }
    @*<h3>@noOfOwnr</h3>*@
    @if (noOfComments != 0)
    {

        <div class="pager" style="padding-top: 20px; direction:ltr; display:block;" align="center" id="pagination">

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center flex-wrap">
                    @{
                        int prev_idx = Model.index - 1;
                    }
                    <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(1)">« First</a></li>
                    <li class="page-item previous"><a class="page-link" href="#" onclick="previous(@prev_idx, @Model.NoOfComments)">« Previous</a></li>
                    @{
                        int idx = Model.index;
                        int next_idx = Model.index + 1;
                        int noOfComment = Model.NoOfComments;
                        if (noOfComment < 10)
                        {
                            for (int i = 1; i <= noOfComment; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }
                        }
                        else
                        {
                            if (idx <= 5)
                            {
                                if (noOfComments < 10)
                                {
                                    for (int i = 1; i <= noOfComments; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }
                                }
                                else
                                {
                                    for (int i = 1; i <= 10; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }
                                }
                            }
                            else if (idx > 5 && idx <= (noOfComment - 5))
                            {
                                for (int i = idx - 4; i <= idx + 5; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }
                            }
                            else
                            {
                                for (int i = noOfComment - 9; i <= noOfComment; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }

                            }
                        }
                    }
                    <li class="page-item next"><a class="page-link" href="#" onclick="next(@next_idx, @noOfComment)">Next »</a></li>
                    <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(@Model.NoOfComments)">Last »</a></li>
                </ul>
            </nav>

        </div>

    }

</div>
    </body>
<script>
    function deletefunction(comment_id) {
        //alert(acc_id);
        window.location.href = "/OwnersInfo/CommentDelete?commentId=" + comment_id;
    }
</script>

<script>
    function addMultipleRow(x, result) {
        var taskRoles = "@Model.TaskRoles";
        var str = "";
        if (x >= 1) {
            $('#message').html("");
            str += "<thead class='bg-blue' style='color:white'>";
            str += "<tr>";
            if (taskRoles[0] == "1") str += "<th scope='col'>Approve</th>";
            if (taskRoles[3] == "1") str += "<th scope='col'>Edit</th>";
            if (taskRoles[4] == "1") str += "<th scope='col'>Delete</th>";
            str += "<th scope='col'>Comment Id</th>";
            str += "<th scope='col'>Post Id</th>";
            str += "<th scope='col'>Commenter's Id</th>";
            str += "<th scope='col'>Commenter's Name</th>";
            str += "<th scope='col'>Date of Post</th>";
            str += "<th scope='col'>Date Of Approval</th>";
            str += "<th scope='col'>Approve Status</th>";
            str += "</tr>";
            str += "</thead>";
        } else {
            //str += "<h3 style='background:red'>No Result Found</h3>";
            $('#message').html("<br><h3 style='color:brown'>No Result Found</h3>");
        }
        for (var i = 0; i < x; i++) {
            str += "<tr>";

            if (taskRoles[0] == "1") {
                str += "<td>";
                str += "<button type='button'";
                str += "class='btn btn-light'";
                str += "data-toggle='tooltip'";
                str += "data-placement='bottom'";
                str += "title='View'"
                str += 'onclick="viewfunction(\'' + result[i].CommentId + '\')">';
                str += "<i class='icon-eye'></i>";
                str += "</button>";
                str += "</td>";
            }

            if (taskRoles[3] == "1") {
                str += "<td>";
                str += "<button type='button'";
                str += "class='btn btn-light'";
                str += "data-toggle='tooltip'";
                str += "data-placement='bottom'";
                str += "title='Edit'"
                str += 'onclick="editfunction(\'' + result[i].CommentId + '\')">';
                str += "<i class='icon-notebook'></i>";
                str += "</button>";
                str += "</td>";
            }

            if (taskRoles[4] == "1") {
                str += "<td>";
                str += "<button type='button'";
                str += "class='btn btn-light'";
                str += "data-toggle='tooltip'";
                str += "data-placement='bottom'";
                str += "title='Delete'"
                str += 'onclick="deletefunction(\'' + result[i].CommentId + '\')">';
                str += "<i class='icon-trash'></i>";
                str += "</button>";
                str += "</td>";
            }


            str += "<td>" + result[i].CommentId + "</td>";
            str += "<td>" + result[i].PostId + "</td>";
            str += "<td>" + result[i].CommentorId + "</td>";
            str += "<td>" + result[i].OwnerName + "</td>";
            str += "<td>" + result[i].CommentTime + "</td>";
            str += "<td>" + result[i].ApprovalTime + "</td>";
            str += "<td>" + result[i].Approval + "</td>";
            str += "</tr>";
        }
        $('#dtBasicExample').html(str);
    }
</script>

<script>
    function viewfunction(comment_id) {
        //alert(acc_id);
        window.location.href = "/OwnersInfo/CommentView?commentId=" + comment_id;
    }
</script>

<script>
    function search() {
        var s = $("#searchfield").val();
        //alert(s);
        var myModel = {
            searchfield: s,
        };
        if (s.length != 0) {
            $.ajax({
                context: this,
                type: 'post',
                url: '../OwnersInfo/gettingSearchResultForComment/',
                data: myModel,
                success: function (result) {

                    var len = result.length;
                    document.getElementById('table').style.display = 'none';
                    document.getElementById('pagination').style.display = 'none';
                    document.getElementById('js-table').style.display = 'block';
                    //alert("OOOO");
                    //var a = 1, b = 2;
                    addMultipleRow(len, result);
                },
                error: function () {
                    //error();
                }
            });
        } else {
            document.getElementById('table').style.display = 'block';
            document.getElementById('pagination').style.display = 'block';
            document.getElementById('js-table').style.display = 'none';
            $('#message').html("");
        }


    }

</script>
<script>
    $("#" + @Model.index).addClass("active");
</script>
<script>
    function previous(i, n) {
        if (i >= 1) {
            window.location.href = "CommentsPagination?index=" + i;
        }
    }
</script>
<script>
    function next(i, n) {
        if (i <= n) {
            window.location.href = "CommentsPagination?index=" + i;
        }
    }
</script>
<script>
    function paginationPureJS(i) {

        window.location.href = "CommentsPagination?index=" + i;
    }
</script>


<script>
    $(document).ready(function() {
        var taskRoles = "@Model.TaskRoles";
        if (taskRoles[0] == '0') {
            $('table tr').find('td:eq(0),th:eq(0)').remove();
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(0),th:eq(0)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(0),th:eq(0)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            }
        } else {
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(1),th:eq(1)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(2),th:eq(2)').remove();
                }
            }
        }
        if (taskRoles[1] == '0') {
            $("#newItem").remove();
        }
    });
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    var clicked = false;
    $("#Select").on("click",
        function () {
            $(".form-check-input").prop("checked", !clicked);
            clicked = !clicked;
        });


    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });

        $("#reportItem").remove();
        $("#dashboardItem").click(function () {
        });
    });


</script>

