﻿@model StarterProjectV2.Models.OwnersInfo
@{
    ViewBag.Title = "OwnersInfo";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
  Owner's Info View
}
<body style="background-color: oldlace">
<div class="row justify-content-center ">
    <div class="card col-12">
        <div class="card-body">
            <h1 class="text-center" style="color:indianred">Owner's Information Form</h1>
            <p class="text-muted"></p>
            <div align="center" class="mb-3">
                @{
                    var time_profile = "?" + DateTime.Now.ToString("h:mm:ss tt");
                }
                @{
                    if (Model.PicturePath == null)
                    {

                        <img src="~/Content/ownerprofilepictures/base.jpg" alt="HTML5 Icon" width="64" height="64" onerror="this.onerror=null;this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png';">
                    }
                    else
                    {
                        var ownPicturePath = "~/upload/" + Model.SlotId + ".jpg";
                        <img id="TIN-pic" src="@Url.Content(ownPicturePath+time_profile)" alt="HTML5 Icon" width="64" height="64" onerror="this.onerror = null;this.src = 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png';">
                    }
                }
            </div>
            <div class="input-group mb-3">
                @*@Html.LabelFor(m => m.Name, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Owner's Name", type = "text", @readonly = "readonly" })*@
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Name</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.Name)
                    </p>               
                 </div>
                @*@Html.LabelFor(m => m.DateOfBirth, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.DateOfBirth,
                    new { @class = "form-control col-sm-3 col-lg-3 col-md-3", type = "date", @readonly = "readonly" })*@
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">DateOfBirth</label>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.DateOfBirth)
                    </p>
                </div>

                </div>

            <div class="input-group mb-3">
                @*@Html.LabelFor(m => m.FatherName, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.FatherName, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Father's Name", type = "text", @readonly = "readonly" })
                @Html.LabelFor(m => m.MotherName, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.MotherName, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Mother's Name", type = "text", @readonly = "readonly" })*@
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">FatherName</label>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.FatherName)
                    </p>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">MotherName</label>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.MotherName)
                    </p>
                </div>



            </div>

            <div class="input-group mb-3">
                @*@Html.LabelFor(m => m.SpouseName, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.SpouseName, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Spouse's Name", type = "text", @readonly = "readonly" })
                @Html.LabelFor(m => m.MarriageDate, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })*@

                @*@Html.TextBoxFor(m => m.MarriageDate, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Marriage Date", type = "text" })*@
                @*@Html.TextBoxFor(m => m.MarriageDate,
                    new { @class = "form-control col-sm-3 col-lg-3 col-md-3", type = "date", @readonly = "readonly" })*@
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">SpouseName</label>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.SpouseName)
                    </p>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">MarriageDate</label>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.MarriageDate)
                    </p>
                </div>


            </div>



            <div class="input-group mb-3">
                @*@Html.LabelFor(m => m.PresentAddress, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextAreaFor(m => m.PresentAddress, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Present Address", type = "text", @readonly = "readonly" })
                @Html.LabelFor(m => m.PermanantAddress, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextAreaFor(m => m.PermanantAddress, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "Permanent Address", type = "text", @readonly = "readonly" })*@
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">PresentAddress</label>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.PresentAddress)
                    </p>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">PermanentAddress</label>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.PermanantAddress)
                    </p>
                </div>


            </div>

            <div class="input-group mb-3">
                @*@Html.LabelFor(m => m.NID, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.NID, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "NID", type = "text", @readonly = "readonly" })*@
                @*@Html.LabelFor(m => m.TIN, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.TIN, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "TIN", type = "text", @readonly = "readonly" })*@
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">NID</label>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.NID)
                    </p>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">TIN</label>

                <div class="col-lg-4 col-md-4 col-sm-4">

                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.TIN)
                    </p>
                </div>
                </div>



            <div class="input-group mb-3">
                @*@Html.LabelFor(m => m.Mobile, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "+8801682580337", type = "tel", @readonly = "readonly" })
                @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "name@example.com", type = "text", @readonly = "readonly" })*@
                
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Mobile</label>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.Mobile)
                    </p>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Email</label>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.Email)
                    </p>
                </div>

            </div>

            <div class="input-group mb-3">
                @*@Html.LabelFor(m => m.AdminComment, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                @Html.TextBoxFor(m => m.AdminComment, new { @class = "form-control col-sm-3 col-lg-3 col-md-3", placeholder = "", type = "tel", @readonly = "readonly" })*@
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">AdminComment</label>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.AdminComment)
                    </p>
                </div>


            </div>
            @Html.HiddenFor(m => m.OwenerId)
        </div>
        <div align="center">
            <button class="btn btn-primary mb-5" onclick="window.history.back(1)">Go Back</button>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });

        $("#dashboardItem").click(function () {
            //document.location = 'Url.Action("ExportExcel", "OwnersInfo")';
        });
        $("#reportItem").remove();
    });
</script>