﻿@model StarterProjectV2.ViewModels.ReferrelRoomBookingManagementView
@{
    ViewData["Title"] = "Remaining CheckIn of Referral Bookings";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">


    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}



@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Remaining CheckIn of Referral Bookings
}
<!DOCTYPE html>
<div class="card" style="margin-bottom: 0">
    <h2 class="text-center mt-3" style="color:indianred">@ViewData["Title"]</h2>

    <div class="card-body">


        <div class="table-responsive-lg" id="table">
            @{
                int noOfbooking = Model.OwnerRoomBookingListCurrent.Count();
            }
            @if (noOfbooking != 0)
            {
                <table id="mainTable1" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
                    <thead style="color: white; background-color:#315152">
                        <tr>
                            @*<th scope="col">View</th>*@
                            <th scope="col">Confirm</th>
                            @*<th scope="col"t
                                    Cancel
                                </th>*@
                            <th scope="col">Booking Application Date</th>
                            <th scope="col">Booking No.</th>
                            <th scope="col">Slot Id</th>
                            @*<th scope="col">Main Guest Name</th>*@
                            <th scope="col">Main Guest Mobile</th>
                            @*<th scope="col">Main Guest Email</th>*@
                            <th scope="col">No of Adult</th>
                            <th scope="col">No of Child</th>
                            <th scope="col">No of Room</th>
                            <th scope="col">Arrival Date</th>
                            <th scope="col">Departure Date</th>
                            @*<th scope="col">Booking Status</th>*@
                            @*<th scope="col">Checked In or Not</th>*@

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ownerRoomBooking in Model.OwnerRoomBookingListCurrent)
                        {
                            <tr>
                                <td>
                                    @if (ownerRoomBooking == Model.OwnerRoomBookingListCurrent.ElementAt(0))
                                    {
                                        <button class="btn btn-primary" data-target="#ConfirmModal-@ownerRoomBooking.ReferralBookingId" data-toggle="modal"> Confirm </button>
                                        @*@using (Html.BeginForm("BookingTokenAdd", "OwnersInfo", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                            {*@
                                        <div class="modal fade" tabindex="-1" id="ConfirmModal-@ownerRoomBooking.ReferralBookingId" data-keyboard="false" data-backdrop="static">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            &times;
                                                        </button>
                                                        @*<h4 class="modal-title">Confirm</h4>*@
                                                    </div>
                                                    <div class="modal-body">

                                                     
                                                        <div class="row">
                                                            <div class="col-sm-6 col-form-label d-flex justify-content-center">
                                                                <div>
                                                                    <label>Owner Has Checked In or Not</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-lg-6 col-md-6 d-flex justify-content-start">
                                                                <div class="w-50">
                                                                    @*@Html.TextBoxFor(m => m.HasStayedOrNot, new { @class = "form-control", placeholder = "", type = "text"})*@
                                                                    @Html.DropDownListFor(m => m.HasStayedOrNot, new SelectList(new List<string> { "No", "Yes" }), new { @id = "HasStayedOrNot", @class = "form-control" })

                                                                </div>

                                                            </div>
                                                        </div>
                                                      
                                                        <div class="row">
                                                            <div class="col-sm-6 col-form-label d-flex justify-content-center">
                                                                <div>
                                                                    <label class="">Booking No.</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-lg-6 col-md-6 d-flex justify-content-start">
                                                                <div class="w-50">
                                                                    @Html.TextBoxFor(m => m.BookingToken, new { @class = "form-control", placeholder = "", type = "text", @id = "BookingToken" })
                                                                </div>

                                                            </div>


                                                        </div>
                                                  
                                                        <div class="row">

                                                            <div class="col-sm-6 col-form-label d-flex justify-content-center">
                                                                <div>
                                                                    <label>Folio Number</label>
                                                                </div>
                                                            </div>


                                                            <div class="col-sm-6 col-lg-6 col-md-6 d-flex justify-content-start">
                                                                <div class="w-50">
                                                                    @Html.TextBoxFor(m => m.FolioNo, new { @class = "form-control", placeholder = "", type = "text", @id = "FolioNo" })
                                                                </div>
                                                            </div>
                                                            @*<label class="col-sm-3 col-lg-3 col-md-3 col-form-label">Is Booking Completed</label>*@
                                                            <div class="col-sm-6 col-form-label d-flex justify-content-center">
                                                                <div>
                                                                    <label>Is Bookinng Completed</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 col-lg-6 col-md-6 d-flex justify-content-start">
                                                                <div class="w-50">
                                                                    @Html.DropDownListFor(m => m.IsBookingCompleted, new SelectList(new List<string> { "No", "Yes" }), new { @id = "IsBookingCompleted", @class = "form-control" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="name" id="ReferralBookingId" value="@ownerRoomBooking.ReferralBookingId" />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary" id="ConfirmForm" onclick="bookingTokenSubmit()">Submit</button>
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submit_enabling()">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    }
                                </td>
                   
                    
                
                                  
                                    @*<td>
                                            @using (Html.BeginForm("OwnerRoomBookingDelete", "OwnersInfo", new { ownerRoomBookingId = ownerRoomBooking.OwnerRoomBookngId }, FormMethod.Post))
                                            {
                                                <button type="submit"
                                                        class="btn btn-light"
                                                        data-toggle="tooltip"
                                                        data-placement="bottom"
                                                        title="Cancel"
                                                        onclick="functionforSMS()">
                                                    <i class="icon-trash">
                                                    </i>
                                                </button>
                                            }
                                        </td>*@
                                    <td>@ownerRoomBooking.ApplicationDate.ToString("dd-MMM-yyyy hh:mm tt")</td>
                                    @if (ownerRoomBooking.BookingToken == "" || ownerRoomBooking.BookingToken == null)
                                    {
                                        <td>Not Assigned</td>
                                    }
                                    else
                                    {
                                        <td>@ownerRoomBooking.BookingToken</td>
                                    }
                                    <td>@ownerRoomBooking.SlotId</td>
                                    @*<td>@ownerRoomBooking.GuestNameMain</td>*@
                                    <td>@ownerRoomBooking.GuestMobile</td>
                                    @*<td>@ownerRoomBooking.Email</td>*@
                                    <td>@ownerRoomBooking.NoOfAdult</td>
                                    <td>@ownerRoomBooking.NoOfChild</td>
                                    <td>@ownerRoomBooking.NoOfRoomRequested</td>
                                    @{
                                        var Startdate = (ownerRoomBooking.CheckInDate);
                                        var val1 = Startdate.ToString("dd-MMM-yyyy");
                                        <td>@val1</td>
                                    }
                                    @{
                                        var Enddate = Convert.ToDateTime(ownerRoomBooking.CheckOutDate);
                                        var val2 = Enddate.ToString("dd-MMM-yyyy");
                                        <td>@val2</td>
                                    }


                                    @*<td>@ownerRoomBooking.HasStayedOrNot</td>*@

                                    </tr>
                                }

                        </tbody>
                        </table>
                    }
                    else
                    {
                        <h3 align="center">No Current Room Bookings</h3>

                        @*<body onload="submit_enabling();"</body>*@
                    }
        </div>
        <div class="table-responsive-lg" id="js-table">
            <table id="dtBasicExample" data-pagination="true" class="table table-hover table-light" style="margin-bottom: 0"></table>
        </div>
        <div class="text-center" id="message">

        </div>


        <div class="card-footer">

            <div class="text-right">
                @if (Model.OwnerRoomBookingListCurrent.Count == 0)
                {

                    <button type="submit" class="btn btn-primary" id="Next" onclick="Next()">Next</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary" id="Next" disabled>Next</button>
                }
            </div>

        </div>
    </div>

    </div>

    <script>
        function bookingTokenSubmit() {
            var referralBookingId = $('#ReferralBookingId').val();
            var bookingToken = $("#BookingToken").val();
            var folioNo = $('#FolioNo').val();
            var hasStayedOrNot = $("#HasStayedOrNot").val();
            var isBookingCompleted = $("#IsBookingCompleted").val();
            //IsBookingCompleted
            var myModel = {
                ReferralBookingId: referralBookingId,
                FolioNo: folioNo,
                HasStayedOrNot: hasStayedOrNot,
                IsBookingCompleted: isBookingCompleted,
                BookingToken: bookingToken
            };
            //alert("ID: = " + ownerRoomBookingId + "Booking Token: " + bookingToken);
            $.ajax({
                context: this,
                type: 'post',
                url: '../OwnersInfo/ReferralBookingDetailsAdd/',
                data: myModel,
                success: function (result) {
                    //window.location("OwnersInfo", "DayCloseManagement");
                    window.location.href = "/OwnersInfo/RemainingReferralBookingManagement";
                },
                error: function () {
                    //error();
                }
            });
        }
    </script>

    <script type="text/javascript">
        $("#Next").click(function () {

                window.location = "@Url.Action("CheckRemainingOwnerCheckOutManagement", "OwnersInfo")" ;
                //alert(data);

            });
    </script>



    <script>
    $("#" + @Model.index).addClass("active");
    </script>



    <script>
    $(document).ready(function() {
        var taskRoles = "@Model.TaskRoles";
        if (taskRoles[0] == '0') {
            $('table tr').find('td:eq(0),th:eq(0)').remove();
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(0),th:eq(0)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(0),th:eq(0)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            }
        } else {
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(1),th:eq(1)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(2),th:eq(2)').remove();
                }
            }
        }
        if (taskRoles[1] == '0') {
            $("#newItem").remove();
        }
    });
    </script>
    <script>
    $(document).ready(function() {

        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $("#saveItem").remove();
        $("#reportItem").remove();
        $('#printItem').click(function(){
            window.print();
        });
           @*$("#newItem").click(function() {
            document.location = '@Url.Action("BookingCreate", "OwnersInfo")';
        });*@
        $('#reloadItem').click(function() {
            location.reload();
        });
        @*$("#reportItem").click(function() {
         document.location = '@Url.Action("Report", "OwnersInfo")';
        });*@
        @*$("#reportItem").remove();*@
        @*$("#dashboardItem").click(function() {
            document.location = '@Url.Action("ExportExcel", "OwnersInfo")';
        });*@
        @*$("#reportItem").click(function() {
            document.location = '@Url.Action("RoomReport", "OwnersInfo")';
        });*@

    });


    </script>


