﻿@model StarterProjectV2.ViewModels.OwnersInfoView
@{
    ViewBag.Title = "Single Page Owner's Information Management";
}
@section PAGETITLE{
    Owner's Info in a Single Page Management
}
<body style="background-color: oldlace">
    <div class="row justify-content-center ">
        <div class="card col-12">
            <div class="card-body">
                <h1 class="text-center mb-5" style="color: indianred">Single Page Owner's Information Management </h1>
                <p class="text-muted"></p>
                @using (Html.BeginForm("SinglePageOwnersInfo", "OwnersInfo", new { }, FormMethod.Post))
                {
                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-3 col-md-3 col-form-label text-center">Put the Slot Id / Smart Id </label>
                    </div>
                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.DropDownListFor(m => m.Id, Enumerable.Empty<SelectListItem>(), new { @class = "form-control", @required = "required", @autofocus="autofocus" })
                        </div>
                    </div>

                    <div class="form-group row mb-3" style="display: flex; justify-content: center; width: 100%; ">
                        <button type="submit" class="btn btn-primary col-sm-1 col-lg-1 col-md-1 ml-5">Submit</button>
                    </div>
                }

                <div class="table-responsive-lg" id="js-table">
                    <table id="dtBasicExample" data-pagination="true" class="table table-hover table-light" style="margin-bottom: 0"></table>
                </div>
                <div id="ownersSummary">

                </div>
                <div class="text-center" id="message">
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(function () {

        LoadSelect2("#Id", "/OwnersInfo/GetSlotIdList");

    });

</script>

<script>
    function full_submit() {
        alert("hello");
        var id = $("#Id").val();
        //alert(id);
        var myModel = {
            Id: id,
        };
        $.ajax({
            context: this,
            type: 'post',
            url: '../OwnersInfo/SinglePageOwnersInfo/',
            data: myModel,
            success: function (result) {
                //document.getElementById('js-table').style.display = 'block';
                showSummary(result);
            },
            error: function () {
            }
        });

    }
</script>
<script>
    $(document).ready(function () {
        $(document).ready(function() {
            $("#newItem").remove();
            $("#editItem").remove();
            $("#saveItem").remove();
            $("#deleteItem").remove();
            $('#printItem').click(function(){
                window.print();
            });

            $('#reloadItem').click(function() {
                location.reload();
            });
            $("#reportItem").remove();
            $("#dashboardItem").click(function() {
            });
            @*$("#reportItem").click(function() {
            document.location = '@Url.Action("RoomReport", "OwnersInfo")';
        });*@

        });
    });
</script>
