﻿@model StarterProjectV2.ViewModels.RoleDetailsView
@{
    ViewData["Title"] = "View Role Details";
    var myList = Model.GetAllModuleListWithTasks;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        .container {
            position: relative;
            text-align: center;
            color: white;
            width: 128px;
            height: 128px;
        }

        .centered {
            position: absolute;
            top: 90%;
            left: 60%;
            transform: translate(-50%, -50%);
            background-color: gray;
            color: darkblue;
        }
    </style>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Role Details
}
<body style="background-color: oldlace">
<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
<div class="card">
@*<div class="card-header">
     <strong>Please fill up the following information</strong>
</div>*@
@using (Html.BeginForm("RoleDetailsView", "Role", FormMethod.Post))
{

    <div class="card-body">
    <div class="form-group row mb-3">
        <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Role Name</label>
        @*<div class="col-lg-3 col-md-4 col-sm-4">
                    @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text", @readonly = "readonly" })
                </div>*@
        <div class="col-lg-4 col-md-4 col-sm-4">
            <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                @Html.DisplayFor(m => m.RoleName)
            </p>
        </div>


    </div>

     

    @foreach (var m in myList)
    {
        <div class="m-4" style="width: auto">
        @* <script></script> *@
        <strong><h4>@m.Item1.ModuleName</h4></strong>
        @foreach (var x in m.Item2)
        {
            string taskDetails = "";
            bool IsAssignedRole = false;
            foreach (var tasks in Model.TaskWithRoles)
            {
                if (tasks.Item1 == x.TaskId)
                {
                    taskDetails = tasks.Item2;
                    IsAssignedRole = true;
                }
            }

            var identifier = m.Item1.ModuleId + "-" + x.TaskId;
                        @*                     <hr style=" border-top: 1px solid black;" /> *@
            <div class="container-fluid d-flex flex-wrap flex-row justify-content-between">
            @* <div class="col-lg-2 col-md-3 col-sm-3 pl-5" style="width:10%">@x.TaskName</div> *@
            @* <div class="col-lg-2 col-md-3 col-sm-3 pl-5">@x.TaskName</div> *@
            <div class="mr-auto p-3">@x.TaskName</div>
            <div class="form-check-inline d-flex flex-wrap">
            @if (x.TaskEvent[0] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[0] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-view" checked disabled> View
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-view" disabled> View
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-view" disabled> View
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-view" disabled> View
                </div>
            }
            @if (x.TaskEvent[1] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[1] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-add" checked disabled> Add
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-add" disabled> Add
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-add" disabled> Add
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-add" disabled> Add
                </div>
            }
            @if (x.TaskEvent[2] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[2] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-save" checked disabled> Save
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-save" disabled> Save
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-save" disabled> Save
                    </div>
                }

            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-save" disabled> Save
                </div>
            }
            @if (x.TaskEvent[3] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[3] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-edit" checked disabled> Edit
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-edit" disabled> Edit
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-edit" disabled> Edit
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-edit" disabled> Edit
                </div>
            }
            @if (x.TaskEvent[4] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[4] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-delete" checked disabled> Delete
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-delete" disabled> Delete
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-delete" disabled> Delete
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-delete" disabled> Delete
                </div>
            }
            @if (x.TaskEvent[5] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[5] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-print" checked disabled> Print
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-print" disabled> Print
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-print" disabled> Print
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-print" disabled> Print
                </div>
            }
            @if (x.TaskEvent[6] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[6] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-cancel" checked disabled> Cancel
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-cancel" disabled> Cancel
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-cancel" disabled> Cancel
                    </div>
                }

            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-cancel" disabled> Cancel
                </div>
            }
            @if (x.TaskEvent[7] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[7] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-reset" checked disabled> Reset
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-reset" disabled> Reset
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-reset" disabled> Reset
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-reset" disabled> Reset
                </div>
            }
            @if (x.TaskEvent[8] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[8] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-find" checked disabled> Find
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-find" disabled> Find
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-find" disabled> Find
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-find" disabled> Find
                </div>
            }
            </div>
            @* <hr /> *@
            </div>
        }
        @* <hr style=" border-top: 1px solid black;" /> *@
        </div>
    }
    </div>

}
</div>
</body>
<script>
    $('.checkbox-parent').change(function () {
        // Traverse the DOM to get associated child checkbox
        var $child = $(this).closest('tr').find('.checkbox-child');

        // Update child state based on checked status
        $child.prop('disabled', !this.checked);
    });
</script>
<script>
    $("#sel1").change(function () {
        $.getJSON("../Task/gettingTaskList", { moduleId: $("#sel1 option:selected").val() },
            function (data) {

                var select = $("#sel2");
                select.empty();


                select.append($('<option/>', {
                    value: 0,
                    text: "--"
                }));


                $.each(data, function (index, itemData) {

                    select.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));

                });
            });
    });
</script>

<script type="text/javascript">
    $(function () {

        $(".dropdown-item").click(
            function () {

                var a = $("#dropdownMenu:first-child").text($(this).text());
                var b = $("#dropdownMenu:first-child").val($(this).text());

                var c = $('#dropDownMenu :selected').text();
                console.log(c);
            }
        );

    });

    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });
        $("#reportItem").remove();
        $("#dashboardItem").click(function () {
            //document.location = 'Url.Action("ExportExcel", "OwnersInfo")';
        });
    });

</script>


<script src="~/Content/vendors/js/jquery.min.js"></script>
<script src="~/Content/vendors/js/popper.min.js"></script>
<script src="~/Content/vendors/js/bootstrap.min.js"></script>
<script src="~/Content/vendors/js/pace.min.js"></script>
<script src="~/Content/vendors/js/toastr.min.js"></script>
<script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
<script src="~/Content/vendors/js/coreui.min.js"></script>


