﻿@model StarterProjectV2.ViewModels.RoleList
@{
    ViewBag.Title = "Role Management";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
}


@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
   Role Management
}
<div class="alert alert-danger alert-dismissible fade show" id="alert-box" style="display: none" role="alert">
    <strong>You must give the user some privileges.</strong> Click the cross button to dismiss the message.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<body style="background-color: oldlace">
<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>

<div class="card" style="margin-bottom: 0">

    <div class="table-responsive-lg">

        <table id="mainTable1" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
            <thead style="color: white; background-color:#315152">

            <tr>
                <th scope="col">Role Name</th>
                <th scope="col">View</th>

                <th scope="col">Edit</th>
                @*<th scope="col"> Delete</th>*@
            </tr>
            </thead>
            <tbody>
            @{
                int noOfdata = Model.userDetailsList.Count();
            }
            @if (noOfdata != 0)
            {
                foreach (var us in Model.userDetailsList)
                {
                    <tr>
                        <td>@us.RoleName</td>
                        <td>
                            <button type="button"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="View"
                                    onclick="location.href = '@Url.Action("RoleDetailsView", "Role", new { RoleName = us.RoleName })'">
                                <i class="icon-eye">
                                </i>
                            </button>
                        </td>

                        <td>
                            <button type="button"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Edit"
                                    onclick="location.href = '@Url.Action("RoleEdit", "Role", new { RoleName = us.RoleName })'">
                                <i class="icon-notebook">
                                </i>
                            </button>
                        </td>
                        @*<td>
                            @using (Html.BeginForm("RoleDelete", "Role", new { RoleName = us.RoleName }, FormMethod.Post))
                            {
                                <button type="submit"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Delete" onclick="return confirm('Are you sure?')" >
                                    <i class="icon-trash">
                                    </i>
                                </button>
                            }
                        </td>*@
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    $("#" + @Model.index).addClass("active");
</script>
<script>
    var flg = "@Model.flg";
    //alert(flg.length);
    if (flg.length==5) {
        //alert("ggg");
        document.getElementById("alert-box").style.display = "block";
    }
</script>
<script>
    $(document).ready(function() {
        var taskRoles = "@Model.TaskRoles";
        if (taskRoles[0] == '0') {
            $('table tr').find('td:eq(0),th:eq(0)').remove();
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(0),th:eq(0)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(0),th:eq(0)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            }
        } else {
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(1),th:eq(1)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(2),th:eq(2)').remove();
                }
            }
        }
        if (taskRoles[1] == '0') {
            $("#newItem").remove();
        }
    });
</script>
<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });


    $(document).ready(function() {
        $("#newItem").click(function() {
            document.location = '@Url.Action("RoleCreate", "Role")';

        });
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();

        $("#reportItem").remove();
        $("#dashboardItem").remove();

        $('#reloadItem').click(function() {
            location.reload();
        });
        $('#printItem').click(function () {
            window.print();
        });


    });
</script>
<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script src="~/Content/vendors/js/jquery.min.js"></script>
<script src="~/Content/vendors/js/popper.min.js"></script>
<script src="~/Content/vendors/js/bootstrap.min.js"></script>
<script src="~/Content/vendors/js/pace.min.js"></script>
<script src="~/Content/vendors/js/toastr.min.js"></script>
<script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
<script src="~/Content/vendors/js/coreui.min.js"></script>