﻿@model StarterProjectV2.ViewModels.RoleDetailsView
@{
    ViewData["Title"] = "Edit Role Details";
    var myList = Model.GetAllModuleListWithTasks;
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        .container {
            position: relative;
            text-align: center;
            color: white;
            width: 128px;
            height: 128px;
        }

        .centered {
            position: absolute;
            top: 90%;
            left: 60%;
            transform: translate(-50%, -50%);
            background-color: gray;
            color: darkblue;
        }
    </style>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
   Role Edit
}
<body style="background-color: oldlace">
<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
<div class="card">
@*<div class="card-header">
     <strong>Please fill up the following information</strong>
</div>*@
@using (Html.BeginForm("RoleDetailsView", "Role", FormMethod.Post))
{
    <div class="card-body">
    <div class="form-group row mb-3">
        <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Role Name</label>
        <div class="col-lg-3 col-md-4 col-sm-4">
            @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text" })
        </div>
    </div>
    @foreach (var m in myList)
    {
        <div class="m-4" style="width: auto">
        @* <script></script> *@
        <strong><h4>@m.Item1.ModuleName</h4></strong>
        @foreach (var x in m.Item2)
        {
            string taskDetails = "";
            bool IsAssignedRole = false;
            foreach (var tasks in Model.TaskWithRoles)
            {
                if (tasks.Item1 == x.TaskId)
                {
                    taskDetails = tasks.Item2;
                    IsAssignedRole = true;
                }
            }

            var identifier = m.Item1.ModuleId + "-" + x.TaskId;
                        @*                     <hr style=" border-top: 1px solid black;" /> *@
            <div class="container-fluid d-flex flex-wrap flex-row justify-content-between">
            @* <div class="col-lg-2 col-md-3 col-sm-3 pl-5" style="width:10%">@x.TaskName</div> *@
                   
            <div class="mr-auto p-3">@x.TaskName</div>
            <div class="form-check-inline d-flex flex-wrap">
            @if (x.TaskEvent[0] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[0] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-view" checked> View
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-view"> View
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-view" disabled> View
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-view"> View
                </div>
            }
            @if (x.TaskEvent[1] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[1] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-add" checked> Add
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-add"> Add
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-add"> Add
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-add"> Add
                </div>
            }
            @if (x.TaskEvent[2] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[2] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-save" checked> Save
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-save"> Save
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-save"> Save
                    </div>
                }

            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-save"> Save
                </div>
            }
            @if (x.TaskEvent[3] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[3] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-edit" checked> Edit
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-edit"> Edit
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-edit"> Edit
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-edit"> Edit
                </div>
            }
            @if (x.TaskEvent[4] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[4] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-delete" checked> Delete
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-delete"> Delete
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-delete"> Delete
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-delete"> Delete
                </div>
            }
            @if (x.TaskEvent[5] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[5] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-print" checked> Print
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-print"> Print
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-print"> Print
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-print"> Print
                </div>
            }
            @if (x.TaskEvent[6] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[6] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-cancel" checked> Cancel
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-cancel"> Cancel
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-cancel"> Cancel
                    </div>
                }

            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-cancel"> Cancel
                </div>
            }
            @if (x.TaskEvent[7] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[7] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-reset" checked> Reset
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-reset"> Reset
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-reset"> Reset
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-reset"> Reset
                </div>
            }
            @if (x.TaskEvent[8] == '1')
            {
                if (IsAssignedRole)
                {
                    if (taskDetails[8] == '1')
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-find" checked> Find
                        </div>
                    }
                    else
                    {
                        <div class="form-check pr-3">
                            <input class="form-check-input" type="checkbox" value=@identifier id="user-role-find"> Find
                        </div>
                    }
                }
                else
                {
                    <div class="form-check pr-3">
                        <input class="form-check-input" type="checkbox" value=@identifier id="user-role-find"> Find
                    </div>
                }
            }
            else
            {
                <div class="form-check pr-3">
                    <input class="form-check-input" type="checkbox" value=@identifier id="user-role-find"> Find
                </div>
            }
            </div>
            @* <hr /> *@
            </div>
        }
        @* <hr style=" border-top: 1px solid black;" /> *@
        </div>
    }
    </div>
}
<div class="card-footer d-flex justify-content-end">
    <button type="submit" class="submit btn btn-sm btn-primary px-3 py-2 m-1" onclick="function1()">
        <i class="fa fa-dot-circle-o"></i> Submit
    </button>
    <button type="reset" class="reset btn btn-sm btn-danger px-3 py-2 m-1">
        <i class="fa fa-ban"></i> Reset
    </button>
</div>
</div>
</body>
<script>
    function FullSubmitUserDetails() {
        alert("something");
        function1();

        alert("something");
    }
</script>

<script src="~/Content/vendors/js/toastr.min.js"></script>

<script type="text/javascript">
    function function1()
    {
        //if ($('#password-input').val() != $('#Confirm-Pass').val()) {

            //sessionStorage.reloadAfterPageLoad = true;
            //windows.location.reload();

        //}

        //else {
            var checkedViews = $('#user-role-view:checked').map(function() {
                return this.value;
            }).get();

            var checkedAdds = $('#user-role-add:checked').map(function () {
                return this.value;
            }).get();
            var checkedSaves = $('#user-role-save:checked').map(function () {
                return this.value;
            }).get();

            var checkedEdits = $('#user-role-edit:checked').map(function () {
                return this.value;
            }).get();

            var checkedDeletes = $('#user-role-delete:checked').map(function() {
                return this.value;
            }).get();

            var checkedPrints = $('#user-role-print:checked').map(function () {
                return this.value;
            }).get();

            var checkedCancels = $('#user-role-cancel:checked').map(function () {
                return this.value;
            }).get();

            var checkedResets = $('#user-role-reset:checked').map(function () {
                return this.value;
            }).get();

            var checkedFinds = $('#user-role-find:checked').map(function () {
                return this.value;
            }).get();


            @{
                List<Tuple<string,List<Tuple<string,string> >>> ModuleWithTask = new List<Tuple<string, List<Tuple<string, string>>>>();
            }
            var moduleList = [];
            @foreach (var module in myList)
            {
                <text>
                    var taskList = [];
                </text>
                foreach (var task in module.Item2)
                {
                    <text>
                        var prefixId = "@module.Item1.ModuleId" + "-" + "@task.TaskId";
                        var event = "";
                        if (checkedViews.includes(prefixId)) {
                            event += '1';
                        } else {
                            event += '0';
                        }
                        if (checkedAdds.includes(prefixId)) {
                            event += '1';
                        } else {
                            event += '0';
                        }
                        if (checkedSaves.includes(prefixId)) {
                            event += '1';
                        } else {
                            event += '0';
                        }
                        if (checkedEdits.includes(prefixId)) {
                            event += '1';
                        } else {
                            event += '0';
                        }
                        if (checkedDeletes.includes(prefixId)) {
                            event += '1';
                        } else {
                            event += '0';
                        }
                        if (checkedPrints.includes(prefixId)) {
                            event += '1';
                        } else {
                            event += '0';
                        }
                        if (checkedCancels.includes(prefixId)) {
                            event += '1';
                        } else {
                            event += '0';
                        }
                        if (checkedResets.includes(prefixId)) {
                            event += '1';
                        } else {
                            event += '0';
                        }
                        if (checkedFinds.includes(prefixId)) {
                            event += '1';
                        } else {
                            event += '0';
                        }
                        if (event != '000000000') {
                            var taskId = "@task.TaskId";
                            //alert(taskId);
                            taskList.push([taskId,event]);
                            //alert("csEvent");
                        }
                    </text>
                }
                <text>
                    var moduleId = "@module.Item1.ModuleId";
                    if(taskList.length!=0)moduleList.push([moduleId, taskList]);
                </text>
            }
            //        alert(JSON.stringify(moduleList));
            //moduleList = JSON.stringify(moduleList);

            var PartialUserDetailsViewModels = [];

            for (var i = 0; i < moduleList.length; i++) {
                var moduleWithTask = moduleList[i];
                var moduleId = moduleWithTask[0];
                var tskIdList = [];
                var tskEventList = [];
                for (var j = 0; j < moduleWithTask[1].length; j++) {
                    var taskIdwithEvent = moduleWithTask[1][j];

                    var taskId = taskIdwithEvent[0];
                    var taskEvent = taskIdwithEvent[1];

                    tskIdList.push(taskId);
                    tskEventList.push(taskEvent);
                    //alert(moduleId + " " + taskId + " " + taskEvent);
                }
                var tskListObj = { ModuleId: moduleId, TaskIdList:tskIdList, TaskEventList:tskEventList  };
                //            tskListObj["TaskList"] = tskList;
                //alert(tskListObj);
                PartialUserDetailsViewModels.push(tskListObj);
            }
            var myModel = {
                RoleName: $('#text-input').val(),
                GetAllModuleListWithTasks:[],
                PartialUserDetailsViewModels: PartialUserDetailsViewModels,
                TaskWithRoles: [],
            };
            $.ajax({
                context: this,
                type: 'post',
                url: '../Role/gettingRoleDetailsModelForEdit/',
                data: myModel,
                success: function (result) {
                    //alert(myModel.PartialUserDetailsViewModels);
                    window.location = '../Role/RoleManagement';
                },
                error: function () {
                }
            });
        //}
    }
</script>
<script>
    $('.checkbox-parent').change(function () {
        // Traverse the DOM to get associated child checkbox
        var $child = $(this).closest('tr').find('.checkbox-child');

            // Update child state based on checked status
            $child.prop('', !this.checked);
        });
</script>
<script>
    $("#sel1").change(function () {
        $.getJSON("../Task/gettingTaskList", { moduleId: $("#sel1 option:selected").val() },
        function (data) {

            var select = $("#sel2");
            select.empty();


            select.append($('<option/>', {
                value: 0,
                text: "--"
            }));


            $.each(data, function (index, itemData) {

                select.append($('<option/>', {
                    value: itemData.Value,
                    text: itemData.Text
                }));

            });
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".dropdown-item").click(
        function () {
            var a = $("#dropdownMenu:first-child").text($(this).text());
            var b = $("#dropdownMenu:first-child").val($(this).text());
            var c = $('#dropDownMenu :selected').text();
            console.log(c);
        }
        );
    });
    $(document).ready(function () {
        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });
        $('#reloadItem').click(function () {
            location.reload();
        });
        $("#reportItem").remove();
        $("#dashboardItem").click(function () {
            //document.location = 'Url.Action("ExportExcel", "OwnersInfo")';
        });
    });
</script>
<script src="~/Content/vendors/js/jquery.min.js"></script>
<script src="~/Content/vendors/js/popper.min.js"></script>
<script src="~/Content/vendors/js/bootstrap.min.js"></script>
<script src="~/Content/vendors/js/pace.min.js"></script>
<script src="~/Content/vendors/js/toastr.min.js"></script>
<script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
<script src="~/Content/vendors/js/coreui.min.js"></script>