﻿@model StarterProjectV2.ViewModels.OwnerChatManagementView
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@{
    ViewBag.Title = "Owner Chat Management";
}

@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Chat Management
}
<body style="background-color: oldlace">
    
    <h2 class="text-center mt-3" style="color: indianred">@ViewData["Title"]</h2>
    <div class="card" style="margin-bottom: 0;">
        <form class="form-inline mb-3 ml-3 d-flex justify-content-center">
            <input value="@Model.SearchField" id="searchfield" class="form-control m-3" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="button" onclick="search()">Search</button>
            @*<div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                </div>*@
        </form>
        <div class="table-responsive-lg" id="table">
            @{
                int noOfdata = Model.OwnerChatManagementViewItems.Count();
            }
            @if (noOfdata != 0)
            {
                <table id="mainTable1" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
                    <thead style="color: white; background-color:#315152">

                        <tr>

                            <th scope="col">Slot Id</th>
                            <th scope="col">Owner Name</th>
                            <th scope="col">Last Message</th>
                            <th scope="col">Last Message Time</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.OwnerChatManagementViewItems.Count(); i++)
                        {
                            <tr>
                                <td>@Model.OwnerChatManagementViewItems[i].SlotId</td>
                                <td>@Model.OwnerChatManagementViewItems[i].OwnersName</td>
                                <td>@Model.OwnerChatManagementViewItems[i].LastMessage</td>
                                <td>@Model.OwnerChatManagementViewItems[i].LastMessageTime</td>
                                <td>
                                    <button type="button"
                                            class="btn btn-light"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="View"
                                            onclick="location.href = '@Url.Action("ChatDetail", "OwnerChat", new {SlotId = Model.OwnerChatManagementViewItems[i].SlotId })'">
                                        <i class="icon-eye">
                                        </i>
                                    </button>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div class="table-responsive-lg" id="js-table">
        <table id="dtBasicExample" data-pagination="true" class="table table-hover table-light" style="margin-bottom: 0;"></table>
    </div>
    <div class="text-center" id="message">

    </div>
    @{
        int NoOfPage = Model.noOfPage;
    }
    @*<h3>@noOfOwnr</h3>*@
    @if (NoOfPage != 0)
    {

        <div class="pager" style="padding-top: 20px; direction:ltr; display:block;" align="center" id="pagination">

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center flex-wrap">
                    @{
                        int prev_idx = Model.index - 1;
                    }
                    <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(1)">« First</a></li>
                    <li class="page-item previous"><a class="page-link" href="#" onclick="previous(@prev_idx, @Model.noOfPage)">« Previous</a></li>
                    @{
                        int idx = Model.index;
                        int next_idx = Model.index + 1;
                        int noOfPage = Model.noOfPage;
                        if (noOfPage < 10)
                        {
                            for (int i = 1; i <= noOfPage; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }
                        }
                        else
                        {
                            if (idx <= 5)
                            {
                                if (noOfPage < 10)
                                {
                                    for (int i = 1; i <= noOfPage; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }
                                }
                                else
                                {
                                    for (int i = 1; i <= 10; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }
                                }
                            }
                            else if (idx > 5 && idx <= (noOfPage - 5))
                            {
                                for (int i = idx - 4; i <= idx + 5; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }
                            }
                            else
                            {
                                for (int i = noOfPage - 9; i <= noOfPage; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }

                            }
                        }
                    }
                    <li class="page-item next"><a class="page-link" href="#" onclick="next(@next_idx, @noOfPage)">Next »</a></li>
                    <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(@Model.noOfPage)">Last »</a></li>
                </ul>
            </nav>

        </div>

    }
</body>
    <script>
    $("#" + @Model.index).addClass("active");
    var s2 = $("#searchfield").val();
    function search() {
        //alert("gdjsgajgd");
        var s = $("#searchfield").val();
        //alert(s);
        window.location.href = '../OwnerChat/ChatManagement?searchfield=' + s + '&index=1';
    }
    function previous(i, n) {
        if (i >= 1) {
            window.location.href = "../OwnerChat/ChatManagement?searchfield=" + s2 + "&index=" + i;
        }
    }
    function next(i, n) {
        if (i <= n) {
            window.location.href = "../OwnerChat/ChatManagement?searchfield=" + s2 + "&index=" + i;
        }
    }
    function paginationPureJS(i) {
        window.location.href = "../OwnerChat/ChatManagement?searchfield=" + s2 + "&index=" + i;
    }
    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script>
        var clicked = false;
        $("#Select").on("click", function () {
            $(".form-check-input").prop("checked", !clicked);
            clicked = !clicked;
        });
        $(document).ready(function () {

            $("#newItem").remove();
            $("#editItem").remove();
            $("#saveItem").remove();
            $("#deleteItem").remove();
            $('#printItem').click(function () {
                window.print();
            });

            $('#reloadItem').click(function () {
                location.reload();
            });
            $("#reportItem").remove();


            $("#dashboardItem").click(function () {
            });
        });
    </script>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>



