﻿@model StarterProjectV2.ViewModels.BookingSearchOptionView
@section PAGETITLE{
    Booking Search By Slot ID
}
<body style="background-color: oldlace">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center mb-5" style="color: indianred">Search Booking History by Slot ID </h1>
                <p class="text-muted"></p>
                <div class="form-group row">
                    <div class="col-sm-5">
                        @*<label class="">Select Slot Id</label>*@
                    </div>
                    @Html.DropDownListFor(m => m.SlotId, new SelectList(Model.SlotIdList), "------", new { @class = "form-control form-control-lg col-4 select2", id = "SlotId" })

                    <div class="col-sm-3 col-lg-3 col-md-3">
                        <button type="submit" class="btn btn-primary m-1" onclick="full_submit()">Submit</button>
                    </div>
                    <div class="row" style="justify-content: center">

                    </div>
                </div>
                <div class="table-responsive-lg" id="js-table">
                    <table id="dtBasicExample" data-pagination="true" class="table table-hover table-light" style="margin-bottom: 0">
                        <thead style="color: white; background-color:#315152">

                    </table>

                </div>
                <div class="text-center" id="message">
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $('.select2').select2();
</script>
<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $("#newItem").remove();
            $("#editItem").remove();
            $("#saveItem").remove();
            $("#deleteItem").remove();
            $('#printItem').click(function () {
                window.print();
            });

            $('#reloadItem').click(function () {
                location.reload();
            });
            $("#reportItem").remove();
            $("#dashboardItem").click(function () {
            });


        });
    });
</script>
<script>
    function addMultipleRow(x, result) {
        var str = "";
        if (x >= 1) {
            $('#message').html("");
            str += "<thead style='color:white ;background-color:#315152'>";
            str += "<tr>";
            str += "<th scope='col'>Booking Application Date</th>";
            str += "<th scope='col'>SlotId</th>";
            str += "<th scope='col'>Main Guest Name</th>";
            str += "<th scope='col'>Main Guest Mobile</th>";
            str += "<th scope='col'>Main Guest Email</th>";
            str += "<th scope='col'>No of Adult</th>";
            str += "<th scope='col'>No of Child</th>";
            str += "<th scope='col'>No of Room</th>";
            str += "<th scope='col'>Arrival Date</th>";
            str += "<th scope='col'>Departure Date</th>";
            str += "<th scope='col'>Booking Status</th>";
            str += "</tr>";
            str += "</thead>";
        } else {
            //str += "<h3 style='background:red'>No Result Found</h3>";
            $('#message').html("<br><h3 style='color:brown'>No Result Found</h3>");
        }
        for (var i = 0; i < x; i++) {
            str += "<tr>";
            str += "<td>" + result[i].ApplicationDateString + "</td>";
            str += "<td>" + result[i].SlotId + "</td>";
            str += "<td>" + result[i].GuestNameMain + "</td>";
            str += "<td>" + result[i].GuestMobile + "</td>";
            str += "<td>" + result[i].Email + "</td>";
            str += "<td>" + result[i].NoOfAdult + "</td>";
            str += "<td>" + result[i].NoOfChild + "</td>";
            str += "<td>" + result[i].NoOfRoomRequested + "</td>";
            str += "<td>" + result[i].StartdateString + "</td>";
            str += "<td>" + result[i].EnddateString + "</td>";
            str += "<td>" + result[i].IsBookingCompleted + "</td>";
            str += "</tr>";
        }
        $('#dtBasicExample').html(str);
    }
</script>

<script>
    function full_submit() {
        //alert("hello");
        var slotId = $("#SlotId").val();
        var myModel = {
            SlotId: slotId,
        };
        $.ajax({
            context: this,
            type: 'post',
            url: '../Booking/gettingBookingSearchBySlotId/',
            data: myModel,
            success: function (result) {
                var len = result.length;
                document.getElementById('js-table').style.display = 'block';
                addMultipleRow(len, result);
            },
            error: function () {
                //error();
            }
        });

    }
</script>


@*<div class="table-responsive-lg">
        <table id="mainTable2" data-pagination="true" class="table table-hover table-dark paginated2" style="margin-bottom: 0">
            <thead class="bg-blue" style="color:white">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Booking Token</th>
                    <th scope="col">Slot Id</th>
                    <th scope="col">Main Guest Name</th>
                    <th scope="col">Main Guest Mobile</th>
                    <th scope="col">Main Guest Email</th>
                    <th scope="col">No of Adult</th>
                    <th scope="col">No of Child</th>
                    <th scope="col">No of Room</th>
                    <th scope="col">Arrival Date</th>
                    <th scope="col">Departure Date</th>
                    <th scope="col">Booking Status</th>
                </tr>
            </thead>
            <tbody>
                <h3 align="center" class="ml-3 mr-3 mb-3 mt-5 h3">Room Booking History</h3>
                @foreach (var ownerRoomBooking in Model.OwnerRoomBookingListHistory)
                {
                    <tr>
                        <td>@ownerRoomBooking.OwnerRoomBookngId</td>
                        <td>@ownerRoomBooking.BookingToken</td>
                        <td>@ownerRoomBooking.SlotId</td>
                        <td>@ownerRoomBooking.GuestNameMain</td>
                        <td>@ownerRoomBooking.GuestMobile</td>
                        <td>@ownerRoomBooking.Email</td>
                        <td>@ownerRoomBooking.NoOfAdult</td>
                        <td>@ownerRoomBooking.NoOfChild</td>
                        <td>@ownerRoomBooking.NoOfRoomRequested</td>
                        @{
                            var Startdate = Convert.ToDateTime(ownerRoomBooking.Startdate);
                            var val1 = Startdate.ToString("dd-MMM-yyyy");
                            <td>@val1</td>
                        }
                        @{
                            var Enddate = Convert.ToDateTime(ownerRoomBooking.Enddate);
                            var val2 = Enddate.ToString("dd-MMM-yyyy");
                            <td>@val2</td>
                        }
                        <td>@ownerRoomBooking.IsBookingCompleted</td>
                    </tr>
                }

            </tbody>
        </table>

    </div>*@

