﻿@model StarterProjectV2.Models.OwnerRoomBooking
@{
    ViewData["Title"] = "Owner's Reservations - Check In Process";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}



@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Owner's Reservations - Check In Process
}
<body style="background-color: oldlace">
    <div class="row justify-content-center mt-4">
        @* Hello*@
        <div class="card col-12">
            <div class="card-body">
                <h1 class="text-center mb-5" style="color:cadetblue">Owner's Reservations - Check In Process</h1>
                <div class="form-group row py-3">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Slot ID</label>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                            @Model.SlotId

                        </p>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Name</label>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                            @Model.GuestNameMain

                        </p>
                    </div>
                </div>
                <div class="form-group row py-3">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Mobile No</label>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                            @Model.GuestMobile

                        </p>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Room Requested</label>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                            @Model.NoOfRoomRequested

                        </p>
                    </div>
                </div>

                <div class="form-group row py-3">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Arrival Date</label>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                            @Model.Startdate.ToString("dd-MMM-yyyy")
                            @*????*@

                        </p>
                    </div>
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Departure Date</label>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                            @Model.Enddate.ToString("dd-MMM-yyyy")
                        </p>
                    </div>
                </div>
                <div class="form-group row py-3">
                    <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Booking No.</label>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                            @Model.BookingToken

                        </p>
                    </div>

                </div>

                <div>
                    @using (Html.BeginForm("CheckInForm", "Booking", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="row">
                            <div class="col-sm-6 col-form-label d-flex justify-content-end">
                                <div>
                                    <label>Owner Has Checked In</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 d-flex justify-content-start">
                                <div class="w-50">
                                    @Html.DropDownListFor(m => m.HasStayedOrNot, new SelectList(new List<string> { "No", "Yes" }), new { @id = "HasStayedOrNot", @class = "form-control is-invalid" })
                                    @Html.HiddenFor(m => m.OwnerRoomBookngId, new { OwnerRoomBookngId = Model.OwnerRoomBookngId })
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-form-label d-flex justify-content-end">
                                <div>
                                    <label>Room No</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 d-flex justify-content-start">
                                <div class="w-50">
                                    @Html.TextBoxFor(m => m.PreferredRoomNo, new { @class = "form-control is-invalid" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-form-label d-flex justify-content-end">
                                <div>
                                    <label>If Checked In, Enter Folio Number</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-6 col-md-6 d-flex justify-content-start">
                                <div class="w-50">
                                    @Html.TextBoxFor(m => m.FolioNo, new { @class = "form-control is-invalid", placeholder = "", type = "text", @id = "FolioNo" })
                                </div>
                            </div>
                        </div>

                        <div class="row" style="justify-content: center">
                            <div>
                                <button type="submit" class="btn btn-primary m-1">Submit</button>
                            </div>
                            <div>
                                <button type="reset" class="btn btn-danger m-1">Cancel</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary m-1" onclick="javascript:window.history.back();">
                                    <i class="fa fa-angle-left"></i> Back
                                </button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
<script>
$(document).ready(function() {
    @*$("#newItem").click(function() {
        document.location = '@Url.Action("BookingCreate", "Booking")';
    });*@
    $("#newItem").remove();
    $("#editItem").remove();
    $("#saveItem").remove();
    $("#deleteItem").remove();
    $("#reportItem").remove();
    $('#dashboardItem').remove();
    $('#printItem').remove();
    $('#reloadItem').click(function() {
        location.reload();
    });
});
</script>
