﻿@model StarterProjectV2.Models.OwnerRoomBooking
@{
    ViewData["Title"] = "Owner's Reservations - Check Out Process";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

@section PAGETITLE{
    Owner's Reservations - Check Out Process
}
<body style="background-color: oldlace">
<div class="row justify-content-center mt-4">
    @* Hello*@
    <div class="card col-12">
        <div class="card-body">
            <h1 class="text-center mb-5" style="color:cadetblue">Owner's Reservations - Check Out Process</h1>
            <div class="form-group row py-3">
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Slot ID</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                        @Model.SlotId

                    </p>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Name</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                        @Model.GuestNameMain

                    </p>
                </div>
            </div>
            <div class="form-group row py-3">
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Mobile No</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                        @Model.GuestMobile

                    </p>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Room Requested</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                        @Model.NoOfRoomRequested

                    </p>
                </div>
            </div>

            <div class="form-group row py-3">
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Arrival Date</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                        @Model.Startdate.ToString("dd-MMM-yyyy")

                    </p>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Departure Date</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Model.Enddate.ToString("dd-MMM-yyyy")
                    </p>
                </div>
            </div>
            <div class="form-group row py-3">
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Booking No.</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                        @Model.BookingToken

                    </p>
                </div>

            </div>
            <div>
                @using (Html.BeginForm("CheckOutForm", "Booking", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="row">
                        <div class="col-sm-4 col-form-label d-flex justify-content-end">

                            <label>Owner Has Checked Out</label>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-md-6">

                            @Html.DropDownListFor(m => m.HasCheckedOutOrNot, new SelectList(new List<string> { "No", "Yes" }), new { @id = "HasCheckedOutOrNot", @class = "form-control is-invalid" })
                            @Html.HiddenFor(m => m.OwnerRoomBookngId, new { OwnerRoomBookngId = Model.OwnerRoomBookngId })
                            @Html.HiddenFor(m => m.PreferredRoomNo, new { PreferredRoomNo = Model.PreferredRoomNo })
                        </div>
                        <div class="col-sm-4 col-form-label d-flex justify-content-end">
                            <label>CheckOut Date</label>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-md-6">
                            @Html.TextBoxFor(m => m.CheckOutDate, "{0:dd-MM-yyyy}", new { @class = "form-control", @readonly = "readonly" })
                        </div>

                    </div>
                    <div class="row" style="justify-content: center">
                        <div>
                            <button type="button" id="btnInvoice" class="btn btn-green m-1">Invoice</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-info m-1" onclick="window.open('@Url.Action("InvoiceReport","Booking", new {bookingId= Model.OwnerRoomBookngId})')">Print</button>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary m-1">Submit</button>
                        </div>
                        <div>
                            <button type="reset" class="btn btn-danger m-1">Cancel</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary m-1" onclick="javascript:window.history.back();">
                                <i class="fa fa-angle-left"></i> Back
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
</body>

<script>
    $("#btnInvoice").click(function () {
        var url = '@Url.Action("GenerateInvoice", "Booking", new {bookingId= Model.OwnerRoomBookngId})';
        $.get(url, function (data, status) {

            showToastr(data.Status, data.Message);

        });
    });

</script>
<script>
    $(document).ready(function () {

        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $("#reportItem").remove();
        $('#dashboardItem').remove();
        $('#printItem').remove();
        $('#reloadItem').click(function () {
            location.reload();
        });
    });
</script>
