﻿@model StarterProjectV2.ViewModels.DetailsBookingInformationView
@{
    /**/

    ViewBag.Title = "Details Room Booking Information";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Details Booking Info
}
<div class="card" style="margin-bottom: 0">
    <h2 class="text-center mt-3" style="color:indianred">@ViewData["Title"]</h2>
    <div class="card-body">
        <h3 class="ml-3" style="text-align: center"> <span class="badge badge-primary">Financial Year: @Model.FinancialYear</span></h3>


        @if (Model.SelectedRoomBookingList.Count != 0)
        {
            <div class="table-responsive-lg" id="table">
                <table id="mainTable1" data-pagination="true" class="table table-hover table-dark paginated1" style="margin-bottom: 0">
                    <thead class="bg-blue" style="color: white">
                        <tr>
                            <th scope="col">Booking Application Date</th>
                            <th scope="col">Booking No.</th>
                            <th scope="col">Slot Id</th>
                            <th scope="col">Main Guest Name</th>
                            <th scope="col">Main Guest Mobile</th>
                            <th scope="col">Main Guest Email</th>
                            <th scope="col">No of Adult</th>
                            <th scope="col">No of Child</th>
                            <th scope="col">No of Room</th>
                            <th scope="col">Arrival Date</th>
                            <th scope="col">Departure Date</th>
                            <th scope="col">Booking Status</th>
                            <th scope="col">Checked In or Not</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ownerRoomBooking in Model.SelectedRoomBookingList)
                        {
                            <tr>
                                <td>@ownerRoomBooking.ApplicationDate.ToString("dd-MMM-yyyy hh:mm tt")</td>
                                @if (ownerRoomBooking.BookingToken == "" || ownerRoomBooking.BookingToken == null)
                                {
                                    <td>Not Assigned</td>
                                }
                                else
                                {
                                    <td>@ownerRoomBooking.BookingToken</td>
                                }
                                <td>@ownerRoomBooking.SlotId</td>
                                <td>@ownerRoomBooking.GuestNameMain</td>
                                <td>@ownerRoomBooking.GuestMobile</td>
                                <td>@ownerRoomBooking.Email</td>
                                <td>@ownerRoomBooking.NoOfAdult</td>
                                <td>@ownerRoomBooking.NoOfChild</td>
                                <td>@ownerRoomBooking.NoOfRoomRequested</td>
                                @{
                                    var Startdate = Convert.ToDateTime(ownerRoomBooking.Startdate);
                                    var val1 = Startdate.ToString("dd-MMM-yyyy");
                                    <td>@val1</td>
                                }
                                @{
                                    var Enddate = Convert.ToDateTime(ownerRoomBooking.Enddate);
                                    var val2 = Enddate.ToString("dd-MMM-yyyy");
                                    <td>@val2</td>
                                }

                                @if (ownerRoomBooking.IsBookingCompleted.ToUpper() == "NO")
                                {
                                    <td>Pending</td>
                                }
                                else if (ownerRoomBooking.IsBookingCompleted.ToUpper() == "YES")
                                {
                                    <td>Approved<i class="fa fa-check fa-2x" aria-hidden="true"></i></td>
                                }
                                else if (ownerRoomBooking.IsBookingCompleted.ToUpper() == "CANCELLED")
                                {
                                    <td>Cancelled<i class="fa fa-close fa-2x" aria-hidden="true"></i></td>
                                }
                                else
                                {
                                    @ownerRoomBooking.IsBookingCompleted
                                }
                                <td>@ownerRoomBooking.HasStayedOrNot</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h2 class="text-center mt-3" style="color: indianred">No Booking Found</h2>
        }

    </div>
    <div class="card-footer">
        <div>
            <button type="button" class="btn btn-primary m-1" onclick="location.href = '@Url.Action("BookingSearchBySmartId", "OwnersInfo", new {})'">Back</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).ready(function() {
            $("#newItem").remove();
            $("#editItem").remove();
            $("#saveItem").remove();
            $("#deleteItem").remove();
            $('#printItem').click(function(){
                window.print();
            });

            $('#reloadItem').click(function() {
                location.reload();
            });
            $("#reportItem").remove();
            $("#dashboardItem").click(function() {
            });
            @*$("#reportItem").click(function() {
            document.location = '@Url.Action("RoomReport", "OwnersInfo")';
        });*@

        });
    });
</script>