﻿@model StarterProjectV2.Models.OwnerRoomBooking
@{
    ViewData["Title"] = "Owner's Reservations - Insert Token";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}



@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Owner's Reservations - Insert Booking No.
}


<body style="background-color: oldlace">
<div class="row justify-content-center mt-4">
    @* Hello*@
    <div class="card col-12">
        <div class="card-body">
            <h1 class="text-center mb-5" style="color:cadetblue">Owner's Reservations - Insert Booking No.</h1>
            <div class="form-group row py-3">
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Slot ID</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                        @Model.SlotId

                    </p>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Name</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                        @Model.GuestNameMain

                    </p>
                </div>
            </div>
            <div class="form-group row py-3">
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Mobile No</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                        @Model.GuestMobile

                    </p>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Room Requested</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                        @Model.NoOfRoomRequested

                    </p>
                </div>
            </div>

            <div class="form-group row py-3">
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Arrival Date</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">

                        @Model.Startdate.ToString("dd-MMM-yyyy")
                        @*????*@

                    </p>
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Departure Date</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Model.Enddate.ToString("dd-MMM-yyyy")
                    </p>
                </div>
            </div>
            <p class="text-muted"></p>
            <div>
                @using (Html.BeginForm("TokenForm", "Booking", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="row">
                        <div class="col-sm-4 col-form-label d-flex justify-content-end">

                            <label>Booking No.</label>
                        </div>
                        <div class="col-sm-6 col-lg-6 col-md-6">

                            @Html.TextBoxFor(m => m.BookingToken, new { @class = "form-control is-invalid", placeholder = "", type = "text", @id = "BookingToken" })
                            @Html.HiddenFor(m => m.OwnerRoomBookngId, new { OwnerRoomBookngId = Model.OwnerRoomBookngId })
                            @Html.HiddenFor(m => m.PreferredRoomNo, new { PreferredRoomNo = Model.PreferredRoomNo })
                        </div>
                        @*<div class="col-lg-3 col-md-4 col-sm-4">
                @Html.DropDownListFor(m => m.TickerType, new SelectList(Model.TickerTypeList), new { @class = "form-control" })
            </div>*@
                    </div>

                    <div class="row" style="justify-content: center">
                        <div>
                            <button type="submit" class="btn btn-primary m-1">Submit</button>
                        </div>
                        <div>
                            <button type="reset" class="btn btn-danger m-1">Cancel</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary m-1" onclick="javascript:window.history.back();">
                                <i class="fa fa-angle-left"></i> Back
                            </button>
                        </div>
                    </div>
                    }
                </div>
        </div>
    </div>
</div>
</body>
<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });
    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });
        $('#reportItem').remove();
        $('#dashboardItem').remove();

    });
</script>

