﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Math
@using StarterProjectV2.ViewModels
@model StarterProjectV2.ViewModels.AuditList

@{
    ViewData["Title"] = "Owner Audit Management";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <style>
        div.pager {
            /*text-align: right;*/
            /*width: 60em;*/
            /*margin: 1em auto;*/
        }
    </style>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    Audit Management
}
<body style="background-color: oldlace">
<div class="card p-2" style="margin-bottom: 0; ">
    <h2 class="text-center mt-3" style="color: indianred">@ViewData["Title"]</h2>
    <form class="form-inline mb-3 ml-3 d-flex justify-content-center">
        <input value="@Model.searchfield" id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="button" onclick="search()">Search</button>
     
    </form>
    <div class="table-responsive-lg" style="display:block" id="table">

        <table id="mainTable" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
            <thead style="color: white; background-color:#315152">
                <tr>

                    <th scope="col">Action Date & Time</th>
                    <th scope="col">User Name / Slot Id</th>
                    <th scope="col">Action Type</th>
                    <th scope="col">Table Name</th>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody id="myTable">
                @{
                    var idx1 = 0;
                }
                @{
                    int noOfdata = Model.Audits.Count();
                }
                @if (noOfdata != 0)
                {
                    foreach (var audit in Model.Audits)
                    {
                        <tr>

                            <td>@audit.UpdateDate</td>
                            <td>@audit.UserId</td>
                            <td>

                                @if (@audit.Actions == "I")
                                {
                                    <h6>Insert</h6>;
                                }
                                @if (@audit.Actions == "U")
                                {
                                    <h6>Update</h6>;
                                }
                                @if (@audit.Actions == "D")
                                {
                                    <h6>Delete</h6>;
                                }
                            </td>
                            <td>@audit.TableName</td>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="View"
                                        onclick="location.href = '@Url.Action("AuditView", "Audit", new { Id = audit.Id })'">

                                    <i class="icon-eye">
                                    </i>
                                </button>
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Click To View & Approve"
                                        @* onclick="location.href = '@Url.Action("PostView", "OwnersInfo", new {postId = post.PostId})'"*@>
                                    <i class="icon-eye">
                                    </i>
                                </button>
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Click To View & Approve"
                                        @* onclick="location.href = '@Url.Action("PostView", "OwnersInfo", new {postId = post.PostId})'"*@>
                                    <i class="icon-eye">
                                    </i>
                                </button>
                            </td>
                        </tr>
                        idx1++;
                    }
                }

            </tbody>
        </table>
    </div>
    <div class="table-responsive-lg" id="js-table">
        <table id="dtBasicExample" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0"></table>
    </div>
    <div class="text-center" id="message">

    </div>
    @{
        int noOfAudits = Model.NoOfAudit;
    }
    @if (noOfAudits != 0)
    {
        <div class="pager" style="padding-top: 20px; direction:ltr; display:block;" align="center" id="pagination">

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center flex-wrap">
                    @{
                        int prev_idx = Model.index - 1;
                    }
                    <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(1)">« First</a></li>
                    <li class="page-item previous"><a class="page-link" href="#" onclick="previous(@prev_idx, @Model.NoOfAudit)">« Previous</a></li>
                    @{
                        int idx = Model.index;
                        int next_idx = Model.index + 1;
                        int noOfAudit = Model.NoOfAudit;
                        if (noOfAudits < 10)
                        {
                            for (int i = 1; i <= noOfAudits; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }
                        }
                        else
                        {
                            if (idx <= 5)
                            {
                                if (noOfAudits < 10)
                                {
                                    for (int i = 1; i <= noOfAudits; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }
                                }
                                else
                                {
                                    for (int i = 1; i <= 10; i++)
                                    {
                                        <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                    }
                                }
                            }
                            else if (idx > 5 && idx <= (noOfAudits - 5))
                            {
                                for (int i = idx - 4; i <= idx + 5; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }
                            }
                            else
                            {
                                for (int i = noOfAudits - 9; i <= noOfAudits; i++)
                                {
                                    <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                                }

                            }
                        }
                    }
                    <li class="page-item next"><a class="page-link" href="#" onclick="next(@next_idx, @noOfAudits)">Next »</a></li>
                    <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(@Model.NoOfAudit)">Last »</a></li>
                </ul>
            </nav>

        </div>

    }

</div>
    </body>
<script>
    function viewfunction(audit_id) {
        //alert(acc_id);
        window.location.href = "/Audit/AuditView?Id=" + audit_id;
    }
</script>

<script>
    var s2 = $("#searchfield").val();
    function search() {
        //alert("gdjsgajgd");
        var s = $("#searchfield").val();
        //alert(s);
        window.location.href = '../Audit/AuditManagement?searchfield=' + s + '&index=1';
    }

</script>
<script>
    $("#" + @Model.index).addClass("active");
</script>
<script>
    function previous(i, n) {
        if (i >= 1) {
            window.location.href = "../Audit/AuditManagement?searchfield=" + s2 + "&index=" + i;
        }
    }
</script>
<script>
    function next(i, n) {
        if (i <= n) {
            window.location.href = "../Audit/AuditManagement?searchfield=" + s2 + "&index=" + i;
        }
    }
</script>
<script>
    function paginationPureJS(i) {

        window.location.href = "../Audit/AuditManagement?searchfield=" + s2 + "&index=" + i;
    }
</script>


<script>
    $(document).ready(function() {
        var taskRoles = "@Model.TaskRoles";
        if (taskRoles[0] == '0') {
            $('table tr').find('td:eq(4),th:eq(4)').remove();
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(4),th:eq(4)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(4),th:eq(4)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(5),th:eq(5)').remove();
                }
            }
        } else {
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(5),th:eq(5)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(5),th:eq(5)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(6),th:eq(6)').remove();
                }
            }
        }
        if (taskRoles[1] == '0') {
            $("#newItem").remove();
        }
    });
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });



    $(document).ready(function () {
        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });
        $('#reloadItem').click(function () {
            location.reload();
        });
        $("#dashboardItem").remove();
        $("#reportItem").remove();
    });


</script>


