﻿@model StarterProjectV2.ViewModels.TaskList
@{
    ViewData["Title"] = "Task Management";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    @*<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" rel="stylesheet">*@
    @*<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>*@
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
}

@section FOOTERJS{

    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
Task Management
}



<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
<body style="background-color: oldlace">
<div class="card" style="margin-bottom: 0">
    <form class="form-inline mb-3 ml-3 m-2 d-flex justify-content-center">
        <input value="@Model.SearchField" id="searchfield" class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="button" onclick="search()">Search</button>
        @*<div class="input-group-append">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
            </div>*@
    </form>
    <div class="table-responsive-lg">

    <table id="mainTable1" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
    <thead style="color: white; background-color:#315152">

                <tr>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    @*<th scope="col">Delete</th>*@
                    <th scope="col">Code</th>
                    <th scope="col">Module Name</th>
                    <th scope="col">Task Name</th>
                    <th scope="col">View</th>
                    <th scope="col">Add</th>
                    <th scope="col">Save</th>
                    <th scope="col">Edit</th>
                    @*<th scope="col">Delete</th>*@
                    <th scope="col">Print</th>
                    <th scope="col">Cancel</th>
                    <th scope="col">Reset</th>
                    <th scope="col">Find</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int noOfdata = Model.tasks.Count();
                }
                @if (noOfdata != 0)
                {
                    foreach (var md in Model.tasks)
                    {
                        <tr>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="View"
                                        onclick="location.href='@Url.Action("TaskView", "Task", new { taskId = md.Item1.TaskId })'">
                                    <i class="icon-eye">
                                    </i>
                                </button>
                            </td>
                            <td>
                                <button type="button"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Edit"
                                        onclick="location.href='@Url.Action("TaskEdit", "Task", new { taskId = md.Item1.TaskId })'">
                                    <i class="icon-notebook">
                                    </i>
                                </button>
                            </td>
                            @*<td>
                            @using (Html.BeginForm("TaskDelete", "Task", new { taskId = md.Item1.TaskId }, FormMethod.Post))
                            {
                                <button type="submit"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Delete" onclick="return confirm('Are you sure?')" >
                                    <i class="icon-trash">
                                    </i>
                                </button>
                            }
                        </td>*@
                            <td>@md.Item1.TaskId</td>
                            <td>@md.Item2</td>
                            <td>@md.Item1.TaskName</td>
                            @if (md.Item1.TaskEvent[0] == '1')
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-view" checked disabled>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-view" disabled>
                                    </div>
                                </td>
                            }
                            @if (md.Item1.TaskEvent[1] == '1')
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-add" checked disabled>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-add" disabled>
                                    </div>
                                </td>
                            }
                            @if (md.Item1.TaskEvent[2] == '1')
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-save" checked disabled>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-save" disabled>
                                    </div>
                                </td>
                            }
                            @if (md.Item1.TaskEvent[3] == '1')
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-edit" checked disabled>
                                    </div>
                                </td>

                            }
                            else
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-edit" disabled>
                                    </div>
                                </td>
                            }
                            @*@if (md.Item1.TaskEvent[4] == '1')
                        {
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-delete" checked disabled>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-delete" disabled>
                                </div>
                            </td>
                        }*@
                            @if (md.Item1.TaskEvent[5] == '1')
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-print" checked disabled>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-print" disabled>
                                    </div>
                                </td>
                            }
                            @if (md.Item1.TaskEvent[6] == '1')
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-cancel" checked disabled>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-cancel" disabled>
                                    </div>
                                </td>
                            }
                            @if (md.Item1.TaskEvent[7] == '1')
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-reset" checked disabled>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-reset" disabled>
                                    </div>
                                </td>
                            }
                            @if (md.Item1.TaskEvent[8] == '1')
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-find" checked disabled>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="task-find" disabled>
                                    </div>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
    </body>
<script>
    $(document).ready(function () {

        $(".dataTables_filter").remove();
        //$(".paginate_button").addClass("new-div");
        //$("span").wrap("<div></div>");

        //$(".dataTables_length").remove();
    });
    //var $pages = $("paginate-button")
    //$("span").addClass("new-div");
    //$(".paginate_button").addClass("new-div");
    //$(".paginate_button").wrap($(".new-div"));
</script>


<script>



</script>






<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    var s2 = $("#searchfield").val();
    function search() {
        //alert("gdjsgajgd");
        var s = $("#searchfield").val();
        //alert(s);
        window.location.href = '../Task/TaskManagement?searchfield=' + s;
    }
</script>

<script>
    $(document).ready(function() {
        var taskRoles = "@Model.TaskRoles";
        if (taskRoles[0] == '0') {
            $('table tr').find('td:eq(0),th:eq(0)').remove();
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(0),th:eq(0)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(0),th:eq(0)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            }
        } else {
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(1),th:eq(1)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(2),th:eq(2)').remove();
                }
            }
        }
        if (taskRoles[1] == '0') {
            $("#newItem").remove();
        }
    });
</script>

<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });

    $(document).ready(function() {
        $("#newItem").click(function() {
            document.location = '@Url.Action("TaskCreate", "Task")';
        });

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#reportItem").remove();
        $("#dashboardItem").remove();
        //$("#deleteItem").remove();
        $('#printItem').click(function(){
            window.print();
        });

        $('#reloadItem').click(function() {
            location.reload();
        });

        @*$("#dashboardItem").click(function() {
            //document.location = 'Url.Action("ExportExcel", "OwnersInfo")';
        });

        $("#reportItem").click(function() {
            document.location = '@Url.Action("TaskReport", "Task")';
        });*@


    });

</script>
<script src="~/Content/vendors/js/jquery.min.js"></script>
<script src="~/Content/vendors/js/popper.min.js"></script>
<script src="~/Content/vendors/js/bootstrap.min.js"></script>
<script src="~/Content/vendors/js/pace.min.js"></script>
<script src="~/Content/vendors/js/toastr.min.js"></script>
<script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
<script src="~/Content/vendors/js/coreui.min.js"></script>