﻿@model StarterProjectV2.ViewModels.TaskCreate

@{
    ViewData["Title"] = "Task View";
    string selectedId = "";
    string selectedName = "";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
   Task View
}


<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>

<div class="card">
    <div class="card-header">
        <strong>View</strong>
    </div>
    <div class="card-body">


        <div class="form-group row">
            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Task Name</label>
            @*<div class="col-lg-4 col-md-4 col-sm-4">
                @Html.TextBoxFor(m => m.TaskName, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text", @readonly = "readonly" })
            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.TaskName)
                </p>
            </div>

            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Task Order</label>
            @*<div class="col-lg-1 col-md-1 col-sm-1">
                @Html.TextBoxFor(m => m.TaskOrder, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "number", @readonly = "readonly" })
            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.TaskOrder)
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Task Controller</label>
            @*<div class="col-lg-4 col-md-4 col-sm-4">
                @Html.TextBoxFor(m => m.TaskController, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text", @readonly = "readonly" })
            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.TaskController)
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Task Module</label>
            @*<div class="col-lg-4 col-md-4 col-sm-4">
                @Html.TextBoxFor(m => m.TaskModule, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text", @readonly = "readonly" })
            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.TaskModule)
                </p>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Module Name</label>
            @*<div class="col-lg-4 col-md-4 col-sm-4">
                @Html.TextBoxFor(m => m.getModuleName, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text", @readonly = "readonly" })
            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.getModuleName)
                </p>
            </div>

            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Task Parent Name</label>
            @*<div class="col-lg-4 col-md-4 col-sm-4">
                @Html.TextBoxFor(m => m.getTaskName, new { @class = "form-control", placeholder = "None", id = "text-input", name = "text-input", type = "text", @readonly = "readonly" })
            </div>*@
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.getTaskName)
                </p>
            </div>

        </div>

        @*             @Html.DropDownListFor(m=>m.selectedModuleId, @Model.ModuleIdandParent.Select(m=>new SelectListItem() *@
        @*             { *@
        @*                 Text = m.ModuleName, *@
        @*                 Value = m.ModuleId *@
        @*             }) , new {@class= "form-control form    -control-lg col-2", id="sel1" }) *@
        @* *@
        @* *@
        @*             @Html.DropDownListFor(m => m.selectedTaskId, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control form-control-lg col-2", id = "sel2" }) *@




        <div class="form-group row d-flex flex-space">
            <label class="col-lg-2 col-md-3 col-sm-3 col-form-label" for="text-input">Task Event</label>
            @if (Model.isTaskViewed)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-view" checked disabled>
                     View
                </div>
            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-view" disabled>
                    View
                </div>
            }
            @if (Model.isTaskAdded)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-add" checked disabled>
                    Add
                </div>
            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-add" disabled>
                    Add
                </div>
            }
            @if (Model.isTaskSaved)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-save" checked disabled>
                    Save
                </div>
            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-save" disabled>
                    Save
                </div>
            }
            @if (Model.isTaskEdited)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-edit" checked disabled>
                    Edit
                </div>

            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-edit" disabled>
                    Edit
                </div>
            }
            @if (Model.isTaskDeleted)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-delete" checked disabled>
                    Delete
                </div>
            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-delete" disabled>
                    Delete
                </div>
            }
            @if (Model.isTaskPrinted)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-print" disabled>
                    Print
                </div>
            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-print" disabled>
                    Print
                </div>
            }
            @if (Model.isTaskCancelled)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-cancel" checked disabled>
                    Cancel
                </div>
            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-cancel" disabled>
                    Cancel
                </div>
            }
            @if (Model.isTaskReseted)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-reset" checked disabled>
                    Reset
                </div>
            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-reset" disabled>
                    Reset
                </div>
            }
            @if (Model.isTaskFound)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-find" checked disabled>
                    Find
                </div>
            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="task-find" disabled>
                    Find
                </div>
            }




        </div>


    </div>
</div>
<script>
    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });

        $("#dashboardItem").click(function () {
            //document.location = 'Url.Action("ExportExcel", "OwnersInfo")';
        });
        $("#reportItem").remove();
    });
</script>





