﻿@model StarterProjectV2.ViewModels.TickerView
@{
    ViewBag.Title = "Ticker Create";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>

}
@section PAGETITLE{
Ticker Create
}
<body style="background-color: oldlace">
<div class="row justify-content-center mt-4">
    @* Hello*@
    <div class="card col-12">
        <div class="card-body">
            <h1 class="text-center mb-5" style="color:cadetblue">Ticker Upload Form</h1>
            <p class="text-muted"></p>
            <div>
                @using (Html.BeginForm("TickerAddorEdit", "Ticker", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {

                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Ticker Type</label>
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.TextBoxFor(m => m.TickerType, new { @class = "form-control", name = "TickerType", type = "text", id = "Title", @required = "req" })
                        </div>
                        @*<div class="col-lg-3 col-md-4 col-sm-4">
                                @Html.DropDownListFor(m => m.TickerType, new SelectList(Model.TickerTypeList), new { @class = "form-control" })
                            </div>*@
                    </div>
                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Title</label>
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", name = "Title", type = "text", id = "Title", @required = "req" })
                        </div>
                    </div>
                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Ticker Details</label>
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.TextBoxFor(m => m.Details, new { @class = "form-control", name = "Title", type = "text", id = "Title", @required = "req" })
                        </div>
                    </div>
                    <div class="form-group row mb-3" style="display: flex; justify-content: center">
                        <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Ticker Link</label>
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.TextBoxFor(m => m.Link, new { @class = "form-control", name = "Title", type = "text", id = "Title", @required = "req" })
                        </div>
                    </div>


                    @Html.HiddenFor(m => m.Link, new { @id = "message" })
                    @Html.HiddenFor(m => m.TickerId, new { @id = "TickerId" })
                    <div class="row" style="justify-content: center">
                        <div>
                            <button type="submit" class="btn btn-primary m-1" onclick="full_submit()">Submit</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-danger m-1">Cancel</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary m-1" onclick="javascript:window.history.back();">
                                <i class="fa fa-angle-left"></i> Back
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
    </body>
<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });
    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });
        $('#reportItem').remove();
        $('#dashboardItem').remove();

    });
</script>
