﻿@model StarterProjectV2.ViewModels.OwnerLedgerViewModel
@using StarterProjectV2

@section PAGETITLE{
    Owner Ledger
}
@{
    string format = CommonHelper.decimalFormat;
}
<style>
    @@media print {
        #dtBasicExample thead {
            background: blue !important;
            color: black !important;
            -webkit-print-color-adjust: exact !important;
        }
    }
</style>

<div class="card mt-5">
    <div class="card-header">
        <strong>Owner's Ledger Information</strong>
        <button type="button" class="btn" onclick="window.print()" style="float: right;background:cadetblue;color:white">Print</button>
    </div>
    <div class="card-body">
        <div class="form-group row py-3">
            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner ID</label>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.OwnerBasicInfo.SlotId)
                </p>

            </div>
            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Name</label>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.OwnerBasicInfo.Name)
                </p>
            </div>
        </div>
        <div class="table-responsive-lg">
            <table id="dtBasicExample" data-pagination="true" class="table table-hover table-light" style="margin: 20px auto">
                <thead style="background-color:#315152;color:white">
                    <tr>
                        <th>Booking No.</th>
                        <th>CheckIn Date</th>
                        <th>CheckOut Date</th>
                        <th>No of Rooms</th>
                        <th class="text-right">Total Charge</th>
                        <th class="text-right">Owner's Contribution</th>
                        <th class="text-right">Hotel's Contribution</th>
                        <th class="text-right">Invoice</th>
                        @*<th>Folio Detail</th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mdl in Model.LedgerList)
                    {
                        <tr>
                            <td>@mdl.BookingToken</td>
                            <td>@mdl.CheckInDate.ToString("dd-MMM-yyyy")</td>
                            <td>@mdl.CheckOutDate.ToString("dd-MMM-yyyy")</td>
                            <td>@mdl.NoofroomRequested</td>
                            <td class="text-right">@mdl.TotalCharge.ToString(format)</td>
                            <td class="text-right">@mdl.OwnerContribution.ToString(format)</td>
                            <td class="text-right">@mdl.HotelContribution.ToString(format)</td>
                            <td class="text-right"><a target="_blank" href="@Url.Action("InvoiceReport","Booking", new {bookingId= mdl.BookingId})">Invoice</a></td>
                            @*<td>
                                    <button type="button"
                                            class="btn btn-light"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="View Folio"
                                            onclick="location.href = '@Url.Action("FolioDetail", "Owner", new {OwnerRoomBookngId = mdl.OwnerroomBookngId})'">
                                        <i class="icon-eye">
                                        </i>
                                    </button>
                                </td>*@
                        </tr>
                    }
                </tbody>

                <tfoot>
                    <tr style="font-weight: bold">
                        <td colspan="4">Total: @Model.LedgerList.Count()</td>
                        <td class="text-right">@Model.LedgerList.Sum(x => x.TotalCharge).ToString(format)</td>
                        <td class="text-right">@Model.LedgerList.Sum(x => x.OwnerContribution).ToString(format)</td>
                        <td class="text-right">@Model.LedgerList.Sum(x => x.HotelContribution).ToString(format)</td>
                        <td colspan="2"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

