﻿@model StarterProjectV2.ViewModels.OwnerLedgerViewModel
@using StarterProjectV2

@section PAGETITLE{
    Owner Ledger
}
@{
    string format = CommonHelper.decimalFormat;
}
<style>
    @@media print {
        #dtBasicExample thead {
            background: blue !important;
            color: black !important;
            -webkit-print-color-adjust: exact !important;
        }
    }
</style>

<div class="card mt-5">
    <div class="card-header">
        <strong>Owner's Ledger Information</strong>
        <button type="button" class="btn" onclick="window.print()" style="float: right;background:cadetblue;color:white">Print</button>
    </div>
    <div class="card-body">
        <div class="form-group row py-3">
            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner ID</label>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.OwnerBasicInfo.SlotId)
                </p>

            </div>
            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Name</label>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                    @Html.DisplayFor(m => m.OwnerBasicInfo.Name)
                </p>
            </div>
        </div>
        <div class="table-responsive-lg">
            <table id="dtBasicExample" data-pagination="true" class="table table-hover table-light" style="margin: 20px auto">
                <thead style="background-color:#315152;color:white">
                    <tr>
                        <th>Financial Year</th>
                        <th>Stay Nights</th>
                        <th>No of Rooms</th>
                        <th class="text-right">Owner's Contribution</th>
                        <th class="text-right">Hotel's Contribution</th>
                        <th class="text-right">Total Charges</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var mdl in Model.LedgerSummaryList)
                    {
                        <tr>
                            <td>@mdl.Year</td>
                            <td>@mdl.Nights</td>
                            <td>@mdl.Rooms</td>
                            <td class="text-right">@mdl.OwnerContribution.ToString(format)</td>
                            <td class="text-right">@mdl.HotelContribution.ToString(format)</td>
                            <td class="text-right">@mdl.TotalCharge.ToString(format)</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr style="font-weight: bold">
                        <td colspan="3">Total: @Model.LedgerSummaryList.Count()</td>
                        <td class="text-right">@Model.LedgerSummaryList.Sum(x => x.OwnerContribution).ToString(format)</td>
                        <td class="text-right">@Model.LedgerSummaryList.Sum(x => x.HotelContribution).ToString(format)</td>
                        <td class="text-right">@Model.LedgerSummaryList.Sum(x => x.TotalCharge).ToString(format)</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


