﻿@model StarterProjectV2.Models.Dividend

@{
    ViewData["Title"] = "Dividend";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}

@section PAGETITLE{
    Dividend
}
<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>

<div class="card">
    <div class="card-header">
        <strong>Information of Dividend</strong>
    </div>

    <div class="card-body">

        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Owner Name</label>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.OwnerName, new { @class = "form-control", placeholder = "Module Id", id = "number-input", name = "number-input", type = "text", @readonly = "readonly" })

            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Slot Id</label>
            <div class="col-md-2">

                @Html.TextBoxFor(m => m.SlotId, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text", @readonly = "readonly" })



            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Mobile No</label>
            <div class="col-md-2">
                @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "number", @readonly = "readonly" })

            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">From Month</label>
            <div class="col-md-3">
                @{
                    var FromMonth = @Model.FromMonth.ToString("dd-MMM-yyyy");
                }
                <input class="form-control" type="text" name="acc-date" id="acc-date-from" value="@FromMonth" readonly="kk">

            </div>

            <label class="col-md-1 col-form-label" for="text-input">To Month</label>
            <div class="col-md-3">
                @{
                    var ToMonth = @Model.ToMonth.ToString("dd-MMM-yyyy");
                }
                <input class="form-control" type="text" name="acc-date" id="acc-date-from" value="@ToMonth" readonly="kk">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-1 col-form-label" for="text-input">Dividend Amount</label>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.DividendAmount, new { @class = "form-control", placeholder = "Number", id = "number-input", name = "number-input", type = "number", @readonly = "readonly" })

            </div>
        </div>
    </div>
</div>



