﻿@model StarterProjectV2.ViewModels.OwnersInfoView
@using StarterProjectV2

@section PAGETITLE{
    Owner Ledger
}
@{
    string format = CommonHelper.decimalFormat;
}
<style>
    @@media print {
        #dtBasicExample thead {
            background: blue !important;
            color: black !important;
            -webkit-print-color-adjust: exact !important;
        }
    }
</style>

<div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">

        <li class="nav-item">
            <a class="nav-link" id="tab-5" data-toggle="tab" href="#5" role="tab" aria-controls="contact" aria-selected="true">Ledger</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-LedgerSummary" data-toggle="tab" href="#LedgerSummary" role="tab" aria-controls="contact" aria-selected="false">Summary</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="5" role="tabpanel" aria-labelledby="contact-tab">
            <div class="table-responsive-lg">
                @{ Html.RenderPartial("_Ledger", Model.LedgerViewModel); }
            </div>
        </div>
        <div class="tab-pane fade" id="LedgerSummary" role="tabpanel" aria-labelledby="contact-tab">
            <div class="table-responsive-lg">
                <div id="gridLedgerSummary">
                    @{ Html.RenderPartial("_LedgerSummary", Model.LedgerViewModel); }
                </div>
            </div>
        </div>
    </div>
    </div>
