﻿@model OwnerSite.ViewModels.NotificationViewModel

@{
    ViewData["Title"] = "Notification View";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
}

@section FOOTERJS{

    <script src="~/Content/vendors/js/coreui.min.js"></script>
    <style>
        div.pager {
            /*text-align: right;*/
            /*width: 60em;*/
            /*margin: 1em auto;*/
        }
    </style>
}
@section PAGETITLE{
    Notification View
}

<h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>

@* <div class="card" style="margin-bottom: 0; ">  *@
<div style="padding-left: 10%; padding-right: 10%;">
    <div class="table-responsive-lg">

        <table id="mainTable1" data-pagination="true" class="table  table-light  table-hover" style="margin-bottom: 0">
            <thead style="color: white; background-color:#315152">
                <tr>
                    <th scope="col">List of Notifications</th>
                </tr>
            </thead>
            <tbody id="appended-row">
                <div id="ten-original-list" style="display: block">
                    @{
                        int noOfdata = Model.NotificationList.Count();
                    }
                    @if (noOfdata != 0)
                    {
                        foreach (var notification in Model.NotificationList)
                        {
                            var text = (notification.isSeen == false) ? " (not seen yet)" : " (seen already)";
                            if (notification.isSeen == true)
                            {
                                if (notification.NotificationHeader == "N")
                                {
                                    <tr class="d-md-table-row" style="background-color: rgba(255, 255, 255, 0.075);">
                                        <td><i class="fa fa-file-alt text-success mr-1"></i> <i class="fa fa-plus text-success mr-3"></i><a href="@notification.NotificationLink" style="padding: 0px; color: white; text-align: center; text-decoration: none"> @notification.NotificationText</a> </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="d-md-table-row" style="background-color: rgba(255, 255, 255, 0.075);">
                                        <td><i class="fa fa-calculator text-success mr-1"></i> <i class="fa fa-plus text-success mr-3"></i><a href="@notification.NotificationLink" style="padding: 0px; color: white; text-align: center; text-decoration: none"> @notification.NotificationText</a> </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                if (notification.NotificationHeader == "N")
                                {
                                    <tr class="d-md-table-row">
                                        <td><i class="fa fa-file-alt text-success mr-1"></i> <i class="fa fa-plus text-success mr-3"></i><a href="@notification.NotificationLink" onclick="clickedForSeen('@notification.NotificationId')" style="padding: 0px; color: white; text-align: center; text-decoration: none"> @notification.NotificationText</a></td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="d-md-table-row">
                                        <td><i class="fa fa-calculator text-success mr-1"></i> <i class="fa fa-plus text-success mr-3"></i><a href="@notification.NotificationLink" onclick="clickedForSeen('@notification.NotificationId')" style="padding: 0px; color: white; text-align: center; text-decoration: none"> @notification.NotificationText</a></td>
                                    </tr>
                                }
                            }
                        }
                    }
                </div>
            </tbody>
        </table>
    </div>
</div>
@{
    int noOfNotification = Model.NoOfNotification;
}
@*<h3>@noOfOwnr</h3>*@

@if (noOfNotification != 0)
{
    @*     @noOfNotification *@
    <div class="pager" style="padding-top: 0px; padding-bottom:35px; direction:ltr; display:block;" align="center" id="pagination">

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center flex-wrap">
                @{
                    int prev_idx = Model.index - 1;
                }
                <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(1)">« First</a></li>
                <li class="page-item previous"><a class="page-link" href="#" onclick="previous(@prev_idx, @Model.NoOfNotification)">« Previous</a></li>
                @{
                    int idx = Model.index;
                    int next_idx = Model.index + 1;
                    int noOfNotifications = Model.NoOfNotification;
                    if (idx <= 5)
                    {
                        if (noOfNotifications < 10)
                        {
                            for (int i = 1; i <= noOfNotifications; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }
                        }
                        else
                        {
                            for (int i = 1; i <= 10; i++)
                            {
                                <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                            }
                        }
                    }
                    else if (idx > 5 && idx <= (noOfNotifications - 5))
                    {
                        for (int i = idx - 4; i <= idx + 5; i++)
                        {
                            <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                        }
                    }
                    else
                    {
                        for (int i = noOfNotifications - 9; i <= noOfNotifications; i++)
                        {
                            <li class="page-item" id="@i"><a class="page-link" href="#" onclick="paginationPureJS(@i)">@i</a></li>
                        }

                    }
                }
                <li class="page-item next"><a class="page-link" href="#" onclick="next(@next_idx, @noOfNotifications)">Next »</a></li>
                <li class="page-item previous"><a class="page-link" href="#" onclick="paginationPureJS(@Model.NoOfNotification)">Last »</a></li>
            </ul>
        </nav>

    </div>

}
@* </div> *@

<script>
    function addNewRowUpTop(newNotificationList) {
        var list_length = newNotificationList.length;
        var str = '';
        for (var i = 0; i < list_length; i++) {
            if (newNotificationList[i].isSeen == true) {
                str += '<tr class="d-md-table-row" style="background-color: rgba(255, 255, 255, 0.075);">';
            } else {
                str += '<tr class="d-md-table-row">';
            }
            str += '<td>';
            if (newNotificationList[i].NotificationHeader == "N") {
                str += '<i class="fa fa-file-alt text-success mr-1"></i><i class="fa fa-plus text-success mr-3"></i>';
            } else {
                str += '<i class="fa fa-calculator text-success mr-1"></i><i class="fa fa-plus text-success mr-3"></i>';
            }
            str +=
                '<a href="' + newNotificationList[i].NotificationLink + '" onclick="clickedForSeen(\'' + newNotificationList[i].NotificationId + '\')" style="padding: 0px; color: black; text-align: center; text-decoration: none">' +
                newNotificationList[i].NotificationText +
                '</a>';
            //            str +=
            //                '<button type="button" class="ml-4 btn btn-info btn-sm"><a href="' + newNotificationList[i].NotificationLink + '" onclick="clickedForSeen(\'' + newNotificationList[i].NotificationId +'\')" style="padding: 0px; color: black; text-align: center; text-decoration: none">Details</a></button>';
            str += '</td>';
        }
        $('#appended-row').html(str);
    }
</script>


<script>
    function clickedForSeen(notificationId) {
        var myModel = {
            notificationId: notificationId,
        };
        //if (x === "PD" || x === "CD" || x ==="B" || x === "BD" || x === "OE") {
        $.ajax({
            context: this,
            type: 'post',
            url: '../home/UpdateNotification/',
            data: myModel,
            success: function (result) {
                //alert(myModel.PartialUserDetailsViewModels);
                //window.location = '../Home/About';
            },
            error: function () {
                //error();
            }
        });
        //}
    }
</script>


<script>
    var isActiveNew = true;
    var index = @Model.index;
    $(document).ready(function () {
        //EITHER USE A GLOBAL VAR OR PLACE VAR IN HIDDEN FIELD
        //IF FOR WHATEVER REASON YOU WANT TO STOP POLLING
        pollServerForOwnerSiteNotification();
    });
    var cnt = 0;
    function pollServerForOwnerSiteNotification() {
        if (isActiveNew) {
            window.setTimeout(function () {
                $.ajax({
                    context: this,
                    url: "../Notification/GettingNotificationList",
                    type: "POST",
                    success: function (result) {
//                        $('#count').html(result);
//                        if (result.length == 0) {
//                            alert("No new notification yet");
//                        } else {
//                            alert("New notification");
//                        }
                        if (result.length != 0 && index === 1) {
                            document.getElementById('ten-original-list').style.display = 'none';
                            addNewRowUpTop(result);
                        }
                        pollServerForOwnerSiteNotification();
                    },
                    error: function () {
                        //ERROR HANDLING
                        pollServerForOwnerSiteNotification();
                    }
                });
            }, 2500);
        }
    }
</script>
<script>
    $("#" + @Model.index).addClass("active");
</script>
<script>
    function previous(i, n) {
        if (i >= 1) {
            window.location.href = "NotificationsPagination?index=" + i;
        }
    }
</script>
<script>
    function next(i, n) {
        if (i <= n) {
            window.location.href = "NotificationsPagination?index=" + i;
        }
    }
</script>
<script>
    function paginationPureJS(i) {

        window.location.href = "NotificationsPagination?index=" + i;
    }
</script>
<script>

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });


    $(document).ready(function () {
        $("#newItem").remove();

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });

        $('#reloadItem').click(function () {
            location.reload();
        });

        $("#reportItem").remove();

        $("#dashboardItem").click(function () {

        });
    });
</script>


<script src="~/Content/vendors/js/jquery.signalR-2.4.1.min.js"></script>
<script src="/signalr/hubs"></script>
