﻿@{
    Layout = "";
}

@model OwnerSite.ViewModels.OwnersInfoView

@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
}



@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
 Owner's Info
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>HAMS - Login</title>
    <!-- Icons-->
    <link href="~/Content/vendors/css/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/simple-line-icons.min.css" rel="stylesheet" />
    <!-- Main styles for this application-->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/pace.min.css" rel="stylesheet" />


    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
</head>

<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <div align="center">
                                <div class="row">
                                    <div class="col" align="left">
                                        <img src="~/Content/img/Best-Western-Logo.png" alt="Heritage Hotel" style="width:60%;" />
                                    </div>
                                    <div class="col" align="center"></div>
                                    <div class="col ml-sm-3" align="center">
                                        <img src="~/Content/img/Coral-Reef-Logo.png" alt="Coral Reef Properties" style="width:100%;" />
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <h5>
                                        Please, reconfirm below information are correct and press <span style="color: blue">'Submit'</span> after neccessary change(s)
                                        <a href="#">
                                            <span id="unsaved-icon" style="color: red; display: none" data-toggle="tooltip" data-placement="bottom"
                                                  title="Unsaved Changes">!</span>
                                        </a>
                                    </h5>
                                </div>
                                <div class="mt-4">
                                    @using (Html.BeginForm("OwnersEdit", "Owner", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        <div class="form-group row mb-3" align="left">
                                            @Html.LabelFor(m => m.OwnerInfo.Mobile, new { @class = "col-sm-3 col-lg-5 col-md-5  col-form-label" })
                                            <div class="col-sm-3 col-lg-6 col-md-7">
                                                @Html.TextBoxFor(m => m.OwnerInfo.Mobile, new { @class = "form-control", placeholder = "Owner's Mobile Number", type = "text", id = "owner-mobile", onkeyup = "func_for_unsaved()" })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            @* @Html.LabelFor(m => m.OwnerInfo.PresentAddress, new { @class = "col-sm-3 col-lg-5 col-md-3  col-form-label" }) *@
                                            <label class="col-sm-3 col-lg-5 col-md-5  col-form-label" style="text-align: left">Present Address</label>
                                            <div class="col-sm-3 col-lg-6 col-md-7">
                                                @Html.TextBoxFor(m => m.OwnerInfo.PresentAddress, new { @class = "form-control", placeholder = "Owner's Present Address", type = "text", id = "owner-pre-address", onkeyup = "func_for_unsaved()" })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            @* @Html.LabelFor(m => m.OwnerInfo.PermanantAddress, new { @class = "col-sm-3 col-lg-5 col-md-3  col-form-label" }) *@
                                            <label class="col-sm-3 col-lg-5 col-md-5  col-form-label" style="text-align: left">Permanant Address</label>
                                            <div class="col-sm-3 col-lg-6 col-md-7">
                                                @Html.TextBoxFor(m => m.OwnerInfo.PermanantAddress, new { @class = "form-control", placeholder = "Owner's Permanant Address", type = "text", id = "owner-per-address", onkeyup = "func_for_unsaved()" })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3" align="left">
                                            @Html.LabelFor(m => m.OwnerInfo.Email, new { @class = "col-sm-3 col-lg-5 col-md-5  col-form-label" })
                                            <div class="col-sm-3 col-lg-6 col-md-7">
                                                @Html.TextBoxFor(m => m.OwnerInfo.Email, new { @class = "form-control", placeholder = "Owner's Email", type = "text", id = "owner-email", onkeyup = "func_for_unsaved()" })
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-3 col-lg-5 col-md-5 mr-3  col-form-label" style="text-align: left">Profile Picture</label>
                                            <div class="col-sm-3 col-lg-6 col-md-3" align="right">
                                                <div class="row">
                                                    @{
                                                        var time = "?" + DateTime.Now.ToString("h:mm:ss tt");
                                                    }
                                                    @{
                                                        if (Model.IsProfilePictureExists == true)
                                                        {
                                                            <img id="profile-pic" src="@Url.Content(Model.OwnerInfo.PicturePath + time)" alt="HTML5 Icon" width="128" height="128">
                                                        }
                                                        else
                                                        {
                                                            <img id="profile-pic" src="~/Content/ownerprofilepictures/base.jpg" alt="HTML5 Icon" width="128" height="128">
                                                        }
                                                    }
                                                </div>
                                                <div class="row"><input id="file" type="file" style="color: transparent" accept="image/png,image/jpeg" /></div>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-3 col-lg-5 col-md-5  col-form-label" style="text-align: left">NID File</label>
                                            <div class="col-sm-3 col-lg-2 col-md-3">
                                                <input id="NIDfile" type="file" style="color: transparent" accept="application/pdf" />
                                            </div>
                                            <div class="col-sm-3 col-lg-5 col-md-3">
                                                @{
                                                    var time1 = "?" + DateTime.Now.ToString("h:mm:ss tt");
                                                }
                                                @{
                                                    if (Model.IsNIDFileExists == true)
                                                    {
                                                        <a id="NID-file-link" href="@Href(Model.OwnerInfo.NIDFilePath+time1)" target="_blank">@Model.OwnerInfo.SlotId</a>
                                                    }
                                                    else
                                                    {
                                                        <a id="NID-file-link" href="" target="_blank"></a>
                                                    }
                                                }
                                            </div>
                                            @* <img src="~/Content/images/avatars/choton.jpg" /> *@
                                        </div>
                                        <div class="form-group row mb-3">
                                            <label class="col-sm-3 col-lg-5 col-md-5  col-form-label" style="text-align: left">TIN File</label>
                                            <div class="col-sm-3 col-lg-2 col-md-3">
                                                <input id="TINfile" type="file" style="color: transparent" accept="application/pdf" />
                                            </div>
                                            <div class="col-sm-3 col-lg-5 col-md-3">
                                                @{
                                                    var time2 = "?" + DateTime.Now.ToString("h:mm:ss tt");
                                                }
                                                @{
                                                    if (Model.IsTINFileExists == true)
                                                    {
                                                        <a id="TIN-file-link" href="@Href(Model.OwnerInfo.TINFilePath+time2)" target="_blank">@Model.OwnerInfo.SlotId</a>
                                                    }
                                                    else
                                                    {
                                                        <a id="TIN-file-link" href="" target="_blank"></a>
                                                    }
                                                }
                                            </div>
                                            @* <img src="~/Content/images/avatars/choton.jpg" /> *@
                                        </div>
                                        <div class="form-group row">
                                            <div class="col" align="left">
                                                <button type="submit" class="btn btn-primary m-1" onclick="full_submit()">Submit</button>
                                            </div>
                                            <div class="col mr-4" align="right">
                                                <button type="button" class="btn btn-danger m-1" onclick="location.href = '@Url.Action("OwnerInfoIncomeVieworEdit", "Owner", new{ownerId=Model.OwnerInfo.OwenerId})'">Reset</button>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(m => m.OwnerInfo.OwenerId)
                                        @Html.HiddenFor(m => m.OwnerInfo.Name)
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var flg = false;
    </script>
    <script>
        function func_for_unsaved() {
            document.getElementById('unsaved-icon').style.display = 'inline-block';
        }
    </script>

    <script>
        window.addEventListener('load', function () {
            document.querySelector('input[id="NIDfile"]').addEventListener('change', function () {
                document.getElementById('unsaved-icon').style.display = 'inline-block';
                //flg = true;
                if (this.files && this.files[0]) {
                    //var img = $('#NID-file-link')[0];  // $('img')[0]
                    //img.href = URL.createObjectURL(this.files[0]);
                    //img.text = this.files[0].name;
                    //img.onload = imageIsLoaded; // optional onload event listener
                    var type = this.files[0].type.toString();
                    //alert(type);
                    if (type == "application/pdf") {
                        flg = true;
                        var img = $('#NID-file-link')[0];  // $('img')[0]
                        img.href = URL.createObjectURL(this.files[0]);
                        img.text = this.files[0].name;
                        img.onload = imageIsLoaded; // optional onload event listener
                    } else {
                        toastr.error('Your uploaded NID file type is not of PDF format. Please, upload a pdf file.', 'Error', {
                            closeButton: true,
                            progressBar: true,
                        });
                        @{
                            var time_nid = "?" + DateTime.Now.ToString("h:mm:ss tt");
                        }
                        var img = $('#NID-file-link')[0];
                        img.href = "@Href(Model.OwnerInfo.NIDFilePath+time_nid)";
                        img.text = "@Model.OwnerInfo.SlotId";
                        img.onload = imageIsLoaded;
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        function function_edit_nid_file() {
            var UserName = '@Model.OwnerInfo.SlotId';
            //alert(UserName);
            //document.getElementById('uploader').onsubmit = function() {
            var formdata = new FormData(); //FormData object
            var fileInput = $('#NIDfile')[0];
            //Iterating through each files selected in fileInput
            //alert(fileInput.files[0].name);

            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i], UserName+".pdf");
            }
            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '../Owner/Upload_NIDFile_Edit/');
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    //alert(xhr.responseText);
                }
            }
            return false;
        }
    </script>

    <script>
        window.addEventListener('load', function () {
            document.querySelector('input[id="TINfile"]').addEventListener('change', function () {
                document.getElementById('unsaved-icon').style.display = 'inline-block';
                //flg = true;
                if (this.files && this.files[0]) {
                    //var img = $('#TIN-file-link')[0];  // $('img')[0]
                    //img.href = URL.createObjectURL(this.files[0]);
                    //img.text = this.files[0].name;
                    //img.onload = imageIsLoaded; // optional onload event listener
                    var type = this.files[0].type.toString();
                    //alert(type);
                    if (type == "application/pdf") {
                        flg = true;
                        var img = $('#TIN-file-link')[0]; // $('img')[0]
                        img.href = URL.createObjectURL(this.files[0]);
                        img.text = this.files[0].name;
                        img.onload = imageIsLoaded; // optional onload event listener
                    } else {
                        toastr.error('Your uploaded TIN file type is not of PDF format. Please, upload a pdf file.', 'Error', {
                            closeButton: true,
                            progressBar: true,
                        });
                        @{
                            var time_tin = "?" + DateTime.Now.ToString("h:mm:ss tt");
                        }
                        var img = $('#TIN-file-link')[0];
                        img.href = "@Href(Model.OwnerInfo.TINFilePath+time_tin)";
                        img.text = "@Model.OwnerInfo.SlotId";
                        img.onload = imageIsLoaded;
                    }
                }
            });
        });
    </script>

    <script type="text/javascript">
        function function_edit_tin_file() {
            var UserName = '@Model.OwnerInfo.SlotId';
            //alert(UserName);
            //document.getElementById('uploader').onsubmit = function() {
            var formdata = new FormData(); //FormData object
            var fileInput = $('#TINfile')[0];
            //Iterating through each files selected in fileInput
            //alert(fileInput.files[0].name);

            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i], UserName+".pdf");
            }
            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '../Owner/Upload_TINFile_Edit/');
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    //alert(xhr.responseText);
                }
            }
            return false;
        }
    </script>

    <script>
        window.addEventListener('load', function () {
            document.querySelector('input[type="file"]').addEventListener('change', function () {
                document.getElementById('unsaved-icon').style.display = 'inline-block';
                //flg = true;
                if (this.files && this.files[0]) {
                    //var img = $('#profile-pic')[0];  // $('img')[0]
                    //img.src = URL.createObjectURL(this.files[0]); // set src to file url
                    ////alert(this.file[0]);
                    //img.onload = imageIsLoaded; // optional onload event listener
                    var type = this.files[0].type.toString().split('/')[0];
                    //alert(type);
                    if (type == "image") {
                        flg = true;
                        var img = $('#profile-pic')[0]; // $('img')[0]
                        //alert(this.files[0].type);
                        img.src = URL.createObjectURL(this.files[0]); // set src to file url
                        img.onload = imageIsLoaded; // optional onload event listener
                    } else {
                        toastr.error('Your uploaded image file type is not supported. Please, upload a jpg/jpeg/png type image.', 'Error!!!!', {
                            closeButton: true,
                            progressBar: true,
                        });
                        @{
                            var time_pic = "?" + DateTime.Now.ToString("h:mm:ss tt");
                        }
                        var img = $('#profile-pic')[0];
                        img.src = "@Href(Model.OwnerInfo.PicturePath+ time_pic)";
                        //img.text = "@Model.OwnerInfo.SlotId";
                        img.onload = imageIsLoaded;
                    }

                }
            });
        });

        //function imageIsLoaded(e) { alert(e); }


    </script>
    <script type="text/javascript">
        function function_edit_picture() {
            var UserName = '@Model.OwnerInfo.SlotId';
            //alert(UserName);
            //document.getElementById('uploader').onsubmit = function() {
            var formdata = new FormData(); //FormData object
            var fileInput = $('#file')[0];
            //Iterating through each files selected in fileInput
            //alert(fileInput.files[0].name);
            //alert(fileInput.files[0].type);
            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i], UserName+".jpg");
            }
            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '../Owner/Upload_Edit/');
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    //alert(xhr.responseText);
                }
            }
            return false;
        }
    </script>
    <script type="text/javascript">
    function full_submit() {
        //alert("fdf");
        var fileInput = $('#file')[0];
        var TINfileInput = $('#TINfile')[0];
        var NIDfileInput = $('#NIDfile')[0];
        //            alert(fileInput.files.length);
        if (fileInput.files.length != 0) {
            function_edit_picture();
        }
        if (TINfileInput.files.length != 0) {
            function_edit_tin_file();
        }
        if (NIDfileInput.files.length != 0) {
            function_edit_nid_file();
        }
        var mobile = new String($("#owner-mobile").val());
        var mobile_from_db = new String("@Model.OwnerInfo.Mobile");
        //alert(mobile+" "+mobile.length);
        //alert(mobile_from_db + " " + mobile_from_db.length);
        var isEqual = JSON.stringify(mobile) === JSON.stringify(mobile_from_db);
        //alert(isEqual);
        //alert(mobile.equals(mobile_from_db)+"");
        var owner_pre_address = new String(($("#owner-pre-address").val()));
        var owner_pre_address_from_db = new String("@Model.OwnerInfo.PresentAddress");

        //alert(owner_pre_address);
        //alert(owner_pre_address_from_db);
        var isEqual1 = JSON.stringify(owner_pre_address) === JSON.stringify(owner_pre_address_from_db);
        //alert(isEqual1);

        var owner_per_address = new String($("#owner-per-address").val());
        var owner_per_address_from_db = new String("@Model.OwnerInfo.PermanantAddress");

        //alert(owner_per_address);
        //alert(owner_per_address_from_db);
        var isEqual2 = JSON.stringify(owner_per_address) === JSON.stringify(owner_per_address_from_db);
        //alert(isEqual2);

        var owner_email = new String($("#owner-email").val());
        var owner_email_from_db = new String("@Model.OwnerInfo.Email");

        //alert(owner_email);
        //alert(owner_email_from_db);
        var isEqual3 = JSON.stringify(owner_email) === JSON.stringify(owner_email_from_db);
        //alert(isEqual3);

        //alert(flg);
        if (isEqual &&
            isEqual1 &&
            isEqual2 &&
            isEqual3) {
            ////flg = true;
        } else {
            flg = true;
        }
        //alert(flg);
        if (flg == true) {
            var myModel = {
                flag: flg,
                ownerId: "@Model.OwnerInfo.OwenerId",
                ownerMobileNumber: mobile
            };
            $.ajax({
                context: this,
                type: 'post',
                url: '../Owner/SendingEditSMSwithNotificationUpdate/',
                data: myModel,
                success: function (result) {
                    //alert(myModel.PartialUserDetailsViewModels);
                    //window.location = '../Home/About';
                },
                error: function () {
                    //error();
                }
            });
        }
    }
    </script>
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>



</body>
</html>

