﻿@model OwnerSite.ViewModels.OwnerTransactionInfoViewModel

@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>

    <style>
        @@media print {
            #dtBasicExample thead {
                background: blue !important;
                color: black !important;
                -webkit-print-color-adjust: exact !important;
            }
        }
    </style>
}
@section PAGETITLE{
    Owner's History
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="card mt-5">
        <div class="card-header">
            <strong>Owner's Information</strong>
            <button type="button" class="btn" onclick="window.print()" style="float: right;background:cadetblue;color:white">Print</button>
        </div>
        <div class="card-body p-4">
            <div class="form-group row py-3">
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner ID :</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.ownerInfo.SlotId)
                    </p>
                    @*@Html.TextBoxFor(m => m.ownerInfo.SlotId, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text", @readonly = "true" })*@
                </div>
                <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Name :</label>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <p style="padding:5px;border-bottom:1px solid #ccc;font-size:15px;">
                        @Html.DisplayFor(m => m.ownerInfo.Name)
                    </p>
                    @*@Html.TextBoxFor(m => m.ownerInfo.Name, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text", @readonly = "true" })*@
                </div>
            </div>
            <div class="table-responsive-lg">
                <table id="dtBasicExample" data-pagination="true" class="table table-hover table-light" style="margin: 20px auto">
                    <thead style="background-color:#315152;color:white">
                        <tr>
                            <th>R.S.</th>
                            @* <th>RegistrationBatch</th> *@
                            @* <th>SlotSFT</th> *@
                            <th>SFT per Person</th>
                            @* <th>Floor</th> *@
                            @* <th>Type</th> *@
                            <th>S.D.</th>
                            <th>N.o.S.</th>
                            @* <th>SalesValue1</th> *@
                            @* <th>ReceivableIncreaseDecreaseValue</th> *@
                            @* <th>ReceivableExcludingRandU</th> *@
                            @* <th>ReceivableRegistration</th> *@
                            @* <th>ReceivableUtility</th> *@
                            <th>T.Rb.</th>
                            <th>S.V.</th>
                            @* <th>ReceivedIncreaseDecreaseValue1</th> *@
                            @* <th>ReceivedExcludingRandU</th> *@
                            @* <th>ReceivedRegistration</th> *@
                            @* <th>ReceivedUtility</th> *@
                            <th>T.Rd. </th>
                            @* <th>TotalReceivableExcludingRandU</th> *@
                            @* <th>NETReceivableAmountinTaka</th> *@
                            @* <th>OperationalCostBankCashReceived_CRPL</th> *@
                            @* <th>OperationalCostBankCashReceived_GHL</th> *@
                            @* <th>OperationalCostBankCashReceived_CRPLandGHL</th> *@
                            @* <th>OperationalCostAdjustment_CRPL</th> *@
                            @* <th>OperationalCostAdjustwithLateFee</th> *@
                            @* <th>TotalReceivedOperationalCost</th> *@
                            @* <th>OperationCostReceivable</th> *@
                            @* <th>NetReceivableincludingOPandMembershipFee</th> *@
                            <th>O.C.Rd.D.</th>
                            <th>M.F.Rb.</th>
                            <th>M.F.Rd.</th>
                            @* <th>Particulars</th> *@
                            <th>A.S.O.</th>
                            @* <th>Remarks</th> *@
                        </tr>
                    </thead>
                    @{
                        int noOfdata = Model.ownerTransactionHistoryList.Count();
                    }
                    @if (noOfdata != 0)
                    {
                        foreach (var mdl in Model.ownerTransactionHistoryList)
                        {
                            <tr>
                                <td>@mdl.RegistrationStatus</td>
                                @* <td>@mdl.RegistrationBatch</td> *@
                                @* <td>@mdl.SlotSFT</td> *@
                                <td>@mdl.SFTperPerson</td>
                                @* <td>@mdl.Floor</td> *@
                                @* <td>@mdl.Type</td> *@
                                @{
                                    var SaleDate = Convert.ToDateTime(mdl.SaleDate);
                                    var val = SaleDate.ToString("dd-MMM-yyyy");
                                    <td>@val</td>
                                }
                                <td>@mdl.NoofSlot</td>
                                @* <td>@mdl.SalesValue1</td> *@
                                @* <td>@mdl.ReceivableIncreaseDecreaseValue</td> *@
                                @* <td>@mdl.ReceivableExcludingRandU</td> *@
                                @* <td>@mdl.ReceivableRegistration</td> *@
                                @* <td>@mdl.ReceivableUtility</td> *@
                                <td>@mdl.TotalReceivable</td>
                                <td>@mdl.SalesValue</td>
                                @* <td>@mdl.ReceivedIncreaseDecreaseValue1</td> *@
                                @* <td>@mdl.ReceivedExcludingRandU</td> *@
                                @* <td>@mdl.ReceivedRegistration</td> *@
                                @* <td>@mdl.ReceivedUtility</td> *@
                                <td>@mdl.TotalReceived</td>
                                @* <td>@mdl.TotalReceivableExcludingRandU</td> *@
                                @* <td>@mdl.NETReceivableAmountinTaka</td> *@
                                @* <td>@mdl.OperationalCostBankCashReceived_CRPL</td> *@
                                @* <td>@mdl.OperationalCostBankCashReceived_GHL</td> *@
                                @* <td>@mdl.OperationalCostBankCashReceived_CRPLandGHL</td> *@
                                @* <td>@mdl.OperationalCostAdjustment_CRPL</td> *@
                                @* <td>@mdl.OperationalCostAdjustwithLateFee</td> *@
                                @* <td>@mdl.TotalReceivedOperationalCost</td> *@
                                @* <td>@mdl.OperationCostReceivable</td> *@
                                @* <td>@mdl.NetReceivableincludingOPandMembershipFee</td> *@
                                @{
                                    var OperationalCostReceivedDate = Convert.ToDateTime(mdl.OperationalCostReceivedDate);
                                    var val1 = OperationalCostReceivedDate.ToString("dd-MMM-yyyy");
                                    <td>@val1</td>
                                }
                                <td>@mdl.MembershipFeeReceivable</td>
                                <td>@mdl.MembershipFeeReceived</td>
                                @* <td>@mdl.Particulars</td> *@
                                <td>@mdl.AgreementwithSlotOwner</td>
                                @* <td>@mdl.Remarks</td> *@
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="form-group row">
                <label class="col col-form-label" for="text-input" style="font-size: medium">
                    <span class="badge badge-dark">R.S. : Registration Status</span>
                    <span class="badge badge-light" style="border:1px solid black">SFT per Person : Square Feet Per Person</span>
                    <span class="badge" style="background: cadetblue">S.D. : Sale Date</span>
                    <span class="badge badge-dark">N.o.S. : No of Slot</span>
                    <span class="badge badge-info">T.Rb. : Total Receivable</span>
                    <span class="badge badge-light" style="border:1px solid black">S.V. : Sales Value</span>
                    <span class="badge" style="background: cadetblue">T.Rd. : Total Received</span>
                    <span class="badge badge-dark">O.C.Rd.D. : Operational Cost Received Date</span>
                    <span class="badge badge-info">M.F.Rb. : Membership Fee Receivable</span>
                    <span class="badge badge-light" style="border:1px solid black">M.F.Rd. : Membership Fee Received</span>
                    <span class="badge" style="background: cadetblue">A.S.O. : Agreement with Slot Owner</span>
                </label>
            </div>
        </div>
    </div>
</body>
</html>
