﻿@{
    ViewBag.Title = "Owner's Family Information Edit";
}

@model OwnerSite.ViewModels.OwnersInfoView

@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
@section PAGETITLE{
    OwnersInfoView
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>HAMS - Login</title>
    <!-- Icons-->
    <link href="~/Content/vendors/css/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/simple-line-icons.min.css" rel="stylesheet" />
    <!-- Main styles for this application-->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/pace.min.css" rel="stylesheet" />


    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
</head>

<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <div align="center">
                                @* <div class="row"> *@
                                @*     <div class="col" align="left"> *@
                                @*         <img src="http://localhost:57866/Content/img/Best-Western-Logo.png" alt="Heritage Hotel" style="width:60%;" /> *@
                                @*     </div> *@
                                @*     <div class="col" align="center"></div> *@
                                @*     <div class="col ml-sm-3" align="center"> *@
                                @*         <img src="http://localhost:57866/Content/img/Coral-Reef-Logo.png" alt="Coral Reef Properties" style="width:100%;" /> *@
                                @*     </div> *@
                                @* </div> *@
                                <div class="mt-2">
                                    <h5>
                                        Please, press <span style="color: blue">'Submit'</span> after neccessary change(s) <a href="#">
                                            <span id="unsaved-icon" style="color: red; display: none" data-toggle="tooltip" data-placement="bottom"
                                                  title="Unsaved Changes">!</span>
                                        </a>
                                    </h5>
                                </div>
                                <div class="mt-4">
                                    @using (Html.BeginForm("OwnersFamilyEditAfterLogin", "Owner", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" ,enctype = "multipart/form-data"}))
                                    {
                                        <div class="form-group row mb-3" align="left">
                                            @Html.LabelFor(m => m.FamilyInfo.SpouseName, new { @class = "col-sm-3 col-lg-5 col-md-3  col-form-label" })
                                            <div class="col-sm-3 col-lg-6 col-md-3">
                                                @Html.TextBoxFor(m => m.FamilyInfo.SpouseName, new { @class = "form-control", placeholder = " Spouse Name", id = "owner-SpouseName", type = "text", onkeyup = "func_for_unsaved()" })
                                            </div>
                                        </div>

                                        <div class="form-group row mb-3">
                                            @* @Html.LabelFor(m => m.FamilyInfo.PermanantAddress, new { @class = "col-sm-3 col-lg-5 col-md-3  col-form-label" }) *@
                                            <label class="col-sm-3 col-lg-5 col-md-3  col-form-label" style="text-align: left">1st Child Name</label>
                                            <div class="col-sm-3 col-lg-6 col-md-3">
                                                @Html.TextBoxFor(m => m.FamilyInfo.ChildName, new { @class = "form-control", placeholder = "First Child Name", id = "owner-per-address", type = "text", onkeyup = "func_for_unsaved()" })
                                            </div>
                                        </div>


                                 

                                        <div class="form-group row mb-3">
                                            @* @Html.LabelFor(m => m.FamilyInfo.PermanantAddress, new { @class = "col-sm-3 col-lg-5 col-md-3  col-form-label" }) *@
                                            <label class="col-sm-3 col-lg-5 col-md-3  col-form-label" style="text-align: left">2nd Child Name</label>
                                            <div class="col-sm-3 col-lg-6 col-md-3">
                                                @Html.TextBoxFor(m => m.FamilyInfo.ChildName2, new { @class = "form-control", placeholder = "Second Child Name", id = "owner-secondchild", type = "text", onkeyup = "func_for_unsaved()" })
                                            </div>
                                        </div>





                                        <div class="form-group row mb-3">
                                            @* @Html.LabelFor(m => m.FamilyInfo.PermanantAddress, new { @class = "col-sm-3 col-lg-5 col-md-3  col-form-label" }) *@
                                            <label class="col-sm-3 col-lg-5 col-md-3  col-form-label" style="text-align: left">3rd Child Name</label>
                                            <div class="col-sm-3 col-lg-6 col-md-3">
                                                @Html.TextBoxFor(m => m.FamilyInfo.ChildName3, new { @class = "form-control", placeholder = "Third Child Name", id = "owner-thirdchild", type = "text", onkeyup = "func_for_unsaved()" })
                                            </div>
                                        </div>



                               




                                        <div class="form-group row mb-3">
                                            @* @Html.LabelFor(m => m.FamilyInfo.PermanantAddress, new { @class = "col-sm-3 col-lg-5 col-md-3  col-form-label" }) *@
                                            <label class="col-sm-3 col-lg-5 col-md-3  col-form-label" style="text-align: left">4th Child Name</label>
                                            <div class="col-sm-3 col-lg-6 col-md-3">
                                                @Html.TextBoxFor(m => m.FamilyInfo.ChildName4, new { @class = "form-control", placeholder = "Fourth Child Name", id = "owner-fourthchild", type = "text", onkeyup = "func_for_unsaved()" })
                                            </div>
                                        </div>



                              




                                        <div class="form-group row mb-3">
                                            @* @Html.LabelFor(m => m.FamilyInfo.PermanantAddress, new { @class = "col-sm-3 col-lg-5 col-md-3  col-form-label" }) *@
                                            <label class="col-sm-3 col-lg-5 col-md-3  col-form-label" style="text-align: left">5th Child Name</label>
                                            <div class="col-sm-3 col-lg-6 col-md-3">
                                                @Html.TextBoxFor(m => m.FamilyInfo.ChildName5, new { @class = "form-control", placeholder = "Fifth Child Name", id = "owner-fifthchild", type = "text", onkeyup = "func_for_unsaved()" })
                                            </div>
                                        </div>


                                        @*<div class="form-group row mb-3" align="left">
                                                @Html.LabelFor(m => m.FamilyInfo.ChildDOB, new { @class = "col-sm-3 col-lg-5 col-md-3  col-form-label" })
                                                <div class="col-sm-3 col-lg-6 col-md-3">
                                                    @Html.TextBoxFor(m => m.FamilyInfo.ChildDOB, new { @class = "form-control", placeholder = "Child DOB", id = "owner-email", type = "text", onkeyup = "func_for_unsaved()" })
                                                </div>
                                            </div>*@



                                        <div class="form-group row">
                                            <div class="col" align="left">
                                                <button type="submit" class="btn btn-primary m-1">Submit</button>
                                            </div>
                                            <div class="col mr-4" align="right">
                                                <button type="button" class="btn btn-danger m-1" onclick="location.href = '@Url.Action("OwnersInfoIncomeViewOrEditAfterLogin", "Owner")'">Reload</button>
                                            </div>
                                        </div>
                                        @Html.HiddenFor(m => m.FamilyInfo.OwnerId)

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var flg = false;
    </script>
    <script>
        function func_for_unsaved() {
            document.getElementById('unsaved-icon').style.display = 'inline-block';

        }
    </script>
    <script>
        @*window.addEventListener('load', function () {
            document.querySelector('input[type="file"]').addEventListener('change', function () {
                document.getElementById('unsaved-icon').style.display = 'inline-block';
                //flg = true;
                if (this.files && this.files[0]) {
                    var type = this.files[0].type.toString().split('/')[0];
                    //alert(type);
                    if (type == "image") {
                        flg = true;
                        var img = $('#profile-pic')[0]; // $('img')[0]
                        //alert(this.files[0].type);
                        img.src = URL.createObjectURL(this.files[0]); // set src to file url
                        img.onload = imageIsLoaded; // optional onload event listener
                    } else {
                        toastr.error('Your uploaded image file type is not supported. Please, upload a jpg/jpeg/png type image.', 'Error!!!!', {
                            closeButton: true,
                            progressBar: true,
                        });
                        @{
                            var time_pic = "?" + DateTime.Now.ToString("h:mm:ss tt");
                        }
                        var img = $('#profile-pic')[0];
                        img.src = "@Href(Model.FamilyInfo.ChildPicture+ time_pic)";

                        img.onload = imageIsLoaded;
                    }
                }
            });
        });*@




    </script>
    <script type="text/javascript">
        function function_edit_picture() {
            var UserName = '@Model.FamilyInfo.ChildName';
            //alert(UserName);
            //document.getElementById('uploader').onsubmit = function() {
            var formdata = new FormData(); //FormData object
            var fileInput = $('.file')[1];
            //Iterating through each files selected in fileInput
            alert(fileInput.files.length);

            for (i = 0; i < fileInput.files.length; i++) {
                //Appending each file to FormData object
                formdata.append(fileInput.files[i].name, fileInput.files[i], UserName+".jpg");
            }
            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '../Owner/Upload_ChildEdit/');
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    //alert(xhr.responseText);
                }
            }
            return false;
        }
    </script>

    <script type="text/javascript">
        function full_submit() {
            alert(1);
            var allFileInput = $('.file');
            var fileInput = allFileInput[1];

            alert(fileInput);

            if (fileInput.files.length != 0) {
                function_edit_picture();
            }

            //alert(flg);
            if (flg == true) {
                var myModel = {
                    flag: flg,
                    ownerId: "@Model.FamilyInfo.OwnerId",
                    ownerMobileNumber: mobile
                };

            }
        }
    </script>
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>

