﻿@model OwnerSite.ViewModels.OwnersInfoView

@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <style>
        /*input[readonly][readonly] {
            background-color: red;
            color: blue;
        }*/
    </style>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>HAMS - Login</title>
    <!-- Icons-->
    <link href="~/Content/vendors/css/coreui-icons.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/simple-line-icons.min.css" rel="stylesheet" />
    <!-- Main styles for this application-->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/vendors/css/pace.min.css" rel="stylesheet" />


    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
</head>

<body class="app flex-row align-items-center">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 style="background: cadetblue; padding: 6px; color: white;">Basic Information</h5>
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7">
                        <div class="row">
                            <div class="col-4 font-weight-bold">Name :</div>
                            <div class="col-8">@Model.OwnerInfo.Name</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-4 font-weight-bold">Mobile :</div>
                            <div class="col-8">@Model.OwnerInfo.Mobile</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-4 font-weight-bold">Email :</div>
                            <div class="col-8">@Model.OwnerInfo.Email</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-4 font-weight-bold">Present Address :</div>
                            <div class="col-8">@Model.OwnerInfo.PresentAddress</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-4 font-weight-bold">Permanent Address :</div>
                            <div class="col-8">@Model.OwnerInfo.PermanantAddress</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-5">
                        @{
                            var time22 = "?" + DateTime.Now.ToString("h:mm:ss tt");
                        }
                        @{
                            if (Model.IsProfilePictureExists == true)
                            {
                                <img id="profile-pic" src="@Url.Content(Model.OwnerInfo.PicturePath + time22)" alt="HTML5 Icon" width="128" height="128">
                            }
                            else
                            {
                                <img id="profile-pic" src="~/Content/ownerprofilepictures/base.jpg" alt="HTML5 Icon" width="128" height="128">
                            }
                        }
                    </div>
                </div>
                <h5 class="mt-3" style="background: cadetblue; padding: 6px; color: white;">Bank Information</h5>
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7">
                        <div class="row">
                            <div class="col-4 font-weight-bold">Account Name :</div>
                            <div class="col-8">@Model.OwnerInfo.AccountName</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-4 font-weight-bold">Account No :</div>
                            <div class="col-8">@Model.OwnerInfo.AccountNo</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-4 font-weight-bold">Bank Name :</div>
                            <div class="col-8">@Model.OwnerInfo.BankName</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-4 font-weight-bold">Branch Name :</div>
                            <div class="col-8">@Model.OwnerInfo.BranchName</div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-4 font-weight-bold">Routing No :</div>
                            <div class="col-8">@Model.OwnerInfo.RoutingNo</div>
                        </div>
                    </div>
                </div>
                <h5 class="mt-3" style="background: cadetblue; padding: 6px; color: white;">Other Information</h5>
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7">
                        <div class="row">
                            <div class="col-4 font-weight-bold">NID :</div>
                            <div class="col-8">@Model.OwnerInfo.NID</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-5">
                        @{
                            var time1 = "?" + DateTime.Now.ToString("h:mm:ss tt");
                        }
                        @{
                            if (Model.IsNIDFileExists == true)
                            {
                                <a id="NID-file-link" href="@Href(Model.OwnerInfo.NIDFilePath + time1)" target="_blank">@Model.OwnerInfo.SlotId</a>
                            }
                            else
                            {
                                <a id="NID-file-link" href="" target="_blank"></a>
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-7 col-lg-7 col-xl-7">
                        <div class="row">
                            <div class="col-4 font-weight-bold">TIN :</div>
                            <div class="col-8">@Model.OwnerInfo.TIN</div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-5 col-xl-5">
                        @{
                            var time2 = "?" + DateTime.Now.ToString("h:mm:ss tt");
                        }
                        @{
                            if (Model.IsTINFileExists == true)
                            {
                                <a id="TIN-file-link" href="@Href(Model.OwnerInfo.TINFilePath + time2)" target="_blank">@Model.OwnerInfo.SlotId</a>
                            }
                            else
                            {
                                <a id="TIN-file-link" href="" target="_blank"></a>
                            }
                        }
                    </div>
                </div>
                <div class="mt-4">
                    <button type="button" class="btn px-5 m-1" style="background: cadetblue;color:white"
                            onclick="location.href = '@Url.Action("OwnersInfoEdit", "Owner", new {})'">
                        Edit Owner's Info
                    </button>
                    <button type="button" class="btn px-5 m-1" style="background: cadetblue;color:white"
                            onclick="location.href = '@Url.Action("OwnersFamilyInfoEdit", "Owner", new {})'">
                        Edit Family Info
                    </button>
                    <button type="button" class="btn px-5 m-1" style="background: cadetblue;color:white"
                            onclick="location.href = '@Url.Action("OwnersNomineeInfoEdit", "Owner", new {})'">
                        Edit Nominee Info
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function functionForEdit() {
            return
        }
    </script>
</body>
</html>

