﻿@using OfficeOpenXml.FormulaParsing.Excel.Functions.Math
@model OwnerSite.ViewModels.OwnerRoomSlotInfoViewModel

@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
}

@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <strong>Owner's Room Information (Unofficial)</strong>
            <button type="button" class="btn btn-info" onclick="window.print()" style="float: right">Print</button>
        </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner ID</label>
            <div class="col-lg-4 col-md-4 col-sm-4">
                @Html.TextBoxFor(m => m.ownerInfo.SlotId, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text", @readonly = "true" })
            </div>
            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Owner Name</label>
            <div class="col-lg-4 col-md-4 col-sm-4">
                @Html.TextBoxFor(m => m.ownerInfo.Name, new { @class = "form-control", placeholder = "Text", id = "text-input", name = "text-input", type = "text", @readonly = "true" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-lg-2 col-md-2 col-sm-2 col-form-label" for="text-input">Total Square Feet</label>
            <div class="col-lg-4 col-md-4 col-sm-4">
                @Html.TextBoxFor(m => m.OwnerSquareFeet, new { @class = "form-control", placeholder = "Number", id = "text-input", name = "text-input", type = "number", @readonly = "true" })
            </div>
        </div>
        <div class="table-responsive-sm">
            <table id="dtBasicExample" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0">

                <thead class="bg-blue" style="color:white">
                    <tr>
                        <th scope="col">Month</th>
                        <th scope="col">Monthly Income</th>
                        <th scope="col">Monthly Expense</th>
                        <th scope="col">Monthly Per Square Feet Rate</th>
                        <th scope="col">Monthly Net Profit In Hand</th>
                    </tr>
                </thead>
                @{
                    double totalIncomeSum = 0;
                    double totalExpenseSum = 0;
                    double totalNetSum = 0;
                }
                @foreach (var mdl in Model.OwnerAccommodationInfoListBySlotId)
                {
                <tr>
                    @{
                        var AccDate = Convert.ToDateTime(mdl.AccommodationDate);
                        var val = AccDate.ToString("MMM-yyyy");
                        <td>@val</td>
                    }
                    @{
                        var OnePerSonIncome = (mdl.MonthlyIncome / Model.TotalSqFeet) * Model.OwnerSquareFeet;
                        OnePerSonIncome = Math.Round(OnePerSonIncome, 2, MidpointRounding.ToEven);
                        totalIncomeSum += OnePerSonIncome;
                        //totalIncomeSum = Math.Round(totalIncomeSum, 2,MidpointRounding.ToEven);
                        <td>@OnePerSonIncome</td>
                    }
                    @{
                        var OnePerSonExpense = (mdl.MonthlyExpense / Model.TotalSqFeet) * Model.OwnerSquareFeet;
                        OnePerSonExpense = Math.Round(OnePerSonExpense, 2, MidpointRounding.ToEven);
                        totalExpenseSum += OnePerSonExpense;
                        <td>@OnePerSonExpense</td>
                    }
                    @{
                        var MonthlyPerSquareFeetRate = Math.Round(mdl.MonthlyPerSquareFeetRate, 2, MidpointRounding.ToEven);
                        <td>@MonthlyPerSquareFeetRate</td>
                    }

                    @{
                        var OnePerSonProfit = OnePerSonIncome - OnePerSonExpense;
                        OnePerSonProfit = Math.Round(OnePerSonProfit, 2, MidpointRounding.ToEven);
                        totalNetSum += OnePerSonProfit;
                        <td>@OnePerSonProfit</td>
                    }
                </tr>
                }
                <thead class="bg-green" style="color:black">
                <tr>
                    <th scope="col">Total Of All Months</th>
                    <th scope="col">@totalIncomeSum</th>
                    <th scope="col">@totalExpenseSum</th>
                    <th scope="col"></th>
                    <th scope="col">@totalNetSum</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    </div>
</body>
</html>