﻿@model StarterProjectV2.ViewModels.RoomViewModel
@{
    ViewBag.Title = "RoomCreate";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>

}
<div class="row justify-content-center ">
    <div class="card col-12 mt-3">
        <div class="card-body p-5">
            <h1 class="text-center mb-5" style="color:cadetblue">Room Create Form</h1>
            <p class="text-muted"></p>

            @using (Html.BeginForm("RoomAddorEdit", "Room", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group row mb-3">
                    @*@Html.LabelFor(m => m.RoomNo, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })*@
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Room No.</label>
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.TextBoxFor(m => m.RoomNo, new { @class = "form-control", name = "RoomNo", @required='d', placeholder = "Room No", type = "text" })
                    </div>
                    @*@Html.LabelFor(m => m.Floor, new {@class = "col-sm-3 col-lg-2 col-md-3 col-form-label"})*@
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Floor</label>
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.TextBoxFor(m => m.Floor, new { @class = "form-control", placeholder = "Floor ", type = "text" })
                    </div>
                </div>


                <div class="form-group row mb-3">

                    @*@Html.LabelFor(m => m.RoomSize, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })*@
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Room Size</label>
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.TextBoxFor(m => m.RoomSize, new { @class = "form-control", placeholder = "RoomSize", type = "text" })
                    </div>
                    @*@Html.LabelFor(m => m.OwnershipCriteria, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })*@
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Ownership Criteria</label>
                    <div class="col-lg-3 col-md-4 col-sm-4">
                        @Html.DropDownListFor(m => m.OwnershipCriteria, new SelectList(Model.OwnershipCriteriaList), "-----", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row mb-3">
                    @*@Html.LabelFor(m => m.RoomType, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })*@
                    <label class="col-sm-3 col-lg-2 col-md-3  col-form-label">Room Type</label>
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.TextBoxFor(m => m.RoomType, new { @class = "form-control", placeholder = "RoomType ", type = "text" })
                    </div>
                </div>


                @Html.HiddenFor(m => m.RoomId, new { @id = "RoomId" })
                <hr style="padding:0"/>

                <div class="d-flex justify-content-end">
                    <div>
                        <button type="submit" class="btn btn-primary px-3 py-2 m-1">Submit</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger px-3 py-2 m-1">Reset</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });
        $('#reloadItem').click(function () {
            location.reload();
        });
        $("#reportItem").remove();
        $("#dashboardItem").click(function () {

        });
    });
</script>