﻿@model StarterProjectV2.ViewModels.RoomManagementView
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    @section HEADERJS{
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    }

    @section FOOTERJS{
        <script src="~/Content/vendors/js/toastr.min.js"></script>
        <script src="~/Content/vendors/js/coreui.min.js"></script>
    }
        <style>
            /* print styles */
            @@media print {
                #mainTable thead {
                    background: blue !important;
                    color: black !important;
                    -webkit-print-color-adjust: exact !important;
                }

            }
        </style>
    <!DOCTYPE html>


    @*<div class="row justify-content-center ">
            <div class="card col-12">
                <div class="card-body">
                    <button type="submit" class="btn btn-outline-danger mt-2 col-sm-5 col-lg-3 col-md-5 float-right" style="display: none" id="day-close">Day Close</button>
                </div>
            </div>
        </div>*@




    <h2 class="text-center" style="color:indianred">@ViewData["Title"]</h2>
    <div class="card" style="margin-bottom: 0">

        <div class="table-responsive-lg">
            @using (Html.BeginForm("RoomManagementApprove", "Room", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <table id="mainTable" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0">
                    <thead class="bg-blue" style="color:white">
                        <tr>
                            <th scope="col">Room Id</th>
                            <th scope="col">Room No.</th>
                            <th scope="col">Floor</th>
                            <th scope="col">Room Size</th>
                            <th scope="col">Room Type</th>
                            <th scope="col">View</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int index = 0;}
                        @foreach (var room in Model.RoomList)
                        {
                            <tr>
                                <td>@room.RoomId</td>
                                @*<td>@room.RoomNo</td>*@
                                <td>@Html.TextBoxFor(r => r.RoomList.ElementAt(index).Floor)</td>
                                <td>@room.Floor</td>
                                <td>@room.RoomSize</td>
                                <td>@room.RoomType</td>
                                <td>
                                    <button type="button"
                                            class="btn btn-light"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="View"
                                            onclick="location.href = '@Url.Action("RoomView", "Room", new { roomId = room.RoomId })'">
                                        <i class="icon-eye">
                                        </i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button"
                                            class="btn btn-light"
                                            data-toggle="tooltip"
                                            data-placement="bottom"
                                            title="Edit"
                                            onclick="location.href='@Url.Action("RoomEdit", "Room", new { roomId = room.RoomId })'">
                                        <i class="icon-notebook">
                                        </i>
                                    </button>
                                </td>
                                <td>
                                    @using (Html.BeginForm("RoomDelete", "Room", new { roomId = room.RoomId }, FormMethod.Post))
                                    {
                                        <button type="submit"
                                                class="btn btn-light"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                title="Delete" onclick="return confirm('Are you sure?')">
                                            <i class="icon-trash">
                                            </i>
                                        </button>
                                    }
                                </td>
                            </tr>
                            @index = @index + 1;
                        }

                    </tbody>
                </table>
            }
        </div>
    </div>


    <script>
    $(document).ready(function() {
        var taskRoles = "@Model.TaskRoles";
        if (taskRoles[0] == '0') {
            $('table tr').find('td:eq(0),th:eq(0)').remove();
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(0),th:eq(0)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(0),th:eq(0)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            }
        } else {
            if (taskRoles[3] == '0') {
                $('table tr').find('td:eq(1),th:eq(1)').remove();
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(1),th:eq(1)').remove();
                }
            } else {
                if (taskRoles[4] == '0') {
                    $('table tr').find('td:eq(2),th:eq(2)').remove();
                }
            }
        }
        if (taskRoles[1] == '0') {
            $("#newItem").remove();
        }
    });
    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>




    <script>
    var clicked = false;
    $("#Select").on("click", function () {
        $(".form-check-input").prop("checked", !clicked);
        clicked = !clicked;
    });



    $(document).ready(function() {
        $("#newItem").click(function() {
            document.location = '@Url.Action("RoomCreate", "Room")';
        });

        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function(){
            window.print();
        });

        $('#reloadItem').click(function() {
            location.reload();
        });

        @*$("#dashboardItem").click(function() {
            document.location = '@Url.Action("ExportExcel", "OwnersInfo")';
        });*@
        $("#reportItem").remove();

    });


    </script>






    <script src="~/Content/vendors/js/jquery.min.js"></script>
    <script src="~/Content/vendors/js/popper.min.js"></script>
    <script src="~/Content/vendors/js/bootstrap.min.js"></script>
    <script src="~/Content/vendors/js/pace.min.js"></script>
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>
