﻿@model StarterProjectV2.ViewModels.RoomViewModel
@{
    ViewBag.Title = "RoomCreate";
}
@section HEADERJS{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
}
@section FOOTERJS{
    <script src="~/Content/vendors/js/toastr.min.js"></script>
    <script src="~/Content/vendors/js/coreui.min.js"></script>

}

<div class="row justify-content-center ">
    <div class="card col-12">
        <div class="card-body">
            <h1 class="text-center mb-5" style="color:indianred">Room Create Form</h1>
            <p class="text-muted"></p>

            @using (Html.BeginForm("RoomAddorEdit", "Room", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-group row mb-3">
                    @Html.LabelFor(m => m.RoomNo, new { @class = "col-sm-3 col-lg-2 col-md-3  col-form-label" })
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.TextBoxFor(m => m.RoomNo, new { @class = "form-control", placeholder = "Room No", type = "text", @readonly = "readonly" })
                    </div>
                    @Html.LabelFor(m => m.Floor, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.TextBoxFor(m => m.Floor, new { @class = "form-control", placeholder = "Floor ", type = "text", @readonly = "readonly" })
                    </div>
                    @*@Html.LabelFor(m => m.DateOfBirth, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.TextBoxFor(m => m.DateOfBirth,
                                new { @class = "form-control", placeholder = "Date Of Birth", type = "date" })
                        </div>*@
                </div>


                <div class="form-group row mb-3">

                    @Html.LabelFor(m => m.RoomSize, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.TextBoxFor(m => m.RoomSize, new { @class = "form-control", placeholder = "RoomSize", type = "text", @readonly = "readonly" })
                    </div>
                    @Html.LabelFor(m => m.OwnershipCriteria, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                    <div class="col-lg-3 col-md-4 col-sm-4">
                        @Html.TextBoxFor(m => m.OwnershipCriteria, new { @class = "form-control", placeholder = "OwnershipCriteria", type = "text", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-group row mb-3">
                    @Html.LabelFor(m => m.RoomType, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                    <div class="col-sm-3 col-lg-3 col-md-3">
                        @Html.TextBoxFor(m => m.RoomType, new { @class = "form-control", placeholder = "RoomType ", type = "text", @readonly = "readonly" })
                    </div>
                </div>
                @*<div class="form-group row mb-3">
                        @Html.LabelFor(m => m.NID, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.TextBoxFor(m => m.NID, new { @class = "form-control", placeholder = "NID", type = "text" })
                        </div>
                        @Html.LabelFor(m => m.TIN, new { @class = "col-sm-3 col-lg-2 col-md-3 col-form-label" })
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            @Html.TextBoxFor(m => m.TIN, new { @class = "form-control", placeholder = "TIN", type = "text" })
                        </div>
                    </div>*@



                @Html.HiddenFor(m => m.RoomId, new { @id = "RoomId" })

                @*@Html.HiddenFor(m => m.isEmailValidated, new { @id = "OwnerEmailValidation" })

                    @Html.HiddenFor(m => m.isSMSValidated, new { @id = "OwnerSMSValidation" })*@

                @*<div class="row">
                    <div>
                        <button type="submit" class="btn btn-primary m-1">Submit</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-danger m-1">Reset</button>
                    </div>
                </div>*@
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#newItem").remove();
        $("#editItem").remove();
        $("#saveItem").remove();
        $("#deleteItem").remove();
        $('#printItem').click(function () {
            window.print();
        });
        $('#reloadItem').click(function () {
            location.reload();
        });
        $("#reportItem").remove();
        $("#dashboardItem").click(function () {

        });
    });
</script>